{% extends 'base_d.html' %}
{% load bootstrap4 %}

{% block title %} books-title  {% endblock%}

{% block page %}
{% include 'snippets/scrollbars.html' %}

<div id="glass_id_main" class="glass_class_main"> 

{% block content_1 %} 

{% include 'snippets/jumbotron.html' %}
{% include 'snippets/marquee.html' %}
{% include 'snippets-booksmart/top_cards.html' %}

{% endblock content_1 %}

{% block content_2 %}

{% include 'snippets/authentication.html' %}

{% endblock content_2 %}


{% block content_3 %} 

<div class="container-fluid col-lg-10"  style="position:relative;z-index:1; margin-top:120px">
    <div class="row">
    <div class="col-lg-12 ">   

      
</div>
</div>
</div>

{% endblock content_3 %}


{% block content_4 %}

{% include 'snippets-booksmart/filter_books_q.html' %}
{% include 'snippets-booksmart/search_panel.html' %}

{% if page_obj %}
{% include 'snippets-booksmart/books_bar.html' %}

{% for book in page_obj %}

{% include 'snippets-booksmart/book.html' %}

{% endfor %}


{% endif %}

{% include 'snippets-booksmart/pagination.html' %}

{% block content_4 %}


{% block content_5 %}
  
{% endblock content_5 %}

</div>
      {% endblock page %}