{% extends 'base_base.html' %}
{% load bootstrap4 %}

{% block page %}
{% include 'snippets/scrollbars.html' %}

<div id="glass_id_main" class="glass_class_main"> 

{% block content_1 %} 

{% include 'snippets/header.html' %}

{% endblock %}

{% endblock content_1 %}

{% block content_2 %}


<style type="text/css">
#main_cont {
position:relative;
z-index:2;
background-color: rgb(240, 240, 240); /* Fallback color */
background-color: rgba(240, 240, 240, 0.6); /* Black w/
opacity/see-through */
text-align: center;
justify-content: center;
align-items: center;  
padding:auto;
border-radius:5px;
box-shadow: 0px 0px 4px 4px rgba(180, 180, 180, 0.4);
margin-top:20px;
padding-top:10px;
padding-bottom:10px;
border: 4px solid RoyalBlue;
width:1280px;
max-width: 96%;
}

@media (max-width: 768px) { 
.right-column{
	margin-left: 0px;
}
}

@media (min-width: 768px) { 
.right-column{
	margin-left: 20px;
}
}

.blog-post-container{
background-color: #fff;
margin-bottom: 20px;
margin-top:21px;
width: 100%;
padding:auto;
}
.create-post-bar{
background-color: #fff;
margin-bottom:20px;
margin-top:20px;
padding:auto;
}

.left-column{
padding:0px;
}

.right-column{
padding:0px;
}

.row {

text-align: center;
justify-content: center;
align-items: center;
}
.col {
padding-top:6px;
border-style: groove;

}

.tooltip {
	position: relative;
	display: inline-block;

}

.tooltip .tooltiptext {
	visibility: hidden;
	font-size:18px;
	width: 200px;
	background-color: blue;
	color: white;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	
	bottom: 100%;
	left: 50%;
	margin-left: -100px;

}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 10px;
	border-style: solid;
	border-color: blue transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}


#tooltip {
	position: relative;
	display: inline-block;
	
	}
	
	#tooltip .tooltiptext {
	visibility: hidden;
	font-size:18px;
	width: 200px;
	background-color: blue;
	color: white;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	
	bottom: 100%;
	left: 50%;
	margin-left: -100px;
	
	}
	
	#tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 10px;
	border-style: solid;
	border-color: blue transparent transparent transparent;
	}
	
	#tooltip:hover .tooltiptext {
	visibility: visible;
	}		
</style>



{% endblock content_2 %}

{% block content_3 %}

<div class="container-fluid" id="main_cont" >
    <h3>Registered users:  {{ info }}</h3>
	<div class="row">
		<div class="col"><h5> username <h5></div>
		<div class="col"><h5> email </h5></div>
		<div class="col"><h5> last login </h5></div>
	  </div>
      
    {% for account in accounts %}
	<div class="row">
		<div class="col"><h6>{{ account.username }}</h6></div>
		<div class="col"><h6>{{ account.email }}</h6></div>
		<div class="col"><h6>{{ account.last_login }}</h6></div>
	</div>
	<div class="row">
	  <div class="col"><h6>token: {{ account.auth_token }}</h6></div>  
	  <div class="col"><h6>password: {{ account.password }}</h6></div>
	  </div>
  {% endfor %}
  </div>
</div>
</div>

{% endblock content_3 %}


{% block content_4 %}

<div class="container-fluid" style="margin-top:40px" id="main_cont" >
    <h3>Books in database </h3>
	<div class="row">
		<div class="col" id='tooltip'><h5> title <h5>
			<span class="tooltiptext">INFO ABOUT BOOKS AND OWNERS & OWNER ID: {{book.owner.id}}</span>
		</div>
		<div class="col"><h5> author <h5></div>
		<div class="col"><h5> user <h5></div>
	  </div>
	  
	    
    {% for book in allbooks %}
	<div class="row">
		<div class="col" id='tooltip'><h6 >{{ book.title }}</h6><span class="tooltiptext">INFO ABOUT BOOKS AND OWNERS & OWNER ID: {{book.owner.id}}</span></div>
		<div class="col"><h6>{{ book.author }}</h6></div>
		<div class="col"><h6>{{ book.owner.username }}</h6></div>
	  </div>
        
    {% endfor %}
</div>

{% endblock content_4 %}

{% block content_5 %}

<style type="text/css">

#read_column_gb {
position:relative;
margin: auto;
width: 1280px;
height: 720;
max-width: 90%;
margin: 20px auto 20px auto;

z-index:1;

}

#read_ba_gb {
justify-content: center;
align-items: center;
background-color: rgb(240, 240, 240); 
background-color: rgba(240, 240, 240, 0.2); 
border-radius: 5px;
border: 3px solid rgba(100, 160, 220, 0.6);
box-shadow: 0px 0px 6px 6px rgba(120, 120, 120, 0.3);  
width: 1260px;
color: white;
font-weight: bold;
padding: auto 50% auto 50%;
text-align: center;
z-index:1;
}



#a_submit_t {
animation-name: anime_submit_t;
animation-duration: 8s;
animation-iteration-count: infinite;
}

@keyframes anime_submit_t {
10% {
color: red;}
}  

.a_submit_t {
animation-name: anime_submit_t;
animation-duration: 8s;
animation-iteration-count: infinite;
}

@keyframes anime_submit_t {
10% {
color: red;}
}  

#img_book {
position: absolute;
border: 1px solid red;
width: 200px;
height: 60px;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;

}

#iframe {
	width:1260ppx; 
	height:700px;
}
</style>


<div class="column "  id="read_column_gb">
<div class="card " id="read_ba_gb">

{% include 'snippets-booksmart/app_users_login.html' %}
</div>
</div>

<div class="column "  id="read_column_gb">
<div class="card " id="read_ba_gb">
<h3 class="card-title" style="margin-bottom:-10px"> BOOK READER </h3>
<p id="textalert"></p>
<iframe id="iframe" src="https://archive.org/embed/birdbookillustra00reedrich" width="1260" height="700" frameborder="0"  webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen ></iframe>

</div>
</div>

<div class="column "  id="read_column_gb">
<div class="card " id="read_ba_gb">
<h3 class="card-title" style="margin-bottom:-10px"> BOOK READER </h3>
<p id="textalert"></p>
<iframe id="iframe" src="https://drive.google.com/file/d/151CYUAyUCop-VHt7E-txIeL0VZYO0AV0/preview" allow="autoplay" width="600px" height="800px" frameborder="0"  webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen ></iframe>

</div>
</div>


<div class="column "  id="read_column_gb">
<div class="card " id="read_ba_gb">
	<h3 class="card-title" style="margin-bottom:-10px"> BOOK READER </h3>
	<p id="textalert"></p>
	<iframe id="iframe" src="https://drive.google.com/file/d/151CYUAyUCop-VHt7E-txIeL0VZYO0AV0/preview" allow="autoplay" width="600px" height="800px" frameborder="0"  webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen ></iframe>

</div>
	</div>



<div class="column "  id="read_column_gb">
<div class="card " id="read_ba_gb">
<h3 class="card-title" style="margin-bottom:-10px"> BOOK READER </h3>
<p id="textalert"></p>
<a type="button" class='btn btn-primary' data-toggle="modal" data-target="#M_author_info" data-backdrop="false">Author<br>details</a>
<div class="modal" id="M_author_info" >
<div class="modal-dialog modal-xl" id="modal_cont_author">
<div class="modal-content" id="modal_content_author">

	<!-- Modal Header -->
	<div class="modal-header" id="modal_header_author">
	<h4 class="modal-title" id="a_submit_m">AUTHOR INFO</h4>
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	</div>
	
	<!-- Modal body -->
	<div class="modal-body">
	

	
	<iframe src='https://archive.org/details/harrypotterdeath0000rowl_n2u6/mode/2up?view=theater' width="60%" height="700">
	</iframe>

	
	</div>
	
	<!-- Modal footer -->
	<div class="modal-footer">
	<button type="button"  class="btn btn-outline-primary btn-text-danger float-right" style="width: 100px; margin: -20px 10px 0px 20px; border: 4px solid; box-shadow: 0px 0px 3px 3px rgba(201, 76, 76, 0.6); font-size: 18px; font-weight: bold; font-family: Helvetica; padding:auto;" data-dismiss="modal">CLOSE</button>
	</div>
	
</div>
</div>
</div>


</div>

</div>
		
{% endblock content_5 %}

</div>
{% endblock page %}


