  <!--  <script src="https://flatpickr.js.org/javascripts/application.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://flatpickr.js.org/init.js"></script> -->
  
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shortcut-buttons-flatpickr@0.1.0/dist/themes/light.min.css"> -->

 <!--  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdn.jsdelivr.net/npm/shortcut-buttons-flatpickr@0.1.0/dist/shortcut-buttons-flatpickr.min.js"></script> -->


  <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/shortcut-buttons-flatpickr@0.4.0/dist/shortcut-buttons-flatpickr.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/plugins/rangePlugin.js"></script>
  
 
  {% include 'snippets-booksmart/my_flatpickr_css.html' %}

  <style>
    @media screen and (max-width: 560px) {
    /*  #input_date_end {
          padding: 6px 60px 6px 60px;
          min-width:180px;
          max-width:180px;
          width:180px;
      }
  
      .my_row_date input div {
  
        min-width:180px;
        width:180px;
      }*/
     } 
  </style>
  
  
 <!--<div class="cont_input_date" id="cont_input_date_birth">-->


    <div class="input_widget" id="input_widget_end">
      <div class="myrow_date_a" id="my_row_date_2a" data-tooltip="tooltip_flatpickr">    
         <div class="btns_clear_date" id="btn_clear_date_2"> CLEAR </div>
       {% include "django/forms/widgets/input.html" %}
       <!--</a>-->
      <!--<div class="btns_close_date_i" id="btn_close_date_i1">CLOSE</div> --> 
         <div class="btns_open_date" id="btn_open_date_2"> OPEN </div>
         <span data-tooltiptext="tooltiptext_flatpickr"> "date format - mm/dd/yyyy month/day/year" </span>
       </div>
       
        <div class="myrow_date_b" id="my_row_date_2b">
       <div class="containers_date" id="container_date_2">
         <div class="btns_close_date" id="btn_close_date_2">close</div>
         </div>
      </div>
      </div>

     

      <script> 
        const months_2 = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        
        const buttons_2 = months_2.map((month) => { 
          return { label: month.substr(0, 3) }; 
        });
        
        // const book_publ = '{{ bookpubl }}'
        var btn_opendate_2 = document.getElementById("btn_open_date_2");
        var cont_date_2 = document.getElementById("container_date_2");
        var input_date_2 = document.getElementById("input_date_end");
        
        // var cont_months_outside_2 = document.querySelector("#container_date_2 > div > div:nth-child(4)");
        var max_width_2 = window.matchMedia("(max-width: 960px)");
        
      var btn_cleardate_2 = document.getElementById("btn_clear_date_2");
      btn_cleardate_2.onclick = function() {
        input_date_2.value = "";
      // cont_date_2.style.top = "initial";
      // cont_date_2.style.left = "initial";
      }
  
  
  
      let flatpickr_end_options = {  
        inline:true,
       // defaultDate: book_publ,
        altFormat: "m/d/Y",
        dateFormat: "m/d/Y",
        monthSelectorType: "static",
        animate: true,
        // altInputClass: date_end,
        appendTo: cont_date_2,
        allowInput: true,
        onOpen: function(selectedDates, dateStr, instance) {   
         // btn_opendate_2.innerText = "CLOSE";
        },
        onChange: function(selectedDates, dateStr, instance) {
        //  my_calendar_picker_2.set('minDate', selectedDates[0]);
          btn_opendate_2.innerText = "OPEN";
          cont_months_outside_2.style.animation = "opacitydown 0.7s 0.2s";
          setTimeout(function(){cont_months_outside_2.style.display = "none";
           }, 800);
          cont_date_2.style.animation = "heightdown 2s 1 0.2s ease-out";
          setTimeout(function(){ 
         cont_date_2.style.display = "none"; 
           }, 2100); 
           
         },
          onClose: function(selectedDates, dateStr, instance) {   
       
        },
             plugins: [
            ShortcutButtonsPlugin({
              button: buttons_2,
              onClick: (index, fp) => {
                const date = new Date();
                date.setDate(1);
                date.setMonth(index);
                date.setYear(fp.currentYear);
                fp.setDate(date);
              }
            }),
          
           ShortcutButtonsPlugin({
              button: [
               { label: "clear" },
                { label: "today" },
              ],
        
              onClick: (index, fp) => {
                let execute;
                switch (index) {
                case 0:
                execute = fp.clear();
                break;
                case 1:
                execute = new Date();
                fp.setDate(execute);
                break;    
              }
            }
          }),
        ] 
        }; 
  
  //   let input_date_2 = document.getElementById("input_date_end");
     let my_calendar_picker_end = new flatpickr(input_date_2, flatpickr_end_options)
        
    var cont_months_outside_2 = document.querySelector("#container_date_2 > div > div:nth-child(4)");
          
          btn_opendate_2.onclick = function() {
          if (cont_date_2.style.display === "block") {
              btn_opendate_2.innerText = "OPEN";
              cont_months_outside_2.style.animation = "opacitydown 0.7s 0.2s";
              setTimeout(function(){cont_months_outside_2.style.display = "none";
           }, 800);
              cont_date_2.style.animation = "unzoomrotate 2s 1";
              setTimeout(function(){ 
              cont_date_2.style.animation = "none";}, 1900);
            } else  {
                if (cont_date_1.style.display === "block") {
                  btn_opendate_1.innerText = "OPEN";
                  cont_date_1.style.animation = "opacitydown 0.7s";
                  setTimeout(function(){cont_date_1.style.display = "none";
                  }, 600);
                };
              btn_opendate_2.innerText = "CLOSE";
              cont_date_2.style.animation = "zoomrotate 2s 1";
              cont_date_2.style.display = "block"; 
            }
          }
          
          input_date_2.onclick = function() {
          if (cont_date_2.style.display === "block") {
              btn_opendate_2.innerText = "OPEN";
              cont_months_outside_2.style.animation = "opacitydown 0.7s 0.2s"
              setTimeout(function(){cont_months_outside_2.style.display = "none";
           }, 800);
              cont_date_2.style.animation = "opacitydown 1.5s 1";         
              setTimeout(function(){ 
              cont_date_2.style.display = "none";}, 1400);
            } else  {
                if (cont_date_1.style.display === "block") {
                  btn_opendate_1.innerText = "OPEN";
                  cont_date_1.style.animation = "opacitydown 0.7s";
                  setTimeout(function(){cont_date_1.style.display = "none";
                  }, 600);
                };
                btn_opendate_2.innerText = "CLOSE";
                cont_date_2.style.animation = "opacityup 1.4s 1";
                cont_date_2.style.display = "block"; 
            }
          }

        
           const month_btn_2 = document.querySelector("#container_date_2 > div > div.flatpickr-months > div > div > span")
          month_btn_2.onclick = function() {
          if (cont_months_outside_2.style.display === "block") {
              cont_months_outside_2.style.animation = "opacitydown 1.2s ease-in";
              setTimeout(function(){cont_months_outside_2.style.display = "none";}, 1100);
            } else  {
              // cont_date_2.style.animation = "zoomrotate 2s 1";
              cont_months_outside_2.style.animation = "opacityup 1.2s ease-in";
              cont_months_outside_2.style.display = "block"; 
            }
          }  
        
          const nodeList_2 = document.querySelectorAll("#container_date_2 > div > div:nth-child(4) > div > button:nth-child(n)")
          for (let i = 0; i < nodeList_2.length; i++) {
           nodeList_2[i].onclick = function() {
           cont_months_outside_2.style.animation = "opacitydown 1.2s ease-in";
           setTimeout(function(){ cont_months_outside_2.style.display = "none";}, 1100);
          }
          };
          
          btn_opendate_2.onclick = function() {
            //  // container_publ.classList.toggle("mycontainer_publ");
             if (cont_date_2.style.display === "block") {
               btn_opendate_2.innerText = "OPEN";
               cont_months_outside_2.style.animation = "opacitydown 0.7s 0.2s";
               setTimeout(function(){cont_months_outside_2.style.display = "none";
           }, 800);
                cont_date_2.style.animation = "unzoomrotate 2s 1 ease-in";
                setTimeout(function(){ 
                cont_date_2.style.display = "none"; }, 1900);
              } else  {
                  if (cont_date_1.style.display === "block") {
                    btn_opendate_1.innerText = "OPEN";
                    cont_date_1.style.animation = "opacitydown 0.7s";
                    setTimeout(function(){cont_date_1.style.display = "none";
                    }, 600);
                    };
                 btn_opendate_2.innerText = "CLOSE";
                 cont_date_2.style.animation = "zoomrotate 2s 1 ease-in";
                 cont_date_2.style.display = "block"; 
               }
              };
        
        input_date_2.onclick = function() {
          if (cont_date_2.style.display === "block") {
              btn_opendate_2.innerText = "OPEN";
              cont_months_outside_2.style.animation = "opacitydown 0.7s";
              cont_date_2.style.animation = "opacitydown 2s ease-in";
              
              setTimeout(function(){ 
              cont_months_outside_2.style.display = "none";
              cont_date_2.style.display = "none"; }, 1900);
            } else  {
                if (cont_date_1.style.display === "block") {
                  btn_opendate_1.innerText = "OPEN";
                  cont_date_1.style.animation = "opacitydown 0.7s";
                  setTimeout(function(){cont_date_1.style.display = "none";
                  }, 600);
                };
                btn_opendate_2.innerText = "CLOSE";
                cont_date_2.style.animation = "opacityup 2s ease-in";
                cont_date_2.style.display = "block"; 
            }
          }; 
        
         let btn_closedate_2 = document.getElementById("btn_close_date_2");   
          btn_closedate_2.onclick = function() {
              btn_opendate_2.innerText = "OPEN";
              cont_months_outside_2.style.animation = "opacitydown 0.7s 1 0.2s";
              setTimeout(function(){cont_months_outside_2.style.display = "none";
           }, 800);
              cont_date_2.style.animation = "heightdown 2s"; 
              setTimeout(function(){ 
              cont_date_2.style.display = "none"; }, 1900);
            }

         /*   btn_closedate_2.onclick = function() {
              btn_opendate_2.innerText = "OPEN";
               cont_months_outside_2.style.animation = "opacitydown 0.7s 0.2s";
              setTimeout(function(){cont_months_outside_2.style.display = "none";
           }, 800);
              cont_date_2.style.animation = "heightdown 2s 1";   
              setTimeout(function(){ 
              cont_date_2.style.display = "none"; }, 1900);
          }       */  

           /* dragElement(cont_date_2);
        
            function dragElement(elmnt) {
              var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
            //  if (document.getElementById(elmnt.id)) {
              if (elmnt) {
               
             //    document.getElementById(elmnt.id).onmousedown = dragMouseDown;
                elmnt.onmousedown = dragMouseDown;
              } else {
               
                elmnt.onmousedown = dragMouseDown;
              }
            
              function dragMouseDown(e) {
                e = e || window.event;
                e.preventDefault();
                // get the mouse cursor position at startup:
                pos3 = e.clientX;
                pos4 = e.clientY;
                document.onmouseup = closeDragElement;
                // call a function whenever the cursor moves:
                document.onmousemove = elementDrag;
              }
            
              function elementDrag(e) {
                e = e || window.event;
                e.preventDefault();
                // calculate the new cursor position:
                pos1 = pos3 - e.clientX;
                pos2 = pos4 - e.clientY;
                pos3 = e.clientX;
                pos4 = e.clientY;
                // set the element's new position:
                elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
                elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
              }
            
              function closeDragElement() {
               
                document.onmouseup = null;
                document.onmousemove = null;
              }
            } */
       
    
    // document.body.addEventListener("click", event => {
        // if (event.target == btn_opendate_2) {
    //    if (event.target == btn_opendate_2) {
    //      alert("Clicked", event.target.textContent);
    //    }
    //  });
    // my_calendar_picker_start.set("onChange", function(d) {
    //  my_calendar_picker_end.set("minDate", d.fp_incr(1)); 
   // }); //increment by one day
   //  my_calendar_picker_end.set("onChange", function(d) {
   //   my_calendar_picker_start.set("maxDate", d);
   //  });  
    </script>
      