{% extends 'base_ds.html' %}

{% load bootstrap4 %}
{% block title %} new-author {% endblock %}

{% block page %}
<!--<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/plugins/rangePlugin.js"></script>
<script src="https://cdn.jsdelivr.net/npm/shortcut-buttons-flatpickr@0.4.0/dist/shortcut-buttons-flatpickr.min.js"></script> -->

{% include 'snippets/scrollbars.html' %}
{% include 'snippets-booksmart/css_booksmart.html' %}

<div id="glass_id_main" class="glass_class_main"> 

  {% block content_1 %} 


{% include 'snippets/jumbotron.html' %}

{% endblock content_1 %}

{% block content_2 %}

{% include 'snippets/authentication.html' %}

{% endblock content_2 %}


{% block content_3 %} 

<div class="mycontainer" id="cont_new_author">
  <div class="myrow"  id="row_new_author">
    <div class="mycolumn " id="col_new_author">

     <div class="header_card" id="header_new_author">
      <p class="header_text" id="header_text_author"> NEW AUTHOR CARD </p>
    </div>

<div class="body_card"  id="body_new_author" >
<form method="post" enctype="multipart/form-data" id="new_author_form">
{% csrf_token %}
{% bootstrap_form form_newauthor %}
</form>
</div>
  
<div class="footer_card" id="footer_new_author" >
  <button type="button" id="button_back_newauthor" href="{% url 'booksmart:allrecords' %}" class="btn btn-outline-primary text-danger float-left" > Back </button>

  <button form="new_author_form" type="submit" id="button_save_newauthor" class="btn btn-outline-danger text-primary float-right" > Save </button>
</div>

</div>
</div>
</div>
  
 
{% endblock content_3 %}


{% block content_4 %}

{% endblock content_4 %}


{% block content_5 %}
  
{% endblock content_5 %}

</div>
      {% endblock page %}

