{% extends 'base_ds.html' %}
{% load booksmart_extras %}
{% load bootstrap4 %}
{% block title %} found-records {% endblock %}

{% block page %}

<script>
  /*  document.addEventListener("load", function() {
   
    localStorage.clear();
    sessionStorage.clear();
    
    const search_bar_inputs = document.querySelectorAll("#search_bar input");
    const search_bar_selects = document.querySelectorAll("#search_bar select");
    const checks_text = document.getElementsByClassName("span_checked");
    

    for (const search_bar_input of search_bar_inputs) {
      if (search_bar_input.value != "" || search_bar_input.checked == true) {
      search_bar_input.value = "";
      search_bar_input.checked = false;
      }
    }
   
    for (const search_bar_select of search_bar_selects) {
     // if (search_bar_select.children[0].selected = false) { 
      // search_bar_select.children[0].selected = true;
      search_bar_select.options[0].selected = true;
     // }
    } 
  
    
    for (const check_text of checks_text) {
      if (check_text.innerHTML != "") {
      check_text.innerHTML = "";
      }
    }  
    
    let input_text_search_q = document.querySelector("#input_text_search_q");
    if (input_text_search_q.value != "") {
      input_text_search_q.value = "";
    }

  }); */

  /*
    document.addEventListener("load", function() {
    localStorage.clear();
    sessionStorage.clear();

  const search_bar_inputs_checkbox = document.querySelectorAll("#search_bar input[type='checkbox']");
  const search_bar_inputs_text = document.querySelectorAll("#search_bar input[type='text']");
  const search_bar_inputs_date = document.querySelectorAll("#search_bar input[type='date']");
  const search_bar_selects = document.querySelectorAll("#search_bar select");
  const checks_text = document.getElementsByClassName("span_checked");
  

  for (let search_bar_input_checkbox of search_bar_inputs_checkbox) {
     if (search_bar_input_checkbox.checked == true) {
    search_bar_input_checkbox.checked == false;
    }
    // if (search_bar_input.hasAttribute('checked')) {
    //  search_bar_input.removeAttribute('checked'); 
  }

  for (let check_text of checks_text) {
    // if (check_text.innerHTML != "") {
    check_text.innerHTML = "";
   // }
  } 

  for (let search_bar_input_text of search_bar_inputs_text) {
    if (search_bar_input_text.value != "" ) {
        search_bar_input_text.value = "";
    }
    }

  for (let search_bar_input_text of search_bar_inputs_date) {
      // if (search_bar_input_text.value != "" ) {
          search_bar_input_date.value = "";
      // }
       }
   
  for (let search_bar_select of search_bar_selects) {
   // if (search_bar_select.children[0].selected = false) { 
    search_bar_select.options[0].selected = true;
   // }
  } 

});
  */
  </script>
  
{% include 'snippets/scrollbars.html' %}

<div id="glass_id_main" class="glass_class_main"> 

  {% block content_1 %}

<style>
#btn_door_hello {
  cursor: not-allowed;
  /*visibility:hidden;*/
}
</style>
<script>
  $(document).ready(function(){
    $("#btn_door_hello").mouseenter(function(){
      alert("NAME OR EMAIL CHANGE IS NOT POSSIBLE ON THIS SITE");
      alert("THIS CAN BE DONE ON THE OTHER SITES");
    });
  $("#btn_door_hello").mouseleave(function(){
  $("#btn_door_hello").css("background-color", "red");
});
})
  </script>

  {% include 'snippets/jumbotron.html' %}
  {% include 'snippets/marquee.html' %}

{% include 'snippets-booksmart/top_cards_records_get.html' %}
<div class="container_fluid_my"  style="position:relative;z-index:12 ; margin: 10px auto auto auto; width: 800px; max-width: 90%; background-color: transparent;">
  <div class="myrow_fluid_my">
  <div class="mycolumn_fluid_my">   

    
</div>
</div>
</div>  
      


{% endblock content_1 %}

{% block content_2 %}

{% include 'snippets/authentication.html' %}
{% endblock content_2 %}


{% block content_3 %}

<div class="container_fluid_my"  style="position:relative;z-index:12 ; margin: 20px auto auto auto; width: 800px; max-width: 90%; background-color: transparent">
  <div class="myrow_fluid_my">
  <div class="mycolumn_fluid_my">   

    
</div>
</div>
</div>
{% include 'snippets-booksmart/sort_book.html' %}
{% include 'snippets-booksmart/filter_books_q.html' %}
{% include 'snippets-booksmart/search_panel.html' %}


{% if authors_result_set %}
{% if authors_result_set|length == 0 %}
{% include 'snippets-booksmart/authors_bar_no.html' %}

{% elif authors_result_set|length > 0 %}
{% include 'snippets-booksmart/authors_bar.html' %}
          {% for author_c in authors_result_set %}
          {% include 'snippets-booksmart/author.html' %}

          {% endfor %}
 
          {% endif %}
{% endif %}   

<div class="container_fluid_my"  style="position:relative;z-index:12 ; margin: 20px auto 20px auto; width: 800px; max-width: 90%; background-color: transparent">
  <div class="myrow_fluid_my">
  <div class="mycolumn_fluid_my">    
</div>
</div>
</div>

        {% endblock content_3 %}

        {% block content_4 %}




       {% if book_page_obj %}
       
            <div id="margin_authors">
              </div>
       {% include 'snippets-booksmart/books_bar.html' %}

       {% for book in book_page_obj %}
       {% include 'snippets-booksmart/book.html' %}

       {% endfor %}


       <style type="text/css">

        .mycontainer_pagination {
            position:relative;
            z-index: 12;
            margin: -10px 5% 2vw auto;
            width: 600px;
            max-width:96%;
            float: right;
            display: flex;
            align-content: right;
            padding: auto;
            color: blue;
        }
        .myrow_pagination,
        .mycolumn_pagination {
        max-width: 100%;
        
        }
        
        .pagination_temp {
            text-align:right;
            display: inline-block; 
            font-size:30px;
            font-weight: bold;
            padding:10px;
            text-align-last: right;
            justify-content: right;
            width:580px;
            max-width:96%;
        }
        
        @media screen and (max-width: 640px) {
        .pagination_temp {
        font-size:26px;
        }
        }
      
         @media screen and (max-width: 480px) {
        .pagination_temp {
        font-size:22px;
        }
        }
        </style>
            
            <div class="mycontainer_pagination" id="mycontainer_pagination_id">      
              <div class="myrow_pagination">
                <div class="mycolumn_pagination"  >
                  <div class="pagination_temp">

          <span class="step-links"><h3>
              {% if book_page_obj.has_previous %}
                  <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; first</a>
                  <a href="{% my_url book_page_obj.previous_page_number 'page' request.GET.urlencode %}">previous</a>
                  
              {% endif %}
      
              <span class="current">
                  Page {{ book_page_obj.number }} of {{ book_page_obj.paginator.num_pages }}.
              </span>
      
              {% if book_page_obj.has_next %}
                  <a href="{% my_url book_page_obj.next_page_number 'page' request.GET.urlencode %}">next</a>
                  <a href="{% my_url book_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">last &raquo;</a>
              {% endif %}</h3>
          </span>      
        </div>       
      </div>
   </div>
 </div>
{% endif %}

{% endblock content_4 %}


{% block content_5 %}

{% endblock content_5 %}

</div>
    {% endblock page %}


