{% extends 'base_nd_link.html' %}
{% load bootstrap4 %}
{% load rest_framework %}
{% load i18n static %}
{% block title %} reset-confirm {% endblock%}

{% block page %}

{% include 'snippets/scrollbars.html' %}

<div id="glass_id_main" class="glass_class_main"> 

  {% block content_1 %}

{% include 'snippets-accounts/header.html' %}

{% endblock content_1 %}

{% block content_2 %}

{% endblock content_2 %}


{% block content_3 %}

<style type="text/css">

.mycontainer_password {
	position: relative;
	z-index : 11;
	background-color: rgb(200, 200, 240);
	background-color: rgba(200, 200, 240, 0.2);
	text-align: center;
	justify-content: center;
	align-items: center;  
  border: 4px solid rgba(60, 160, 240, 0.8);
	border-radius:4px;
	box-shadow: 0px 0px 6px 6px rgba(180, 180, 180, 0.4);
	width:560px;
	padding:10px;
	margin:40px auto 20px auto;
	left: 12px;
	}

.myrow_password {
	background-color: rgb(60, 160, 240);
	background-color: rgba(60, 160, 240, 0.2);
	text-align: center;
	justify-content: center;
	align-items: center;  
	border-radius:4px;
	border: 4px solid rgba(60, 160, 240, 0.8);
	box-shadow: 0px 0px 6px 6px rgba(180, 180, 180, 0.4);
	margin: auto;
	padding: 10px; 
	}	

.mycolumn_password {
	background-color: rgb(60, 160, 240);
	background-color: rgba(60, 160, 240, 0.2);
	text-align: center;
	justify-content: center;
	align-items: center;  
	border-radius:4px;
	border: 4px solid rgba(60, 160, 240, 0.8);
	box-shadow: 0px 0px 6px 6px rgba(180, 180, 180, 0.4);
	margin: auto;
	padding: 10px  10px 2px 10px;
	}
	
#bs_input_accounts_password,
.bs_input_accounts_password,
.form-row {
	background-color: rgb(100, 160, 220); 
	background-color: rgba(100, 160, 220, 0.2); 
	border-radius: 2px;
	border: 2px solid rgba(100, 160, 220, 0.6);
	box-shadow: 0px 0px 4px 4px rgba(180, 180, 180, 0.4);  
	justify-content: center;
	text-align: center;
	/*text-justify: inter-word; */
	margin: auto;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	}	


#bs_input_accounts_password_m {
	background-color: rgb(240, 240, 240); 
	background-color: rgba(240, 240, 240, 0.4); 
	border-radius: 3px;
	border: 3px solid rgba(240, 240, 240, 0.6);
	box-shadow: 0px 0px 4px 4px rgba(100, 160, 220, 0.6);  
	font-size: 18px;
	font-weight: bold;
	font-family: Helvetica;
	color: red;
	padding:auto;
	margin:10px;
	text-align: left;
}

#bs_input_accounts_password_m {
	background-color: rgb(240, 240, 240); 
	background-color: rgba(240, 240, 240, 0.4); 
	border-radius: 3px;
	border: 3px solid rgba(240, 240, 240, 0.6);
	box-shadow: 0px 0px 4px 4px rgba(100, 160, 220, 0.6);  
	font-size: 18px;
	font-weight: bold;
	font-family: Helvetica;
	color: red;
	padding:auto;
	margin:10px;
	text-align: left;
}

.bs_input_accounts_password_m {
	background-color: rgb(240, 240, 240); 
	background-color: rgba(240, 240, 240, 0.4); 
	border-radius: 3px;
	border: 3px solid rgba(240, 240, 240, 0.6);
	box-shadow: 0px 0px 4px 4px rgba(100, 160, 220, 0.6);  
	font-size: 18px;
	font-weight: bold;
	font-family: Helvetica;
	color: red;
	padding:auto;
	margin:10px;
	text-align: left;
}

#bs_input_accounts_password_m {
	background-color: rgb(240, 240, 240); 
	background-color: rgba(240, 240, 240, 0.4); 
	border-radius: 3px;
	border: 3px solid rgba(240, 240, 240, 0.6);
	box-shadow: 0px 0px 4px 4px rgba(100, 160, 220, 0.6);  
	font-size: 18px;
	font-weight: bold;
	font-family: Helvetica;
	color: red;
	padding:auto;
	margin:10px;
	text-align: left;
}

.bs_input_accounts_password_r {
	width:160px;
	margin:10px auto -14px auto;
}

#bs_input_accounts_password_r {
	width:160px;
	margin:10px auto -14px auto;
}

.bs_input_accounts_password_first {
	margin-top:-40px;
	}

#bs_input_accounts_password_first {
  margin-top:-40px;
  }

.title_account {
font-size: 30px; 
font-family:Times;
font-variant: small-caps;
margin: 10px auto 10px auto;
font-weight:bold;
color:rgba(0, 0, 209, 0.9);
}

#class_label {
color: rgba(0, 0, 209, 0.9); 
font-size: 24px; 
font-weight:bold;
font-family:Times;
margin: 14px auto -6px auto;
font-variant: small-caps;
text-align:center;
}

.class_label {
color: rgba(0, 0, 209, 0.9); 
font-size: 24px; 
font-weight:bold;
font-family:Times;
margin: 14px auto -6px auto;
font-variant: small-caps;
text-align:center;
}

.class_text_info {
color: rgba(0, 0, 209, 0.9); 
font-size: 22px; 
}

.bs_input_accounts_password_first {
margin-top:-40px;
}

#closebtn {
float:right;
color: white;
font-weight: bold;
float: right;
font-size: 30px;
padding: 5px;
cursor: pointer;
transition: 1s;

}

#closebtn:hover {
color: blue;
}

.closebtn {
float:right;
color: white;
font-weight: bold;
float: right;
font-size: 30px;
padding: 5px;
cursor: pointer;
transition: 1s;
}

.closebtn:hover {
color: blue;
}

.button_blue_grey {
transition: 0.2s;
background-color: rgba(160, 170, 180, 0.8); 
color: rgba(20, 40, 220, 0.8); 
border-width: 6px;
border-style: solid;
border-radius:2px;
border-color: rgba(40, 80, 240, 0.6) rgba(20, 40, 220, 0.6) rgba(10, 20, 200, 0.6) rgba(20, 40, 220, 0.6);
border-radius:2px;
padding: 4px;
font-weight:bold;
font-family:Times;
font-variant:small-caps;
font-size:20px;
min-width: 120px;
float:left;
margin: 0px auto 10px 40px;
box-shadow:
0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
0px 0px 4px 4px rgba(220, 220, 230, 0.4);

}

.button_blue_grey:hover,
.button_blue_grey:focus {
border-color: rgba(40, 80, 240, 0.8) rgba(20, 40, 220, 0.8) rgba(10, 20, 200, 0.8) rgba(20, 40, 220, 0.8);
background-color: rgba(210, 20, 10, 0.8); 
color: rgba(220, 220, 230, 0.8);
box-shadow: 
0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
0px 0px 4px 4px rgba(230, 240, 240, 0.6);
border-width: 6px;
border-style: solid;
border-radius:2px;
}

.button_blue_grey:active {
transform: matrix(0.98, 0, 0, 0.98, 0, -2);
border-color: rgba(40, 80, 240, 0.8) rgba(20, 40, 220, 0.8) rgba(10, 20, 200, 0.8) rgba(20, 40, 220, 0.8);    
box-shadow: 
0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
0px 0px 2px 2px rgba(230, 240, 240, 0.8);
border-width: 6px;
border-style: solid;
border-radius:2px;
}

/*.button_red_grey {
transition-duration: 0.2s;
background-color: rgba(160, 170, 180, 0.8);
color: rgba(220, 20, 20, 0.6); 
border-width: 6px;
border-style: solid;
border-color: rgba(240, 40, 40, 0.6) rgba(220, 20, 20, 0.6) rgba(200, 10, 10, 0.6) rgba(220, 20, 20, 0.6);
border-radius:2px;
padding: 4px;
font-weight:bold;
font-family:Times;
font-variant:small-caps;
font-size:20px;
min-width: 120px;
float:right;
box-shadow:
0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
0px 0px 4px 4px rgba(220, 220, 230, 0.4);
margin: 0px auto 10px auto;
}

.button_red_grey:hover,
.button_red_grey:focus {
border-color: rgba(240, 40, 40, 0.8) rgba(220, 20, 20, 0.8) rgba(200, 10, 10, 0.8) rgba(220, 20, 20, 0.8);
background-color: rgba(10, 20, 210, 0.8);
color: rgba(220, 220, 230, 0.8);    
box-shadow: 
0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
0px 0px 4px 4px rgba(230, 240, 240, 0.6);
border-width: 6px;
border-style: solid;
border-radius:2px;
}

.button_red_grey:active {
border-color: rgba(240, 40, 40, 0.8) rgba(220, 20, 20, 0.8) rgba(200, 10, 10, 0.8) rgba(220, 20, 20, 0.8);
transform: matrix(0.98, 0, 0, 0.98, 0, -2);
box-shadow: 
0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
0px 0px 2px 2px rgba(230, 240, 240, 0.8);
border-width: 6px;
border-style: solid;
border-radius:2px;
} */



  /* #inputEmail {
    font-size: 16px;
    font-weight: bold;
    color: darkblue;
    padding:auto;
    } */
	
  input[type=text],
  input[type=email] {
    font-size: 16px;
    font-weight: bold;
    color: darkblue;
    padding:auto;
    background: rgba(220, 220, 230, 0.6);
    border: none;
    outline: none;
  }
  
  input[type=text]:focus, 
  input[type=text]:active, 
  input[type=text]:valid,
  input[type=email]:focus, 
  input[type=email]:active, 
  input[type=email]:valid {
    background: rgba(220, 220, 230, 0.8);
    color: darkblue;
    border: none;
    outline: none;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: blue;
  -webkit-animation: autofill 0s forwards;
  outline: none;
  border:none;
  
  }

label {
	font-variant: small-caps;
	font-size: 24px;
	margin-bottom: 0px;
	margin-top: 8px;
	width: 100%;
	line-height: 26px;
	font-weight: bold;
	}

input[type=submit] {
position: relative;
transition: 0.2s;
background-color: rgb(160, 170, 180); 
background-color: rgba(160, 170, 180, 0.6); 
color: rgba(20, 40, 220, 0.8); 
border-width: 6px;
border-style: solid;
border-radius:2px;
border-color: rgba(40, 80, 240, 0.4) rgba(20, 40, 220, 0.4) rgba(10, 20, 200, 0.4) rgba(20, 40, 220, 0.4);
border-radius:2px;
padding: 4px 6px 2px 6px;
font-weight:bold;
font-family:Times;
font-variant:small-caps;
font-size:20px;
min-width: 120px;
margin: 10px auto 0px auto;
box-shadow:
0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
0px 0px 4px 4px rgba(220, 220, 230, 0.4);

}

input[type=submit]:hover,
input[type=submit]:focus {
border-color: rgba(40, 80, 240, 0.6) rgba(20, 40, 220, 0.6) rgba(10, 20, 200, 0.6) rgba(20, 40, 220, 0.6);
background-color: rgb(200, 200, 220); 
background-color: rgba(200, 200, 220, 0.6); 
color: rgba(220, 220, 230, 0.8);
box-shadow: 
0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
0px 0px 4px 4px rgba(230, 240, 240, 0.6);
border-width: 6px;
border-style: solid;
border-radius: 2px;
}

input[type=submit]:active {
transform: matrix(0.98, 0, 0, 0.98, 0, -2);
background-color: rgb(200, 200, 220); 
background-color: rgba(200, 200, 220, 0.8);
border-color: rgba(40, 80, 240, 0.8) rgba(20, 40, 220, 0.8) rgba(10, 20, 200, 0.8) rgba(20, 40, 220, 0.8);    
box-shadow: 
0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
0px 0px 2px 2px rgba(230, 240, 240, 0.8);
border-width: 6px;
border-style: solid;
border-radius:2px;
}

@media screen and (max-width: 480px) {
	.mycontainer_password {
		left: 0px;
	}
}
</style>


<script>
    /*  function validateForm() {
            let x = document.forms["reset_passwowrd"]["id_new_password1"].value;
            let y = document.forms["reset_passwowrd"]["id_new_password2"].value;
            if (x != y) {
              alert("REMEMBER BOTH PASSWORDS MUST BE THE SAME");
              return false;
            }
          } */
          </script>
<div class="mycontainer_password" id="container_accounts_password">
<div class="myrow_password" id="row_accounts_password">
<div class="mycolumn_password" id="column_accounts_password">

	{% if validlink %}

	
	<form method="post" class="was-validated" id="reset_passwowrd" onsubmit="return validateForm()">
		{% csrf_token %} 
	<fieldset class="module aligned">
		<input style="text-align: center; color: rgba(20, 40, 220, 0.9); border: none; outline: none; font-size: 28px; font-weight: bold; box-shadow:none; background-color: transparent;" class="hidden" autocomplete="username" value="Hello {{ form.user.get_username }}" readonly>

		<p style="font-size: 18px;"><span>{% translate "Please enter your new password twice" %} <br>
			{% translate "so we can verify you typed it in correctly." %}</span></p>
		
		<div class="form-row field-password1">
			{{ form.new_password1.errors }}
			<label for="id_new_password1">{% translate 'New password:' %}</label>
			{{ form.new_password1 }}
			<div class="valid-feedback" style="text-align:center;">Email field is filled out.</div>
			<div class="invalid-feedback" style="text-align:center;">Please fill out this field.</div>
		</div>

		<div class="form-row field-password2">
			{{ form.new_password2.errors }}
			<label for="id_new_password2">{% translate 'Confirm password:' %}</label>
			{{ form.new_password2 }}
			<div class="valid-feedback" style="text-align:center;">Email field is filled out.</div>
			<div class="invalid-feedback" style="text-align:center;">Please fill out this field.</div>
		</div>

		<input type="submit" value="{% translate 'Change my password' %}">
	</fieldset>
	</form>
	
	{% else %}
	
	<p style="padding-bottom: 0px;"><span class="class_text_info"> {% translate "The password reset link was invalid," %} <br> {% translate "possibly because it has already been used." %} </span> <br> <span class="class_text_info" style="font-weight: bold; animation: anime_red_text 2s infinite; line-height: 36px;"> {% translate "Please request a new password reset." %} <span></p>
	
	{% endif %}
    </div>
  </div>
  </div>

  <script>      
	document.body.onload = function() {
	var password_1 = document.getElementById("id_new_password1");
	var password_2 =document.getElementById("id_new_password2")
	
    password_1.setAttribute = ("pattern", "/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/");
    password_1.title = "must contain at least one number\nand one uppercase and lowercase letter,\nand at least 8 or more characters";
    
    password_2.setAttribute = ("pattern", "/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/");
	password_2.title = "must contain at least one number\nand one uppercase and lowercase letter,\nand at least 8 or more characters"; 
	} 
    
   function validateForm() {
            let x = document.forms["reset_passwowrd"]["id_new_password1"].value;
            let y = document.forms["reset_passwowrd"]["id_new_password2"].value;
            if (x != y) {
            alert("REMEMBER BOTH PASSWORDS MUST BE THE SAME\n" + "YOU ENTERED:\n" + "1. password: " + x + "\n2. password: " + y);
              // alert("REMEMBER BOTH PASSWORDS MUST BE THE SAME");
              return false;
            }
          } 
 
	</script>
  {% endblock content_3 %}


  {% block content_4 %}
  
  {% if messages %}
  {% include 'snippets-accounts/modal_messages_accounts.html' %}
  {% endif %}
  
  {% endblock content_4 %}
  
  
  {% block content_5 %}
  
  {% endblock content_5 %}
  
  </div>
    {% endblock page %}