{% extends 'base_nd_link.html' %}
{% load bootstrap4 %}
{% load rest_framework %}
{% block title %} reset-password  {% endblock%}

{% block page %}

{% include 'snippets/scrollbars.html' %}

<div id="glass_id_main" class="glass_class_main"> 

{% block content_1 %}

{% include 'snippets-accounts/header.html' %}

{% endblock content_1 %}

{% block content_2 %}

{% endblock content_2 %}


{% block content_3 %}

<style type="text/css">

.mycontainer_password {
position: relative;
z-index :11;
background-color: rgb(200, 200, 240);
background-color: rgba(200, 200, 240, 0.2);
text-align: center;
justify-content: center;
align-items: center;  
border: 4px solid rgba(60, 160, 240, 0.8);
border-radius:4px;
box-shadow: 0px 0px 4px 4px rgba(180, 180, 180, 0.4);
width:560px;
padding:10px;
margin:40px auto 20px auto;
left: 12px;
}

.myrow_password {
background-color: rgb(60, 160, 240);
background-color: rgba(60, 160, 240, 0.2);
text-align: center;
justify-content: center;
align-items: center;  
border-radius:4px;
border: 4px solid rgba(60, 160, 240, 0.8);
box-shadow: 0px 0px 4px 4px rgba(180, 180, 180, 0.4);
margin: auto;
padding: 10px; 
}	

.mycolumn_password {
position: relative;
background-color: rgb(60, 160, 240);
background-color: rgba(60, 160, 240, 0.2);
text-align: center;
justify-content: center;
align-items: center;  
border-radius:4px;
border: 4px solid rgba(60, 160, 240, 0.8);
box-shadow: 0px 0px 4px 4px rgba(180, 180, 180, 0.4);
margin: auto;
padding: 10px;
}

.bs_input_accounts_password {
background-color: rgb(100, 160, 220); 
background-color: rgba(100, 160, 220, 0.2); 
border-radius: 2px;
border: 2px solid rgba(100, 160, 220, 0.6);
justify-content: center;
text-align: justify;
text-justify: inter-word;
padding:0px 10px 0px 10px;
margin:auto;
}	

.title_account {
font-size: 30px; 
font-family:Times;
font-variant: small-caps;
margin: 10px auto 10px auto;
font-weight:bold;
color:rgba(0, 0, 209, 0.9);
}

#class_label {
color: rgba(0, 0, 209, 0.9); 
font-size: 24px; 
font-weight:bold;
font-family:Times;
margin: 14px auto -6px auto;
font-variant: small-caps;
text-align:center;
}

.class_label {
color: rgba(0, 0, 209, 0.9); 
font-size: 24px; 
font-weight:bold;
font-family:Times;
margin: 14px auto -6px auto;
font-variant: small-caps;
text-align:center;
}

.class_text_info {
color: rgba(0, 0, 209, 0.9); 
font-size: 22px; 
font-weight:bold;
text-align-last: center;
text-align: justify;
text-justify: inter-word;
}

.button_blue_grey {
	position: relative;
	transition: 0.2s;
	background-color: rgb(160, 170, 180); 
	background-color: rgba(160, 170, 180, 0.6); 
	color: rgba(20, 40, 220, 0.8); 
	border-width: 6px;
	border-style: solid;
	border-radius:2px;
	border-color: rgba(40, 80, 240, 0.4) rgba(20, 40, 220, 0.4) rgba(10, 20, 200, 0.4) rgba(20, 40, 220, 0.4);
	border-radius:2px;
	padding: 4px 6px 2px 6px;
	font-weight:bold;
	font-family:Times;
	font-variant:small-caps;
	font-size:20px;
	min-width: 120px;
	margin: 20px auto 0px auto;
	box-shadow:
	0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
	0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
	0px 0px 4px 4px rgba(220, 220, 230, 0.4);
	
	}
	
	.button_blue_grey:hover,
	.button_blue_grey:focus {
	border-color: rgba(40, 80, 240, 0.6) rgba(20, 40, 220, 0.6) rgba(10, 20, 200, 0.6) rgba(20, 40, 220, 0.6);
	background-color: rgb(200, 200, 220); 
	background-color: rgba(200, 200, 220, 0.6); 
	color: rgba(220, 220, 230, 0.8);
	box-shadow: 
	0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
	0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
	0px 0px 4px 4px rgba(230, 240, 240, 0.6);
	border-width: 6px;
	border-style: solid;
	border-radius: 2px;
	}
	
	.button_blue_grey:active {
	transform: matrix(0.98, 0, 0, 0.98, 0, -2);
	background-color: rgb(200, 200, 220); 
	background-color: rgba(200, 200, 220, 0.8);
	border-color: rgba(40, 80, 240, 0.8) rgba(20, 40, 220, 0.8) rgba(10, 20, 200, 0.8) rgba(20, 40, 220, 0.8);    
	box-shadow: 
	0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
	0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
	0px 0px 2px 2px rgba(230, 240, 240, 0.8);
	border-width: 6px;
	border-style: solid;
	border-radius:2px;
	}

	@media screen and (max-width: 480px) {
		.mycontainer_password {
			left: 0px;
		}
	}
</style>

<div class="mycontainer_password" id="container_accounts_password">
	<div class="myrow_password" id="row_accounts_password">
		<div class="mycolumn_password" id="column_accounts_password">

	<div class="bs_input_accounts_password" id="bs_input_accounts_first">	
		<p class="class_label"> MESSAGE </p><br>
<p class="class_text_info">
	We've emailed you instructions for setting your password, if an account exists with the email you entered.
	You should receive them shortly.
	</p>
	
	<p class="class_text_info">
	If you don't receive an email, please make sure you've entered the address you registered with,
	and check your spam folder.
	</p>
	
</div>

	<a href="{% url 'index' %}">
		<button type="button" class="button_blue_grey"> RETURN TO HOMEPAGE </button>   </a>


</div>
</div>
</div>

{% endblock content_3 %}


{% block content_4 %}

{% if messages %}
{% include 'snippets-accounts/modal_messages_accounts.html' %}
{% endif %}

{% endblock content_4 %}


{% block content_5 %}

{% endblock content_5 %}

</div>
  {% endblock page %}
