{% extends 'base_account.html' %}
{% load bootstrap4 %}

{% block title %} pass-change {% endblock%}

{% block page %}

{% include 'snippets/jumbotron.html' %}

{% endblock %}

{% block page1 %}
{% include 'snippets/authentication.html' %}

{% endblock%}

{% block page2 %}
<style type="text/css">
#col_pass_change {
  position:relative;
  border-radius: 5px;
  margin: 86px auto 30px auto;
  z-index:1;
  max-width: 90%;
  border: 5px solid rgba(100, 160, 220, 0.6);
  padding:10px;
  width: 560px;
  background-color: rgb(120, 120, 120,); 
  background-color: rgba(120, 120, 220, 0.2);
  filter: drop-shadow(8px 8px 10px gray);
}

#card_pass_change {
  top: auto;
  left:auto;
  background-color: rgb(100, 160, 220,); 
  background-color: rgba(100, 160, 220, 0.6); 
  border-radius: 5px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  border: 5px solid rgba(100, 160, 220, 0.6);
  padding: 0px 20px 0px 20px;
  text-align: center;
  max-width: 540px;
  margin: auto;
  }
  

</style>

<script>
          function validateForm() {
            let x = document.forms["change_password"]["id_new_password1"].value;
            let y = document.forms["change_password"]["id_new_password2"].value;
            if (x != y) {
              alert("REMEMBER BOTH PASSWORDS MUST BE THE SAME");
              return false;
            }
          }
          </script>

<div class="column "  id="col_pass_change">
    <div class="card " id="card_pass_change">
     <h3 class="card-title mt-2"> CHANGE PASSWORD </h3>
     <form method="POST" class="was-validated" id="change_password">
        {% csrf_token %}
        
          <div class="form-group">
            <label class="label_password" for="old_password"> Old password </label>
            <input type="password" name="old_password" id="id_old_password" class="form-control" placeholder="Old password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" autocomplete="off" >
            <div class="valid-feedback" >Password field is filled out.</div>
          <div class="invalid-feedback" >Please fill out this field.</div>
            </div>

          <div class="form-group">
            <label class="label_password" for="new_password1">  New password </label>
            <input type="password" name="new_password1" id="id_new_password1" class="form-control" placeholder="New password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" autocomplete="off" >
            <div class="valid-feedback" >Password field is filled out.</div>
          <div class="invalid-feedback" >Please fill out this field.</div>
            </div>

          <div class="form-group">
            <label class="" for="new_password2">  Repeat Password </label>
            <input type="password" name="new_password2" id="id_new_password2" class="form-control" placeholder="Confirm password" required="true" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" autocomplete="off" >
            <div class="valid-feedback" >Repeat password field is filled out..</div>
          <div class="invalid-feedback" >Please fill out this field with the same password.</div>
            </div>
      
          {% for field in form %}
            {% for error in field.errors %}
              <h6 class="p_r_b">{{ error }}</h6>
            {% endfor %}
          {% endfor %}
      
          <button type="submit" class="btn btn-outline-danger btn-lg text-primary" style="margin: 15px 0px 15px 0px; border: 5px solid; box-shadow: 0px 0px 5px 5px rgba(100, 160, 220, 0.6); font-size: 16px; font-weight: bold;font-family: Helvetica;"> UPDATE PASSWORD </button>
      </form>
  </div>
      </div>
{% endblock%}

{% block page3 %}
{% endblock%}