<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Email</title>
</head>
<body style="background-color: lightblue; background-color: rgba(60, 160, 240, 0.4); background: repeating-conic-gradient( rgba(60, 160, 240, 0.4) 10%, rgba(60, 160, 240, 0.8) 20%, rgba(60, 160, 240, 0.4) 30%, rgba(0, 60, 240, 0.4) 10%) no-repeat fixed center;" >
<style>

</style>
<div>
<p style="color: darkblue; font-size: 14px; margin-top: 0px;">To initiate the password reset process for your Account {{ user.email }},
click the link below:</p>

<p style="color: blue; font-size: 14px; font-weight: bold;"><a href="https://booksmart-app-bd32a8932ff0.herokuapp.com{{ url 'password_reset_confirm' uidb64=uid token=token }}"> link to reset </a></p>
<p style="color: darkblue; font-size: 14px;">click or copy and paste to browser</p>

<p style="color: darkblue; font-size: 14px; margin-top: 0px;">If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead or send next request for change.</p>

<p style="color: darkblue; font-size: 14px; margin-top: 0px; ">If you did not request this password reset, you can safely ignore this email.</p>
<p style="color: darkblue; font-size: 14px; margin-top: 20px; margin-bottom: 6px;">Best regards</p>
<p style="color: darkblue; font-size: 16px; color: darkblue; font-weight: bold; margin-top: 0px; text-decoration: underline;"><a href="https://booksmart-app-bd32a8932ff0.herokuapp.com">BOOKSMART Application Team</a></p>
</div>
</body>
</html>