{% extends 'base_account.html' %}
{% load bootstrap4 %}

{% block title %} pass-change  {% endblock%}

{% block page %}

{% include 'snippets/jumbotron.html' %}

{% endblock %}

{% block page1 %}
{% include 'snippets/authentication.html' %}

{% endblock%}

{% block page2 %}

<style type="text/css">

#col_pass_reset {
    position: relative;
    z-index:1;
    margin: auto;
    width: 560px;
    max-width: 90%;
    margin-top: 84px;
    }

#card_pass_reset {
    background-color: rgb(100, 160, 220,); /* Fallback color */
    background-color: rgba(100, 160, 220, 0.6); /* Black w/opacity/see-through */
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    border: 5px solid rgba(100, 160, 220, 0.6);
    padding: 0px 20px 0px 20px;
    text-align: center;
    width: 540px;
    }
  

</style>

<div class="column"  id="col_pass_reset">
  <div class="card" id="card_pass_reset">
   <h3 class="card-title"> RESET PASSWORD </h3>
   <form method="POST" class="was-validated" id="change_password">
      {% csrf_token %}
      
      <div class="form-group">
        <label class="mb-1" for="email"><h6><span class="material-icons" style="vertical-align: top; font-size:22px;color:lightblue;text-shadow:2px 2px 4px #000000;">mail</span> Email</h6></label>
        <input type="email" name="email" id="id_email" class="form-control" placeholder="enter email address" required autofocus pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Must contain @" value="{{request.user.email}}" style="background-color: rgba(240, 240, 240, 0.2); color:DarkBlue; font-size:16px; font-weight: bold;">
        <div class="valid-feedback" >Email field is filled out.</div>
      <div class="invalid-feedback" >Please fill out this field.</div>
    </div>
    
        {% for field in form %}
          {% for error in field.errors %}
            <h6 class="p_r_b">{{ error }}</h6>
          {% endfor %}
        {% endfor %}
    
        <button type="submit" class="btn btn-outline-danger btn-lg text-primary" style="margin: 15px 0px 15px 0px; border: 5px solid; box-shadow: 0px 0px 5px 5px rgba(100, 160, 220, 0.6); font-size: 16px; font-weight: bold;"> SEND RESET EMAIL </button>
    </form>
</div>
    </div>


    <div class="column "  id="search_column_gb">
      <div class="card " id="search_ba_gb">
       <h3 class="card-title mt-2"> RESET PASSWORD </h3>
    <form method="POST" class="form-signin">
      {% csrf_token %}
      
        <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
      <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin: 15px 0px 15px 0px; border: 5px solid; box-shadow: 0px 0px 5px 5px rgba(100, 160, 220, 0.6); font-size: 16px; font-weight: bold;">Send reset email</button>  
    </form>
    </div>
    </div>
{% endblock%}

{% block page3 %}
{% endblock%}
