{% extends 'base_ds.html' %}
{% load bootstrap4 %}

{% block title %} pass-change  {% endblock%}

{% block page %}

{% include 'snippets/jumbotron.html' %}

{% endblock %}

{% block page1 %}
{% include 'snippets/authentication.html' %}

{% endblock%}

{% block page2 %}
<style type="text/css">
#cont_success {
    margin: auto;
    width:700px;
    max-width: 90%;
    margin-top: 26px;
    z-index: 1
    }

#card_success {
    background-color: rgb(100, 160, 220,); /* Fallback color */
    background-color: rgba(100, 160, 220, 0.6); /* Black w/opacity/see-through */
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    border: 5px solid rgba(100, 160, 220, 0.6);
    padding: 0px 20px 0px 20px;
    text-align: center;
    }
</style>

<div class="column" id="cont_success">
	<div class="card" id="card_success">
		<h2 class="m-auto" id="p_r_b">Your password has been UPDATED.</h2>
	</div>
</div>

{% endblock %}