<style type="text/css">

#main_cont_account {
    position: relative;
    z-index :1;
    background-color: rgb(240, 240, 240);
    background-color: rgba(240, 240, 240, 0.2);
    text-align: center;
    justify-content: center;
    align-items: center;  
    border-radius:4px;
    box-shadow: 0px 0px 6px 6px rgba(180, 180, 180, 0.4);
    width:560px;
    padding:10px;
    margin:40px auto 20px auto;
    }

#row_account {
    /* margin: 10px 20px 10px 20px;
    padding: 10px 20px 10px 20px; */
    margin: 0px;
    padding: 0px; 
    }

#col_account {
    width:540px;
    margin: 10px;
    padding: 10px;
    }
    

#bs_input_account {
    background-color: rgb(240, 240, 240); 
    background-color: rgba(240, 240, 240, 0.2); 
    border-radius: 3px;
    border: 3px solid rgba(240, 240, 240, 0.6);
    box-shadow: 0px 0px 5px 5px rgba(100, 160, 220, 0.6);  
    font-size: 18px;
    font-weight: bold;
    font-family: Helvetica;
    color: blue;
    text-align: justify;
    text-justify: inter-word;
    padding:5px 20px -5px 20px;
    margin:10px;
    }	

#bs_input_account_m {
    background-color: rgb(240, 240, 240); 
    background-color: rgba(240, 240, 240, 0.4); 
    border-radius: 3px;
    border: 3px solid rgba(240, 240, 240, 0.6);
    box-shadow: 0px 0px 4px 4px rgba(100, 160, 220, 0.6);  
    font-size: 18px;
    font-weight: bold;
    font-family: Helvetica;
    color: red;
    padding:auto;
    margin:10px;
    text-align: left;
    
}		
    
.h3{
    text-align: center;
    }

</style>