<style type="text/css">

#main_cont_account {
    position: relative;
    z-index :12;
    background-color: rgb(240, 240, 240);
    background-color: rgba(240, 240, 240, 0.2);
    text-align: center;
    justify-content: center;
    align-items: center;  
    border-radius:4px;
    box-shadow: 0px 0px 6px 6px rgba(180, 180, 180, 0.4);
    width:560px;
    max-width: 90%;
    padding:10px;
    margin:40px auto 20px auto;
    left: 12px;
    }

#row_account {
    /* margin: 10px 20px 10px 20px;
    padding: 10px 20px 10px 20px; */
    margin: auto;
    padding: 10px; 
    }

#col_account {
    
    margin: auto;
    padding: 10px;
    }
    

#bs_input_account {
    background-color: rgb(240, 240, 240); 
    background-color: rgba(240, 240, 240, 0.2); 
    border-radius: 3px;
    border: 3px solid rgba(240, 240, 240, 0.6);
    box-shadow: 0px 0px 5px 5px rgba(100, 160, 220, 0.6);  
    font-size: 18px;
    font-weight: bold;
    font-family: Helvetica;
    color: blue;
    text-align: justify;
    text-justify: inter-word;
    padding:5px 20px -5px 20px;
    margin:10px;
    }	

#bs_input_account_m {
    background-color: rgb(240, 240, 240); 
    background-color: rgba(240, 240, 240, 0.4); 
    border-radius: 3px;
    border: 3px solid rgba(240, 240, 240, 0.6);
    box-shadow: 0px 0px 4px 4px rgba(100, 160, 220, 0.6);  
    font-size: 18px;
    font-weight: bold;
    font-family: Helvetica;
    color: red;
    padding:auto;
    margin:10px;
    text-align: left;
    
}		
    
.h3{
    text-align: center;
    }

    @media screen and (max-width: 640px) {
        #main_cont_account {
            max-width: 94%;   
        }

        .my_card_top_cards {
        max-width: 94%;
        }
        
        .h2vw_l {
          font-size: 22px;
          line-height: 1;   
          color: rgba(0, 0, 240,  0.8); 
          font-family: Times;
          }
          
        .h2vw_l_b {
          font-size: 22px;
          line-height: 1;    
          color: rgba(0, 0, 240,  0.8); 
          font-weight: bold;
          font-family: Times;
          }
          
        #h2vw_l {
          font-size: 22px;
          line-height: 1;  
          color: rgba(0, 0, 240,  0.8); 
          font-family: Times;
          }
          
        #h2vw_l_b {
          font-size: 22px;
          line-height: 1;   
          color: rgba(0, 0, 240,  0.8); 
          font-weight: bold;
          font-family: Times;
          }
          
        .h3vw_l {
          font-size: 20px;
          line-height: 1;    
          color: rgba(0, 0, 220, 0.9); 
          font-family: Times;
          }
          
        .h3vw_l_b {
          font-size: 20px;
          line-height: 1.2;   
          color: rgba(0, 0, 220, 0.9);
          font-weight: bold;
          font-family: Times;
          }
          
        #h3vw_l {
          font-size: 20px;
          line-height: 1;   
          color: rgba(0, 0, 220, 0.9);
          font-family: Times;
          }
          
        #h3vw_l_b {
          font-size: 20px;
          line-height: 1.2;  
          color: rgba(0, 0, 220, 0.9); 
          font-weight: bold;
          font-family: Times;
          }
      
          #h4vw_l_b {
            font-size: 18px;
            line-height: 1.2;   
            color:rgba(0, 0, 240,  0.8); 
            font-weight: bold;
            font-family: Times; 
            }
        
        .h4vw_l_b {
          font-size: 18px;
          line-height: 1.2;   
            color: rgba(0, 0, 240,  0.8); 
            font-weight: bold;
            font-family: Times; 
            }
        
        #h4vw_l_b {
          font-size: 18px;
          line-height: 1.2;  
            color: rgba(0, 0, 240,  0.8); 
            font-family: Times; 
            }
        
        .h4vw_l_b {
          font-size: 18px;
          line-height: 1.2; 
            color: rgba(0, 0, 240,  0.8); 
            font-family: Times; 
            }      
          }   
          
        
        </style>
  
        <style>
        @media screen and (max-width: 480px) {
          #top_jumb {
            left: 0;
          }
      
          #marque {
            font-size: 22px;
          }
      
           .my_card_top_cards {
        max-width: 98%;
        left: 0px;
        }
  

        #main_cont_account {
            max-width: 98%;  
            left: 0px; 
        }
      
          .class_close {
            font-size: 18px;
          }
      
           .my_card_top_cards {
        max-width: 98%;
  left: 0px;
        }
  
          .h4_class_bold {
            font-weight: bold; 
            color: rgba(0, 0, 240, 0.7); 
            font-size: 22px;
            line-height: 22px;
          }
      
          .h4_class { 
            color: rgba(20, 40, 220, 0.7); 
            font-size: 22px;
            line-height: 22px;
          }
      
          .h5_class_bold {
            font-weight: bold; 
            color: rgba(0, 0, 240, 0.7); 
            font-size: 20px;
            line-height: 1;
          }
          
          .h5_class { 
            color: rgba(0, 0, 240, 0.7); 
            font-size: 20px;
            line-height: 1;
          }
      
            .h3vw_l_b {
              font-size: 18px;
              line-height: 1.2;  
              color: rgba(0, 0, 220, 0.9);
          
              }
              .h2vw_l_b {
                font-size: 20px;
                line-height: 0.9;  
                color: rgba(0, 0, 240,  0.8); 
                font-weight: bold;
                font-family: Times;
                }
              }
      </style>