<style>

.container_header {
position: relative;
z-index: 11;
background-color: rgb(60, 160, 240); 
background-color: rgba(60, 160, 240, 0.2); 
border: 4px solid rgba(60, 160, 240, 0.8);
text-align: center;
justify-content: center;
align-items: center;  
border-radius:4px;
box-shadow: 0px 0px 4px 4px rgba(180, 180, 180, 0.4);
margin: 2px auto 20px auto;
padding: 10px;
width:560px;
left: 12px;
max-width: 92%;
}

.row_header {
background-color: rgb(60, 160, 240); 
background-color: rgba(60, 160, 240, 0.2); 
text-align: center;
justify-content: center;
align-items: center;  
border-radius:4px;
border: 4px solid rgba(60, 160, 240, 0.8);
box-shadow: 0px 0px 4px 4px rgba(180, 180, 180, 0.4);
margin: auto;
padding: 10px;

}

.column_header {
background-color: rgb(60, 160, 240); 
background-color: rgba(60, 160, 240, 0.2); 
text-align: center;
justify-content: center;
align-items: center;  
border-radius:4px;
border: 4px solid rgba(60, 160, 240, 0.8);
box-shadow: 0px 0px 4px 4px rgba(180, 180, 180, 0.4);
margin: auto;
padding: 10px;

}
.header_h3 {
    font-weight: bold; 
    color: rgba(0, 0, 240, 0.7); 
    font-size: 34px;
  
  }
.header_h4 {
    font-weight: bold; 
    color: rgba(0, 0, 200, 0.7); 
    font-size: 30px;
    
}



@media screen and (max-width: 480px) {
    .container_header {
        left: 0px;
        width: 98%;
        max-width: 98%;
    }

    .header_h3 {
        font-size: 24px;
    }

    .header_h4 {
        font-size: 22px;
    }
}
</style>  
    
    <div class="container_header" id="container_header_id">
        <div class="row_header" id="row_header_id">
            <div class="column_header" id="column_header_id">
    
        <p class="header_h4" style="margin-bottom: 8px;"> VERYFICATION </p>
        {% if not request.user.is_authenticated %}
        <p class="header_h4" style="margin-bottom: 6px;">
            <a href="{% url 'index' %}">Main</a> |
            <a href="{% url 'accounts:register' %}" target='_blank'>Register</a> | 
            <a href="{% url 'accounts:login' %}" target='_blank'>Login</a>
            
        </p>
        <p class="header_h3" style="margin-bottom: 6px;">Hello, my guest... {{username}}</p>
        {% elif request.user.is_authenticated %}
        <p class="header_h3" style="margin-bottom: 6px;">Hello, {{request.user.username}}</p>
        <p class="header_h4" style="margin-bottom: 6px;">
            <a href="{% url 'index' %}">Main</a> |
            <a href="{% url 'accounts:account' %}" target='_blank'>Account Update </a> |
            <a href="{% url 'accounts:logout' %}">Logout</a>
        </p>
        {% endif %}
     
    </div>
</div>
</div>