<style>
    .modal {
  position:fixed;
   background-color: rgb(120, 120, 120); 
       background-color: rgba(120, 120, 120, 0.2);
 }
   #modal_cont {
     margin: 0;
  position: fixed;
  top: 200px;
  left: 50%;
 
  transform: translate(-50%, -50%);
       max-width::620px;
       width: 620px;
         /*background-color: rgb(120, 120, 120);  Fallback color
         background-color: rgba(120, 120, 120, 0.2);*/
         font-family: Times;
         padding: 5px;
         
         font-size:18px;
         text-align: center;
         font-weight: bold;
         border-radius: 3px;
         border: 5px solid rgba(240, 240, 240, 0.6);
         box-shadow: 4px 0px 8px 0 rgba(120, 120, 120, 0.3);    
     }
   #modal_content {
   width: 600px;
       background-color: rgb(220, 220, 220); /* Fallback color */
       background-color: rgba(220, 220, 220, 0.8);
       }
       #modal_header {
           background-color: rgb(120, 160, 220); /* Fallback color */
             background-color: rgba(120, 160, 220, 0.2);
       }
 </style>
 
   <!-- Modal -->
   <div class="modal" id="myModal" data-backdrop="false"style='background: rgb(120, 180, 240);
   background: rgba(120, 180, 240, 0.6); z-index:4'>
     <div class="modal-dialog" style="z-index:5;background-color:lightorange" >
       <div class="container-fluid" id="modal_cont">
       <!-- Modal content-->
       <div class="modal-content" id="modal_content" >
       
         <div class="modal-header" id="modal_header">
 
          <div> <h4>MESSAGES</h4>  </div>
          
           <button type="button" class="close" data-dismiss="modal">&times;</button>
       
         </div>
         
         <div class="modal-body">

          {% for message in messages %}
          <div> <h4> {% autoescape off %} {{ message }} {% endautoescape %}</h4><br></div>
          {% endfor %}
     
          <div>
       <h4> {% autoescape off %} {{ message }} {% endautoescape %}</h4><br></div>
           
           {% for msg_error in message_errors %}
     <div  > <h5>{% autoescape off %} {{ msg_error }} {% endautoescape %}</h5> </div>
     {% endfor %}

  {% for msg_info in message_info %}
  <div  > <h5>{% autoescape off %} {{ msg_info }} {% endautoescape %}</h5> </div>
  {% endfor %}

   </div>
   </div>
         </div>
       </div>
   </div> 
    
 
     <script>
       $(document).ready(function(){
         $("#myModal").modal("show");
           
         $("#myBtn").click(function(){
           $("#myModal").modal("hide");
         });
        
       });
       </script>