{% load static %}

<script>

</script>

<style type="text/css">

/*body {
  margin:0;
  background: LightSteelBlue;
}  */

.glass_class_mode {
  background-color: rgba(20, 40, 240, 0.1); 
  position: fixed;
  width: 102%;
  height: 102%;
  top: -1%;
  left:-1%;
} 

.dark_mode_back {
  background-color: rgba(2, 4, 8, 0.9);
 
}

/* #video_background {
  box-sizing: content-box;
  position: fixed;
  z-index:0;
  object-fit: cover;
  width: 100vw;
  height: 104vh;
  top: -2vw;
  animation-name: mymove;
  animation-duration: 14s;
  animation-iteration-count: 4;
  left:-0.4vw;
} */
 
video {
  box-sizing: content-box;
  position: fixed;
  z-index:0;
  object-fit: cover;
  width: 100.8vw;
  height: 104vh;
  top: -2vw;
  animation-name: mymove;
  animation-duration: 12s;
  animation-iteration-count: 4;
  left:-0.4vw;
}

  /*#myVideo {
    position: fixed;
    z-index:0;
    bottom: 0;
    right: 0;
    width:100%;
    min-width: 100%; 
    min-height: 100%;
    delay: 20s;
    animation-name: mymove;
    animation-duration: 14s;
    animation-iteration-count: 4;
}*/

@keyframes mymove {
50% {opacity: 0.2;}
}

#myBtna {
  top: 52px;
  left: 3px;
  margin: 5px;
}

#myBtn1a {
  top: 100px;
  left: 3px;
  margin: 5px;
}

#myBtn {
  top: 52px;
  right: 3px;
  margin: 5px;
}

#myBtn1 {
  top: 100px;
  right: 3px;
  margin: 5px;  
}

#myBtn_dark_back {
  bottom: 12px;
  left: 3px;
  margin: 5px;  
}

.myBtns {
  position: fixed;
  z-index: 44;
  cursor: pointer;
  font-size: 22px;
  padding: 8px auto 8 auto;
  min-height: 38px;
  min-width: 140px;
  font-family:Times;
  transition-duration: 0.2s;
  background-color: rgb(100, 160, 220);
  background-color:  rgba(100, 160, 220, 0.8);
  color: rgb(220, 220, 220);
  border:none;
  border-radius: 2px;
  transition-duration:0.2s;
  box-shadow:   
  0px 0px 2px 4px rgba(151, 191, 231, 0.7) inset,
  0px 1px 1px 0px rgba(161, 201, 241, 0.7), 
  0px 2px 1px 0px rgba(151, 191, 231, 0.7),
  0px 3px 2px 0px rgba(131, 171, 231, 0.7), 
  0px 4px 2px 0px rgba(111, 151, 231, 0.7), 
  
  1px 5px 4px 0px rgba(99, 100, 103, 0.6), 
  0px 7px 5px 0px rgba(77, 77, 79, 0.6), 
  0px 9px 7px 0px rgba(51, 51, 53, 0.6);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px); 
}

.myBtns:hover {
  background-color: rgb(100, 160, 240);
  background-color:  rgba(100, 160, 240, 0.9);
  color: rgb(230, 230, 230);
  box-shadow: 
  0px 0px 2px 4px rgba(151, 191, 231, 0.8) inset,
  0px 1px 1px 0px rgba(161, 201, 241, 0.8), 
  0px 2px 1px 0px rgba(151, 191, 231, 0.8),
  0px 3px 2px 0px rgba(151, 191, 231, 0.8), 
  0px 4px 2px 0px rgba(151, 191, 231, 0.8), 
  
  1px 5px 4px 0px rgba(99, 100, 103, 0.6), 
  0px 7px 5px 0px rgba(77, 77, 79, 0.6), 
  0px 9px 7px 0px rgba(51, 51, 53, 0.6);

  /*0px 9px 12px 0px rgba(0,0,0,0.3),
  0px 10px 12px 0px rgba(0,0,0,0.2);
  transform: scale(1.01);
    -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);*/
} 

.myBtns:active {
  transform: translateY(2px);
  scale: 0.98;
  box-shadow: 
  0px 0px 2px 4px rgba(100, 160, 220, 0.6) inset,
  0px 1px 1px 0px rgba(110, 170, 230, 0.8), 
  0px 2px 1px 0px rgba(100, 160, 220, 0.8),
  0px 3px 2px 0px rgba(90, 150, 210, 0.8), 
  0px 4px 2px 0px rgba(80, 140, 200, 0.8), 
  
  1px 5px 4px 0px rgba(220, 220, 230, 0.9), 
  0px 7px 5px 0px rgba(220, 220, 230, 0.6), 
  0px 9px 7px 0px rgba(220, 220, 230, 0.4);
  }  

  .myBtns:focus {
    border: none;
    outline: none;
  }
</style>



<audio autoplay preload loop id="myAudio01">
  <source src="{{ music_url_2 }}" type="audio/{{ music_type_2 }}">
  Your browser does not support HTML5 audio.
</audio>

 
<!-- <div id="background">-->
    <video _autoplay muted loop id="myVideo_copy" poster="{{ poster_url_1 }}">
      <source src="{{ video_url }}" type="video/{{ video_type }}">
    Your browser does not support HTML5 video.
  </video>
<!-- </div>-->

  <audio autoplay preload loop id="myAudio02">
    <source src="{{ music_url_1 }}" type="audio/{{ music_type_1 }}">
    
    Your browser does not support HTML5 audio.
  </audio> 
  
  <div id="glass_id_mode" class="glass_class_mode">
 
  </div> 


  <button type="button" id="myBtn" class="myBtns notranslate" onclick="myFunction()" > Pause Video </button>
  
  <button type="button" id="myBtn1" class="myBtns notranslate" onclick="myFunction1()" > Mute Video </button>


  <button type="button" id="myBtna" class="myBtns notranslate" onclick="myFunctiona()"> Pause Audio </button>

  <button type="button" id="myBtn1a" class="myBtns notranslate" onclick="myFunction1a()" > Mute Audio </button>

  <button type="button" class="myBtns notranslate" id="myBtn_dark_back">dark mode</button>
  

    <script>
      console.clear();

      
      var btn_dark_back = document.getElementById("myBtn_dark_back");
      btn_dark_back.onclick = function(){
        var glass_dark_back =  document.getElementById("glass_id_mode");
        var leftdiv =  document.getElementById("left_div");
        var rightdiv =  document.getElementById("right_div");
        // glass_dark_back.classList.toggle("glass_dark_back");
        glass_dark_back.classList.toggle("dark_mode_back");
        // leftdiv.classList.toggle("dark_mode_back");
        // rightdiv.classList.toggle("dark_mode_back");
        if (btn_dark_back.innerHTML === "dark mode") {
          btn_dark_back.innerHTML = "light mode";
        } else {
          btn_dark_back.innerHTML = "dark mode";
        }
      }

      document.getElementById("myAudio01").volume=0.2;
      document.getElementById("myAudio02").volume=0.2;
  
      var audio01 = document.getElementById("myAudio01");
      var audio02 = document.getElementById("myAudio02");
      var btna = document.getElementById("myBtna");
      
      function myFunctiona() {
        if (audio01.paused){
          audio01.play() ;
          audio02.play() ;
          btna.innerHTML = "pause audio";
        } 
        
        else if (audio02.paused){
          audio01.play() ;
          audio02.play() ;
          btna.innerHTML = "pause audio";
        }
        
        else {
          audio01.pause() ;
          audio02.pause() ;
          btna.innerHTML = "play audio";
        }
      }
   
  //    var audio01m = document.getElementById("myAudio01");
  //    var audio02m = document.getElementById("myAudio02");
      var btnma = document.getElementById("myBtn1a");
      
      function myFunction1a() {
        if (audio01.muted) {
          audio01.muted = false;
          
          btnma.innerHTML = "unmute audios";
        } 
        else if (audio02.muted) {
        
          audio02.muted = false;
          btnma.innerHTML = "mute audios";
        } 
  
        else if (audio02.muted) {
        
          audio02.muted = false;
          btnma.innerHTML = "unmute audio2";
        }
  
        else {
          audio01.muted = true;
          audio02.muted = true;
          btnma.innerHTML = "unmute audio2";
        }
      }
    </script>
     <script>
      var my_video = document.getElementById("myVideo_copy");
      var btnv = document.getElementById("myBtn");
      
      function myFunction() {
        if (my_video.paused) {
          my_video.play();
          //btn.innerHTML = "Pause"+ "<br>" + "Video";
          btnv.innerHTML = "pause video";
        } else {
          my_video.pause();
          //btn.innerHTML = "Play" + "<br>" +"Video";
          btnv.innerHTML = "play video"
        }
      }
  
    //  var videom = document.getElementById("myVideo_copy");
      var btnmv = document.getElementById("myBtn1");
      
      function myFunction1() {
        if (my_video.muted) {
          my_video.muted = false;
          btnmv.innerHTML = "mute video";
        } else {
          my_video.muted = true;
          btnmv.innerHTML = "unmute video";
        }
      }
      </script>



