<style>

/* #inputEmail {
	font-size: 16px;
	font-weight: bold;
	color: darkblue;
	padding:auto;
	} */

#input-email input[type=text],
#input-email input[type=email] {
	font-size: 16px;
	font-weight: bold;
	color: darkblue;
	padding:auto;
	background: rgba(220, 220, 230, 0.6);
	border: none;
	outline: none;
}

#input-email input[type=text]:focus, 
#input-email input[type=text]:active, 
#input-email input[type=text]:valid,
#input-email input[type=email]:focus, 
#input-email input[type=email]:active, 
#input-email input[type=email]:valid {
	background: rgba(220, 220, 230, 0.8);
	color: darkblue;
	border: none;
	outline: none;
}

#input-email input:-webkit-autofill,
#input-email input:-webkit-autofill:hover,
#input-email input:-webkit-autofill:focus,
#input-email input:-webkit-autofill:active {
transition: background-color 5000s ease-in-out 0s;
-webkit-text-fill-color: blue;
-webkit-animation: autofill 0s forwards;
outline: none;
border:none;

}
.mytooltip_text {
	min-width: 100%;
	max-width: 100%;
	width: 100%;
}
</style>
	
	<div class="form-group" id="input-email" style="position: relative; margin: auto; padding-left: 7.5%; padding-top: 0px;">
        <label class="label_serializer" id="id_label_email" for="email">  </label>
		{% if user.is_authenticated %}
		<span class="mytooltip_text" data-tooltip="tooltip_input" style="width: 100%; min-width: 100%;">
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="email" autofocus pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" value="{{ user_email }}">
		<span data-tooltiptext="tooltiptext_input">must contain @</span> </span>
		{% else %}
		<span class="mytooltip_text" data-tooltip="tooltip_input">
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="email" required autofocus pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="must contain @" value="">
		<span data-tooltiptext="tooltiptext_input">must contain @</span> </span>
		{% endif %}
        <div class="valid-feedback"  style="text-align:center; margin: auto;">Email field is filled out.</div>
      <div class="invalid-feedback"  style="text-align:center; margin: auto;">Please fill out this field.</div>
    </div>
	