<style>

#inputCurrent_url {
	background-color: rgb(240, 240, 240); /* Fallback color */
	background-color: rgba(240, 240, 240, 0.6); /* Black w/opacity/see-through */
	border-radius: 3px;
	border: 3px solid rgba(240, 240, 240, 0.6);
	box-shadow: 0px 0px 5px 5px rgba(100, 160, 220, 0.6);  
	font-size: 16px;
	font-weight: bold;
	font-family: Helvetica;
	color: blue;
	text-align: justify;
	text-justify: inter-word;
	margin:auto;
	width:90%;
	}		

/* .bs_input {
	background-color: rgb(240, 240, 240); 
	background-color: rgba(240, 240, 240, 0.6); 
	border-radius: 3px;
	border: 3px solid rgba(240, 240, 240, 0.6);
	box-shadow: 0px 0px 5px 5px rgba(100, 160, 220, 0.6);  
	font-size: 18px;
	font-weight: bold;
	font-family: Helvetica;
	color: blue;
	text-align: justify;
	text-justify: inter-word;
	padding:10px;
	margin:auto;
	}	*/

</style>

	<div class="form-group">
		<label class=""> </label>
		<input type="hidden" name="current_url" id="inputCurrent_url" class="form-control"  autocomplete="off" readonly>
	</div>
	
<!--value='{{ current_url }}-->