<style>

#input-password2 input[type=text] {
	font-size: 16px;
	font-weight: bold;
	color: darkblue;
	background: rgba(220, 220, 230, 0.6);
}

#input-password2 input[type=text]:focus, #input-password2 input[type=text]:active, #input-password2 input[type=text]:valid {
	background: rgba(220, 220, 230, 0.8);
	color: darkblue;
}

#input-password2 input:-webkit-autofill,
#input-password2 input:-webkit-autofill:hover,
#input-password2 input:-webkit-autofill:focus,
#input-password2 input:-webkit-autofill:active {
transition: background-color 5000s ease-in-out 0s;
-webkit-text-fill-color: blue;
-webkit-animation: autofill 0s forwards;
outline: none;
border:none;
}

.show_password {
	display: none;
	outline: 4px solid rgba(160, 160, 180, 0.8);
	line-height: 1.2;
	padding-top: 6px;
	padding-bottom: 4px;
	font-size: 12px;
	margin-left: -52px;
	top: -6px;
	background-color: rgba(60, 160, 240, 0.8);
	font-weight: bold;
	color: aliceblue;
	font-variant: small-caps;
	cursor: pointer;
	text-align: center;
	border: none;
	}
	
	.show_password:hover {
	outline: 4px solid red;
	}
	
	.span_mytootlip_text {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	} 

</style>
	
	<div class="form-group" id="input-password2" style="position: relative; margin: 0px auto 0px auto; padding-left: 7.5%; padding-top: 0px;">
        <label class="label_serializer" id="id_label_password2" for="password2">   </label>
		<span class="span_mytooltip_text" data-tooltip="tooltip_input" style="min-width: 100%; width: 100%; max-width: 100%;">
        <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="confirm password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" autocomplete="off" autofocus minlength="8">
		<input class="show_password" id="show_pass2" style="width: 44px;" value="SHOW" readonly>
		<span data-tooltiptext="tooltiptext_input">must contain at least: <br>- one number, <br>- one uppercase, <br>- one lowercase letter, <br>- 8 or more characters <br>- BE THE SAME LIKE FIRST.</span> 
        <div class="valid-feedback"  style="text-align:center; margin-top: 0px; margin-bottom: 0px; margin-left: -3.75%;" >Repeat password field is filled out.</div>
      <div class="invalid-feedback" style="text-align:center; margin-top: 0px; margin-bottom: 0px; margin-left: -3.75%;">Fill out this field with the same password.</div>
	</span>
        </div> 

<script>

var input_pass2 = document.getElementById("inputPassword2");
var show_pass2 = document.getElementById("show_pass2");

if (
	navigator.userAgent.match(/Android/i) ||
	navigator.userAgent.match(/iPhone/i)
  ) {
	input_pass2.addEventListener("touchstart", function() {
	  show_pass2.style.display = "inline";
	});
	  input_pass2.addEventListener("touchend", function() {
	  setTimeout(function(){ 
		show_pass2.style.display = "none"; 
		}, 2000);
	});
  } 
else {
	input_pass2.addEventListener("focus", function() {
	  show_pass2.style.display = "inline";
	});
		
	input_pass2.addEventListener("blur", function() {
	  setTimeout(function(){ 
		  show_pass2.style.display = "none"; 
	}, 2000);
	});
}

show_pass2.onclick = function() {
	if (input_pass2.type === "password") {
	input_pass2.type = "text";
	show_pass2.value = "HIDE";
	} else {
	input_pass2.type = "password";
	show_pass2.value = "SHOW";
	}
}

</script>   