<style>

#input-password1 input[type=text] {
	font-size: 16px;
	font-weight: bold;
	color: darkblue;
	padding:auto;
	background: rgba(220, 220, 230, 0.6);
}

#input-password1 input[type=text]:focus, #input-password1 input[type=text]:active, #input-password1 input[type=text]:valid {
	background: rgba(220, 220, 230, 0.8);
	color: darkblue;
}

#input-password1 input:-webkit-autofill,
#input-password1 input:-webkit-autofill:hover,
#input-password1 input:-webkit-autofill:focus,
#input-password1 input:-webkit-autofill:active {
transition: background-color 5000s ease-in-out 0s;
-webkit-text-fill-color: blue;
-webkit-animation: autofill 0s forwards;
outline: none;
border:none;
}

.mytootlip_text {
	min-width: 100%;
	max-width: 100%;
	width: 100%;
}
</style>
		
		<div class="form-group" id="input-password1">
        <label class="label_serializer" id="id_label_password1" for="password1"> </label>
		<span class="mytootlip_text" data-tooltip="tooltip_input">
        <input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  autocomplete="off" minlength="8">
		<span data-tooltiptext="tooltiptext_input">must contain at least: <br>- one number, <br>- one uppercase, <br>- one lowercase letter, <br>- 8 or more characters.</span> </span>
        <div class="valid-feedback" style="text-align:center; margin: auto;"> Password field is filled out.</div>
      <div class="invalid-feedback"  style="text-align:center; margin: auto;">Please fill out this field.</div>
        </div>
	