<style>

input[type="checkbox"] {
width: 18px;
height:18px;
accent-color:blue;
box-shadow: 
0px 0px 0px 9px rgba(120,130,140, 0.2) inset,
0px 0px 0px 1px blue inset,
0px 0px 0px 1px blue,
0px 0px 4px 3px rgba(220,30,40, 0.4);
margin-right:20px;
/*vertical-align: sub;
outline:1px solid blue;*/
}

input[type="checkbox"]:hover {
box-shadow: 
0px 0px 0px 1px blue inset,
0px 0px 0px 1px blue,
0px 0px 0px 9px rgba(120,130,140, 0.4) inset,
0px 0px 5px 4px rgba(220,30,40, 0.6);
/*vertical-align: sub;
outline:1px solid blue;*/
}

input[type="checkbox"]:checked {
box-shadow: 
/*0px 0px 0px 2px blue inset,*/
0px 0px 0px 1px blue ,
0px 0px 0px 1px blue inset,
0px 0px 6px 5px rgba(220,230,240, 0.6);
/*outline:2px solid green;*/

}

input[type="checkbox"]:checked:hover {
box-shadow: 
0px 0px 0px 1px blue inset,
0px 0px 0px 1px blue,
0px 0px 7px 6px rgba(220,230,240, 0.8);
}

.checkbox-label {
  font-size:22px;
  /*vertical-align: text-bottom;*/
  color: blue;
  font-weight:bold;
  font-variant:small-caps;
  margin-right:-20px;
}

.bs_input_checkbox {
  align-content: center; 
  /*padding:12px 5px 8px 5px; 
  height:30px;*/
  justify-content: center;
	text-align: center;
  margin-top:12px; 
  margin-bottom:10px;
}
</style>

<div class="bs_input_checkbox">
    <input type="checkbox" id="" name="" value="">
    <label class="checkbox-label" for=""> Remember me</label>
  </div>