<style>
/*
#inputPassword {
	background-color: rgb(240, 240, 240); 
	background-color: rgba(240, 240, 240, 0.6);
	border-radius: 3px;
	border: 3px solid rgba(240, 240, 240, 0.6);
	box-shadow: 0px 0px 5px 5px rgba(100, 160, 220, 0.6);  
	font-size: 16px;
	font-weight: bold;
	font-family: Helvetica;
	color: blue;
	text-align: justify;
	text-justify: inter-word;
	margin:auto;
	width:90%;
	font-family:Times;
	}		

.bs_input_password {
	background-color: rgb(240, 240, 240); 
	background-color: rgba(240, 240, 240, 0.6); 
	border: 3px solid rgba(240, 240, 240, 0.6);
	box-shadow: 0px 0px 5px 5px rgba(100, 160, 220, 0.6);  
	font-size: 16px;
	font-weight: bold;
	font-family: Helvetica;
	color: blue;
	text-align: justify;
	text-justify: inter-word;
	padding:10px auto 10px auto;
	margin:auto;
	font-family:Times;
	}	

	#id_label_password {
		color: MediumBlue; 
		font-size: 22px; 
		font-family:Times;
		margin:5px auto auto 5%
	}*/

	#input-password input:-webkit-autofill,
	#input-password input:-webkit-autofill:hover,
	#input-password input:-webkit-autofill:focus,
	#input-password input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
	-webkit-text-fill-color: blue;
	-webkit-animation: autofill 0s forwards;
	outline: none;
	border:none;
	}

	.mytootlip_text {
		min-width: 100%;
		max-width: 100%;
		width: 100%;
	}
	</style>
		
		<div class="form-group" id="#input-password">
        <label class="label_serializer" id="id_label_password" for="password">  </label><span class="mytootlip_text" data-tooltip="tooltip_input">
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" autocomplete="off" minlength="8">
		<span data-tooltiptext="tooltiptext_input">must contain at least: <br>- one number, <br>- one uppercase, <br>- one lowercase letter, <br>- 8 or more characters.</span> </span>
        <div class="valid-feedback" style="text-align:center; margin: auto;">Password field is filled out.</div>
      <div class="invalid-feedback"  style="text-align:center; margin: auto;">Please fill out this field.</div>
        </div>

		<!--title="must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"-->
	