<style>

/* #inputUsername {
	font-size: 16px;
	font-weight: bold;
	color: darkblue;
	padding:auto;
} */

#input-username input[type=text] {
	font-size: 16px;
	font-weight: bold;
	color: darkblue;
	padding:auto;
	background: rgba(220, 220, 230, 0.6);
}

#input-username input[type=text]:focus, #input-username input[type=text]:active,#input-username input[type=text]:valid {
	background: rgba(220, 220, 230, 0.8);
	color: darkblue;
}


#input-username input:-webkit-autofill,
#input-username input:-webkit-autofill:hover,
#input-username input:-webkit-autofill:focus,
#input-username input:-webkit-autofill:active {
transition: background-color 5000s ease-in-out 0s;
-webkit-text-fill-color: blue;
-webkit-animation: autofill 0s forwards;
outline: none;
border:none;
}


  .span_mytootlip_text {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }  

</style>

	<div class="form-group" id="input-username" style="position: relative; margin: auto; padding-left: 7.5%; padding-top: 0px;">
		<label class="label_serializer" id="id_label_username" for="username">  </label>
		{% if request.user.is_authenticated %}
		<span class="mytooltip_text_span" data-tooltip="tooltip_input" style="min-width: 100%; width: 100%; max-width: 100%;">
		<input type="text" name="username" id="inputUsername" placeholder="username" class="form-control" required autofocus  minlength="3" value="{{ request.user.username }}" title="">
		<span data-tooltiptext="tooltiptext_input">must have at least: <br>- 3 characters.</span>
		<div class="valid-feedback" style="text-align:center; margin-top: 0px;">Username field is filled out.</div>
		<div class="invalid-feedback"  style="text-align:center; margin-top: 0px;">Please fill out this field.</div>
		</span>
		{% elif not request.user.is_authenticated %}
		<span class="mytooltip_text_span" data-tooltip="tooltip_input" style="min-width: 100%; width: 100%; max-width: 100%;">
		<input type="text" name="username" id="inputUsername" placeholder="username" class="form-control" required autofocus minlength="3" value="" title="">	
		<span data-tooltiptext="tooltiptext_input">must have at least: <br>- 3 characters.</span>
		<div class="valid-feedback" style="text-align:center; margin-top: 0px;">Username field is filled out.</div>
		<div class="invalid-feedback"  style="text-align:center; margin-top: 0px;">Please fill out this field.</div>
		</span>
		{% endif %}
	
	  </div>



	<!---	<div class="valid-feedback" id="valid">Username field is filled out.</div>
	<div class="invalid-feedback" id="valid">Please fill out this field.</div>
	  </div>-->
	