<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  <script> 
  var log_reg = $.noConflict()
  log_reg(document).ready(function(){
    log_reg("#collapsible").click(function(){
      log_reg("#content_collapsible").slideToggle(3000);
    });
    log_reg("#collapsible").mouseenter(function(){
      log_reg("#myBtna").toggle(2000);
      log_reg("#myBtn1a").toggle(2000);
      log_reg("#myBtn").toggle(2000);
      log_reg("#myBtn1").toggle(2000);
      log_reg("#myBtn_dark_main").toggle(2000);
    });
  });
  </script>

  {% include 'snippets/out_log_css.html' %}
    
<style>
/*
#top_jumb {
position: relative;
top: 4px;
z-index:1;
padding:auto;
padding: 10px 0px 0px 0px;
margin-bottom: -6px;
}*/

/*
#main_cont_log_btns {
position: relative;
z-index: 44;
width: 220px;
margin:2px auto 0px auto; 
}

#row_btn_log {
min-height: 48px;
margin: auto;
justify-content: center;
align-items: center;  
}

#btn_log {
position: fixed;
justify-content: center;          
z-index:44; 
}

#main_cont_collapsible {
z-index:44; 
position:fixed; 
margin:auto; 
padding:auto;
justify-content:center; 
align-items:center; 
top:56px;
}

#collapsible {  
min-height: 46px;       
font-weight:bold;
font-size: 22px;
width: 200px;
margin: 0vw 2vw 0vw 2vw;
color: rgb(178, 34, 34);    
line-height: 1;
background-color: rgb(100, 160, 220);
background-color:  rgba(100, 160, 220, 0.8);
padding:14px auto 10px auto ;
transition-duration:0.2s;
}

#collapsible:hover {
background-color: rgb(100, 160, 240);
background-color:  rgba(100, 160, 240, 0.9);
} 

#collapsible:active {
background-color: rgb(100, 160, 240);
background-color:  rgba(100, 160, 240, 0.9);
} 

#d_flex  {
margin:auto;
z-index: 44;
justify-content:center; 
align-items:center; 
}

#collapsible:focus {
border: none;
outline: none;
}


#content_collapsible { 
z-index: 44;
margin-left:50%;
width:440px;
font-size: 28px;
font-family: Georgia;
font-weight: bold;
border: 4px solid rgba(90, 150, 210, 0.2);
border-radius: 2px;
display:none;
margin-top:10px;
text-align:center;
background: rgba(90, 150, 210, 0.8);
border-radius:4px;
box-shadow: 
-1px -1px 0px 0px rgba(151, 191, 231, 0.6), 
1px 1px 0px 0px rgba(151, 191, 231, 0.6),
-2px 2px 0px 0px rgba(151, 191, 231, 0.6), 
2px 2px 0px 0px rgba(151, 191, 231, 0.6),

0px 2px 2px 3px rgba(110, 170, 210, 0.4),
0px 3px 2px 0px rgba(90, 150, 210, 0.6), 
-1px 6px 2px 0px rgba(80, 140, 200, 0.8), 

1px 8px 8px 0px rgba(119, 120, 123, 0.6), 
0px 10px 8px 0px rgba(77, 77, 79, 0.6), 
0px 12px 8px 0px rgba(51, 51, 53, 0.6);

}

#content_collapsible:hover {
box-shadow:
-1px -1px 0px 0px rgba(151, 191, 231, 0.6), 
1px 1px 0px 0px rgba(151, 191, 231, 0.6),
-2px 2px 0px 0px rgba(151, 191, 231, 0.6), 
2px 2px 0px 0px rgba(151, 191, 231, 0.6),

0px 2px 2px 3px rgba(110, 170, 210, 0.4),
0px 3px 2px 0px rgba(90, 150, 210, 0.6), 
-1px 6px 2px 0px rgba(80, 140, 200, 0.8), 

0px 2px 4px 3px rgba(220, 230, 240, 0.8),
0px 3px 4px 0px rgba(220, 230, 240, 0.8), 
-1px 6px 6px 0px rgba(220, 230, 240, 0.8), 

1px 8px 8px 0px rgba(220, 230, 240, 0.6), 
0px 10px 8px 0px rgba(220, 230, 240, 0.6), 
0px 12px 8px 0px rgba(220, 230, 240, 0.6);
}
    
#btn_signin {
float:left;
color: DodgerBlue; 
background-color: rgb(160, 160, 160);
background-color:  rgba(160, 160, 160, 0.8);
border:none;
border-radius: 2px;
text-align: center;
font-family: Times;
width: 100px;
font-size: 24px;
font-weight: bold;
padding:6px;
}

#btn_signin:hover {
background-color: rgb(200, 200, 200);
background-color:  rgba(200, 200, 200, 0.9);
} 

#btn_signin:focus {
border: none;
outline: none;
}

#btn_login {
float:right;
color: DodgerBlue; 
background-color: rgb(160, 160, 160);
background-color:  rgba(160, 160, 160, 0.8);
border:none;
border-radius: 2px;
text-align: center;
font-family: Times;
width: 100px;
font-size: 24px;
font-weight: bold;
padding:6px;
border:none;
}

#btn_login:hover {
background-color: rgb(200, 200, 200);
background-color:  rgba(200, 200, 200, 0.9);
} 


#close_btn_x {
color: white;
float: right;
font-size: 24px;
font-weight: bold;
background: rgb(177, 179, 182);
padding:2px 4px 4px 4px;
cursor: pointer;

}

#close_btn_x:hover {
color: blue;
background: rgba(90, 150, 210, 0.8);
text-decoration: none;
cursor: pointer;

}

#close_btn_x:active {
color: red;
background: rgb(177, 179, 182);
text-decoration: none;
cursor: pointer;
}

#clear_btn {
background-color: rgb(120, 180, 240);
background-color: rgb(120, 180, 240, 0.6);
color: white;
padding: 4px 6px 4px 6px;
font-size: 14px;
margin: auto;
border: none;
cursor: pointer;
width: 80%;
opacity: 0.9;
border-radius: 3px;
} 

.cancelbtn {
background-color: rgba(248, 118, 109, 0.8);
color: white;
padding: 6px 12px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
border-radius: 3px;
} 

.cancelbtn:hover {
background-color: rgba(244, 51, 37, 0.9);
}

.signupbtn {
background-color: rgba(153, 204, 255, 0.8);
color: white;
padding: 6px 12px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
border-radius: 3px;
}

.signupbtn:hover {
background-color: rgba(0, 128, 255, 0.9);
}

#bs_input {
background-color: rgb(200, 210, 220); 
background-color: rgba(200, 210, 220, 0.4); 
border-radius: 2px;
border: 2px solid rgba(100, 160, 220, 0.4);
box-shadow: 0px 0px 5px 5px rgba(100, 110, 120, 0.4);  
padding: 10px;
font-size: 14px;
font-family: Times;
}

.clearfix::after {
content: "";
clear: both;
display: table;
}

#btns_reg {
border:none;
}

#btns_reg:focus {
border: none;
outline: none;
}

#cancelbtn {
border: none;
outline: none;
}
*/

</style>
<style>

  /*
@keyframes opacityanime {
from {opacity:1;} 
to {opacity:0;}
}

@keyframes modalfadeout {
from {background-color: rgba(20, 100, 200, 0.4);} 
to {background-color: rgba(20, 100, 200, 0.0);}
}

@keyframes modalfadein {
from {background-color: rgba(20, 100, 200, 0.0);} 
to {background-color: rgba(20, 100, 200, 0.4);}
}

@keyframes noconic {
  from { backdrop-filter: blur(4px);}
  to{ backdrop-filter: blur(0px);}
}

#mymodalSignin, #mymodalLogin {
position: fixed;
z-index:55;
display:none;
left: 0;
top: 0;
width: 100%; 
height: 100%; 
animation:noname;
transition:0.2s;
background-color: rgb(20, 100, 200); 
background-color: rgba(20, 100, 200, 0.4); 
-webkit-backdrop-filter: blur(4px);
backdrop-filter: blur(4px);
}

#mymodalSignin:hover, #mymodalLogin:hover {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
background-color: rgb(20, 100, 200); 
background-color: rgba(20, 100, 200, 0.6); 
}

#mymodalSigninCont, #mymodalLoginCont {
position: fixed;
z-index:66;
top: 60px;
display:none;
width: 560px;
left:50%;
margin-left: -280px;
font-family: Times;
padding: 5px;
font-size:18px;
text-align: center;
font-weight: bold;
border-radius: 4px;
border: 10px solid rgba(140, 140, 180, 0.6);
box-shadow:
0px 2px 10px 10px rgba(60, 70, 80, 0.2); 
padding: 10px;
animation-delay: 2s;
animation: noname2;
transition: 0.2s;
}

#mymodalSigninCont:hover, #mymodalLoginCont:hover {
scale:1.01;
-webkit-backdrop-filter: none;
backdrop-filter: none;
box-shadow:
0px 2px 10px 10px rgba(229, 230, 243, 0.4);
} 

@keyframes unzoomrotate {
from {transform:scale(1); rotate:360deg;} 
to {transform:scale(0); rotate: 0deg;}
} 
@keyframes zoomrotate {
from {transform:scale(0); rotate:0deg;} 
to {transform:scale(1); rotate: 360deg;}
} 

@keyframes unzoom {
from {transform:scale(1);} 
to {transform:scale(0);
}
}

@keyframes zoom {
from {transform:scale(0);} 
to {transform:scale(1);
}
}

@keyframes animatetopback {
from {top: 0px; }
to {top:-1000px; }
}

.column_mymodalAccount {
border-radius: 4px;
margin: auto;
border: 6px solid rgba(240, 240, 240, 0.6);
padding:10px;
}

.mymodal_AccountHeader {
background-color: rgb(140, 140, 180); 
background-color: rgba(140, 140, 180, 0.6);
border-radius: 4px;
border: 6px solid rgba(240, 240, 240, 0.6);
margin: auto;
padding:5px;
}

.mymodal_AccountBody {
background-color: rgb(140, 140, 160); 
background-color: rgba(140, 140, 160, 0.6);
border-radius: 4px;
border: 6px solid rgba(240, 240, 240, 0.6);
margin: 10px auto 10px auto;
padding: 5px;
overflow: auto;
max-height: 440px;
}

#mymodalSigninBody {
}

.label_first {
font-size:24px; 
color:blue; 
margin:4px auto 2px auto;
}

.label {
font-size:24px; 
color:blue; 
margin: -20px auto 2px auto;
font-variant: small-caps;
}

.mymodal_AccountFooter {
background-color: rgb(140, 140, 180); 
background-color: rgba(140, 140, 180, 0.6);
border-radius: 4px;
border: 6px solid rgba(240, 240, 240, 0.6);
margin: auto auto 14px auto;
padding: 5px 20px 5px 20px;
height: 80px;
}

#msg_id {
font-size: 26px;
color: rgba(20, 60, 220, 0.8);
font-weight: bold;
}

#msg_red_id {
font-size: 26px;
color: rgba(220, 20, 20, 0.8);
font-weight: bold;
}

.close {
transition: 0.2s;
color:rgba(220, 230, 240, 0.6);
background: rgba(100, 160, 22, 0.6);
}

.close:hover {
color:rgba(100, 160, 22, 0.8);
background: rgba(220, 230, 240, 0.8);
}

.close_m_acc {
color: white;
float: right;
font-size: 28px;
font-weight: bold;
margin: -5px 5px 20px auto;
transition: 0.2s;
}

.close_m_acc:hover,
.close_m_acc:focus {
color: blue;
scale:1.01.;
text-decoration: none;
cursor: pointer;
}

.close_mb_acc {
color: rgba(220, 60, 20, 0.8);
border: 6px solid rgba(220, 60, 20, 0.8);
border-radius: 2px;
background: rgba(100, 160, 220, 0.1);
font-size: 24px;
font-weight: bold;
margin: 5px auto auto auto;
padding: 4px auto 6px auto;
width:110px;
float:left;
transition: 0.2s;
cursor: pointer;
padding:: auto;
font-variant: small-caps;
}

.close_mb_acc:hover {
background: rgba(20, 60, 220, 0.8);
}

.close_mb_acc:focus {
text-decoration: none;
cursor: pointer;
}

.close_mb_acc:active {
transform: translateY(2px);
scale: 0.96;
}

.btn_submit {
color: rgba(20, 60, 220, 0.8);
border: 6px solid rgba(20, 60, 220, 0.8);
border-radius: 2px;
background: rgba(100, 160, 220, 0.1);
font-size: 24px;
font-weight: bold;
margin: 5px auto auto auto;
width:110px;
float:right;
transition: 0.2s;
cursor: pointer;
padding: 4px auto 6px auto;
font-variant: small-caps;
}

.btn_submit:hover {
background: rgba(220, 60, 20, 0.8);
}

.btn_submit:active {
transform: translateY(2px);
scale: 0.96;
}

#a_submit_t {
animation-name: anime_submit_t;
animation-duration: 8s;
animation-iteration-count: infinite;
}

.mymodal_AccountBody input[type=text], 
.mymodal_AccountBody input[type=email], 
.mymodal_AccountBody input[type=password] {
font-size: 16px; 
font-weight: bold;
color:darkblue; 
width:90%; 
margin: 0px auto 2px auto;
padding-top: 6px;
display: inline-block;
border-radius: 2px;    
box-shadow:
0px 0px 0px 2px rgba(10, 115, 230, 0.4) inset,
0px 0px 0px 2px rgba(220, 220, 240, 0.4);
background:rgb(240, 248, 255);
background:rgba(240, 248, 255, 0.2);
}

.mymodal_AccountBody input[type=text]:hover, 
.mymodal_AccountBody input[type=email]:hover, 
.mymodal_AccountBody input[type=password]:hover {
background:rgb(240, 248, 255);
background:rgba(240, 248, 255, 0.6);
box-shadow:
0px 0px 0px 2px rgba(10, 115, 230, 0.6) inset,
0px 0px 0px 2px rgba(220, 220, 240, 0.4);
}

.mymodal_AccountBody input[type=text]:focus, 
.mymodal_AccountBody input[type=email]:focus , 
.mymodal_AccountBody input[type=password]:focus {
background:rgb(240, 248, 255);
background:rgba(240, 248, 255, 0.8);
box-shadow:
0px 0px 0px 2px rgba(10, 115, 230, 0.8) inset,
0px 0px 0px 2px rgba(220, 220, 240, 0.6);
border:none;
outline: none;
}

.mymodal_AccountBody .psw {
color:blue;
margin-top: 0px;
}

#valid {
font-size:16px; 
margin: auto auto -10px auto;
font-variant: small-caps;
}

.mymodal_AccountBody .container-check {
display: block;
cursor: pointer;
font-size: 22px;
color:blue;
font-variant: small-caps;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
margin:10px auto 10px auto;
}

.mymodal_AccountBody .container-check input {
margin-right: 20px;
cursor: pointer;
height: 14px;
width: 14px;
background-color: blue;
}
*/
</style>
    

<script>
  $(document).ready(function(){
    $(".m_remove").mouseenter(function(){
      $(".m_remove").remove();
      
    });
  });
  </script>

  <div class="my_container_top_btns" style="top:2px;">
    <div class="my_row_top_btns">
       
      <div id="collapsible" class="myBtns_acc_m notranslate" ><p class="h5vw_btn" id="btn_door_text"> "BOOK'S GATE" </p></div>
       
      </div>
    </div>
    
    <div class="container-fluid" style="" id="main_cont_collapsible">
    	<div class="d-flex flex-column" style="" id="d_flex">
    
    <div class="m-auto" id="content_collapsible">
      
        <p class="" style="animation: anime-text-red 2s infinite; margin-top: 30px; margin-bottom: 30px; color: rgba(0, 0, 220, 0.9)">TO USE THE APP <br>TO OPEN THE GATE :) <br> YOU MUST BE LOGGED IN<br>IF YOU DON'T HAVE<br>ACCOUNT CREATE IT </p>
        

  
      <div class="btn_in notranslate"  id="btn_signin" style="margin-bottom: 4px; padding-bottom: 2px;"><p class="h5vw_btn" > sign in </p></div>
      
      <div class="btn_in notranslate" id="btn_login" style="margin-bottom: 4px; padding-bottom: 2px;" ><p class="h5vw_btn">  log in </p></div>
   
      <br>
      <!-- The Modal -->
      
    
          </div>
            </div>
              </div>

              {% include 'snippets/modal_signin.html' %}
              {% include 'snippets/modal_login.html' %}


        

   
        
    