<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <script> 
  var log_reg = $.noConflict()
  log_reg(document).ready(function(){
    log_reg("#collapsible").click(function(){
      log_reg("#content_collapsible").slideToggle("slow");
    });
    log_reg("#collapsible").mouseenter(function(){
      log_reg("#myBtna").toggle("slow");
      log_reg("#myBtn1a").toggle("slow");
      log_reg("#myBtn").toggle("slow");
      log_reg("#myBtn1").toggle("slow");
      log_reg("#myBtn_dark_back").toggle("slow");
      log_reg("#myBtn_dark_back_s").toggle("slow");
      log_reg("#myBtn_mail_sender").toggle("slow");
    });
  });
  </script>

  {% include 'snippets/out_log_css.html' %}
    

<script>
  $(document).ready(function(){
    $(".m_remove").mouseenter(function(){
      $(".m_remove").remove();
      
    });
  });
  </script>

  <div class="my_container_top_btns" style="top:2px;">
    <div class="my_row_top_btns">
       
      <div id="collapsible" class="myBtns_acc_m notranslate" ><p class="h5vw_btn" id="btn_door_text"> "BOOK'S GATE" </p></div>
       
      </div>
    </div>
    
    <!--<div class="container-fluid" style="" id="main_cont_collapsible">
    	<div class="d-flex flex-column" style="" id="d_flex">
      <div class="m-auto" id="content_collapsible">-->
      <div class="container_fluid_collapsible" style="" id="main_cont_collapsible">
      <div class="d_flex_flex_column" style="" id="d_flex_flex_column_id">
      <div class="m_auto" id="content_collapsible">
      
        <p class="" style="animation: anime-text-red 2s infinite; margin-top: 30px; margin-bottom: 30px; color: rgba(0, 0, 220, 0.9)">TO USE THE APP <br>TO OPEN THE GATE :) <br> YOU MUST BE LOGGED IN<br>IF YOU DON'T HAVE<br>ACCOUNT CREATE IT </p>
        

  
      <div class="btn_in notranslate"  id="btn_signin" ><p class="h5vw_btn" id="p_btn_signin"> SIGN IN </p></div>
      
      <div class="btn_in notranslate" id="btn_login"  ><p class="h5vw_btn" id="p_btn_login">  LOG IN </p></div>
   
      <br>
      <!-- The Modal -->
      
    
          </div>
            </div>
              </div>

              {% include 'snippets/modal_signin.html' %}
              {% include 'snippets/modal_login.html' %}


        

   
        
    