<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  <script> 
  var log_reg = $.noConflict()
  log_reg(document).ready(function(){
    log_reg("#collapsible").click(function(){
      log_reg("#content_collapsible").slideToggle(3000);
    });
    log_reg("#collapsible").mouseenter(function(){
      log_reg("#myBtna").toggle(2000);
      log_reg("#myBtn1a").toggle(2000);
      log_reg("#myBtn").toggle(2000);
      log_reg("#myBtn1").toggle(2000);
      log_reg("#myBtn_dark_back").toggle(2000);
      log_reg("#myBtn_dark_back_s").toggle(2000);
      log_reg("#myBtn_mail_sender").toggle(2000);
    });
  });
  </script>

  {% include 'snippets/out_log_css.html' %}
    

<script>
  $(document).ready(function(){
    $(".m_remove").mouseenter(function(){
      $(".m_remove").remove();
      
    });
  });
  </script>

  <div class="my_container_top_btns" style="top:2px;">
    <div class="my_row_top_btns">
       
      <div id="collapsible" class="myBtns_acc_m notranslate" ><p class="h5vw_btn" id="btn_door_text"> "BOOK'S GATE" </p></div>
       
      </div>
    </div>
    
    <div class="container-fluid" style="" id="main_cont_collapsible">
    	<div class="d-flex flex-column" style="" id="d_flex">
    
    <div class="m-auto" id="content_collapsible">
      
        <p class="" style="animation: anime-text-red 2s infinite; margin-top: 30px; margin-bottom: 30px; color: rgba(0, 0, 220, 0.9)">TO USE THE APP <br>TO OPEN THE GATE :) <br> YOU MUST BE LOGGED IN<br>IF YOU DON'T HAVE<br>ACCOUNT CREATE IT </p>
        

  
      <div class="btn_in notranslate"  id="btn_signin" style="margin-bottom: 4px; padding-bottom: 2px;"><p class="h5vw_btn" > sign in </p></div>
      
      <div class="btn_in notranslate" id="btn_login" style="margin-bottom: 4px; padding-bottom: 2px;" ><p class="h5vw_btn">  log in </p></div>
   
      <br>
      <!-- The Modal -->
      
    
          </div>
            </div>
              </div>

              {% include 'snippets/modal_signin.html' %}
              {% include 'snippets/modal_login.html' %}


        

   
        
    