<style type="text/css">
  .my_container_marque {
      position:relative;
      z-index: 1;
      padding: 2px -2px 0px -2px;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: -14px auto -10px auto; 
       color: MediumBlue;
      font-family: Georgia; 
      font-weight: bold; 
      font-size: 36px; 
      text-shadow: -0.015em 0.015em 0.0em rgb(211, 211, 211), -0.03em 0.03em 0.015em rgb(211, 211, 211), 0.04em 0.0em 0.02em rgb(128, 128, 128) ,0.02em 0.02em 0.01em rgb(128, 128, 128)    
    }
  
  
  </style>
  
  <div class="my_container_marque" id="mycontainer_marque" >
      
      <marquee marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();"  > ☞ FEEL &nbsp; FREE &nbsp; TO &nbsp; USE &nbsp; WEB - APPLICATION &nbsp; THAT &nbsp; ALLOWS &nbsp; TO >>> SEARCH &nbsp; & &nbsp; FIND <<< &nbsp; ☼ &nbsp; >>> SAVE &nbsp; & &nbsp; READ <<< &nbsp; BOOKS &nbsp; FROM  &nbsp; AROUND &nbsp; THE &nbsp; WORLD ☜ </marquee>
    
  </div>