<style>

  @keyframes opacityanime {
  from {opacity:1;} 
  to {opacity:0;}
  }
  
  @keyframes modalfadeout {
  from {background-color: rgba(20, 100, 200, 0.4);} 
  to {background-color: rgba(20, 100, 200, 0.0);}
  }
  
  @keyframes modalfadein {
  from {background-color: rgba(20, 100, 200, 0.0);} 
  to {background-color: rgba(20, 100, 200, 0.4);}
  }
  
  #mymodal_messages_main_part {
  position: fixed;
  display:none;
  z-index:77;
  /*
  display:none;padding-top: 100px;  Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(20, 100, 200); 
  background-color: rgba(20, 100, 200, 0.4); 
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  animation:noname;
  }
  
  /* Modal Content */
  #modal_cont_messages_main_part {
    position: relative;
    z-index:88;
    display:none;
    top: 60px;
    width: 560px;
    max-width: 96%;
    background-color: rgba(60, 160, 240, 0.4);
    border-radius: 4px;
    box-shadow: 
    0px 0px 10px 10px rgba(160, 170, 180, 0.4),
    0px 10px 20px 0px rgba(160, 170, 180, 0.4),
    -6px 0px 16px 0px rgba(160, 170, 180, 0.4),
    6px 0px 16px 0px rgba(160, 170, 180, 0.4),
    0px 10px 16px 0px rgba(160, 170, 180, 0.4),
    0px -6px 16px 0px rgba(160, 170, 180, 0.4);
    border: 6px solid rgba(60, 160, 240, 0.8);
    padding: 10px;
    animation-delay: 2s;
    animation: noname2;
    transition: 0.1s;
    margin-left:auto;
    margin-right:auto;
    margin-top: 60px;
  }
  
  #modal_cont_messages_main_part:hover {
  background: rgba(60, 160, 240, 0.6);
    box-shadow: 
	0px 4px 16px 10px rgba(220, 230, 240, 0.4),
  	0px 0px 30px 290px rgba(220, 230, 240, 0.4) inset;
  }
  
   #modal_cont_messages_main_part:active {
  background: rgba(60, 160, 240, 0.6);
    box-shadow: 
	0px 4px 16px 10px rgba(230, 240, 250, 0.6),
  	0px 0px 30px 290px rgba(230, 240, 250, 0.6) inset;
  }
  
  @keyframes unzoomrotate {
    from {transform:scale(1); rotate:360deg;} 
    to {transform:scale(0); rotate: 0deg;}
  } 
  @keyframes zoomrotate {
    from {transform:scale(0); rotate:0deg;} 
    to {transform:scale(1); rotate: 360deg;}
  } 
  
  /* Add Animation */
  @keyframes unzoom {
    from {transform:scale(1);} 
    to {transform:scale(0);
    }
  }
  
  @keyframes zoom {
    from {transform:scale(0);} 
    to {transform:scale(1);
    }
  }
  
  @keyframes animatetopback {
    from {top: 0px; }
    to {top:-1000px; }
  }
  
  @keyframes slideDown {
    0% {
      transform: translateY(0%);
    }
    50%{
      transform: translateY(8%);
    }
    65%{
      transform: translateY(-4%);
    }
    80%{
      transform: translateY(4%);
    }
    95%{
      transform: translateY(-2%);
    }			
    100% {
      transform: translateY(0%);
    }		
  }
  
  @-webkit-keyframes slideDown {
    0% {
      -webkit-transform: translateY(0%);
    }
    50%{
      -webkit-transform: translateY(8%);
    }
    65%{
      -webkit-transform: translateY(-4%);
    }
    80%{
      -webkit-transform: translateY(4%);
    }
    95%{
      -webkit-transform: translateY(-2%);
    }			
    100% {
      -webkit-transform: translateY(0%);
    }	
  }
  
  @keyframes slideUp {
    0% {opacity: 1;
      height: 100%;
      transform: translateY(20%);
    }
    50%{
      transform: translateY(8%);
    }
    65%{
      transform: translateY(-4%);
    }
    80%{
      transform: translateY(4%);
    }
    95%{
      transform: translateY(-2%);
    }			
    100% {opacity: 0;
      height: 0%;
      transform: translateY(20%);
    }		
  }
  /* Modal Content 
  #modal-cont_messages {
  border-radius: 4px;
  border: 6px solid rgba(240, 240, 240, 0.6);
  margin: 120px auto auto auto;*/
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }*/

#modal_row_messages_main_part {
  background-color: rgb(60, 160, 240); 
  background-color: rgba(60, 160, 240, 0.0);
  border: 6px solid rgba(60, 160, 240, 0.8);
  box-shadow: 
  0px 0px 4px 4px rgba(160, 170, 180, 0.2);
  border-radius: 4px;
  padding: 10px;
  margin:auto;
}

#modal_col_messages_main_part {
  background-color: rgb(60, 160, 240); 
  background-color: rgba(60, 160, 240, 0.0);
  border: 6px solid rgba(60, 160, 240, 0.8);
  box-shadow: 
  0px 0px 4px 4px rgba(160, 170, 180, 0.2);
  border-radius: 4px;
  padding: 10px;
  margin:auto;
  }
  
    
 #modal_header_messages_main_part {
  background-color: rgb(140, 140, 140); 
  background-color: rgba(140, 140, 140, 0.4);
  border-radius: 4px;
 border: 6px solid rgba(60, 160, 240, 0.8);
  margin: auto;
  padding:5px;
  transition: 0.1s;
  text-align:center;
  }

 #modal_header_messages_main_part:hover {
    background-color: rgb(180, 180, 180); 
    background-color: rgba(180, 180, 180, 0.8);
  }
  
 #modal_header_messages_main_part:active {
    background-color: rgb(180, 180, 180); 
    background-color: rgba(180, 180, 180, 0.8);
  }
  
  #modal_body_messages_main_part {
  background-color: rgb(140, 140, 140); 
  background-color: rgba(140, 140, 140, 0.4);    
  border-radius: 4px;
  border: 6px solid rgba(60, 160, 240, 0.8);
  border-radius: 4px;
  padding: 10px;
  margin: 10px auto 10px auto;
  max-height: 440px;
  transition: 0.1s;
  overflow:auto;
  text-align:center;
  }
 
 #modal_body_messages_main_part:hover {
  background-color: rgb(180, 180, 180); 
  background-color: rgba(180, 180, 180, 0.6);
}
  
 #modal_body_messages_main_part:active {
    background-color: rgb(180, 180, 180); 
    background-color: rgba(180, 180, 180, 0.8);
  }

#modal_footer_messages_main_part {
  justify-content:center;
  text-align:center;
  background-color: rgb(140, 140, 140); 
  background-color: rgba(140, 140, 140, 0.4);
  border-radius: 4px;
  border: 6px solid rgba(60, 160, 240, 0.8);
  margin:auto;
  padding:10px auto 10px auto;
  transition: 0.1s;
  }

#modal_footer_messages_main_part:hover {
  background-color: rgb(180, 180, 180); 
  background-color: rgba(180, 180, 180, 0.6);
}
  
#modal_footer_messages_main_part:active {
    background-color: rgb(180, 180, 180); 
    background-color: rgba(180, 180, 180, 0.8);
    }
    
.close_m_part {
  color:  rgba(220, 230, 240, 0.6);
  float: right;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
  font-family:helvetica;
  color: rgba(220, 230, 240, 0.6);
  text-shadow:
  -0.06em 0.06em 0.04em rgba(0, 0, 209, 0.6)
  }
  
.close_m_part:hover {
  text-shadow:
  -0.06em 0.06em 0.04em rgba(9, 109, 209, 0.8)
  color:  rgba(230, 240, 250, 0.8);
  }

.close_m_part:active {
  transform: matrix(0.98, 0, 0, 0.98, 0, 2);
  color: rgba(20, 20, 220, 0.9);
    text-shadow:
  -0.03em 0.03em 0.02em rgba(220, 230, 240, 0.8);
  }

.close_m_part:focus {
  border:none;
  outline:none;
  text-decoration: none;
  }
 
.close_mb_part {
  text-shadow:
  0.04em 0.06em 0.04em rgba(60, 80, 100, 0.6);
  position:relative;
  background-color: rgba(40, 160, 240, 0.4);
  border-width: 6px;
  border-style: solid; 
  color: rgba(160, 170, 180, 0.8); 
  border-color: rgba(80, 180, 240, 0.8) rgba(40, 140, 220, 0.8) rgba(20, 120, 180, 0.8) rgba(40, 140, 220, 0.8);
  border-radius:2px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight:bold;
  font-family:Times;
  font-variant: small-caps;
  font-size: 20px;
  min-width: 140px;
  width: 140px;
  margin: 14px auto 14px auto;  
  box-shadow:
  0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
  0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
  0px 0px 4px 4px rgba(220, 220, 230, 0.4);
  transition: 0.2s;
  min-height: 42px;
  max-height: 42px;
line-height: 1;
  }
  
.close_mb_part:hover,
.close_mb_part:focus {
  background-color: rgba(40, 160, 240, 0.6); 
  color: rgba(190, 200, 210, 0.8);
  border-color: rgba(80, 180, 240, 0.6) rgba(40, 140, 220, 0.6) rgba(20, 120, 180, 0.6) rgba(40, 140, 220, 0.6);
  box-shadow: 
  0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
  0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
  0px 0px 4px 4px rgba(230, 240, 240, 0.6);
  }
  
.close_mb_part:active {
  color: rgba(210, 220, 230, 0.8);
  transform: matrix(0.98, 0, 0, 0.98, 0, 2);
  box-shadow: 
  0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
  0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
  0px 0px 2px 2px rgba(230, 240, 240, 0.8);
  background-color: rgba(40, 160, 240, 0.8);
  border-color: rgba(80, 180, 240, 0.6) rgba(40, 140, 220, 0.6) rgba(20, 120, 180, 0.6) rgba(40, 140, 220, 0.6);
  }
  
#a_submit_t {
  animation-name: anime_submit_t;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  }
  
@keyframes anime_submit_t {
  50% {color: rgba(200, 0, 0, 0.9);}
    }  

@keyframes anime_red_text {
      50% {color: 200, 0, 0, 0.9;}
        } 

.title_account {
  font-size: 30px; 
  font-family:Times;
  font-variant: small-caps;
  margin: 5px auto 5px auto;
  font-weight:bold;
  color:rgba(0, 0, 209, 0.9);
  line-height: 0.8;
  }

.header_text {
  font-size: 24px; 
  font-family:Times;
  margin: 5px auto 5px auto;
  color:rgba(0, 0, 229, 0.9);
  font-weight:bold;
  font-variant: small-caps;
}

#class_label {
  color: rgba(0, 0, 209, 0.9); 
  font-size: 26px; 
  font-weight:bold;
  font-family:Times;
  margin: 14px auto -6px auto;
  font-variant: small-caps;
  text-align:center;
}

.class_label {
  color: rgba(0, 0, 209, 0.9); 
  font-size: 26px; 
  font-weight:bold;
  font-family:Times;
  margin: 14px auto -6px auto;
  font-variant: small-caps;
  text-align:center;
}

@media screen and (max-width: 480px) {
  .mycontainer_messages_main_n { 
    max-width: 96%;
    min-width: 380px;
    width: 460px;
    margin: auto;
  }
  .mycontainer_messages_main_n,
  .myrow_messages_main_n,
  .mycolumn_messages_main_n {
    padding: 4px;

  }

  #modal_body_messages_main_n {
    margin: 4px auto 4px auto;
  } 

  .title_account {
    font-size: 24px;
  } 

  .class_label {
    font-size: 22px;
  }

  .header_text {
    font-size: 20px;
  }  
  
}
    </style>

    
       
       <div class="my_modal_messages_part" id="mymodal_messages_main_part">  
      
        <!-- Modal content -->
        <div class="mycontainer_messages_part" id="modal_cont_messages_main_part">
          <div class="myrow_messages_part" id="modal_row_messages_main_part">
          <div class="mycolumn_messages_part" id="modal_col_messages_main_part">
          
          <div class="modal_content" id="modal_header_messages_main_part" >
            <span id="close_m_part_id" class="close_m_part">✖</span><br>
            <p class="title_account">INFO MESSAGES</p>
          </div>

          <div class="modal_content_part" id="modal_body_messages_main_part">
          
       <div>
          {% for message in messages %}
          <p class="header_text" style="animation: anie_red_text 2s infinite;"> {% autoescape off %} 
          {{ message }} {% endautoescape %}
          </p>
          {% endfor %}
        </div> 
  
     <br>
  
      <div> 
        {% if errors and oldpass == "no_oldpass" %}
        <p class="header_text"> You try register with:<br>username: {{ user_name }}, <br>  email: {{ e_mail }}, <br>  password: {{ pass }}, <br> password 2 - "{{ pass2}} </p>
        {% elif errors and e_mail == "no_email" %}
        <p class="header_text"> You try login with:<br>username: {{ user_name }}, <br>  password: {{ pass }},  </p>
        {% elif errors and pass1 == "no_pass1" %}
        <p class="header_text"> You try change with:<br>username - {{ user_name }}, <br>  email - {{ e_mail }},  </p>
        {% endif %}
      </div>
    <br>  
    <div >
      <p class="header_text"> MESSAGE </p>  
      <p  id="information_message" style="animation: anime_red_text 2s infinite; font-size; 22px; color: rgba(0, 0, 200, 0.9); font-weight: bold;"></p>
    </div>

  </div> 

        <div class="modal_content_part" id="modal_footer_messages_main_part" style="margin-top:20px">
            <button id="myBtn_messages_part_id" type="button"  class="close_mb_part" >CLOSE</button>
        </div>

        </div>
      </div>
    </div>
    
  </div>
