{% include 'snippets/out_log_css.html' %}

<style>
	.mytootlip_text {
		min-width: 100%;
		max-width: 100%;
		width: 100%;
	}
</style>

<div class="mymodal_Account" id="mymodalLogin"> </div>

    <!-- Modal content 
    <div class="container-fluid" id="mymodalAccountCont">
      <div class="column" id="mymodalAccountCol">-->
      <div class="container_mymodalAccount" id="mymodalLoginCont">
        <div class="column_mymodalAccount" id="mymodalLoginCol">
      
          <div class="mymodal_AccountHeader" id="mymodalLoginHeader" >
            <p id="close_mLogin" class="close_m_acc">✖</p>
            <p style="font-size:26px; font-weight:bold; color:blue; margin:10px auto 0px auto;">LOG IN</p>
          </div>
      
          <div class="mymodal_AccountBody" id="mymodalLoginBody">
            <p style="font-size:22px; color:blue; margin:0px auto 0px auto; font-variant: small-caps;">
            please fill in this form to login to account.</p>
      
              <div>
                <div style="height: 4px"></div>
                
                <form action="{% url 'accounts:login' %}" class="was-validated" method="post" enctype="multipart/form-data" id="login_form">   
                  {% csrf_token %}
    
                  <input type="hidden" name="current_url" id="current_url" readonly value='{{ current_url }}'>  
    
                    <div class="form-group">
                    
                      <label class="label" for="username" style="font-size:24px; 
                      color:blue; font-variant: small-caps;" > username </label>
                      <span class="mytootlip_text" data-tooltip="tooltip_input">
                      <input type="text" name="username" id="inputUsername" class="form-control" placeholder="enter username" required autofocus minlengh="3">
                      <span data-tooltiptext="tooltiptext_input">must contain @</span> </span>
                      <div class="valid-feedback" > username field is filled out.
                      </div>
                      <div class="invalid-feedback" > please fill out the username field.
                      </div>
                    </div>   
          
                    <div style="height: 4px"></div>

                    <div class="form-group">
                      <label class="label" for="password" style="font-size:24px; 
                      color:blue; "> password </label>
                       <span class="mytootlip_text" data-tooltip="tooltip_input">
                      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="enter password" required  aautofocus pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" >
                      	<span data-tooltiptext="tooltiptext_input">must contain at least: <br>- one number, <br>- one uppercase, <br>- one lowercase letter, <br>- 8 or more characters.</span> </span>
                      <div class="valid-feedback" > password field is filled out.
                      </div>
                      <div class="invalid-feedback" > please fill out the password field.
                      </div>
                    </div>
                    
                    <div class="" style="margin-top: 10px; padding:10px 0px 10px 0px;" data-tooltip="tooltip_input">
                    {% include 'snippets/mywidget_recaptcha_ml.html' %}
                    <span style="margin-bottom: 4px;" data-tooltiptext="tooltiptext_input">if it takes too long,  <br> you can log in by <br>  <a href="{% url 'accounts:login' %}" > LOGIN-SITE </a></span>
                
                  </div>
                 <!--   <div>
                      <label class="container-check"> 
                      <input type="checkbox" checked="checked" name="remember"> 
                      <span class="checkmark"></span>  remember me &nbsp;
                      </label>
                    </div> -->

                    <div>
                      <div class="container-check">
                      <input type="checkbox" checked="checked" required="False"  name="remember"><label class="form-check-label"> remember me </label>
                      </div>
                    </div>
          
                </form> 
          
                <div>
                  <p class="psw" style="margin-top: 6px;">forgot <a href="{% url 'accounts:password_reset_form' %}" target="_blank" >password?</a></p>
                </div>
          
                <div> 
                  {% if message_info %}
                  {% for msg_info in message_info %}
                  <p id="msg_id">{% autoescape off %} {{ msg_info }} {% endautoescape %}</p>
                  {% endfor %}
                  {% endif %}
                </div>
          
                <div>
                  {% for field in login_form %}
                  {% for error in field.errors %}
                  <p id="msg_red_id" class="m_remove">{% autoescape off %} {{ error }} {% endautoescape %} </p>
                  {% endfor %}  
                  {% endfor %}
                </div>
          
                <div>
                  {% if login_form.non_field_errors %}
                  <p id="msg_red_id" class="m_remove"> {% autoescape off %} {{login_form.non_field_errors}} {% endautoescape %} </p>
                  {% endif %}
                </div>
          
                  {% if messages %}
                  {% for message in messages %}
                  {% if message.tags == 'info' %}
                <div id="bs_input" class="alert alert-dismissible fade show">
                  <button type="button" class="close" data-dismiss="alert">x</button>
                  <p id="msg_red_id"  class="p_remove">{% autoescape off %} {{ message }} {% endautoescape %}</p>
                </div>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
          
              </div>
            </div> 
      
      <div class="mymodal_AccountFooter" id="mymodalLoginFooter">
              
          <button name="login_f" form="login_form" type="submit" id="button_login" class="btn_submit" disabled> LOG IN </button>
                
                
          <button id="close_mbLogin" type="button" class="close_mb_acc" > CLOSE </button> 
            
            
            </div>
            <p style="font-variant: small-caps; float:left; margin:-16px auto auto 5px;"> booksmart </p>
          </div>
        </div>
      
     

      <script>
    
        var my_modalLogin = document.getElementById("mymodalLogin");
        // var my_modalAccount = document.getElementsByClassName("mymodal_Account")[0];
        var my_modalLoginCont = document.getElementById("mymodalLoginCont");
        //  my_modalLogintCont = document.getElementsByClassName("container_mymodalAccount")[0];
        var btnLogin = document.getElementById("btn_login");
      //var captionText = document.getElementById("caption");
        
        
        btnLogin.onclick = function(){
          my_modalLogin.style.display = "block";
          my_modalLogin.style.animation = "modalfadein 1s 1";
          my_modalLogin.src = this.src;
            
          my_modalLoginCont.style.display = "block"; 
          my_modalLoginCont.style.animation = "zoom 2s 1";
          my_modalLoginCont.src = this.src;
          //captionText.innerHTML = this.alt;
        }
        
          //var close_x = document.getElementsByClassName("close_m")[0];
          var close_xLogin = document.getElementById("close_mLogin");
          //var close_btn = document.getElementsByClassName("close_mb")[0];  
          var close_btnLogin = document.getElementById("close_mbLogin");         
          
        
          close_xLogin.onclick = function() {
            my_modalLoginCont.style.animation = "unzoom 2s 1";
            my_modalLogin.style.animation = "modalfadeout 1s 1 1s";
            setTimeout(()=> {
              my_modalLoginCont.style.display = "none";
              my_modalLogin.style.display = "none"
                }
                , 1900);
          }
        
          close_btnLogin.onclick = function() {
            my_modalLoginCont.style.animation = "animatetopback 2s 1";
            my_modalLogin.style.animation = "modalfadeout 1s 1 1s";
            setTimeout(()=> {
              my_modalLoginCont.style.display = "none";
              my_modalLogin.style.display = "none"
                }
                , 1900);
          }

          //my_modalLoginCont.onmouseenter = function() {
          //  my_modalLogin.style.background-image  = "rgba(20, 100, 200, 0.//4)";
         // }
          
          //window.onclick = function(even) {
             //if (even.target == my_modalLogin) {
         my_modalLogin.onclick = function() {  
              //mymodal_cont.style.animation = "unzoomrotate 2s 1";
              my_modalLoginCont.style.animation = "unzoomrotate 2s 1";
              my_modalLogin.style.animation = "modalfadeout 1s 1 1s";
              setTimeout(()=> {
              my_modalLoginCont.style.display = "none";
              my_modalLogin.style.display = "none"
                }
                , 1900);
              
              
              // mymodal.style.animation = "modalfadeout 1s 1 1s";
              // setTimeout(function(){ mymodal.style.display = "none"; }, 1900);
          // mymodal.style.animation = "modalfadein 1s 1 2s";
        
              // mymodal_cont.style.animation = "zoomrotate 2s 1";
            }
       // }
      
          </script>              
                  