<style>

    #g_recaptcha_id_site > div {
      position: relative;
      margin: 0px auto 0px auto;
    }
    </style>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>     
    <div class="form-group" style="margin: 0px; padding:10px 0px 10px 0px;">

    <div id="g_recaptcha_id_site" class="g-recaptcha" style="position: relative; align-items: center; margin: 0px auto 0px auto; justify-content: center;" data-sitekey="6Le3IP4nAAAAAD64iV_EcXLuNBBUGo7Rg3KpuX26" data-callback="callback">
      <span style="margin-bottom: 4px;" data-tooltiptext="tooltiptext_input">if it takes too long, <br> you can sign in by <br>  <a href="{% url 'index' %}" > MAIN-SITE </a></span>
    </div>
    </div>
               
           

      <div class="valid-feedback" id="valid"  style="text-align:center; margin: auto;">value field is filled out.</div>
      <!--<div class="invalid-feedback" id="valid" style="margin:-1px auto -5x auto; padding-left: 20px;">please fill out this field.</div>-->
  <div class="invalid-feedback" id="valid" style="text-align:center; margin: auto;" ><span> please fill out this field. </span>
  </div>
          </div>

          <script type="text/javascript">
            function callback() {
              const submitButton = document.getElementById("button_sm");
              submitButton.removeAttribute("disabled");
            }
          </script>
          
        