<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  <script>
    
    var bts_visibility = $.noConflict();
    bts_visibility(document).ready(function(){
      bts_visibility(".btn_hide").click(function(){
        bts_visibility("#myBtna").hide(2000);
        bts_visibility("#myBtn1a").hide(2000);
        bts_visibility("#myBtn").hide(2000);
        bts_visibility("#myBtn1").hide(2000);
        bts_visibility("#myBtn_dark_back").hide(2000);
        bts_visibility("#myBtn_dark_back_s").hide(2000);
        bts_visibility("#myBtn_mail_sender").hide(2000);
        bts_visibility("#mySidenav").hide(2000);
        bts_visibility("#btn_account").fadeOut(2000);
        bts_visibility("#btn_door_logout").fadeOut(2000);
        bts_visibility("#mycontainer_marque").fadeTo(2000, 0);
        bts_visibility(".btn_hide, .myBtns_acc_m, .btn_show").css('animation','noname');
          });
      bts_visibility(".btn_show").click(function(){
        bts_visibility("#myBtna").show(2000);
        bts_visibility("#myBtn1a").show(2000);
        bts_visibility("#myBtn").show(2000);
        bts_visibility("#myBtn1").show(2000);
        bts_visibility("#myBtn_dark_back").show(2000);
        bts_visibility("#myBtn_dark_back_s").show(2000);
        bts_visibility("#myBtn_mail_sender").show(2000);
        bts_visibility("#mySidenav").show(2000);
        bts_visibility("#btn_account").fadeIn(2000);
        bts_visibility("#btn_door_logout").fadeIn(2000);
        bts_visibility("#mycontainer_marque").fadeTo(2000, 1);
        bts_visibility(".btn_hide, .myBtns_acc_m, .btn_show").css('animation','anime_border_red');
      });
    });
   
</script>


{% include 'snippets/out_log_css.html' %}
<style type="text/css">
  /* grid-template-columns: auto auto auto; */

/*
body {
font-family: Times;
}

button {
font-family: Times;
}

.my_container_top_btns {
  position: fixed;
  z-index: 44;
  display: flex;

  left: 50%;
  top: 2px;
  margin-bottom: 8px;
  margin-left: -400px;
  margin-right: auto;
  max-width: 98%;
  width: 800px;
  justify-content:center;
}

.my_row_top_btns {
  justify-content: center;
  align-items: center;
  display: flex;
}

@keyframes anime_border_red {
  50% {
    background-color: rgba(100, 160, 220, 0.6); 
  box-shadow: 
  0px 0px 2px 4px rgba(255, 77, 77, 0.7) inset,
  0px 1px 1px 0px rgb(255, 108, 108, 0.7), 
  0px 2px 1px 0px rgb(255, 77, 77, 0.7), 
  0px 3px 2px 0px rgb(255, 51, 51, 0.7), 
  0px 4px 2px 0px rgb(255, 36, 36, 0.7),
  
  1px 5px 4px 0px rgba(99, 100, 103, 0.6), 
  0px 7px 5px 0px rgba(77, 77, 79, 0.6), 
  0px 9px 7px 0px rgba(51, 51, 53, 0.6);
  }
  }
  
#anime_text_red {
  animation-name: anime-text-red;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  }
  
@keyframes anime-text-red {
  50% {color: red;}
  }  

  .h5vw_btn {
    font-size: 22px;
    font-weight: bold;
    line-height: 16px;  
    color: MediumBlue; 
    font-family: Times;
    font-variant: small-caps;
    margin-top: 16px;
    margin-bottom:12px;
    }

.btn_show,
.btn_hide,
.myBtns_acc,
.myBtns_acc_m {   
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);  
  background-color: rgba(100, 160, 220, 0.8); 
cursor: pointer;
  border-radius: 2px;
  animation-name: anime_border_red;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  box-shadow: 
  0px 0px 2px 4px rgba(151, 191, 231, 0.7) inset,
  0px 1px 1px 0px rgba(161, 201, 241, 0.4), 
  0px 2px 1px 0px rgba(151, 191, 231, 0.4),
  0px 3px 2px 0px rgba(131, 171, 231, 0.4), 
  0px 4px 2px 0px rgba(111, 151, 231, 0.8), 
  
  1px 5px 4px 0px rgba(99, 100, 103, 0.6), 
  0px 7px 5px 0px rgba(77, 77, 79, 0.6), 
  0px 9px 7px 0px rgba(51, 51, 53, 0.6);
  transition-duration: 0.6s;
  text-align: center;
}

.my_container_top_btns .my_row_top_btns .btn_show,
.my_container_top_btns .my_row_top_btns .btn_hide {
  width: 10.5%; 
 justify-content: center;
  align-items: center;
  display: flex;
  text-align: center; 
  min-width: 70px;
}

.myBtns_acc,
.myBtns_acc_m {
  width: 26%;
  min-width: 190px;
}

#btn_door {
  margin-left: 20px;
  margin-right: 20px; 
}

#btn_account {        
  margin-left: 20px;
}


#btn_door_logout {
  margin-right: 20px;
}

hr {
border: 2px solid rgba(240, 240, 240, 0.8);
margin-bottom: 14px;
}

.btn_show:hover,
.btn_hide:hover,
.myBtns_acc:hover,
.myBtns_acc_m:hover {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: rgb(100, 160, 220); 
  background-color: rgba(100, 160, 220, 0.8);
  box-shadow: 
  0px 0px 2px 4px rgba(151, 191, 231, 0.8) inset,
  0px 1px 1px 0px rgba(161, 201, 241, 0.8), 
  0px 2px 1px 0px rgba(151, 191, 231, 0.8),
  0px 3px 2px 0px rgba(131, 171, 231, 0.8), 
  0px 4px 2px 0px rgba(111, 151, 231, 0.8),
  
  1px 5px 4px 0px rgba(99, 100, 103, 0.6), 
  0px 7px 5px 0px rgba(77, 77, 79, 0.6), 
  0px 9px 7px 0px rgba(51, 51, 53, 0.6);
  }

  .btn_show:active,
  .btn_hide:active,
  .myBtns_acc:active,
  .myBtns_acc_m:active {
    background-color: rgba(200, 220, 240, 0.8);
    box-shadow: 
    0px 0px 2px 4px rgba(100, 160, 220, 0.6) inset,
    0px 1px 1px 0px rgba(110, 170, 230, 0.8), 
    0px 2px 1px 0px rgba(100, 160, 220, 0.8),
    0px 3px 2px 0px rgba(90, 150, 210, 0.8), 
    0px 4px 2px 0px rgba(80, 140, 200, 0.8), 
    
    1px 5px 4px 0px rgba(220, 220, 230, 0.9), 
    0px 7px 5px 0px rgba(220, 220, 230, 0.6), 
    0px 9px 7px 0px rgba(220, 220, 230, 0.4);
    animation-name: noname;
    transform: translateY(2px);
    scale: 0.98;
    
  } 

  @media screen and (max-width: 820px) {
.my_container_top_btns {
  left: 0;
  margin-left: 1%;
  max-width: 98%;
  width: 98%; 
}

.h5vw_btn {
  font-size: 2.2vw;
  font-weight: bold;
  line-height: 1.6vw;  
  color: MediumBlue; 
  font-family: Times;     
  margin-bottom: 1.6vw;
  }

.btn_show,
.btn_hide,
.myBtns_acc,
.myBtns_acc_m {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  }
}

.cancelbtn {
background-color: rgba(244, 51, 37, 0.8);
color: white;
margin: auto;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
border-radius: 3px;
} 

.cancelbtn:hover {
opacity:1;
}

.signupbtn {
background-color: rgba(255, 153, 102, 0.8);
color: white;
padding: 6px 12px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
border-radius: 3px;
}

.signupbtn {
opacity:1;
}

#container {
padding: 12px;
}

.modal {      
min-width: 480px;
display: none;
background-color: rgb(120, 120, 120); 
background-color: rgba(120, 120, 120, 0.4);
z-index:55;
margin:auto;        
}

#valid_a  {
font-size: 16px; 
} 

#valid {
margin-top: -14px;
margin-bottom: -5px;
font-size: 16px;
}

.clearfix::after {
content: "";
clear: both;
display: table;
}

#button_sm:focus {
border:none;
outline:none;
}

button:focus {
border:none;
outline:none;
}  

button:focus {
border: none;
outline: none;
} 


</style>
<style>
@keyframes opacityanime {
from {opacity:1;} 
to {opacity:0;}
}

@keyframes modalfadeout {
from {background-color: rgba(20, 100, 200, 0.4);} 
to {background-color: rgba(20, 100, 200, 0.0);}
}

@keyframes modalfadein {
from {background-color: rgba(20, 100, 200, 0.0);} 
to {background-color: rgba(20, 100, 200, 0.4);}
}

@keyframes noconic {
from { backdrop-filter: blur(4px);}
to{ backdrop-filter: blur(0px);}
}

#mymodalAccount {
position: fixed;
z-index:55;
display:none;
left: 0;
top: 0;
width: 100%; 
height: 100%; 
animation:noname;
transition:0.2s;
background-color: rgb(20, 100, 200); 
background-color: rgba(20, 100, 200, 0.4); 
-webkit-backdrop-filter: blur(4px);
backdrop-filter: blur(4px);
overflow-y: auto;
overflow-x: hidden;
}

#mymodalAccount:hover {
-webkit-backdrop-filter: blur(2px);
backdrop-filter: blur(2px);
background-color: rgb(20, 100, 200); 
background-color: rgba(20, 100, 200, 0.6); 
}

#mymodalAccountCont {
position: fixed;
z-index:66;
top: 60px;
display:none;
margin: auto;
width: 540px;
left:50%;
margin-left: -270px;
font-family: Times;
padding: 5px;
font-size:18px;
text-align: center;
font-weight: bold;
border-radius: 4px;
border: 10px solid rgba(140, 140, 180, 0.6);
box-shadow:
0px 2px 10px 10px rgba(60, 70, 80, 0.2); 
padding: 10px;
animation-delay: 2s;
animation: noname2;
transition: 0.6s;
}

#mymodalAccountCont:hover {
scale:1.01;
-webkit-backdrop-filter: none;
backdrop-filter: none;
box-shadow:
0px 2px 10px 10px rgba(229, 230, 243, 0.4);
} 

@keyframes unzoomrotate {
from {transform:scale(1); rotate:360deg;} 
to {transform:scale(0); rotate: 0deg;}
} 
@keyframes zoomrotate {
from {transform:scale(0); rotate:0deg;} 
to {transform:scale(1); rotate: 360deg;}
} 


@keyframes unzoom {
from {transform:scale(1);} 
to {transform:scale(0);
}
}

@keyframes zoom {
from {transform:scale(0);} 
to {transform:scale(1);
}
}

@keyframes animatetopback {
from {top: 0px; }
to {top:-1000px; }
}


.column_mymodalAccount {
border-radius: 4px;
margin: auto;
border: 6px solid rgba(240, 240, 240, 0.6);
padding:10px;
}

.mymodal_AccountHeader {
background-color: rgb(140, 140, 180); 
background-color: rgba(140, 140, 180, 0.6);
border-radius: 4px;
border: 6px solid rgba(240, 240, 240, 0.6);
margin: auto;
padding:5px;
}

.mymodal_AccountBody {
background-color: rgb(140, 140, 160); 
background-color: rgba(140, 140, 160, 0.6);
border-radius: 4px;
border: 6px solid rgba(240, 240, 240, 0.6);
margin: 10px auto 10px auto;
padding: 5px;
overflow: auto;
max-height: 440px;
}

#mymodalSigninBody {
}

.label_first {
font-size:24px; 
color:blue; 
margin:4px auto 2px auto;
}

.label {
font-size:24px; 
color:blue; 
margin: -20px auto 2px auto;
font-variant: small-caps;
}

.mymodal_AccountFooter {
background-color: rgb(140, 140, 180); 
background-color: rgba(140, 140, 180, 0.6);
border-radius: 4px;
border: 6px solid rgba(240, 240, 240, 0.6);
margin: auto auto 14px auto;
padding: 5px 20px 5px 20px;
height: 80px;
}

#msg_id {
font-size: 26px;
color: rgba(20, 60, 220, 0.8);
font-weight: bold;
}

#msg_red_id {
font-size: 26px;
color: rgba(220, 20, 20, 0.8);
font-weight: bold;
}

.close {
transition: 0.2s;
color:rgba(220, 230, 240, 0.6);
background: rgba(100, 160, 22, 0.6);
}

.close:hover {
color:rgba(100, 160, 22, 0.8);
background: rgba(220, 230, 240, 0.8);
}

.close_m_acc {
color: white;
float: right;
font-size: 22px;
font-weight: bold;
margin: -5px 5px 20px auto;
transition: 0.2s;
}

.close_m_acc:hover,
.close_m_acc:focus {
color: blue;
scale:1.01.;
text-decoration: none;
cursor: pointer;
}

.close_mb_acc {
color: rgba(220, 60, 20, 0.8);
border: 4px solid rgba(220, 60, 20, 0.8);
border-radius: 2px;
background: rgba(100, 160, 220, 0.1);
font-size: 24px;
font-weight: bold;
margin: 5px auto auto auto;
padding-top: 2px;
padding-bottom: 4px;
min-width: 120px;
float:left;
transition: 0.2s;
cursor: pointer;
padding:: auto;
font-variant: small-caps;
}

.close_mb_acc:hover {
background: rgba(20, 60, 220, 0.8);
}

.close_mb_acc:focus {
text-decoration: none;
cursor: pointer;
}

.close_mb_acc:active {
transform: translateY(2px);
scale: 0.96;
}

.btn_submit {
color: rgba(20, 60, 220, 0.8);
border: 4px solid rgba(20, 60, 220, 0.8);
border-radius: 2px;
background: rgba(100, 160, 220, 0.1);
font-size: 24px;
font-weight: bold;
margin: 5px auto auto auto;
min-width: 120px;
float:right;
transition: 0.2s;
cursor: pointer;
padding-top: 2px;
padding-bottom: 4px;
font-variant: small-caps;
}

.btn_submit:hover {
background: rgba(220, 60, 20, 0.8);
}


.btn_submit:active {
transform: translateY(2px);
scale: 0.96;
}

#a_submit_t {
animation-name: anime_submit_t;
animation-duration: 6s;
animation-iteration-count: infinite;
}

#mymodalAccountBody input[type=text], #mymodalAccountBody input[type=email] {
  margin-top: -2px;
  font-size: 16px;
  font-weight: bold;
  padding-left: 6px;
}


.psw {
color:blue
}

.btn_show:before {
  display: none;
  content: "";
  position:absolute;
  left: 50%;
  z-index: 55;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 210, 0.6) transparent; 
top: 100%;
margin-top: 4px;
margin-left: -8px;
}

.btn_show:hover:before {
  display: block; 
}

.btn_show:after {
  display: none;
  content: "show buttons";
  position: absolute;
  width: 140px;
  left: 50%;
  top: 100%;
  margin-left: -36px;
  margin-top: 22px;
  color: rgba(220, 220, 230, 0.8);
  text-align: center;
  border-radius: 2px;
  background: rgba(0, 0, 210, 0.6);
  padding-top: 6px;
  padding-bottom: 8px;
  z-index: 55;
  font-size: 20px;
  font-variant: small-caps;
  outline: 2px solid rgba(60, 160, 240, 0.8);
  outline-offset: 4px;
  }
  
  .btn_show:hover:after {
    display: block;
  }


  .btn_hide:before {
  display: none;
  content: "";
  position:absolute;
  left: 50%;
  z-index: 55;
  border-width: 8px;
  border-style: solid;
border-color: transparent transparent rgba(0, 0, 210, 0.6) transparent;
top: 100%; 
margin-top: 4px;
margin-left: -8px;
}

.btn_hide:hover:before {
  display: block; 
}

.btn_hide:after {
  display: none;
  content: "hide buttons";
  position: absolute;
  width: 140px;
  left:50%;
  margin-left: -104px;
  top: 100%;
  margin-top: 22px;
  color: rgba(220, 220, 230, 0.8);
  text-align: center;
  border-radius: 2px;
  background: rgba(0, 0, 210, 0.6);
  padding-top: 6px;
  padding-bottom: 8px;
  z-index: 55;
  font-size: 20px;
  font-variant: small-caps;
  outline: 2px solid rgba(60, 160, 240, 0.8);
  outline-offset: 4px;
  }
  
  .btn_hide:hover:after {
    display: block;
  }
*/
</style>
  
  <script>
    var ma_rem = $.noConflict();
    ma_rem(document).ready(function(){
      ma_rem(".ma_remove").mouseenter(function(){
        ma_rem(".ma_remove").remove();
      
    });
  });
</script>  


<div class="my_container_top_btns" >
  <div class="my_row_top_btns">
      <div class="btn_show" ><p class="h5vw_btn" id="btn_show_text" > show </p></div>
      
        <div id="btn_account" class="myBtns_acc" > 
          {% if request.user.username == None %} 
          <p class="h5vw_btn" id="btn_account_text"> Hello, {{account_form.initial.username}} </p>
          {% else %}
          <p class="h5vw_btn" id="btn_account_text"> Hello, {{request.user.username}} </p>
          {% endif %}
        </div>

     <!--   <button id="btn_door" type='submit' class="myBtns_acc_m notranslate" form="nameform"> "BOOK'S GATE" </button> -->
     <div id="btn_door" type='submit' class="myBtns_acc_m notranslate" form="nameform"><p class="h5vw_btn" id="btn_door_text"> "BOOK'S GATE" </p></div>

     <!-- <button  name="logout_f"  id="btn_door_logout"  class="myBtns_acc"> <a href="{% url 'accounts:logout' %}" style="color:MediumBlue;">Logout</a></button> -->

        <div  name="logout_f"  id="btn_door_logout"  class="myBtns_acc"> <a href="{% url 'accounts:logout' %}" ><p class="h5vw_btn" id="btn_door_logout_text">Logout</p></a></div>
        
        <div  class="btn_hide" > <p class="h5vw_btn" id="btn_hide_text">hide </p></div>
     
      </div>
    </div>

    {% include 'snippets/modal_account.html' %}

    <script>
      document.getElementById("btn_account_text").addEventListener("mouseover", mouseOver);
      document.getElementById("btn_account_text").addEventListener("mouseout", mouseOut);
      
      function mouseOver() {
        document.getElementById("btn_account_text").innerHTML= "change name or email";
      }
      
      
      function mouseOut() {
        var name = document.getElementById("btn_account_text");
        if ("{{request.user.username}}" != "None") {
        document.getElementById("btn_account_text").innerHTML=  "Hello, " + "{{request.user.username}}";
      }
        else {document.getElementById("btn_account_text").innerHTML=  "Hello, " + "{{account_form.initial.username}}";}
      }
      </script>

      