<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  <script>
    
    var bts_visibility = $.noConflict();
    bts_visibility(document).ready(function(){
      bts_visibility(".btn_hide").click(function(){
        bts_visibility("#myBtna").hide(2000);
        bts_visibility("#myBtn1a").hide(2000);
        bts_visibility("#myBtn").hide(2000);
        bts_visibility("#myBtn1").hide(2000);
        bts_visibility("#myBtn_dark_back").hide(2000);
        bts_visibility("#myBtn_dark_back_s").hide(2000);
        bts_visibility("#myBtn_mail_sender").hide(2000);
        bts_visibility("#mySidenav").hide(2000);
        bts_visibility("#btn_account").fadeOut(2000);
        bts_visibility("#btn_door_logout").fadeOut(2000);
        bts_visibility("#mycontainer_marque").fadeTo(2000, 0);
        bts_visibility(".btn_hide, .myBtns_acc_m, .btn_show").css('animation','noname');
          });
      bts_visibility(".btn_show").click(function(){
        bts_visibility("#myBtna").show(2000);
        bts_visibility("#myBtn1a").show(2000);
        bts_visibility("#myBtn").show(2000);
        bts_visibility("#myBtn1").show(2000);
        bts_visibility("#myBtn_dark_back").show(2000);
        bts_visibility("#myBtn_dark_back_s").show(2000);
        bts_visibility("#myBtn_mail_sender").show(2000);
        bts_visibility("#mySidenav").show(2000);
        bts_visibility("#btn_account").fadeIn(2000);
        bts_visibility("#btn_door_logout").fadeIn(2000);
        bts_visibility("#mycontainer_marque").fadeTo(2000, 1);
        bts_visibility(".btn_hide, .myBtns_acc_m, .btn_show").css('animation','anime_border_red');
      });
    });
   
</script>


{% include 'snippets/out_log_css.html' %}
  
  <script>
    var ma_rem = $.noConflict();
    ma_rem(document).ready(function(){
      ma_rem(".ma_remove").mouseenter(function(){
        ma_rem(".ma_remove").remove();
      
    });
  });
</script>  


<div class="my_container_top_btns" >
  <div class="my_row_top_btns">
      <div class="btn_show" ><p class="h5vw_btn" id="btn_show_text" > show </p></div>
      
        <div id="btn_account" class="myBtns_acc" > 
          {% if request.user.username == None %} 
          <p class="h5vw_btn" id="btn_account_text"> Hello, {{account_form.initial.username}} </p>
          {% else %}
          <p class="h5vw_btn" id="btn_account_text"> Hello, {{request.user.username}} </p>
          {% endif %}
        </div>

     <!--   <button id="btn_door" type='submit' class="myBtns_acc_m notranslate" form="nameform"> "BOOK'S GATE" </button> -->
     <div id="btn_door" type='submit' class="myBtns_acc_m notranslate" form="nameform"><p class="h5vw_btn" id="btn_door_text"> "BOOK'S GATE" </p></div>

     <!-- <button  name="logout_f"  id="btn_door_logout"  class="myBtns_acc"> <a href="{% url 'accounts:logout' %}" style="color:MediumBlue;">Logout</a></button> -->

        <div  name="logout_f"  id="btn_door_logout"  class="myBtns_acc"> <a href="{% url 'accounts:logout' %}" ><p class="h5vw_btn" id="btn_door_logout_text">Logout</p></a></div>
        
        <div  class="btn_hide" > <p class="h5vw_btn" id="btn_hide_text">hide </p></div>
     
      </div>
    </div>

    {% include 'snippets/modal_account.html' %}

    <script>
      document.getElementById("btn_account_text").addEventListener("mouseover", mouseOver);
      document.getElementById("btn_account_text").addEventListener("mouseout", mouseOut);
      
      function mouseOver() {
        document.getElementById("btn_account_text").innerHTML= "change name or email";
      }
      
      
      function mouseOut() {
        var name = document.getElementById("btn_account_text");
        if ("{{request.user.username}}" != "None") {
        document.getElementById("btn_account_text").innerHTML=  "Hello, " + "{{request.user.username}}";
      }
        else {document.getElementById("btn_account_text").innerHTML=  "Hello, " + "{{account_form.initial.username}}";}
      }
      </script>

      