{% load bootstrap4 %}
<style>
#textarea_recaptcha_div {

    position:relative;
    margin: 20px auto 20px auto;
    max-width: 560px;
    padding: 10px;
}
</style>

<div id="textarea_recaptcha_div">
<form id="my-form" method="post">
    {% bootstrap_form form_recaptcha %}
  
    <button type="submit" >SUBMIT</button>
</form>
<div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
    var my_form = document.getElementById('my-form')
    document.getElementById('my-form').addEventListener('submit', function() {
        event.preventDefault();
        var form = new FormData(my_form);
        fetch('', {
            method: 'POST',
            body: form
        })
        // .then(function(response_rc) {
            .then(function(response_rc) {
            alert(".then(function(response_rc)")
            return response_rc.json();
        })
        .then(function(data) {
            if (data.status === 'success') {
                alert('Form submitted successfully!');
            } else {
                alert('An error occurred while submitting the form.');
            }
        });
    });
</script>