{% load static %}

<style>

    * {
      box-sizing: border-box;
      }
  
  html {
    background-color: rgba(60, 160, 240, 0.4); 
  }

  html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-y: hidden;
  font-family: Times;
  
  background-color: rgba(60, 160, 240, 0.4);
  background: repeating-conic-gradient( rgba(60, 160, 240, 0.4) 10%, rgba(60, 160, 240, 0.8) 20%, rgba(60, 160, 240, 0.4) 30%, rgba(0, 60, 240, 0.4) 10%) no-repeat fixed center; 
  z-index: -2;
 /*
   background: repeating-conic-gradient( rgba(60, 160, 240, 0.4) 10%, rgba(0, 60, 240, 0.4) 20%, rgba(60, 160, 240, 0.4) 30%, rgba(0, 60, 240, 0.4) 10%) no-repeat fixed center; 
   */
  }
  
  body {
    color: rgba(0, 0, 220, 0.9);
    text-shadow: -0.02em 0.02em 0em rgb(211, 211, 211), -0.03em 0.03em 0.02em rgb(211, 211, 211), 0.04em 0em 0.02em rgb(128, 128, 128), 0.02em 0.02em 0.01em rgb(128, 128, 128);
  }
  
  
  body::-webkit-scrollbar {
  display: none;
  }
  
  :root {
  --bg-color: #cce6ff;
  --grad-color-1: #00d2ff;
  --grad-color-2: #3a47d5;
  --gradient: linear-gradient(90deg, var(--grad-color-1) 0%, var(--grad-color-2) 100%);
  --shadow: 0 3px 15px -5px rgba(0, 0, 0, 0.5);
  }  /*rgb(199, 199, 209)*/
  *,
  *::before,
  *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  /*html {
  scroll-behavior: smooth;
  } 
  * {
  box-sizing: border-box;
  }*/
  
  button {
  font-family: Times;
  text-shadow: 0px 1px 1px #eee, 0 -1px 1px #333;
  font-variant: small-caps;
  }
  
  button:focus {
  border:none;
  outline:none;
  }
  
  video {
  box-sizing: content-box;
  position: fixed;
  z-index:0;
  object-fit: cover;
  width: 100.8vw;
  height: 104vh;
  top: -2vh;
  animation-name: mymove;
  animation-duration: 12s;
  animation-iteration-count: 4;
  left: -0.4vw;
  }
  
  .glass_class_main {
    min-height: 100%;
    max-height: 100%;
  
    min-width: 100%;
    max-width: 100%;
    background: rgba(220, 220, 230, 0.1);
  
    position: relative;
    z-index: 2;
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
    /*scroll-padding-top: 0;*/
  }
  
  .glass_class_main::-webkit-scrollbar {
  width: 26px;
  max-width: 26px;
  background: rgba(60, 160, 240, 0.1);
  background-color: rgba(60, 160, 240, 0.1);
 /* background-size: 30px 100%; 
  font-size: 16px;*/
  transition: 0.4s;
  background-image: url({% static 'tekst_light_s.png' %}), url({% static 'tekst_light_s.png' %}), url('/static/tekst_light_s.png');
  background-size: 20px 240px;
/*  background-repeat: space;
  background-position: center;
   background-attachment: fixed; */
  background-repeat: no-repeat;
 
  background-position: center 4%, center, center 96%;
  }
  
  .glass_class_main::-webkit-scrollbar:hover {
  width: 26px;
  max-width: 26px;
  background: rgba(60, 160, 240, 0.2);
  background-color: rgba(60, 160, 240, 0.2);
  background-image: linear-gradient(rgba(60, 160, 240, 0.2), rgba(60, 160, 240, 0.2));
  background-size: 26px 100%;
  padding: 6px;
  font-size: 16px;
  transition: 0.4s;
  }
  
  .glass_class_main::-webkit-scrollbar-track:vertical {
  background: rgba(220, 220, 230, 0.0);
  background-color: rgba(220, 220, 230, 0.0);
  /* background-image: linear-gradient(rgba(60, 160, 240, 0.2), rgba(60, 160, 240, 0.2)); */
  min-width: 24px;
  width: 24px;
  max-width: 24px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.8s;
  }
  
  .glass_class_main::-webkit-scrollbar-track:vertical:hover {
    background: rgba(220, 220, 230, 0.4);
    min-width: 24px;
    width: 24px;
    max-width: 24px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    }
  
  /* ::-webkit-scrollbar-track-piece:vertical:decrement {
  background-color: transparent;
  border: 2px solid;
  border-color: blue blue transparent blue;
  }
  
  ::-webkit-scrollbar-track-piece:vertical:increment {
  background-color: transparent;
  border: 2px solid;
  border-color: blue blue transparent blue;
  }
  
  ::-webkit-scrollbar-track-piece:vertical:decrement:hover {
  background-color: rgba(0, 160, 0, 0.2);
  border: 2px solid;
  border-color: blue blue transparent blue;
  }
  
  ::-webkit-scrollbar-track-piece:vertical:increment:hover {
  background-color: rgba(0, 160, 0, 0.2);
  border: 2px solid;
  border-color: blue blue transparent blue;
  } */
   
  .glass_class_main::-webkit-scrollbar-thumb:horizontal {
    min-height: 260px;
  /*     height: 40px; */
    max-height: 540px;
    width: 24px;
    min-width: 24px;
    max-width: 24px;
    background: transparent;
    background-color: transparent;
    background: rgba(60, 160, 240, 0.2);
    background-color: rgba(60, 160, 240, 0.2);
    
    border: 4px solid rgba(220, 220, 220, 0.6);
    border-radius: 4px;
    margin: 4px;
    background-image: linear-gradient(rgba(60, 160, 240, 0.2), rgba(240, 0, 0, 0.2)); 
    /* background-image: url({% static 'tekst_light_s.png' %}); */
    background-repeat: no-repeat;
    background-size: 100% 16px;
    background-position: center;
    animation: example 4s infinite;
  /*    transition: 2s;
    border-image-source: linear-gradient(lightgreen, lightgrey, lightblue);
    border-image-slice: 10%;
    border-image-width: 4px;
    border-image-outset: -14px;
    border-image-repeat: rounded; */
    }

    .glass_class_main::-webkit-scrollbar-thumb:horizontal:hover {
      min-height: 260px;
    /*     height: 40px; */
      max-height: 540px;
      width: 24px;
      min-width: 24px;
      max-width: 24px;
      background: transparent;
      background-color: transparent;
      background: rgba(60, 160, 240, 0.2);
      background-color: rgba(60, 160, 240, 0.2);
      
      border: 4px solid rgba(220, 220, 220, 0.6);
      border-radius: 4px;
      margin: 4px;
      background-image: linear-gradient(rgba(60, 160, 240, 0.6), rgba(240, 0, 0, 0.6)); 
      /* background-image: url({% static 'tekst_light_s.png' %}); */
      background-repeat: no-repeat;
      background-size: 100% 16px;
      background-position: center;
      animation: example 4s infinite;
    /*    transition: 2s;
      border-image-source: linear-gradient(lightgreen, lightgrey, lightblue);
      border-image-slice: 10%;
      border-image-width: 4px;
      border-image-outset: -14px;
      border-image-repeat: rounded; */
      }

  .glass_class_main::-webkit-scrollbar-thumb:vertical {
    min-height: 260px;
  /*     height: 40px; */
    max-height: 540px;
    width: 24px;
    min-width: 24px;
    max-width: 24px;
    background: transparent;
    background-color: transparent;
    background: rgba(60, 160, 240, 0.2);
    background-color: rgba(60, 160, 240, 0.2);
    
    border: 4px solid rgba(220, 220, 220, 0.6);
    border-radius: 4px;
    margin: 4px;
    background-image: linear-gradient(rgba(60, 160, 240, 0.2), rgba(240, 0, 0, 0.2)); 
    /* background-image: url({% static 'tekst_light_s.png' %}); */
    background-repeat: no-repeat;
    background-size: 16px 100%;
    background-position: center;
    animation: example 4s infinite;
  /*    transition: 2s;
    border-image-source: linear-gradient(lightgreen, lightgrey, lightblue);
    border-image-slice: 10%;
    border-image-width: 4px;
    border-image-outset: -14px;
    border-image-repeat: rounded; */
    }
    
  .glass_class_main::-webkit-scrollbar-thumb:vertical:hover {
    background: transparent;
    border: 4px solid rgba(220, 220, 220, 0.8);
    border-radius: 4px;
    margin: 4px;
    background-image: linear-gradient(rgba(60, 160, 240, 0.6), rgba(240, 0, 0, 0.6)); 
    background-repeat: no-repeat;
    background-size: 16px 100%;
    background-position: center;
  
    /*  border-image-source: linear-gradient(lightgreen, lightgrey, lightblue);
    border-image-slice: 10%;
    border-image-width: 4px;
    border-image-outset: -14px;
    border-image-repeat: rounded; */
    }
  
  @keyframes example {
  0%   { background-image: linear-gradient(rgba(180, 0, 0, 0.3), rgba(240, 240, 0.3)); }
  25%  { background-image: linear-gradient(rgba(180, 0, 0, 0.6), rgba(240, 240, 0.6)); }
  50%  { background-image: linear-gradient(rgba(180, 0, 0, 0.9), rgba(240, 240, 0.9)); }
  75%  { background-image: linear-gradient(rgba(180, 0, 0, 0.6), rgba(240, 240, 0.6)); }
  100% { background-image: linear-gradient(rgba(180, 0, 0, 0.23), rgba(240, 240, 0.3)); }
  }
  
  .glass_class_main::-webkit-scrollbar-button:single-button:start {
    background-color: rgba(60, 160, 240, 0.4);
    display: block;
    background-size: 8px;
    background-repeat: no-repeat;
    }
    
  .glass_class_main::-webkit-scrollbar-button:single-button:start:hover {
    background-color: rgba(60, 160, 240, 0.8);
    display: block;
    background-size: 9px;
    background-repeat: no-repeat;
    }
    
  .glass_class_main::-webkit-scrollbar-button:single-button:end {
    background-color: rgba(240, 0, 0, 0.4);
    display: block;
    background-size: 8px;
    background-repeat: no-repeat;
    }
    
  .glass_class_main::-webkit-scrollbar-button:single-button:end:hover {
    background-color: rgba(240, 0, 0, 0.8);
    display: block;
    background-size: 9px;
    background-repeat: no-repeat;
    }
    
  .glass_class_main::-webkit-scrollbar-button:single-button:start,
  .glass_class_main::-webkit-scrollbar-button:single-button:end {
    border-radius: 2px;
    }
    
    
  .glass_class_main::-webkit-scrollbar-button:single-button:start:active,
  .glass_class_main::-webkit-scrollbar-button:single-button:end:active {
    background-color: rgba(220, 220, 240, 0.9);}
    /* Up */
    
    
  .glass_class_main::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 16px;
    max-height: 16px;
    width: 100%;
    background-position: center 5px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgba(160, 160, 170, 0.6)'><polygon points='50,00 0,50 100,50'/></svg>");
    }
    
  .glass_class_main::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgba(211, 211, 211, 0.9)'><polygon points='50,00 0,50 100,50'/></svg>");
    }
    
  .glass_class_main::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgba(220, 0, 0, 0.9)'><polygon points='50,00 0,50 100,50'/></svg>");
    }
    
    /* Down */
  .glass_class_main::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 16px;
    max-height: 16px;
    width: 100%;
    background-position: center 6px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgba(160, 160, 170, 0.6)'><polygon points='0,0 100,0 50,50'/></svg>");
    }
    
  .glass_class_main::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgba(211, 211, 211, 0.9)'><polygon points='0,0 100,0 50,50'/></svg>");
    }
    
  .glass_class_main::-webkit-scrollbar-button:single-button:vertical:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgba(220, 0, 0, 0.9)'><polygon points='0,0 100,0 50,50'/></svg>");
    }

     @media screen and (max-width: 720px) {
      .glass_class_main::-webkit-scrollbar {
        width: 18px;
        max-width: 18px;
        background-size: 14px 240px;

      }
      .glass_class_main::-webkit-scrollbar:hover {
        width: 18px;
        max-width: 18px;
        background-size: 18px 100%;
      }
      .glass_class_main::-webkit-scrollbar-track:vertical {
        min-width: 18px;
        width: 18px;
        max-width: 18px;
     }
     .glass_class_main::-webkit-scrollbar-track:vertical:hover {
      min-width: 18px;
      width: 18px;
      max-width: 18px;
     }

     .glass_class_main::-webkit-scrollbar-thumb:horizontal {
      width: 18px;
      min-width: 18px;
      max-width: 18px;
      background-size: 100% 12px;
    }
    .glass_class_main::-webkit-scrollbar-thumb:vertical {
      width: 18px;
      min-width: 18px;
      max-width: 18px;
      background-size: 12px 100%;
    }

    .glass_class_main::-webkit-scrollbar-thumb:vertical:hover {
      background-size: 12px 100%;
    }
      .glass_class_main::-webkit-scrollbar-button:single-button:start {
        background-size: 5px;
      }
      .glass_class_main::-webkit-scrollbar-button:single-button:start:hover {
        background-size: 6px;
      }

      .glass_class_main::-webkit-scrollbar-button:single-button:end {
        background-size: 5px;
  }

  .glass_class_main::-webkit-scrollbar-button:single-button:end:hover {
    background-size: 6px;
  }
  .glass_class_main::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 12px;
    max-height: 12px;
    background-position: center 3px;

}

.glass_class_main::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 12px;
  max-height: 12px;
  background-position: center 4px;
}

}

  @media screen and (max-height: 780px) {
    .glass_class_main::-webkit-scrollbar {
    background-image: url({% static 'tekst_light_s.png' %}), url({% static 'tekst_light_s.png' %});
    background-size: 20px 240px;
  /*  background-repeat: space;
    background-position: center;
     background-attachment: fixed; */
    background-repeat: no-repeat;
   
    background-position: center 4%, center 96%;
    }
  }

  @media screen and (max-height: 520px) {
    .glass_class_main::-webkit-scrollbar {
    background-image: url({% static 'tekst_light_s.png' %});
    background-size: 20px 240px;
  /*  background-repeat: space;
    background-position: center;
     background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center;
    }
  }

::-webkit-scrollbar {
    width: 16px;
    max-width: 16px;

    background-image: linear-gradient(rgba(60, 160, 240, 0.2), rgba(60, 160, 240, 0.2), rgba(60, 160, 240, 0.2));
    background-size: 16px 100%;
    font-size: 16px;
    transition: 0.4s;
    }
    
::-webkit-scrollbar:hover {
    width: 16px;
    max-width: 16px;
    background-image: linear-gradient(rgba(60, 160, 240, 0.2), rgba(60, 160, 240, 0.2), rgba(60, 160, 240, 0.2));
    background-size: 16px 100%;
    padding: 6px;
    font-size: 16px;
    transition: 0.4s;
    }
    
::-webkit-scrollbar-track:vertical {
    background: rgba(220, 220, 220, 0.4);
    min-width: 14px;
    width: 14px;
    max-width: 14px;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.8s;
        
    }
    
::-webkit-scrollbar-track:vertical:hover {
    background: rgba(220, 220, 220, 0.4);
    min-width: 14px;
    width: 14px;
    max-width: 14px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    }
    
    /* ::-webkit-scrollbar-track-piece:vertical:decrement {
    background-color: transparent;
    border: 2px solid;
    border-color: blue blue transparent blue;
    }
    
    ::-webkit-scrollbar-track-piece:vertical:increment {
    background-color: transparent;
    border: 2px solid;
    border-color: blue blue transparent blue;
    }
    
    ::-webkit-scrollbar-track-piece:vertical:decrement:hover {
    background-color: rgba(0, 160, 0, 0.2);
    border: 2px solid;
    border-color: blue blue transparent blue;
    }
    
    ::-webkit-scrollbar-track-piece:vertical:increment:hover {
    background-color: rgba(0, 160, 0, 0.2);
    border: 2px solid;
    border-color: blue blue transparent blue;
    } */
        
::-webkit-scrollbar-thumb:vertical {
    min-height: 10px;
/*     height: 40px; */
    max-height: 240px;
    width: 14px;
    min-width: 14px;
    max-width: 14px;
    background: transparent;
    background-color: transparent;
    background: rgba(60, 160, 240, 0.2);
    background-color: rgba(60, 160, 240, 0.2);
    
    outline: 2px solid rgba(220, 220, 220, 0.8);
    border-radius: 2px;
    margin: 4px;
    background-image: url('/static/fav_png.png'); 
    
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: center;
    animation: example 4s infinite;
/*    transition: 2s;
    border-image-source: linear-gradient(lightgreen, lightgrey, lightblue);
    border-image-slice: 10%;
    border-image-width: 4px;
    border-image-outset: -14px;
    border-image-repeat: rounded; */
    }
        
::-webkit-scrollbar-thumb:vertical:hover {
    width: 14px;
    min-width: 14px;
    max-width: 14px;
    background: transparent;
    outline: 2px solid rgba(220, 220, 220, 0.8);
    border-radius: 2px;
    margin: 4px;
    background-image: linear-gradient(rgba(60, 160, 240, 0.6), rgba(240, 0, 0, 0.6)); 
    background-repeat: no-repeat;
    background-size: 8px 100%;
    background-position: center;

    /*  border-image-source: linear-gradient(lightgreen, lightgrey, lightblue);
    border-image-slice: 10%;
    border-image-width: 4px;
    border-image-outset: -14px;
    border-image-repeat: rounded; */
    }

    
::-webkit-scrollbar-button:single-button:start {
    background-color: rgba(60, 160, 240, 0.4);
    display: block;
    background-size: 6px;
    background-repeat: no-repeat;
    }
    
::-webkit-scrollbar-button:single-button:start:hover {
    background-color: rgba(60, 160, 240, 0.8);
    display: block;
    background-size: 6px;
    background-repeat: no-repeat;
    }
    
::-webkit-scrollbar-button:single-button:end {
    background-color: rgba(240, 0, 0, 0.4);
    display: block;
    background-size: 6px;
    background-repeat: no-repeat;
    }
    
::-webkit-scrollbar-button:single-button:end:hover {
    background-color: rgba(240, 0, 0, 0.8);
    display: block;
    background-size: 6px;
    background-repeat: no-repeat;
    }
    
::-webkit-scrollbar-button:single-button:start,
::-webkit-scrollbar-button:single-button:end {
    border-radius: 2px;
    }
    
    
::-webkit-scrollbar-button:single-button:start:active,
::-webkit-scrollbar-button:single-button:end:active {
    background-color: rgba(220, 220, 240, 0.9);}
    /* Up */
    
    
::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 10px;
    max-height: 10px;
    width: 100%;
    background-position: center 3px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgba(160, 160, 170, 0.6)'><polygon points='50,00 0,50 100,50'/></svg>");
    }
    
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgba(211, 211, 211, 0.9)'><polygon points='50,00 0,50 100,50'/></svg>");
    }
    
::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgba(220, 0, 0, 0.9)'><polygon points='50,00 0,50 100,50'/></svg>");
    }
    
    /* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 10px;
    max-height: 10px;
    width: 100%;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgba(160, 160, 170, 0.6)'><polygon points='50,00 0,50 100,50'/></svg>");
    }
    
::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgba(211, 211, 211, 0.9)'><polygon points='0,0 100,0 50,50'/></svg>");
    }
    
::-webkit-scrollbar-button:single-button:vertical:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgba(220, 0, 0, 0.9)'><polygon points='0,0 100,0 50,50'/></svg>");
    }
/*
::-webkit-scrollbar {
width: 16px;
background: rgba(0, 100, 200, 0.2);
background-color: rgba(0, 100, 200, 0.2);
}

::-webkit-scrollbar-button {
height:100%;
background: transparent;
background-color:  transparent;
}

::-webkit-scrollbar-track {
background: rgba(232, 233, 245, 0.0);
background-color: rgba(232, 233, 245, 0.0);
box-shadow: 
0px 0px 4px 8px rgba(120, 120, 140, 0.0) inset,
0px 0px 0px 2px rgba(60, 160, 240, 0.4); 
border-radius: 4px;
width: 16px;
border-style: groove ridge ridge groove;
border-width: 2px;
border-color: rgba(60, 160, 240, 0.4);
background-image: url({% static 'tekst.png' %});
background-size: 20px 240px;
background-repeat: space;
background-position: center;
transition: 0.4s;
}

::-webkit-scrollbar-track:hover {
background: rgba(232, 233, 245, 0.8);
background-color: rgba(232, 233, 245, 0.8);
box-shadow: 0px 0px 4px 8px rgba(120, 120, 140, 0.0 ) inset,
0px 0px 0px 2px rgba(60, 160, 240, 0.8); 
border-radius: 4px;
width: 16px;
border-style: groove ridge ridge groove;
border-width: 2px;
border-color: rgba(60, 160, 240, 0.8);
background-image: url({% static 'tekst.png' %});
background-size: 20px 240px;
background-repeat: space;
background-position: center;
transition: 0.4s;
}

::-webkit-scrollbar-thumb {
border-radius: 4px;
background: rgba(202, 203, 225, 1.0) ;
background-color: rgba(202, 203, 225, 1.0);
border-style: groove ridge ridge groove;
border-width: 2px;
border-color: rgba(60, 160, 240, 0.4); 
background-image: url({% static 'tekst.png' %});
background-size: 18px 220px;
background-repeat: no-repeat;
box-shadow: 0px 0px 0px 2px rgba(0, 0, 210, 0.6);
background-position: center;
min-height: 540px;
height: 540px;
max-height: 540px;
width: 14px;
margin: 1px;
transition: 0.4s;
}

::-webkit-scrollbar-thumb:hover {
background:rgba(50, 151, 254, 1.0); 
background-color:rgba(200, 201, 254, 1.0); 
border-style: groove ridge ridge groove;
border-width: 2px;
border-color: rgba(60, 160, 240, 0.4); 
background-image: url({% static 'tekst.png' %});
background-size: 18px 220px;
background-position: center;
background-repeat: no-repeat;
min-height: 540px;
height: 540px;
max-height: 540px;
width: 14px;
margin: 1px;
transition: 0.4s;
}  */

@media screen and (max-width: 480px) {

  .glass_class_main::-webkit-scrollbar {
    display:none;
  }
}
  </style>