{% extends 'base_nd_link.html' %}
{% load bootstrap4 %}
{% load rest_framework %}
{% block title %} email-send {% endblock%}

{% block page %}

{% include 'snippets/scrollbars.html' %}

<div id="glass_id_main" class="glass_class_main"> 

  {% block content_1 %}

{% include 'snippets-accounts/header.html' %}

{% endblock content_1 %}

{% block content_2 %}

{% endblock content_2 %}


{% block content_3 %}
<style> 
/*   
* {
box-sizing: border-box;
} 



body {
display: flex;
align-items: center;
justify-content: center;
background: repeating-conic-gradient( rgba(60, 160, 240, 0.4) 10%, rgba(60, 160, 240, 0.8) 20%, rgba(60, 160, 240, 0.4) 30%, rgba(0, 60, 240, 0.4) 10%) no-repeat fixed center; 
z-index: -2;
overflow: hidden;
} */


.container_emailbox {
position: relative;
z-index:12;
background-color: rgb(100, 160, 220); 
background-color: rgba(100, 160, 220, 0.4); 
border-radius: 4px;
border: 4px solid rgb(110, 170, 230);
box-shadow: 0px 2px 0px rgb(110, 170, 230), 0px 3px 0px rgb(100, 160, 220), 0px 4px 0px rgb(90, 150, 210), 0px 5px 0px rgb(80, 140, 200), 0px 6px 0px rgb(119, 120, 123), 0px 7px 0px rgb(119, 120, 123), 0px 8px 0px rgb(77, 77, 79), 0px 9px 8px rgb(0, 17, 53); 
text-align: center; 
justify-content: center;
align-items: center;  
margin: 40px auto 10px auto;
padding: 20px auto 20px auto;
width: 560px;
max-width: 96%;
width: 560px; 

box-shadow: 0px 0px 2px 2px rgba(20, 120, 220, 0.6); 
padding: 10px;
background-color: rgba(60, 60, 120, 0.2);
left: 12px;

}

.input_mail_address {
margin-bottom: 10px;
font-size: 16px;
font-family: Times;
padding: 4px;
box-shadow: 0px 0px 2px 2px rgba(20, 120, 220, 0.6);
border: none;
outline: none;
border-radius: 2px;
background-color: rgba(220, 220, 230, 0.2);
color: rgba(0, 0, 220, 0.9);
min-height: 24px;
}

.input_mail_subject {

margin-bottom: 6px;
font-size: 16px;
font-family: Times;
padding: 4px;
box-shadow: 0px 0px 2px 2px rgba(20, 120, 220, 0.6);
border: none;
outline: none;
border-radius: 2px;
background-color: rgba(220, 220, 230, 0.2);
color: rgba(0, 0, 220, 0.9);
min-height: 24px;

}

.textarea_mail {
height: 200px; 
max-height:200px; 
width: 90%; 

resize: none;
font-size: 16px;
font-family: Times;
padding: 4px;
border: none;
outline: none;
box-shadow: 0px 0px 2px 2px rgba(20, 120, 220, 0.6);
margin-bottom: 10px;
border-radius: 2px;
background-color: rgba(220, 220, 230, 0.2);
color: rgba(0, 0, 220, 0.8);
overflow: auto;

}

.button_send_mail {
text-shadow:
0.04em 0.06em 0.04em rgba(60, 80, 100, 0.6);
position:relative;
background-color: rgba(120, 120, 140, 0.4);
border-width: 4px;
border-style: solid;
/*rgba(10, 80, 240, 0.6);
text-shadow: 0px 1px 1px #fff, 0 -1px 1px #000;*/ 
color:rgba(0, 0, 209, 0.9);
border-color: rgba(80, 180, 240, 0.8) rgba(40, 140, 220, 0.8) rgba(20, 120, 180, 0.8) rgba(40, 140, 220, 0.8);
border-radius:2px;
font-weight:bold;
font-family:Times;
font-variant: small-caps;
box-shadow:
0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
0px 0px 4px 4px rgba(220, 220, 230, 0.4);
transition: 0.2s;
width: 90px;
min-width: 90px;
min-height: 34px;
height: 34px;
max-height: 34px;
font-size: 18px;
line-height: 24px; 
z-index: 12;
margin-left: auto;
margin-right: auto;
/*    margin-right: 10px;   
float: right;
margin-top: -34px; */

}

.button_send_mail:hover,
.button_send_mail:focus {
background-color: rgba(140, 140, 160, 0.6); 
color: rgba(190, 200, 210, 0.8);
border-color: rgba(80, 180, 240, 0.6) rgba(40, 140, 220, 0.6) rgba(20, 120, 180, 0.6) rgba(40, 140, 220, 0.6);
box-shadow: 
0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
0px 0px 4px 4px rgba(230, 240, 240, 0.6);
border-width: 4px;
border-style: solid;
}

.button_send_mail:active {
color: rgba(210, 220, 230, 0.8);
transform: matrix(0.98, 0, 0, 0.98, 0, 2);
box-shadow: 
0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
0px 0px 2px 2px rgba(230, 240, 240, 0.8);
background-color: rgba(40, 160, 240, 0.8);
border-width: 6px;
border-style: solid;
border-color: rgba(80, 180, 240, 0.6) rgba(40, 140, 220, 0.6) rgba(20, 120, 180, 0.6) rgba(40, 140, 220, 0.6);
}   



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {

/*	-webkit-animation: autofill 0s forwards; */
background-color: rgba(220, 220, 240, 0.4) !important;
background-image: none !important;
background: rgba(220, 220, 240, 0.4);
background-color: rgba(220, 220, 240, 0.4);
background-image: linear-gradient(rgba(220, 220, 240, 0.4), rgba(220, 220, 240, 0.4));
background-repeat: no-repeat;
outline: none;
border: none;
color: blue;
/* box-shadow:
0px 0px 0px 2px rgba(10, 115, 230, 0.6) inset,
0px 0px 0px 2px rgba(220, 220, 240, 0.6); */
transition: 5000s ease-in-out 0s;
-webkit-text-fill-color: blue;
} 

input:-internal-autofill-selected,
input:-internal-autofill-selected:hover,
input:-internal-autofill-selected:focus,
input:-internal-autofill-selected:active {
transition: 5000s ease-in-out 0s;
background-color: rgba(220, 220, 240, 0.4) !important;
background-image: none !important;
background: rgba(220, 220, 240, 0.4);
background-color: rgba(220, 220, 240, 0.4);
background-image: linear-gradient(rgba(220, 220, 240, 0.4), rgba(220, 220, 240, 0.4));
background-repeat: no-repeat;
color: rgb(0, 0, 220) !important;
-webkit-text-fill-color: blue;
outline: none;
border: none;
color: blue;
transition: 5000s ease-in-out 0s;
/*  box-shadow:
0px 0px 0px 2px rgba(10, 115, 230, 0.6) inset,
0px 0px 0px 2px rgba(220, 220, 240, 0.6); */
transition: 5000s ease-in-out 0s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
/*	-webkit-animation: autofill 0s forwards; */
background-color: rgba(220, 220, 240, 0.4) !important;
background-color: rgba(220, 220, 240, 0.4);
background-image: none !important;
background: rgba(220, 220, 240, 0.4);
background-color: rgba(220, 220, 240, 0.4);
background-image: linear-gradient(rgba(220, 220, 240, 0.4), rgba(220, 220, 240, 0.4));
background-repeat: no-repeat;
outline: 2px solid transparent;
border: 2px solid transparent;
color: blue;
/*  box-shadow:
0px 0px 0px 2px rgba(10, 115, 230, 0.6) inset,
0px 0px 0px 2px rgba(220, 220, 240, 0.6); */
transition: background-color 5000s ease-in-out 0s;
-webkit-text-fill-color: blue;
border-image: linear-gradient(rgba(60, 160, 240, 1.0), rgba(60, 160, 240, 1.0)) 1 stretch;
} 

input:auto-fill,
input:auto-fill:hover,
input:auto-fill:focus,
input:auto-fill:active,
input:auto-fill:selected,
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active,
input:autofill:selected,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
textarea:auto-fill,
textarea:auto-fill:hover,
textarea:auto-fill:focus,
textarea:auto-fill:active,
textarea:auto-fill:selected,
textarea:autofill,
textarea:autofill:hover,
textarea:autofill:focus,
textarea:autofill:active,
textarea:autofill:selected,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover, 
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:focus, 
textarea:-webkit-autofill:active,
select:auto-fill,
select:auto-fill:hover,
select:auto-fill:focus,
select:auto-fill:active,
select:auto-fill:selected,
select:autofill,
select:autofill:hover,
select:autofill:focus,
select:autofill:active,
select:autofill:selected,
select:-webkit-autofill,
select:-webkit-autofill:hover, 
select:-webkit-autofill:focus,
select:-webkit-autofill:focus, 
select:-webkit-autofill:active, {
background-color: rgba(220, 220, 240, 0.4) !important;
-webkit-text-fill-color: rgba(20, 40, 200, 0.8) !important;
-webkit-text-fill-color: rgba(20, 40, 200, 0.8);
-webkit-box-shadow: 0px 0px 0px 18px rgba(200, 220, 240, 0.4) inset !important;
-webkit-box-shadow: 0px 0px 0px 18px rgba(200, 220, 240, 0.4) inset;
transition: all 5000s ease-in-out 0s;
background-repeat: no-repeat;
outline: 2px solid transparent;
border: 2px solid transparent;
color: blue;
background-image: linear-gradient(rgba(220, 220, 240, 0.4), rgba(220, 220, 240, 0.4));
border-image: linear-gradient(rgba(60, 160, 240, 1.0), rgba(60, 160, 240, 1.0)) 1 stretch;
}

@keyframes opacity_down_recapchta {
from {opacity:1;} 
to {opacity:0;}
}

#g_recaptcha_site {
    display: block ;
    align-items: center; 
    margin: 10px auto 0px auto; 
    justify-content: center; 
    min-width: 308px; 
    padding-left: 0px; 
    position: relative;
    transition: 0.6s;
    z-index: 12;
    border-width: 4px;
    border-style: solid;
    /*rgba(10, 80, 240, 0.6);
    text-shadow: 0px 1px 1px #fff, 0 -1px 1px #000;*/ 
    color:rgba(0, 0, 209, 0.9);
    border-color: rgba(80, 180, 240, 0.8) rgba(40, 140, 220, 0.8) rgba(20, 120, 180, 0.8) rgba(40, 140, 220, 0.8);
    border-radius:2px;
    padding: 0px;
    /* 
    transform-origin: bottom left;
    transform: scale(0.44);
    margin-top: -50px; */ 
    }

.app_link {
  text-shadow: -0.015em 0.015em 0.0em rgb(211, 211, 211), -0.03em 0.03em 0.015em rgb(211, 211, 211), 0.04em 0.0em 0.02em rgb(128, 128, 128) ,0.02em 0.02em 0.01em rgb(128, 128, 128);
  z-index: 12;
  position:relative; 
  transition: 1s;
  padding: 4px;
  width: 60%;
margin: 0px auto 2px auto;
  }

  .app_link:hover {
    transform: rotateY(360deg);
  }
</style>


<div class="container_emailbox" >
    <form method="post" autocomplete="off">
        {% csrf_token %} 

        <input class="input_mail_address"  type="email" name="email-sender" placeholder="your email address" autocomplete="off" style="margin-bottom: 16px; margin-top: 10px">
        <input class="input_mail_subject" type="text" name="email-subject" placeholder="your email subject" autocomplete="off" style="margin-bottom: 6px;">
   <!-- <div class="app_link" name="email-applink" style="
        padding: 4px;
        width: 60%;
        margin: 0px auto 2px auto;
        text-align: center;
        font-size: 16px;
        font-family: Times;
        font-weight: bold;
        box-shadow: 0px 0px 2px 2px rgba(20, 120, 220, 0.6);
        border-radius: 2px;
        background-color: rgba(60, 160, 240, 0.4);"><a href="https://booksmart-app-bd32a8932ff0.herokuapp.com/booksmartapp/" style="color: rgba(0, 0, 220, 0.9);" target="_blank">BOOKSMARTAPP-link to application</a></div> -->
        <textarea class="textarea_mail" placeholder="your email subject" name="email-text" autocomplete="off"> </textarea>
 <!--    <div id="g_recaptcha_site" class="g-recaptcha" style="" data-sitekey="6Le3IP4nAAAAAD64iV_EcXLuNBBUGo7Rg3KpuX26"
        data-callback="callback_site">
        </div>-->
        <div style="justify-content: center; text-align: center;">
        <button id="button_send_mail_id" class="button_send_mail" type="submit" > SEND </button></div>
    </form>
</div> 

 <!--   <script src="https://www.google.com/recaptcha/api.js" async defer></script>  

<script type="text/javascript">

function callback_site() {
const submitButton_ml = document.getElementById("button_send_mail_id");
const recaptcha_cont_mail = document.getElementById("g_recaptcha_mail");

submitButton_ml.removeAttribute("disabled");

/* recaptcha_cont_mail.style.animation = "opacity_down_recapchta 1.6s"
setTimeout(()=> {
    recaptcha_cont_mail.style.display = "none";
      }
      , 1400); */

}

</script>-->
{% endblock content_3 %}


{% block content_4 %}

{% if messages %}
{% include 'snippets-accounts/modal_messages_accounts.html' %}
{% endif %}

{% endblock content_4 %}


{% block content_5 %}

{% endblock content_5 %}

</div>
  {% endblock page %}

    