{% extends 'base_account.html' %}
{% load rest_framework %}
{% load bootstrap4 %}
{% block title %} password-change {% endblock %}

{% block page %}

{% include 'snippets/scrollbars.html' %}

<div id="glass_id_main" class="glass_class_main"> 

  {% block content_1 %}

  {% include 'snippets-accounts/header.html' %}
  
{% endblock content_1 %}

{% block content_2 %}

{% endblock content_2 %}


{% block content_3 %}
<style type="text/css">

	.container_accounts {
		position: relative;
		z-index :12;
		background-color: rgb(200, 200, 240);
		background-color: rgba(200, 200, 240, 0.2);
		text-align: center;
		justify-content: center;
		align-items: center;  
		border-radius:4px;
		box-shadow: 0px 0px 6px 6px rgba(180, 180, 180, 0.4);
		width:560px;
		padding:10px;
		margin:40px auto 20px auto;
		border: 4px solid rgba(60, 160, 240, 0.8);
		left: 12px;
		max-width: 92%;
		}
	
	.row_accounts {
		background-color: rgb(60, 160, 240);
		background-color: rgba(60, 160, 240, 0.2);
		text-align: center;
		justify-content: center;
		align-items: center;  
		border-radius:4px;
		border: 4px solid rgba(60, 160, 240, 0.8);
		box-shadow: 0px 0px 6px 6px rgba(180, 180, 180, 0.4);
		margin: auto;
		padding: 10px; 
		}	
	
	.column_accounts {
		background-color: rgb(60, 160, 240);
		background-color: rgba(60, 160, 240, 0.2);
		text-align: center;
		justify-content: center;
		align-items: center;  
		border-radius:4px;
		border: 4px solid rgba(60, 160, 240, 0.8);
		box-shadow: 0px 0px 6px 6px rgba(180, 180, 180, 0.4);
		margin: auto;
		padding: 10px 10px 70px 10px;
		}
	
#bs_input_account_password {
	background-color: rgb(100, 160, 220); 
	background-color: rgba(100, 160, 220, 0.2); 
	border-radius: 2px;
	border: 2px solid rgba(100, 160, 220, 0.6);
	box-shadow: 0px 0px 4px 4px rgba(180, 180, 180, 0.4);  
	justify-content: center;
	text-align: justify;
	text-justify: inter-word;
	padding:10px auto 10px auto;
	margin:auto;
	}	

.bs_input_account_password {
	background-color: rgb(100, 160, 220); 
	background-color: rgba(100, 160, 220, 0.2); 
	border-radius: 2px;
	border: 2px solid rgba(100, 160, 220, 0.6);
	box-shadow: 0px 0px 4px 4px rgba(180, 180, 180, 0.4);  
	justify-content: center;
	text-align: justify;
	text-justify: inter-word;
	padding:10px auto 10px auto;
	margin:auto;
	}

#bs_input_account_password_m {
	background-color: rgb(100, 160, 220); 
	background-color: rgba(100, 160, 220, 0.2); 
	border-radius: 2px;
	border: 2px solid rgba(240, 240, 240, 0.6);
	box-shadow: 0px 0px 4px 4px rgba(100, 160, 220, 0.6);  
	font-size: 18px;
	font-weight: bold;
	color: red;
	padding:10px;
	margin:auto;
	text-align: left;	
}		

.bs_input_account_password_m {
	background-color: rgb(240, 240, 240); 
	background-color: rgba(240, 240, 240, 0.4); 
	border-radius: 3px;
	border: 2px solid rgba(240, 240, 240, 0.6);
	box-shadow: 0px 0px 4px 4px rgba(100, 160, 220, 0.6); 
	font-weight: bold;
	font-size: 18px;
	color: red;
	padding:10px;
	margin:auto;
	text-align: left;	
}

.title_account {
	font-size: 30px; 
	font-family:Times;
	font-variant: small-caps;
	margin: 10px auto 10px auto;
	font-weight:bold;
	color:rgba(0, 0, 209, 0.9);
	}

#class_label {
	color: rgba(0, 0, 209, 0.9); 
	font-size: 24px; 
	font-weight:bold;
	font-family:Times;
	margin-bottom: -14px;
	font-variant: small-caps;
}

.class_label {
	color: rgba(0, 0, 209, 0.9); 
	font-size: 24px; 
	font-weight:bold;
	font-family:Times;
	margin: 14px auto -6px auto;
	font-variant: small-caps;
	text-align:center;
}

#bs_input_account_first {
	margin-top:-40px;
	}

#alert {
	top:20%;
	background-color: rgba(220, 20, 20, 0.9);
	outline: 10px solid rgba(220, 20, 20, 0.9);
	outline-offset: 10px;
	border: 10px solid rgba(220, 20, 20, 0.9);
	box-shadow: 0px 0px 6px 6px rgba(180, 180, 180, 0.4);
	width: 480px;
	}	

#alert:hover {
	background-color: rgba(220, 220, 220, 0.9);
	outline: 10px solid rgba(220, 20, 20, 0.9);
	outline-offset: 10px;
	border: 10px solid rgba(220, 20, 20, 0.9);
	box-shadow: 0px 0px 10px 6px rgba(220, 230, 240, 0.8);
	color: blue;
	scale:1.02;
	}	

#info {
	color: white;
	font-weight: bold;
	font-size: 24px;
	transition: 1s;
	text-align: center;
	}

#closebtn {
float:right;
color: rgba(240, 240, 250, 0.9);
font-weight: bold;
font-size: 30px;
padding: 5px;
cursor: pointer;
transition: 0.4s;

}

#closebtn:hover {
color: rgba(0, 0, 200, 0.9);
}

.closebtn {
float:right;
color: rgba(240, 240, 250, 0.9);
font-weight: bold;
float: right;
font-size: 30px;
padding: 5px;
cursor: pointer;
transition: 1s;
}

.closebtn:hover {
color: rgba(0, 0, 200, 0.9); ;
}

.button_blue_grey {
margin: 0px auto 10px 40px;
transition: 0.2s;
background-color: rgba(160, 170, 180, 0.8); 
color: rgba(20, 40, 220, 0.8); 
border-width: 6px;
border-style: solid;
border-radius:2px;
border-color: rgba(40, 80, 240, 0.6) rgba(20, 40, 220, 0.6) rgba(10, 20, 200, 0.6) rgba(20, 40, 220, 0.6);
border-radius:2px;
padding: 4px;
font-weight:bold;
font-family:Times;
font-variant:small-caps;
font-size:20px;
min-width: 120px;
float:left;

box-shadow:
0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
0px 0px 4px 4px rgba(220, 220, 230, 0.4);
cursor: pointer;
}

.button_blue_grey:hover,
.button_blue_grey:focus {
border-color: rgba(40, 80, 240, 0.8) rgba(20, 40, 220, 0.8) rgba(10, 20, 200, 0.8) rgba(20, 40, 220, 0.8);
background-color: rgba(210, 20, 10, 0.8); 
color: rgba(220, 220, 230, 0.8);
box-shadow: 
0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
0px 0px 4px 4px rgba(230, 240, 240, 0.6);
border-width: 6px;
border-style: solid;
border-radius:2px;
}

.button_blue_grey:active {
transform: matrix(0.98, 0, 0, 0.98, 0, 2);
border-color: rgba(40, 80, 240, 0.8) rgba(20, 40, 220, 0.8) rgba(10, 20, 200, 0.8) rgba(20, 40, 220, 0.8);    
box-shadow: 
0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
0px 0px 2px 2px rgba(230, 240, 240, 0.8);
border-width: 6px;
border-style: solid;
border-radius:2px;
}

.button_red_grey {
margin: 0px 40px 10px auto;
transition-duration: 0.2s;
background-color: rgba(160, 170, 180, 0.8);
color: rgba(220, 20, 20, 0.6); 
border-width: 6px;
border-style: solid;
border-color: rgba(240, 40, 40, 0.6) rgba(220, 20, 20, 0.6) rgba(200, 10, 10, 0.6) rgba(220, 20, 20, 0.6);
border-radius:2px;
padding: 4px;
font-weight:bold;
font-family:Times;
font-variant:small-caps;
font-size:20px;
min-width: 120px;
float:right;
box-shadow:
0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
0px 0px 4px 4px rgba(220, 220, 230, 0.4);
cursor: pointer;
}

.button_red_grey:hover,
.button_red_grey:focus {
border-color: rgba(240, 40, 40, 0.8) rgba(220, 20, 20, 0.8) rgba(200, 10, 10, 0.8) rgba(220, 20, 20, 0.8);
background-color: rgba(10, 20, 210, 0.8);
color: rgba(220, 220, 230, 0.8);    
box-shadow: 
0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
0px 0px 4px 4px rgba(230, 240, 240, 0.6);
border-width: 6px;
border-style: solid;
border-radius:2px;
}

.button_red_grey:active {
border-color: rgba(240, 40, 40, 0.8) rgba(220, 20, 20, 0.8) rgba(200, 10, 10, 0.8) rgba(220, 20, 20, 0.8);
transform: matrix(0.98, 0, 0, 0.98, 0, 2);
box-shadow: 
0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
0px 0px 2px 2px rgba(230, 240, 240, 0.8);
border-width: 6px;
border-style: solid;
border-radius:2px;
}

#texthtml {
color: rgba(240, 240, 250, 0.9);
font-weight: bold;
font-size: 24px;
transition: 1s;
text-align: center;
}

@media screen and (max-width: 480px) {
.container_accounts {
	left: 0;
}
}


</style>

<div>
  <dialog id="alert">
    <p id="closebtn">✖</p>
    <p id="info"> Remeber both passwords <br> must be the same</p>
    <p id="texthtml"></p>
  </dialog>
  </div>
		
<script>

var modal = document.getElementById("alert")
var span1 = document.getElementById("closebtn")
var add_pass = document.getElementById("texthtml")

function validateForm() {
	let x = document.forms["register_v"]["password"].value;
	let y = document.forms["register_v"]["password2"].value;
	let text = "You try with:<br>" + x + "<br>" + y

	if (x != y) {
	add_pass.innerHTML = text;
	modal.showModal();
	return false;
	}
}

span1.onclick = function() {
	modal.close();
	alert("YOU SHOULD TRY AGAIN");
	//setTimeout(function() {modal.close()}, 1000);
	//console.clear();
		} 
		
</script>
  

<div class="container_accounts" id="cont_account_password">
    <div class="row_accounts" id="row_account_password">
  <div class="column_accounts" id="col_account_password">
	<form  action="" method="post" class="was-validated" novalidate name="change_pass">
	{% csrf_token %}

<p class="title_account">Password Update</p>
<div style="margin-left:7.5%">	{% render_field serializer.current_url style=style %} </div>

<div id="bs_input_account_first"  class="bs_input_account_password">
<p class="class_label"> Current Password </p>
<div style="margin: 0px auto 0px 7.5%;">	{% render_field serializer.oldpassword style=style %} </div>
</div>

<div class="bs_input_account_password">
<p class="class_label"> New Password </p> 
<div style="margin: 0px auto 0px 7.5%;" id="password1">{% render_field serializer.password1 style=style %} </div>
</div>

<div class="bs_input_account_password"> 
<p class="class_label"> Confirm New Password </p>
<div style="margin: 0px auto 0px 7.5%;" id="password2"> {% render_field serializer.password2 style=style %} </div>
</div>	

<div  class="class_text_info">
	{% for field in password_form %}
		<div style="color: red; font-size:26px;">
		{% for error in field.errors %}
			<p >{{ error }}</p>
		{% endfor %}
		</div>
	{% endfor %}
	{% if password_form.non_field_errors %}
	<div style="color: red; font-size:26px;">
		<p>{{password_form.non_field_errors}}</p>
	</div>
	{% endif %}

	{% if success_message %}
	<h4 style="color:green; text-align: center;">{{success_message}}</h4>
	{% endif  %}
</div>
	  <br>
<div  class="class_text_info">  
	  {% if errors %}
	  <div id="bs_input_account_password_m" class="alert alert-dismissible fade show">
		<p type="button" class="class_close" >&times;</p>
	  {% for error in errors %}
	  
	  <h5 id='p_r_b'  class="p_remove">
		{% autoescape off %} {{ error }} {% endautoescape %}</h5>
	  
	  {% endfor %}
	  <h5> You try update with:
		
		<br>current password: {{ oldpassword }},</h5>
	  </div>
	  {% endif %}  
	  
		{% if msgs_info %}
	  <div id="bs_input_account_password_m" class="alert alert-dismissible fade show">
		 <span> <p type="button" class="close" >&times;</p>
	  {% for msg_info in msgs_info %}
	  
	  <p id='p_r_b' class="class_text_info">
		  {% autoescape off %} {{ msg_info }} {% endautoescape %}</p></span>
	
	  {% endfor %}
	  </div>
	  {% endif %}
  
  </div>

  <a href="{% url 'index' %}">
    <button type="button" class="button_blue_grey"  >BACK </button>   </a>
  
  <button name="button_account_submit" type="submit" id="button_sm" class="button_red_grey"> SAVE </button>

</form>
</div>
</div><!-- /.row-fluid -->
</div>


<script>
	const infs = document.getElementsByClassName('class_text_info');
	
	for (const inf of infs) {
	  inf.addEventListener('click', (event) => {
		event.target.remove();
	  });
	}
	
	</script>

	{% endblock content_3 %}


	{% block content_4 %}

{% if messages %}
{% include 'snippets-accounts/modal_messages_accounts.html' %}
{% endif %}

{% endblock content_4 %}


{% block content_5 %}
  
{% endblock content_5 %}

</div>
      {% endblock page %}

