{% extends 'base_account_no.html' %}
{% load rest_framework %}
{% load bootstrap4 %}
{% block title %} register-site {% endblock%}

{% block page %}

{% include 'snippets/scrollbars.html' %}

<div id="glass_id_main" class="glass_class_main"> 

  {% block content_1 %}


  {% endblock content_1 %}

  {% block content_2 %}
  {% include 'snippets-accounts/jumbotron.html' %}
{% include 'snippets-accounts/header.html' %}

{% endblock content_2 %}


{% block content_3 %}

<style type="text/css">

.container_accounts {
	position: relative;
	z-index :12;
	background-color: rgb(60, 160, 240);
	background-color: rgba(60, 160, 240, 0.2);
	text-align: center;
	justify-content: center;
	align-items: center;  
	border-radius:4px;
	border: 4px solid rgba(60, 160, 240, 0.8);
	box-shadow: 0px 0px 6px 6px rgba(180, 180, 180, 0.4);
	width:560px;
	padding:10px;
	margin:40px auto 40px auto;
  max-width: 92%;
  left: 12px;
  }

.row_accounts {
	background-color: rgb(60, 160, 240);
	background-color: rgba(60, 160, 240, 0.2);
	text-align: center;
	justify-content: center;
	align-items: center;  
	border-radius:4px;
	border: 4px solid rgba(60, 160, 240, 0.8);
	box-shadow: 0px 0px 6px 6px rgba(180, 180, 180, 0.4);
	margin: auto;
	padding: 10px; 
  }

.column_accounts {
	background-color: rgb(60, 160, 240);
	background-color: rgba(60, 160, 240, 0.2);
	text-align: center;
	justify-content: center;
	align-items: center;  
	border-radius:4px;
	border: 4px solid rgba(60, 160, 240, 0.8);
	box-shadow: 0px 0px 6px 6px rgba(180, 180, 180, 0.4);
	margin: auto;
	padding: 10px  10px 70px 10px;
  }
    
#bs_input_accounts_register {
	background-color: rgb(100, 160, 220); 
	background-color: rgba(100, 160, 220, 0.2); 
	border-radius: 2px;
	border: 2px solid rgba(100, 160, 220, 0.6);
	box-shadow: 0px 0px 4px 4px rgba(180, 180, 180, 0.4);  
	justify-content: center;
	text-align: justify;
	text-justify: inter-word;
	padding:10px auto 10px auto;
	margin:auto;
  }	

.bs_input_accounts_register {
	background-color: rgb(100, 160, 220); 
	background-color: rgba(100, 160, 220, 0.2); 
	border-radius: 2px;
	border: 2px solid rgba(100, 160, 220, 0.6);
	box-shadow: 0px 0px 4px 4px rgba(180, 180, 180, 0.4);  
	justify-content: center;
	text-align: justify;
	text-justify: inter-word;
	margin:auto;
  }	

#bs_input_accounts_register_m {
	background-color: rgb(240, 240, 240); 
	background-color: rgba(240, 240, 240, 0.4); 
	border-radius: 2px;
	border: 2px solid rgba(240, 240, 240, 0.6);
	box-shadow: 0px 0px 4px 4px rgba(100, 160, 220, 0.6);  
	font-size: 18px;
	font-weight: bold;
	color: red;
	padding:10px;
	margin:auto;
	text-align: left;
}	
 
#bs_input_accounts_register_r {
    width:160px;
    margin:10px auto -14px auto;
  }

.title_account {
  font-size: 30px; 
  font-family:Times;
  font-variant: small-caps;
  margin: 10px auto 10px auto;
  font-weight:bold;
  color:rgba(0, 0, 209, 0.9);
  }

#class_label {
  color: rgba(0, 0, 209, 0.9); 
  font-size: 24px; 
  font-weight:bold;
  font-family:Times;
  margin: 14px auto -6px auto;
  font-variant: small-caps;
  text-align:center;
}

.class_label {
  color: rgba(0, 0, 209, 0.9); 
  font-size: 24px; 
  font-weight:bold;
  font-family:Times;
  margin: 14px auto -6px auto;
  font-variant: small-caps;
  text-align:center;
}

.class_text_info {
  color: rgba(0, 0, 209, 0.9); 
  font-size: 22px; 
  font-weight:bold;
}

#bs_input_account_first {
  margin-top:-40px;
  }

  #closebtn {
    float:right;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    transition: 1s;
    }
    
    #closebtn:hover {
    color: blue;
    }
    
    .closebtn {
      float:right;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 30px;
      padding: 5px;
      cursor: pointer;
      transition: 1s;
      }
      
    .closebtn:hover {
      color: blue;
      }

#alert_info {
top:20%;
background-color: rgba(220, 20, 20, 0.9);
outline: 10px solid rgba(220, 20, 20, 0.9);
outline-offset: 10px;
border: 10px solid rgba(220, 20, 20, 0.9);
box-shadow: 0px 0px 6px 6px rgba(180, 180, 180, 0.4);
width: 480px;
}

#alert_info:hover {
	background-color: rgba(220, 220, 220, 0.9);
	outline: 10px solid rgba(220, 20, 20, 0.9);
	outline-offset: 10px;
	border: 10px solid rgba(220, 20, 20, 0.9);
	box-shadow: 0px 0px 10px 6px rgba(220, 230, 240, 0.8);
	color: blue;
	scale:1.02;
	}

#alert_text {
	color: white;
	font-weight: bold;
	font-size: 24px;
	transition: 1s;
	text-align: center;
	}

#texthtml {
	color: white;
	font-weight: bold;
	font-size: 24px;
	transition: 1s;
	text-align: center;
	}

  /*
.bs_input_checkbox {
  align-content: center; 
  
  height:30px;
  justify-content: center;
	text-align: center;
  margin-top:12px; 
  margin-bottom:10px;
}

#bs_input_checkbox {
  align-content: center; 
  padding:12px 5px 8px 5px; 
  height:30px;
  justify-content: center;
  display: inline; 
  flex-wrap: wrap;
  }*/
  .btnclose_x {
    float: right;
    position: relative;
    font-size: 18px;
    line-height: 18px;
  }

  .button_blue_grey {
    transition: 0.2s;
    background-color: rgba(160, 170, 180, 0.8); 
    color: rgba(20, 40, 220, 0.8); 
    border-width: 6px;
    border-style: solid;
    border-radius:2px;
    border-color: rgba(40, 80, 240, 0.6) rgba(20, 40, 220, 0.6) rgba(10, 20, 200, 0.6) rgba(20, 40, 220, 0.6);
    border-radius:2px;
    padding: 4px;
    font-weight:bold;
    font-family:Times;
    font-variant:small-caps;
    font-size:20px;
    min-width: 120px;
    float:left;
    margin: 14px auto 4px 40px;
    box-shadow:
    0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
    0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
    0px 0px 4px 4px rgba(220, 220, 230, 0.4);
    
    }
    
    .button_blue_grey:hover {
    border-color: rgba(40, 80, 240, 0.8) rgba(20, 40, 220, 0.8) rgba(10, 20, 200, 0.8) rgba(20, 40, 220, 0.8);
    background-color: rgba(210, 20, 10, 0.8); 
    color: rgba(220, 220, 230, 0.8);
    box-shadow: 
    0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
    0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
    0px 0px 4px 4px rgba(230, 240, 240, 0.6);
    border-width: 6px;
    border-style: solid;
    border-radius:2px;
    }
    
    .button_blue_grey:active {
    transform: matrix(0.98, 0, 0, 0.98, 0, -2);
    border-color: rgba(40, 80, 240, 0.8) rgba(20, 40, 220, 0.8) rgba(10, 20, 200, 0.8) rgba(20, 40, 220, 0.8);    
    box-shadow: 
    0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
    0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
    0px 0px 2px 2px rgba(230, 240, 240, 0.8);
    border-width: 6px;
    border-style: solid;
    border-radius:2px;
    }
    
    .button_red_grey {
    transition-duration: 0.2s;
    background-color: rgba(160, 170, 180, 0.8);
    color: rgba(220, 20, 20, 0.6); 
    border-width: 6px;
    border-style: solid;
    border-color: rgba(240, 40, 40, 0.6) rgba(220, 20, 20, 0.6) rgba(200, 10, 10, 0.6) rgba(220, 20, 20, 0.6);
    border-radius:2px;
    padding: 4px;
    font-weight:bold;
    font-family:Times;
    font-variant:small-caps;
    font-size:20px;
    width: 120px;
    float:right;
    box-shadow:
    0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
    0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
    0px 0px 4px 4px rgba(220, 220, 230, 0.4);
    margin: 14px 20px 4px auto;
    }
    
    .button_red_grey:hover {
    border-color: rgba(240, 40, 40, 0.8) rgba(220, 20, 20, 0.8) rgba(200, 10, 10, 0.8) rgba(220, 20, 20, 0.8);
    background-color: rgba(10, 20, 210, 0.8);
    color: rgba(220, 220, 230, 0.8);    
    box-shadow: 
    0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
    0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
    0px 0px 4px 4px rgba(230, 240, 240, 0.6);
    border-width: 6px;
    border-style: solid;
    border-radius:2px;
    }
    
    .button_red_grey:active {
    border-color: rgba(240, 40, 40, 0.8) rgba(220, 20, 20, 0.8) rgba(200, 10, 10, 0.8) rgba(220, 20, 20, 0.8);
    transform: matrix(0.98, 0, 0, 0.98, 0, -2);
    box-shadow: 
    0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
    0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
    0px 0px 2px 2px rgba(230, 240, 240, 0.8);
    border-width: 6px;
    border-style: solid;
    border-radius:2px;
    }

    .bs_input_recaptcha {
      align-items: center;
    }

    @media screen and (max-width: 480px) {
      .container_accounts {
        left: 0;
        width: 98%;
        max-width: 98%;
      }
      .button_blue_grey,
      .button_red_grey {
        width: 100px;
        font-size: 18px;
      }
    }
</style>


<div class="container_accounts" id="container_accounts_register">
	<div class="row_accounts" id="row_accounts_register">
    <div class="column_accounts" id="column_accounts_register">

      <form action=""  method="post" class="was-validated" id="register_v" name="register_v" onsubmit="return validateForm()">

   {% csrf_token %}

   <p class="title_account"> REGISTER </p>

   <div style="margin-left:7.5%">	
     {% render_field serializer.current_url style=style %} 
    </div>

  <div id="bs_input_account_first" class="bs_input_accounts_register" style="padding-top: padding-top: 4px; padding-bottom: 8px;">	
    <p class="class_label" style="margin: 10px auto -22px auto; line-height: 1;"> Username </p>
    <div style="margin: 0px auto 0px auto;"> 
      {% render_field serializer.username style=style %} 
    </div>
  </div>

  <div  class="bs_input_accounts_register" style="padding-top: 0px; padding-bottom: 8px;">
    <p class="class_label" style="margin: 10px auto -24px auto; line-height: 1;"> Email </p>    
    <div style="margin: 0px auto 0px auto;"> 
    {% render_field serializer.email style=style %} 
    </div>
  </div>

<div class="bs_input_accounts_register" style="padding-top: 0px; padding-bottom: 8px;">
  <p class="class_label" style="margin: 10px auto 2px auto; line-height: 1;"> Password </p>  
   <div style="margin: 0px auto 0px auto;" id="password" >
     	{% render_field serializer.password style=style %} 
    </div>
  </div>

  <div class="bs_input_accounts_register" style="padding-top: 0px; padding-bottom: 8px;">
    <p class="class_label" style="margin: 10px auto -22px auto; line-height: 1;"> Confirm Password </p>
   <div style="margin: 0px auto 0px auto;" id="password2"> 
     {% render_field serializer.password2 style=style %}  
    </div>
  </div>

   <div class="bs_input_accounts_register">
    <div class="bs_input_checkbox"> 	
      {% render_field serializer.remember_me style=style  %}
    </div>
   </div>

   <div class="bs_input_accounts_register" style="padding-top: 0px; padding-bottom: 8px;">
    <p class="class_label" style="line-height: 1.2;"> Veryfication</p> 
    <div class="bs_input_recaptcha" style="postion: relative; margin-left: auto; margin-right: auto;"> 	


      <style>

        #g_recaptcha_id_site > div {
          position: relative;
          margin: 0px auto 0px auto;
        }
        </style>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>     
        <div class="form-group" style="margin: 0px; padding:10px 0px 10px 0px;">
    
        <div id="g_recaptcha_id_site" class="g-recaptcha" style="position: relative; align-items: center; margin: 0px auto 0px auto; justify-content: center;" data-sitekey="6Le3IP4nAAAAAD64iV_EcXLuNBBUGo7Rg3KpuX26" data-callback="callback">
        </div>
                   
               
    
          <div class="valid-feedback" id="valid"  style="text-align:center; margin: auto;">value field is filled out.</div>
          <!--<div class="invalid-feedback" id="valid" style="margin:-1px auto -5x auto; padding-left: 20px;">please fill out this field.</div>-->
      <div class="invalid-feedback" id="valid" style="text-align:center; margin: auto;" ><span> please fill out this field. </span>
      </div>
              </div>
    
              <script type="text/javascript">
                function callback() {
                  const submitButton = document.getElementById("button_sm");
                  submitButton.removeAttribute("disabled");
                }
              </script>


    </div>
   </div>


  <div id="info-remove-all">
  {% if errors %}
  <div id="bs_input_accounts_register_e" class="info-remove">

    <span>
      <p type="button" class="btnclose_x"  >✖</p><br>
      {% for error in errors %}
      <p style="color: rgba(220, 20, 20, 0.8); font-weight: bold" class="class_text_info">
      {% autoescape off %} {{ error }} {% endautoescape %}
      </p>
    </span>

  {% endfor %}

  <span class="class_text_info"><p style="font-weight: bold"> You try register with:</p>
    <p> username: {{ user_name }},
    <br> email: {{ e_mail }},
    <br> password : {{ pass1 }},
    <br> password repeat: {{ pass2 }},
    </p></span>

  </div>
  {% endif %}
  

  {% if msgs_info %}
  <div id="bs_input_accounts_register_m" class="info-remove">
    <span>
      <p type="button" class="btnclose_x"  >✖</p><br>
      {% for msg_info in msgs_info %}
  
      <p style="color: rgba(220, 20, 20, 0.8); font-weight: bold" class="class_text_info">
      {% autoescape off %} {{ msg_info }} {% endautoescape %}
      </p>
    </span>
  {% endfor %}
  </div>
  {% endif %}

</div>

 

<a href="{% url 'index' %}">
<button type="button" class="button_blue_grey"> BACK </button> </a>

<button name="button_account_submit" type="submit" id="button_sm" class="button_red_grey" disabled> SAVE </button>
 
      </form>
    </div>
  </div>
</div>

<script>
/*const infs = document.getElementsByClassName('info-remove');

for (const inf of infs) {
  inf.addEventListener('click', (event) => {
    event.target.remove();
  });
} */

const infos = document.getElementById('info-remove-all');
infos.addEventListener('click', (event) => {
  event.target.remove();
});
</script>

{% if messages %}
{% include 'snippets-accounts/modal_messages_accounts.html' %}
{% endif %}


{% endblock content_3 %}


{% block content_4 %}

<div>
  <dialog id="alert_info">
    <p id="closebtn">✖</p>
    <p id="alert_text"> Remeber both passwords <br> must be the same</p>
    <p id="texthtml"></p>
  </dialog>
  </div>

<script>

  var modal = document.getElementById("alert_info")
  var span1 = document.getElementById("closebtn")
  var add_pass = document.getElementById("texthtml")
  
  function validateForm() {
    let x = document.forms["register_v"]["password"].value;
    let y = document.forms["register_v"]["password2"].value;
    let text = "You try with:<br>" + x + "<br>" + y

    if (x != y) {
      add_pass.innerHTML = text;
      modal.showModal();
      return false;
    }
  }

  span1.onclick = function() {
    modal.close();
    alert("YOU SHOULD TRY AGAIN");
    //setTimeout(function() {modal.close()}, 1000);
    //console.clear();
        } 

  </script>
  
{% endblock content_4 %}


{% block content_5 %}
  
{% endblock content_5 %}

</div>
      {% endblock page %}

