<style type="text/css">
  .my_container_marquee {
      position:relative;
      z-index: 10;
      padding: 2px 0px 0px 0px;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: -8px auto 24px auto;
      color: MediumBlue;
      font-family: Georgia; 
      font-weight: bold; 
      font-size: 36px; 
      text-shadow: -0.015em 0.015em 0.0em rgb(211, 211, 211), -0.03em 0.03em 0.015em rgb(211, 211, 211), 0.04em 0.0em 0.02em rgb(128, 128, 128) ,0.02em 0.02em 0.01em rgb(128, 128, 128)    
    }

    @media screen and (max-width: 820px) {
.my_container_marquee {
  font-size: 32px; 
      } 
      }
  
    @media screen and (max-width: 640px) {
.my_container_marquee {
  font-size: 28px; 
      } 
      }

@media screen and (max-width: 560px) {
.my_container_marquee {
  font-size: 26px; 
} 
}

@media screen and (max-width: 480px) {
.my_container_marquee {
  font-size: 24px; 
      } 
      }
  </style>
  
  <div class="my_container_marquee" id="mycontainer_marquee_id" >
      
      <marquee class="class_marquee" marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();"  > ☞ FEEL &nbsp; FREE &nbsp; TO &nbsp; USE &nbsp; WEB - APPLICATION &nbsp; THAT &nbsp; ALLOWS &nbsp; TO >>> SEARCH &nbsp; & &nbsp; FIND <<< &nbsp; ☼ &nbsp; >>> SAVE &nbsp; & &nbsp; READ <<< &nbsp; BOOKS &nbsp; FROM  &nbsp; AROUND &nbsp; THE &nbsp; WORLD ☜ </marquee>
    
  </div>