<style>

  @keyframes opacityanime {
  from {opacity:1;} 
  to {opacity:0;}
  }
  
  @keyframes modalfadeout {
  from {background-color: rgba(20, 100, 200, 0.4);} 
  to {background-color: rgba(20, 100, 200, 0.0);}
  }
  
  @keyframes modalfadein {
  from {background-color: rgba(20, 100, 200, 0.0);} 
  to {background-color: rgba(20, 100, 200, 0.4);}
  }
  
  .mymodal_messages_back_mail {
  position: fixed;
  display: none;
  z-index:77;
  /*
  display:none;padding-top: 100px;  Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(20, 100, 200); 
  background-color: rgba(20, 100, 200, 0.4); 
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  animation: noname;
  }
  
  /* Modal Content */
  .mycontainer_messages_mail {
  position: relative;
  z-index:88;
  display: none;
  top: 80px;
  width: 560px;
  max-width: 96%;
  background-color: rgba(60, 160, 240, 0.4);
  /*
  display:none;
  font-family: Times;
  padding: 5px;
  font-size:18px;
  text-align: center;
  font-weight: bold;
     left: 50%;
  margin-left: -280px; */
  border-radius: 4px;
  box-shadow: 
  0px 0px 10px 10px rgba(160, 170, 180, 0.4),
  0px 10px 20px 0px rgba(160, 170, 180, 0.4),
  -6px 0px 16px 0px rgba(160, 170, 180, 0.4),
  6px 0px 16px 0px rgba(160, 170, 180, 0.4),
  0px 10px 16px 0px rgba(160, 170, 180, 0.4),
  0px -6px 16px 0px rgba(160, 170, 180, 0.4);
  border: 6px solid rgba(60, 160, 240, 0.8);
  padding: 10px;
  animation-delay: 2s;
  animation: noname2;
  transition: 0.1s;
  margin: auto;
  }
  
  .mycontainer_messages_mail:hover {
  background: rgba(60, 160, 240, 0.6);
  box-shadow: 
	0px 4px 16px 10px rgba(220, 230, 240, 0.4),
  	0px 0px 30px 290px rgba(220, 230, 240, 0.4) inset;
  }
  
  .mycontainer_messages_mail:active {
  background: rgba(60, 160, 240, 0.6);
  box-shadow: 
	0px 4px 16px 10px rgba(230, 240, 250, 0.6),
  0px 0px 30px 290px rgba(230, 240, 250, 0.6) inset;
  }
  
  @keyframes unzoomrotate {
    from {transform:scale(1); rotate:360deg;} 
    to {transform:scale(0); rotate: 0deg;}
  } 
  @keyframes zoomrotate {
    from {transform:scale(0); rotate:0deg;} 
    to {transform:scale(1); rotate: 360deg;}
  } 
  
  /* Add Animation */
  @keyframes unzoom {
    from {transform:scale(1);} 
    to {transform:scale(0);
    }
  }
  
  @keyframes zoom {
    from {transform:scale(0);} 
    to {transform:scale(1);
    }
  }
  
  @keyframes animatetopback {
    from {top: 0px; }
    to {top:-1000px; }
  }
  
  /* Modal Content 
  #modal-cont_messages {
  border-radius: 4px;
  border: 6px solid rgba(240, 240, 240, 0.6);
  margin: 120px auto auto auto;*/
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }*/

  .myrow_messages_mail {
  background-color: rgb(60, 160, 240); 
  background-color: rgba(60, 160, 240, 0.0);
  border: 6px solid rgba(60, 160, 240, 0.8);
  box-shadow: 
  0px 0px 4px 4px rgba(160, 170, 180, 0.2);
  border-radius: 4px;
  padding: 10px;
  margin:auto;
}

.mycolumn_messages_mail {
  background-color: rgb(60, 160, 240); 
  background-color: rgba(60, 160, 240, 0.0);
  border: 6px solid rgba(60, 160, 240, 0.8);
  box-shadow: 
  0px 0px 4px 4px rgba(160, 170, 180, 0.2);
  border-radius: 4px;
  padding: 10px;
  margin:auto;
  }
  
    
 .modal_header_messages_mail {
  background-color: rgb(60, 60, 120); 
  background-color: rgba(60, 60, 120, 0.2);
  border-radius: 4px;
 border: 6px solid rgba(60, 160, 240, 0.8);
  margin: auto;
  padding: 0px 0px 8px 0px;
  transition: 0.1s;
  text-align:center;
  }

  .modal_header_messages_mail:hover,
  .modal_header_messages_mail:focus {
    background-color: rgb(60, 60, 120); 
    background-color: rgba(60, 60, 120, 0.4);
  }
  
  .modal_header_messages_mail:active {
    background-color: rgb(160, 160, 180); 
    background-color: rgba(160, 160, 180, 0.4);
  }
  
#modal_body_messages_main_mail {
  background-color: rgb(60, 60, 120); 
  background-color: rgba(60, 60, 120, 0.0); 
  border-radius: 4px;
  border: 6px solid rgba(60, 160, 240, 0.8);
  border-radius: 4px;
  padding: 1% 0px 0px 0px;
  margin: 10px auto 10px auto;
  min-height: 366px;
  max-height: 366px;
  height: 366px;
  transition: 0.2s;
  overflow: hidden;
  text-align: center;
  }
 
#modal_body_messages_main_mail:hover,
#modal_body_messages_main_mail:focus {
  background-color: rgb(60, 60, 120); 
  background-color: rgba(60, 60, 120, 0.4);
}
  
#modal_body_messages_main_mail:active {
  background-color: rgb(160, 160, 180); 
  background-color: rgba(160, 160, 180, 0.4);  
  }
  
.modal_footer_messages_mail {
  justify-content:center;
  text-align:center;
  background-color: rgb(60, 60, 120); 
  background-color: rgba(60, 60, 120, 0.2);
  border-radius: 4px;
  border: 6px solid rgba(60, 160, 240, 0.8);
  margin:auto;
  padding:10px auto 10px auto;
  transition: 0.2s;
  }

.modal_footer_messages_mail:hover {
  background-color: rgb(180, 180, 180); 
  background-color: rgba(180, 180, 180, 0.6);
}
  
.modal_footer_messages_mail:active {
    background-color: rgb(180, 180, 180); 
    background-color: rgba(180, 180, 180, 0.8);
    }
    
.close_m {
  color:  rgba(220, 230, 240, 0.6);
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
  font-family: helvetica;
  color: rgba(220, 230, 240, 0.6);
  text-shadow:
  -0.06em 0.06em 0.04em rgba(0, 0, 209, 0.6);
  padding:4px;
line-height: 22px;
  }
  
.close_m:hover {
  text-shadow:
  -0.06em 0.06em 0.04em rgba(9, 109, 209, 0.8)
  color: rgba(230, 240, 250, 0.8);
  }

.close_m:active {
  transform: matrix(0.98, 0, 0, 0.98, 0, -2);
  color: rgba(20, 20, 220, 0.9);
  text-shadow:
  -0.03em 0.03em 0.02em rgba(220, 230, 240, 0.8);
  }

.close_m:focus {
  border:none;
  outline:none;
  text-decoration: none;
  }
  
  .close_mb_mail {
    text-shadow:
    0.04em 0.06em 0.04em rgba(60, 80, 100, 0.6);
    position:relative;
    background-color: rgba(40, 160, 240, 0.4);
    border-width: 6px;
    border-style: solid;
    /*rgba(10, 80, 240, 0.6);
    text-shadow: 0px 1px 1px #fff, 0 -1px 1px #000;*/ 
    color:rgba(0, 0, 209, 0.9);
    border-color: rgba(80, 180, 240, 0.8) rgba(40, 140, 220, 0.8) rgba(20, 120, 180, 0.8) rgba(40, 140, 220, 0.8);
    border-radius:2px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight:bold;
    font-family:Times;
    font-variant: small-caps;
    font-size: 20px;
    min-width: 140px;
    width: 140px;
    margin: 14px auto 14px auto;  
    box-shadow:
    0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
    0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
    0px 0px 4px 4px rgba(220, 220, 230, 0.4);
    transition: 0.2s;
    min-height: 42px;
    height: 42px;
    max-height: 42px;
  line-height: 1.4;
    }
    
    .close_mb_mail:hover,
    .close_mb_mail:focus {
    background-color: rgba(40, 160, 240, 0.6); 
    color: rgba(190, 200, 210, 0.8);
    border-color: rgba(80, 180, 240, 0.6) rgba(40, 140, 220, 0.6) rgba(20, 120, 180, 0.6) rgba(40, 140, 220, 0.6);
    box-shadow: 
    0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
    0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
    0px 0px 4px 4px rgba(230, 240, 240, 0.6);
    border-width: 6px;
    border-style: solid;
    }
    
    .close_mb_mail:active {
    color: rgba(210, 220, 230, 0.8);
    transform: matrix(0.98, 0, 0, 0.98, 0, 2);
    box-shadow: 
    0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
    0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
    0px 0px 2px 2px rgba(230, 240, 240, 0.8);
    background-color: rgba(40, 160, 240, 0.8);
    border-width: 6px;
    border-style: solid;
    border-color: rgba(80, 180, 240, 0.6) rgba(40, 140, 220, 0.6) rgba(20, 120, 180, 0.6) rgba(40, 140, 220, 0.6);
    }
    
  
#a_submit_t {
  animation-name: anime_submit_t;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  }
  
@keyframes anime_submit_t {
  50% {color: red;}
    }  

@keyframes anime_red_text {
  50% {color: red;}
    }  

.title_account {
  position: relative;
  font-size: 30px; 
  font-family:Times;
  font-variant: small-caps;
  margin: 5px auto 5px 12px;
  font-weight:bold;
  color:rgba(0, 0, 209, 0.9);

  }

.header_text {
  font-size: 24px; 
  font-family:Times;
  margin: 5px auto 5px auto;
  color:rgba(0, 0, 229, 0.9);
  font-weight:bold;
  font-variant: small-caps;
}

#class_label {
  color: rgba(0, 0, 209, 0.9); 
  font-size: 26px; 
  font-weight:bold;
  font-family:Times;
  margin: 14px auto -6px auto;
  font-variant: small-caps;
  text-align:center;
}

.class_label {
  color: rgba(0, 0, 209, 0.9); 
  font-size: 26px; 
  font-weight:bold;
  font-family:Times;
  margin: 14px auto -6px auto;
  font-variant: small-caps;
  text-align:center;
}

#iframe_mail {
  z-index: 90;
  position: relative;
  max-width: 102%;
  width: 102%;
  height: 374px;
  max-height: 104%;
  left: -1%;
  top: -2%;
  resize: none;
  background-color: transparent;
  overflow: hidden;
  padding: 0px;
  border:none;
  outline: none;
  box-shadow: 0px 0px 2px 2px  rgba(160, 160, 220, 0.8);
}


#g_recaptcha_mail {
  position: fixed;
display: none;
 align-items: center; 
 justify-content: center; 
 width: 308px; 
 
 transition: 0.6s;
border-width: 4px;
border-style: solid;
/*
transform-origin: bottom left;
rgba(10, 80, 240, 0.6);
text-shadow: 0px 1px 1px #fff, 0 -1px 1px #000;
animation: modalfadein 1.4s forwards, display_none 0.1s 1 1.2s */ 
color:rgba(0, 0, 209, 0.9);
border-color: rgba(80, 180, 240, 0.8) rgba(40, 140, 220, 0.8) rgba(20, 120, 180, 0.8) rgba(40, 140, 220, 0.8);
border-radius:2px;
padding: 0px;
z-index: 45;
bottom: 62px;
right: 3px;
margin: 5px;

min-height: 80px;
 }


.g_recaptcha_mail {
  animation: display_block 0.1s forwards, modalfadein 1.4s 1 0.1s;
  opacity: 0;
}

@keyframes display_block {
  from {display: none;} 
  to {display: block;}
  }

  @keyframes display_none {
    from {display: block;} 
    to {display: none;}
    }

    @keyframes opacityanime_down {
      from {opacity:1;} 
      to {opacity:0;}
      }
      
        @keyframes opacityanime_up {
      from {opacity:0;} 
      to {opacity:1;}
      }

 @media screen and (max-width: 480px) {
      .mycontainer_messages_mail { 
        max-width: 96%;
        min-width: 380px;
        width: 460px;
        margin: auto;
      }

      .mycontainer_messages_mail,
      .myrow_messages_mail,
      .mycolumn_messages_mail {
        padding: 4px;

      }

      #modal_body_messages_main_mail {
        margin: 4px auto 4px auto;
      } 

      .title_account {
        font-size: 24px;
      } 

      .class_label {
        font-size: 22px;
      }

      .header_text {
        font-size: 20px;
      }
    }
    </style>
<!--    <div class="modal_link">MODAL LINK</div><br>
    <div class="modal_link">MODAL LINK</div><br> -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>  
       
       <div class="mymodal_messages_back_mail" id="my_modal_messages_main_mail">  
      
        <!-- Modal content -->
        <div class="mycontainer_messages_mail" id="modal_cont_messages_mail">
          <div class="myrow_messages_mail" >
          <div class="mycolumn_messages_mail" >
          
          <div class="modal_header_messages_mail" >
            <span id="close_m_message_main_mail" class="close_m">✖</span><br>
            <p class="title_account" style="line-height: 0.8;"> CONTACT-BOX </p>
          </div>

          <div class="modal_body_messages_mail" id="modal_body_messages_main_mail">
         
         <iframe  id="iframe_mail" src="{% url 'accounts:email_sender_modal'%}"></iframe>
  
        </div> 
  
    

        <div class="modal_footer_messages_mail" id="modal_footer_messages_mail">
          <div id="myBtn_messages_mail" type="button"  class="close_mb_mail" >CLOSE</div>
      </div>

      </div>
    </div>
  </div>
    
</div>
     
<div>
       <div id="g_recaptcha_mail" class="g-recaptcha" style="" data-sitekey="6Le3IP4nAAAAAD64iV_EcXLuNBBUGo7Rg3KpuX26"
       data-callback="captchaVerified_mm" data-expired-callback="captchaExpired_mm" data-error-callback="captchaError_mm" data-tabindex=4>
        </div>
      <input type="text" name="recaptcha_token" id="inputRecaptcha" required value="" readonly style="display: none;">
      </div>
  
    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>       
<script>

var btn_modal_mail = document.getElementById("myBtn_mail_sender");
var recaptcha_mail = document.getElementById("g_recaptcha_mail");

  var mymodal_mail = document.getElementById("my_modal_messages_main_mail");
  var mymodal_cont_mail = document.getElementById("modal_cont_messages_mail");
  var span1_mail = document.getElementById("close_m_message_main_mail");
  var span2_mail = document.getElementById("myBtn_messages_mail"); 

  var inputRecaptcha = document.getElementById("inputRecaptcha"); 
  var my_captcha_form = document.getElementById("my_captcha_form");


btn_modal_mail.onclick = function() {  

 // recaptcha_mail.classList.toggle("g_recaptcha_mail");

 if (recaptcha_mail.style.display == "block") {  
  recaptcha_mail.style.animation = "opacityanime_down 1.4s 1";
  setTimeout(()=> {
    recaptcha_mail.style.display = "none";
      }
      , 1200);  
  
 
  }  else {
    recaptcha_mail.style.display = "block";
    recaptcha_mail.style.animation = "opacityanime_up 1.4s 1";

  } 

  
// recaptcha_mail.style.display = "block";
// recaptcha_mail.style.animation = "modalfadein 1.4s 1";
}   


/*function captchaExpired_mm() {
  let recaptcha_response = "";
  let recaptcha_value = JSON.stringify({
    tag: recaptcha_response,
  })
}  */

function captchaVerified_mm(response_mm) {
  
  // let recaptcha_response = response_mm;
  inputRecaptcha.value = response_mm
  // let inputRecaptcha_value = inputRecaptcha.value

  let msg = {
    'response_mm': response_mm,
  //  'inputRecaptcha_value': inputRecaptcha.value,
}

let options = {
  method: 'POST',
  headers: { 'Content-Type': 'application/json' },
  body: JSON.stringify(msg)
}

fetch('', options)
.then(response => response.json())
.then(response => { 
  let data = response['status'];
  alert("reCAPTCHA validation " data);
  if (data === 'SUCCESS') {
    recaptcha_mail.style.animation = "opacityanime_down 1.4s 1";
    setTimeout(()=> {
      recaptcha_mail.style.display = "none";
        }, 1200);
         
    mymodal_mail.style.display = "block";
    mymodal_mail.style.animation = "modalfadein 1s 1";
    mymodal_cont_mail.style.display = "block"; 
    mymodal_cont_mail.style.animation = "zoom 2s 1 ease-in";
  } else {
    alert("reCAPTCHA IS NOT CORRECT");
  }

})


// if (recaptch_status === "success") {}
  /* recaptcha_value = JSON.stringify({
    tag: recaptcha_response,
  }) */
  // sessionStorage.setItem("recapitcha_value_data", recapitcha_value);

  // document.getElementById("textarea_recaptcha_mail").innerText = response_mm;
  /* $.ajax(
    {
    type: "GET",
    url: "",
    data: {
        "recapitcha_value": recapitcha_value,
    },
    dataType: "json",
  },  
   ) */
  /* {
    type: "GET",
    url: "{% url 'accounts:email_sender_modal'%}",
    data: {
        "recapitcha_value": recapitcha_value,
    },
    dataType: "json",
  }
  ); */
 
 /*fetch("", {
  method: 'POST',
  body: recapitcha_value,
  headers: { 'Accept':  '* / *',
   },
  }) */



}
  

 
function captchaError_mm() {
  let recaptcha_response = "";
  let recaptcha_value = JSON.stringify({
    tag: recaptcha_response,
  })
  
  recaptcha_mail.style.animation = "opacityanime_down 1s 1";
  setTimeout(()=> {
    recaptcha_mail.style.display = "none";
      }
      , 800);


}  

   
    span1_mail.onclick = function() {
      mymodal_cont_mail.style.animation = "unzoom 2s";
      mymodal_mail.style.animation = "modalfadeout 1s 1 1s";
      setTimeout(()=> {
        mymodal_cont_mail.style.display = "none";
        mymodal_mail.style.display = "none"
          }
          , 1900);
    }
    
      span2_mail.onclick = function() {
        mymodal_cont_mail.style.animation = "animatetopback 2s 1";
        mymodal_mail.style.animation = "modalfadeout 1s 1 1s";
        setTimeout(()=> {
          mymodal_cont_mail.style.display = "none";
          mymodal_mail.style.display = "none"
            }
            , 1900);
      }

      mymodal_mail.onclick = function() {
        if (event.target == mymodal_mail) {
        //mymodal_cont.style.animation = "unzoomrotate 2s 1";
        mymodal_cont_mail.style.animation = "unzoomrotate 2s 1";
        mymodal_mail.style.animation = "modalfadeout 1s 1 1s";
        setTimeout(()=> {
        mymodal_cont_mail.style.display = "none";
        mymodal_mail.style.display = "none"
          }, 1900);
   
        }
      }
  
      if (document.getElementById("#button_send_mail_id")) {
        mymodal_cont_mail.style.animation = "unzoomrotate 2s 1";
        mymodal_mail.style.animation = "modalfadeout 1s 1 1s";
        setTimeout(()=> {
        mymodal_cont_mail.style.display = "none";
        mymodal_mail.style.display = "none"
          }, 1900);
      }
</script>

