<style>

  @keyframes opacityanime {
  from {opacity:1;} 
  to {opacity:0;}
  }
  
  @keyframes modalfadeout {
  from {background-color: rgba(20, 100, 200, 0.4);} 
  to {background-color: rgba(20, 100, 200, 0.0);}
  }
  
  @keyframes modalfadein {
  from {background-color: rgba(20, 100, 200, 0.0);} 
  to {background-color: rgba(20, 100, 200, 0.4);}
  }
  
  .mymodal_messages_back_main_n {
  position: fixed;
  display:none;
  z-index:77;
  /*
  display:none;padding-top: 100px;  Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(20, 100, 200); 
  background-color: rgba(20, 100, 200, 0.4); 
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  animation:noname;
  }
  
  /* Modal Content */
  .mycontainer_messages_main_n {
    position: relative;
    z-index:88;
    display: none;
    top: 60px;
    width: 560px;
    max-width: 96%;
    background-color: rgba(60, 160, 240, 0.4);
    border-radius: 4px;
    box-shadow: 
    0px 0px 10px 10px rgba(160, 170, 180, 0.4),
    0px 10px 20px 0px rgba(160, 170, 180, 0.4),
    -6px 0px 16px 0px rgba(160, 170, 180, 0.4),
    6px 0px 16px 0px rgba(160, 170, 180, 0.4),
    0px 10px 16px 0px rgba(160, 170, 180, 0.4),
    0px -6px 16px 0px rgba(160, 170, 180, 0.4);
    border: 6px solid rgba(60, 160, 240, 0.8);
    padding: 10px;
    animation-delay: 2s;
    animation: noname2;
    transition: 0.1s;
    margin: auto;
  }
  
  .mycontainer_messages_main_n:hover {
  background: rgba(60, 160, 240, 0.6);
  box-shadow: 
	0px 4px 16px 10px rgba(220, 230, 240, 0.4),
  0px 0px 30px 290px rgba(220, 230, 240, 0.4) inset;
  }
  
  .mycontainer_messages_main_n:active {
  background: rgba(60, 160, 240, 0.6);
  box-shadow: 
	0px 4px 16px 10px rgba(230, 240, 250, 0.6),
  0px 0px 30px 290px rgba(230, 240, 250, 0.6) inset;
  }
  
  @keyframes unzoomrotate {
    from {transform:scale(1); rotate:360deg;} 
    to {transform:scale(0); rotate: 0deg;}
  } 
  @keyframes zoomrotate {
    from {transform:scale(0); rotate:0deg;} 
    to {transform:scale(1); rotate: 360deg;}
  } 
  
  /* Add Animation */
  @keyframes unzoom {
    from {transform:scale(1);} 
    to {transform:scale(0);
    }
  }
  
  @keyframes zoom {
    from {transform:scale(0);} 
    to {transform:scale(1);
    }
  }
  
  @keyframes animatetopback {
    from {top: 0px; }
    to {top:-1000px; }
  }
  
  /* Modal Content 
  #modal-cont_messages {
  border-radius: 4px;
  border: 6px solid rgba(240, 240, 240, 0.6);
  margin: 120px auto auto auto;*/
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }*/

  .myrow_messages_main_n {
  background-color: rgb(60, 160, 240); 
  background-color: rgba(60, 160, 240, 0.0);
  border: 6px solid rgba(60, 160, 240, 0.8);
  box-shadow: 
  0px 0px 4px 4px rgba(160, 170, 180, 0.2);
  border-radius: 4px;
  padding: 10px;
  margin:auto;
}

.mycolumn_messages_main_n {
  background-color: rgb(60, 160, 240); 
  background-color: rgba(60, 160, 240, 0.0);
  border: 6px solid rgba(60, 160, 240, 0.8);
  box-shadow: 
  0px 0px 4px 4px rgba(160, 170, 180, 0.2);
  border-radius: 4px;
  padding: 10px;
  margin:auto;
  }
  
    
 .modal_header_messages_main_n {
  background-color: rgb(140, 140, 140); 
  background-color: rgba(140, 140, 140, 0.4);
  border-radius: 4px;
 border: 6px solid rgba(60, 160, 240, 0.8);
  margin: auto;
  padding: 0px 0px 8px 0px;
  transition: 0.1s;
  text-align:center;
  }

  .modal_header_messages_main_n:hover {
    background-color: rgb(180, 180, 180); 
    background-color: rgba(180, 180, 180, 0.8);
  }
  
  .modal_header_messages_main_n:active {
    background-color: rgb(180, 180, 180); 
    background-color: rgba(180, 180, 180, 0.8);
  }
  
  .modal_body_messages_main_n {
  background-color: rgb(140, 140, 140); 
  background-color: rgba(140, 140, 140, 0.4);    
  border-radius: 4px;
  border: 6px solid rgba(60, 160, 240, 0.8);
  border-radius: 4px;
  padding: 10px;
  margin: 10px auto 10px auto;
  max-height: 440px;
  transition: 0.1s;
  overflow:auto;
  text-align:center;
  }
 
 .modal_body_messages_main_n:hover {
  background-color: rgb(180, 180, 180); 
  background-color: rgba(180, 180, 180, 0.6);
}
  
.modal_body_messages_main_n:active {
    background-color: rgb(180, 180, 180); 
    background-color: rgba(180, 180, 180, 0.8);
  }
  
.modal_footer_messages_main_n {
  justify-content:center;
  text-align:center;
  background-color: rgb(140, 140, 140); 
  background-color: rgba(140, 140, 140, 0.4);
  border-radius: 4px;
  border: 6px solid rgba(60, 160, 240, 0.8);
  margin:auto;
  padding:10px auto 10px auto;
  transition: 0.2s;
  }

.modal_footer_messages_main_n:hover {
  background-color: rgb(180, 180, 180); 
  background-color: rgba(180, 180, 180, 0.6);
}
  
.modal_footer_messages_main_n:active {
    background-color: rgb(180, 180, 180); 
    background-color: rgba(180, 180, 180, 0.8);
    }
    
.close_m {
  color:  rgba(220, 230, 240, 0.6);
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
  font-family: helvetica;
  color: rgba(220, 230, 240, 0.6);
  text-shadow:
  -0.06em 0.06em 0.04em rgba(0, 0, 209, 0.6);
  padding:4px;
line-height: 22px;
  }
  
.close_m:hover {
  text-shadow:
  -0.06em 0.06em 0.04em rgba(9, 109, 209, 0.8)
  color: rgba(230, 240, 250, 0.8);
  }

.close_m:active {
  transform: matrix(0.98, 0, 0, 0.98, 0, 2);
  color: rgba(20, 20, 220, 0.9);
  text-shadow:
  -0.03em 0.03em 0.02em rgba(220, 230, 240, 0.8);
  }

.close_m:focus {
  border:none;
  outline:none;
  text-decoration: none;
  }

  .close_mb_main_n {
    text-shadow:
    0.04em 0.06em 0.04em rgba(60, 80, 100, 0.6);
    position:relative;
    background-color: rgba(40, 160, 240, 0.4);
    border-width: 6px;
    border-style: solid; 
    color: rgba(160, 170, 180, 0.8); 
    border-color: rgba(80, 180, 240, 0.8) rgba(40, 140, 220, 0.8) rgba(20, 120, 180, 0.8) rgba(40, 140, 220, 0.8);
    border-radius:2px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight:bold;
    font-family:Times;
    font-variant: small-caps;
    font-size: 20px;
    min-width: 140px;
    width: 140px;
    margin: 14px auto 14px auto;  
    box-shadow:
    0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
    0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
    0px 0px 4px 4px rgba(220, 220, 230, 0.4);
    transition: 0.2s;
    min-height: 42px;
    height: 42px;
    max-height: 42px;
  line-height: 1;
    }
    
    .close_mb_main_n:hover,
    .close_mb_main_n:focus {
    background-color: rgba(40, 160, 240, 0.6); 
    color: rgba(190, 200, 210, 0.8);
    border-color: rgba(80, 180, 240, 0.6) rgba(40, 140, 220, 0.6) rgba(20, 120, 180, 0.6) rgba(40, 140, 220, 0.6);
    box-shadow: 
    0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
    0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
    0px 0px 4px 4px rgba(230, 240, 240, 0.6);
    border-width: 6px;
    border-style: solid;
    }
    
    .close_mb_main_n:active {
    color: rgba(210, 220, 230, 0.8);
    transform: matrix(0.98, 0, 0, 0.98, 0, 2);
    box-shadow: 
    0px 0px 1px 1px rgba(90, 190, 230, 0.4) inset,
    0px 0px 2px 2px rgba(100, 200, 240, 0.4) inset,
    0px 0px 2px 2px rgba(230, 240, 240, 0.8);
    background-color: rgba(40, 160, 240, 0.8);
    border-width: 6px;
    border-style: solid;
    border-color: rgba(80, 180, 240, 0.6) rgba(40, 140, 220, 0.6) rgba(20, 120, 180, 0.6) rgba(40, 140, 220, 0.6);
    }
    
  
#a_submit_t {
  animation-name: anime_submit_t;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  }
  
@keyframes anime_submit_t {
  50% {color: red;}
    }  

@keyframes anime_red_text {
  50% {color: red;}
    }  

.title_account {
  font-size: 30px; 
  font-family:Times;
  font-variant: small-caps;
  margin: 5px auto 5px auto;
  font-weight:bold;
  color:rgba(0, 0, 209, 0.9);
  }

.header_text {
  font-size: 24px; 
  font-family:Times;
  margin: 5px auto 5px auto;
  color:rgba(0, 0, 229, 0.9);
  font-weight:bold;
  font-variant: small-caps;
}

#class_label {
  color: rgba(0, 0, 209, 0.9); 
  font-size: 26px; 
  font-weight:bold;
  font-family:Times;
  margin: 14px auto -6px auto;
  font-variant: small-caps;
  text-align:center;
}

.class_label {
  color: rgba(0, 0, 209, 0.9); 
  font-size: 26px; 
  font-weight:bold;
  font-family:Times;
  margin: 14px auto -6px auto;
  font-variant: small-caps;
  text-align:center;
}

@media screen and (max-width: 480px) {
  .mycontainer_messages_main_n { 
    max-width: 96%;
    min-width: 380px;
    width: 440px;

    margin: auto;
  }
  .mycontainer_messages_main_n,
  .myrow_messages_main_n,
  .mycolumn_messages_main_n {
    padding: 4px;

  }

  #modal_body_messages_main_n {
    margin: 4px auto 4px auto;
  } 

  .title_account {
    font-size: 24px;
  } 

  .class_label {
    font-size: 22px;
  }

  .header_text {
    font-size: 20px;
  }  
  
}
    </style>
<!--    <div class="modal_link">MODAL LINK</div><br>
    <div class="modal_link">MODAL LINK</div><br> -->
    
       
       <div class="mymodal_messages_back_main_n" id="my_modal_messages_main_n"> 
      
        <!-- Modal content -->
        <div class="mycontainer_messages_main_n" id="modal_cont_messages">
          <div class="myrow_messages_main_n" >
          <div class="mycolumn_messages_main_n" >
          
          <div class="modal_header_messages_main_n" >
            <span id="close_m_message_main_n" class="close_m">✖</span><br>
            <p class="title_account">INFO MESSAGES</p>
          </div>

          <div class="modal_body_messages_main_n" >
         
          <p class="header_text"  style="animation: anime_submit_t 1s infinite"> YOU HAVE TO BE LOGGED IN <br> TO USE THIS APP
          </p>
  
        </div> 
  
    

        <div class="modal_footer_messages_main_n" id="modal_footer_messages">
          <div id="myBtn_messages_n" type="button"  class="close_mb_main_n" >CLOSE</div>
      </div>

      </div>
    </div>
  </div>
    
  </div>
       
<script>
console.clear()



// const modal_links = document.querySelectorAll(".modal_link");
const modal_links = document.getElementsByClassName("modal_link");
  

for (const modal_link of modal_links) {

  var mymodal_main_n = document.getElementById("my_modal_messages_main_n");
  var mymodal_cont_main_n = document.getElementById("modal_cont_messages");
  var span1_main_n = document.getElementById("close_m_message_main_n");
  var span2_main_n = document.getElementById("myBtn_messages_n"); 

modal_link.onclick = function() {        
  mymodal_main_n.style.display = "block";
  mymodal_main_n.style.animation = "modalfadein 1s 1";
  mymodal_cont_main_n.style.display = "block"; 
  mymodal_cont_main_n.style.animation = "zoom 2s 1 ease-in";
}      
   
span1_main_n.onclick = function() {
  mymodal_cont_main_n.style.animation = "unzoom 2s";
  mymodal_main_n.style.animation = "modalfadeout 1s 1 1s";
  setTimeout(()=> {
    mymodal_cont_main_n.style.display = "none";
    mymodal_main_n.style.display = "none"
      }
      , 1900);
}

  span2_main_n.onclick = function() {
    mymodal_cont_main_n.style.animation = "animatetopback 2s 1";
    mymodal_main_n.style.animation = "modalfadeout 1s 1 1s";
    setTimeout(()=> {
      mymodal_cont_main_n.style.display = "none";
      mymodal_main_n.style.display = "none"
        }
        , 1900);
  }


  // When the user clicks anywhere outside of the modal, close it
  //window.onclick = function(event) {
    //if (event.target == mymodal) {
  
      mymodal_main_n.onclick = function() {
        if (event.target == mymodal_main_n) {
      //mymodal_cont.style.animation = "unzoomrotate 2s 1";
      mymodal_cont_main_n.style.animation = "unzoomrotate 2s 1";
      mymodal_main_n.style.animation = "modalfadeout 1s 1 1s";
      setTimeout(()=> {
      mymodal_cont_main_n.style.display = "none";
      mymodal_main_n.style.display = "none"
        }, 1900);

    }
    }
  }
</script>
