

<style type="text/css">
  
  .my_container_top_cards {
    position: relative;
    z-index: 11;
    margin: -4px 7.4vw auto 7.4vw;
    left: 12px;
      }

      a:hover,  
      a:link:hover {
        color: Crimson;
        cursor: pointer;
      }

      @media screen and (max-width: 480px) {
        .my_container_top_cards {
          left: 0px;
        }
      }
  </style>

  
  <div class="my_container_top_cards">
    
    <div class="my_card_top_cards">
        <a class="modal_link">
            <p class="h3vw_l_b"> Number of all books<br>in database:</p> 
            <p class="h2vw_l_b" id="num_books" style="animation: anime_red_text 2s infinite;"> {{ num_books }}</p>
        </a>
      </div>

    <div class="my_card_top_cards" id="mycard_top_cards_middle">
        <p class="h3vw_l_b" style="animation: anime_red_text 2s infinite;"><span style="line-height: 2;"> BELOW IS LIST OF FUNCTIONS </span></p>
      </div>
   
    <div class="my_card_top_cards">
  <a class="modal_link">
    <p class="h3vw_l_b" > Number of all authors<br>in database: </p> 
    <p class="h2vw_l_b" id="num_authors" style="animation: anime_red_text 2s infinite;"> {{ num_authors }}</p>
  </a>
      </div>
 
  </div>