{% include 'snippets-booksearch/css_booksearch.html' %}

<script>
  window.addEventListener("load", function() {

    localStorage.clear();
    sessionStorage.clear();

/*  const message_search_result_gb_t = document.querySelectorAll(".message_search_result_gb");
  for (const msg_result_gb_t of message_search_result_gb_t) {
    msg_result_gb_t.innerHTML = "";
  } */
   }) 
</script>

<style type="text/css">

.my_container_top_cards {
position: relative;
z-index: 11;
margin: 0px 7.4vw 40px 7.4vw;
left: 12px;
}

#mycard_addx_book_top_cards_middle {
  padding-bottom:10px;
}       

@media screen and (max-width: 480px) {
.my_container_top_cards {
left: 0px;
}
}
  </style>

  
  <div class="my_container_top_cards" id="my_container_addx_book_top_cards">

    <div class="my_card_top_cards" id="mycard_addx_book_top_cards_left">
          <p><a href="{% url 'booksmart:allrecords' %}" target="_blank">
            <p class="h3vw_l_b"  >Number of all books in <br> database:</p> 
            <p class="h2vw_l_b" style="animation: anime_submit_t 6s infinite;"> {{ num_books }}</p></a>
            <p>
      </div>

      <div class="my_card_top_cards" id="mycard_top_cards_middle_addx_book">

          {% if message %}
          <p id="middle_message_1" class="h4vw_l_b" style="animation: anime_submit_t 6s infinite;"
          ><span class="message_search_result_gb"> {{ message }} </span>
          </p> 
          {% endif %}
          
           {% if form_search_gb == "no" %}
          <p class="h3vw_l_b" style="animation: anime_red_text 2s infinite;" > To try to find the book,<br> fill one of the field in search panel.</p>
          {% endif %}

          {% if form_search_gb == "yes" %}
          <p class="h3vw_l_b" style="margin-bottom: 0px;" ><span style="color:blue; line-height: 1.4;" class="message_search_result_gb"> FOR QUERY: </p>
            <p class="h4vw_l_b" ><span  style="animation: anime_red_text 2s infinite; line-height: 1; color: blue;" class="message_search_result_gb"> 
              {% autoescape off %} " {{ parameters }} " {% endautoescape %} 
            </span></p>
          
          <p class="h3vw_l" style="margin-top: 0px; margin-bottom: 0px;" ><span style="color:blue; line-height: 1.2;" class="message_search_result_gb"> IN GOOGLE-BOOKS </span></p>

          {% if filtered_books|length == 0 %}
          <p class="h3vw_l" style="margin-top: 0px; line-height: 1.2;"><span  class="message_search_result_gb"> No books found</span></p>

          {% elif filtered_books|length > 0 %}
  
          <p class="h3vw_l" style="margin-top: 0px; line-height: 1.2;"><span class="message_search_result_gb"> Number of found books: </span><span class="message_search_result_gb" style="animation: anime_red_text 2s infinite; font-weight: bold;" > {{ filtered_books|length }} </span></p>
            
          {% endif %}  
          {% endif %} 
    </div>
   
    <div class="my_card_top_cards">
        <p><a href="{% url 'booksmart:allauthors' %}" target="_blank">
          <p class="h3vw_l_b"> Number of all authors in database: </p> 
          <p class="h2vw_l_b" style="animation: anime_submit_t 6s infinite;"> {{ num_authors }}</p></a>
          <p>
      </div>

  </div>