{% load bootstrap4 %}

<style>

.myrow_author_gb {
  background: rgba(210, 217, 220, 0.2);
  border: 2px solid rgba(180, 217, 240, 0.1);
  border-radius:4px;
  position:relative;
  z-index:12;
  left:12px;
  width:90%;
  margin: 10px auto auto auto;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  transition-duration: 0.4s;
  text-shadow: 
  -0.015em 0.015em 0.0em rgb(211, 211, 211),
  -0.03em 0.03em 0.015em rgb(211, 211, 211), 
  0.04em 0.0em 0.02em rgb(128, 128, 128),
  0.02em 0.02em 0.01em rgb(128, 128, 128);
  box-shadow:
  1px 2px 6px 10px rgba(119, 130, 143, 0.6); 
   display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .myrow_author_gb:hover {
  background: rgba(180, 217, 240, 0.4);
  border: 2px solid rgba(220, 230, 240, 0.2);
  backdrop-filter:none;
  -webkit-backdrop-filter: none;
  box-shadow:
  1px 2px 6px 10px rgba(229, 230, 243, 0.6);
  transform: matrix(1.01, 0, 0, 1.01, 0, 0);
}

.mycolumn_author_gb {
  float: left;
  width: 50%;
  }

.glass_author_gb {
  background-color: rgba(100, 160, 220, 0.1);
  width: 100%;
  height: 100%;
  }

[id^="column_img_author_"] {
  background-color: rgb(100, 160, 240); 
  background-color: rgba(100, 160, 240, 0.6); 
  border-radius: 2px;
  border: 2px solid rgba(240, 240, 240, 0.4);
  outline: 2px solid rgba(240, 240, 240, 0.4);
  box-shadow: 
  -1px -1px 1px 0px rgba(151, 191, 231, 0.2), 
  1px 2px 2px 0px rgba(151, 191, 231, 0.4),
  -2px 3px 2px 0px rgba(151, 191, 231, 0.4), 
  2px 4px 2px 0px rgba(151, 191, 231, 0.4),
  
  0px 5px 3px 0px rgba(90, 150, 210, 0.4),
  0px 6px 4px 0px rgba(90, 150, 210, 0.4), 
  1px 7px 4px 0px rgba(80, 140, 200, 0.6),
  -1px 8px 5px 0px rgba(80, 140, 200, 0.6);
  padding:10px;
  }


.cont_img_author_gb {
position:relative;
width: 168px;
height: 100%;
margin: auto 10px auto auto;
float:left;
display: flex;
align-items:center;
}

[id^="image_author_"] {
  float:left;
  width: 164px;
  height: 230px;
  object-fit: cover;
  margin: auto 10px auto 6px;  
  }

[id^="column_author_"] {
  margin:-2px 1px -1px -1px;

  background-color: rgb(220, 220, 220); 
  background-color: rgba(220, 220, 220, 0.6); 
  border-radius: 2px;
  border: 2px solid rgba(240, 240, 240, 0.4);
  outline: 2px solid rgba(240, 240, 240, 0.4);
  box-shadow: 
  -1px -1px 1px 0px rgba(219, 220, 222, 0.2), 
  1px 2px 2px 0px rgba(219, 220, 222, 0.4),
  -2px 3px 2px 0px rgba(219, 220, 222, 0.4), 
  2px 4px 2px 0px rgba(209, 210, 212, 0.4),
  
  0px 5px 3px 0px rgba(199, 200, 202, 0.4),
  0px 6px 4px 0px rgba(199, 200, 202, 0.4), 
  1px 7px 4px 0px rgba(177, 179, 182, 0.6),
  -1px 8px 5px 0px rgba(177, 179, 182, 0.6);

  padding: 10px;
  }

.myrow_author_gb:after {
  content: "";
  display: table;
  clear: both;
  }

#a_submit_m {
  animation-name: anime_submit_t;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  }

@keyframes anime_submit_t {
  50% {
  color: red;}
  }  

@keyframes anime_red_text {
    50% {
    color: red;}
    } 

#button_sm {
  width: 90%;
  height: 40%;
  }

.button_1a {
  float:right;
  padding: 6px 4px 6px 4px;
  margin-top: 5px;
  color: rgb(240, 248, 255);
  background: rgb(119, 136, 153);
  background: rgba(119, 136, 153, 0.6);
  border: 2px solid rgba(240, 240, 240, 0.6);
  outline: 2px solid rgba(240, 240, 240, 0.6 );
  text-align: center;
  box-shadow: 0px 0px 4px 4px rgba(180, 180, 180, 0.4);
  font-size: 16px;
  font-variant: small-caps;
  line-height: 1.1;
  cursor: pointer;
  }

.button_1a:hover,
.button_1a:focus {
  color: rgb(30, 144, 255);
  background:rgb(211, 211, 211);
  background:rgba(211, 211, 211, 0.6);
  border: 2px solid rgba(240, 240, 240, 0.6);
  outline: 2px solid rgba(240, 240, 240, 0.6);
  }

.button_1a:active {
  transform: matrix(0.98, 0, 0, 0.98, 0, 2);
  border: 2px solid rgba(240, 240, 240, 0.6);
  outline: 2px solid rgba(240, 240, 240, 0.6);
    }

.textarea_gb_a {
  padding: 2px 4px 2px 4px;
  resize: none;
  background-color: rgb(240, 240, 240); 
  background-color: rgba(240, 240, 240, 0.2); 
  box-sizing: border-box;
  border-radius: 3px;
  border: 3px solid rgba(240, 240, 240, 0.6);
  box-shadow: 0px 0px 5px 5px rgba(120, 120, 120, 0.3);  
  font-size: 16px;
  text-align: justify;
  text-justify: inter-word;
  /*width:inherit;*/
  max-width: auto;
  width: auto;
  min-height: 120px;
  max-height: 120px;
  overflow: auto;
  margin: 4px 10px 12px 10px;
  color: darkblue;
  }

  .h3_author_r {
    font-size: 28px;
    line-height: 1;  
    color: MediumBlue; 
    font-weight: bold;
    }
  
  .h4_author_r {
    font-size: 26px;
    line-height: 1;
    color: MediumBlue; 
    padding-left: 80px; 
    text-indent: -80px;
  }
  
  .h5_author_r {
    font-size: 24px;
    line-height: 0.9;
    color: MediumBlue; 
    }
  
  .h6_author_r {
  font-size: 22px;
  line-height: 1;
  color: MediumBlue; 
  }
  
  .h7_author_r {
    font-size: 20px;
    line-height: 1;
    color: MediumBlue; 
    }
    
  .h8_author_r {
    font-size: 18px;
    line-height: 1;
    color: MediumBlue; 
    } 
  
  .h6_author_l {
    font-size: 22px;
    line-height: 1;
    margin-left: 180px;
    color: MediumBlue; 
    margin-bottom: 6px;
    margin-top: 2px;
    }
  
  .h7_author_l {
    font-size: 20px;
    line-height: 1;
    margin-left: 180px;
    color: MediumBlue; 
    }
  
  .h8_author_l {
    font-size: 18px;
    line-height: 1;
    margin-left: 180px;
    color: MediumBlue; 
    } 

   .column_left_text_gb p:first-of-type {
    padding-top: 30px;
    } 

@media screen and (max-width: 1280px) {
  .myrow_author_gb {
    width: 90%;
  }
  .mycolumn_author_gb {
    width: 100%;
  }
  }

@media screen and (max-width: 640px) {
  .myrow_author_gb {
    width: 92%;
  }
  .mycolumn_author_gb {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }

  .h6_author_l {
    font-size: 20px;
  }

  .h6_author_r {
    font-size: 20px;
  }

  .h5_author_r {
    font-size: 22px;
    line-height: 1;
  }

  .h4_author_r {
    font-size: 24px;
    padding-left: 70px; 
    text-indent: -70px;
  }

  .h3_author_r {
    font-size: 26px;
  }

  }

  @media screen and (max-width:560px) {
    .button_1a, {
      font-size: 14px;
  }
      }

  @media screen and (max-width:480px) {
    .myrow_author_gb {
      width: 98%;
      left: 0px;
    }
    .mycolumn_author_gb {
      min-width: 100%;
      width: 100%;
      max-width: 100%;
    }


    .h6_author_l {
      font-size: 18px;
      margin-bottom: 12px
    }
  
    .h6_author_r {
      font-size: 18px;
    }
  
    .h5_author_r {
      font-size: 20px;
    }
  
    .h4_author_r {
      font-size: 22px;
      padding-left: 60px; 
      text-indent: -60px;
    }
  
    .h3_author_r {
      font-size: 24px;
    }
    }

      
</style>
         
<div class="myrow_author_gb" id="row_author_gb">

  <div class="mycolumn_author_gb" id="column_img_author_gb">
    <div class="glass_author_gb">
    <div>

    <div type="button" id="btn_wiki_author{{book_dict.author_c.wiki_idx}}" class="button_1a notranslate" >EDIT & SAVE</div>
  </div>
  <!-- The Modal -->
 
<div class="cont_img_author_gb">   
{% if book_dict.author_c.author_wiki_img == "no img" %}
<img src="{{ url_img_author }}" id="image_author_gb" class="img-fluid rounded" >
{% else %}
  <img src="{{ book_dict.author_c.author_wiki_img }}" id="image_author_gb" class="img-fluid rounded" >
  {% endif %}
</div>
         
<div class="column_left_text_gb"><br>
    <p class="h6_author_l" style="font-variant: small-caps; "> first name: <span  style="color: Maroon; font-weight: bold;"> {{book_dict.author_c.first_name }} </span> </p>
    {% if book_dict.author_c.middle_name %}
    <p class="h6_author_l" style="font-variant: small-caps;"> other names: <span  style="color: Maroon; font-weight: bold;"> {{ book_dict.author_c.middle_name }} </span> </p>
    {% endif %}
   <p class="h6_author_l" style="font-variant: small-caps;"> surname: <span style="color: Maroon; font-weight: bold;"> {{ book_dict.author_c.last_name }} </span> </p> 

   {% if book_dict.author_c.date_of_birth == no_date %}
   <p class="h6_author_l" style="font-variant: small-caps;"> date of birth: <span  style="color: Indigo; font-weight: bold; "> no info </span> </p>
   {% else %}
   <p class="h6_author_l" style="font-variant: small-caps;">date of birth: <span  style="color: Indigo; font-weight: bold;">  {{ book_dict.author_c.date_of_birth }} </span></p>
   {% endif %}

   {% if book_dict.author_c.date_of_death == no_date %}
   <p class="h6_author_l" style="font-variant: small-caps;"> date of death: <span  style="color: Indigo; font-weight: bold; "> no info </span> </p>
   {% else %}
   <p class="h6_author_l" style="font-variant: small-caps;"> date of death: <span  style="color: Indigo; font-weight: bold; "> {{ book_dict.author_c.date_of_death }} </span> </p>
   {% endif %}
   
   <p class="h6_author_l" style="font-variant: small-caps;"> wikidata id: <span style="color: SlateGrey; font-weight: bold;"> {{ book_dict.author_c.wiki_idx }} </span> </p>
   <p class="h6_author_l" style="font-variant: small-caps; padding-bottom:14px"> special <span  style="color: DarkSlateGrey; font-weight: bold;"> <a href="https://en.wikipedia.org/wiki/{{book_dict.author_c.full_name}}" target="_blank" > link: </a></span> </p>
     
  </div>       
</div>
</div>


<div class="mycolumn_author_gb" id="column_author_gb">
  <div class="glass_author_gb">
        <p class="h4_author_r" style="margin: 6px auto 10px 10px; font-variant: small-caps;"> about author: <a href="https://{{book_dict.language}}.wikipedia.org/wiki/{{book_dict.author}}" target="_blank" ><span style="color: Indygo; font-weight: bold; font-variant: normal;"> {{book_dict.author}}</span></a></p>
          <p class="h5_author_r"  style="margin: 6px auto 10px 10px; font-variant: small-caps;"> short info: 
        <span style="color: SteelBlue; font-weight: bold; font-variant: small-caps;"> {{ book_dict.author_c.author_wiki_link_d }} </span></p>
    
        <p class="h6_author_r" style="margin: 8px auto 10px 10px; font-variant: small-caps;">details about author: </p>
        <div class="textarea_gb_a" style="margin: 10px 10px 6px 10px;">{{ book_dict.author_c.author_wiki_link }} </div>
        
      <p class="h6_author_r" style="margin: 10px auto 6px 10px; animation: anime_red_text 1s infinite;"><span class="author_avaliable" id="author_avaliable{{ book_dict.author_c.wiki_idx }}"> This author is:  {{ book_dict.author_c.avaliable }}  in the inventory </span></p>
    
  </div>
</div>
</div>
<br>
{% include 'snippets-booksearch/modal_edit_wikiauthor.html' %}
