{% load bootstrap4 %}

<style>

.myrow_book_gb {
  background: rgba(180, 217, 240, 0.2);
  border-radius:4px;
  border: 2px solid rgba(180, 217, 240, 0.1);
  /*outline: 2px solid rgba(180, 217, 240, 0.2);*/
  position:relative;
  z-index:14;
  min-width: 92%;
  max-width: 92%;
  width: 92%;
  margin: 10px auto auto auto;
  /*padding: -2px -1px -1px -1px;*/
  /*-webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px); */
  transition-duration: 0.6s;
  text-shadow: 
  -0.015em 0.015em 0.0em rgb(211, 211, 211), 
  -0.03em 0.03em 0.015em rgb(211, 211, 211), 
  0.04em 0.0em 0.02em rgb(128, 128, 128), 
  0.02em 0.02em 0.01em rgb(128, 128, 128);
  box-shadow:
  1px 2px 10px 8px rgba(119, 130, 143, 0.6); 
   display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    left: 12px;
  }

.myrow_book_gb:hover {
  background: rgba(180, 217, 240, 0.4);
  border: 2px solid rgba(220, 230, 240, 0.2);
  /* backdrop-filter:none;
  -webkit-backdrop-filter: none; */
  box-shadow:
  1px 2px 6px 10px rgba(229, 230, 243, 0.6);
transform: matrix(1.01, 0, 0, 1.01, 0, 0);
}

/* [id^="col_img_book"] */
.mycolumn_book_gb {
  float: left;
  width: 50%;
  }

[id^="column_img_book_gb_"] {
  background-color: rgb(100, 160, 220); 
  background-color: rgba(100, 160, 220, 0.6); 
  border-radius: 2px;
  border: 2px solid rgba(220, 230, 240, 0.4);
  outline: 2px solid rgba(220, 230, 240, 0.4);
  box-shadow: 
  -1px -1px 1px 0px rgba(151, 191, 231, 0.2), 
  1px 2px 2px 0px rgba(151, 191, 231, 0.4),
  -2px 3px 2px 0px rgba(151, 191, 231, 0.4), 
  2px 4px 2px 0px rgba(151, 191, 231, 0.4),
  
  0px 5px 3px 0px rgba(90, 150, 210, 0.4),
  0px 6px 4px 0px rgba(90, 150, 210, 0.4), 
  1px 7px 4px 0px rgba(80, 140, 200, 0.6),
  -1px 8px 5px 0px rgba(80, 140, 200, 0.6);
  padding:10px;
  }


.glass_book_gb {
    background-color: rgba(100, 160, 220, 0.1);
    width: 100%;
    height: 100%;
    }

.cont_img_book_gb {
  position:relative;
  width: 184px;
  height: 100%;
  margin: auto 10px auto auto;
  float:left;
  display: flex;
  align-items:center;
  } 

[id^="img_book_gb_"] {
  float:left;
  width: 180px;
  height: 276px;
  object-fit: cover;  
  margin: auto 10px auto 6px;
  }  

[id^="column_book_gb_"] {
  margin:-2px 1px -1px -1px;

  background-color: rgb(230, 230, 240); 
  background-color: rgba(230, 230, 240, 0.6); 
  border-radius: 2px;
  border: 2px solid rgba(100, 160, 240, 0.4);
  outline: 2px solid rgba(100, 160, 240, 0.4);
  box-shadow: 
  -1px -1px 1px 0px rgba(219, 220, 222, 0.2), 
  1px 2px 2px 0px rgba(219, 220, 222, 0.4),
  -2px 3px 2px 0px rgba(219, 220, 222, 0.4), 
  2px 4px 2px 0px rgba(209, 210, 212, 0.4),
  
  0px 5px 3px 0px rgba(199, 200, 202, 0.4),
  0px 6px 4px 0px rgba(199, 200, 202, 0.4), 
  1px 7px 4px 0px rgba(177, 179, 182, 0.6),
  -1px 8px 5px 0px rgba(177, 179, 182, 0.6);
    
  padding: 10px 10px 10px 10px;

  }

.myrow:after {
  content: "";
  display: table;
  clear: both;
  }

.language {
  padding-top: 42px;
  }

#a_submit_m {
  animation-name: anime_submit_t;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  }

#button_sm {
  width: 90%;
  height: 40%;
  }

#button_sm:focus {
  border:none;
  outline:none;
  }

button:focus {
  border:none;
  outline:none;
  }

.button_1_gb {
  float:right;
  padding: 6px 6px 6px 6px;
  margin: 5px 6px 2px 10px;
  color: rgb(240, 248, 255);
  background-color: rgb(119, 136, 153);
  background-color: rgba(119, 136, 153, 0.6);
  border: 2px solid rgba(0, 0, 200, 0.6);
  outline: 2px solid rgba(0, 0, 200, 0.6);
  box-shadow: 0px 0px 4px 4px rgba(220, 220, 230, 0.4);
  text-align: center;
  /* min-width: 60px;
  width: 60px; */ 
  font-size: 16px;
  font-variant: small-caps;
  line-height: 1.2;
  
  }

.button_1_gb:hover,
.button_1_gb:focus {
  color: rgb(30, 80, 240);
  color: rgb(30, 144, 255);
  background-color: rgb(211, 211, 211);
  background-color: rgba(211, 211, 211, 0.6);
  border: 2px solid rgba(0, 0, 200, 0.8);
  outline: 2px solid rgba(0, 0, 200, 0.8);
  box-shadow: 0px 0px 4px 4px rgba(220, 220, 230, 0.6);
  }

.button_1_gb:active {
  transform: matrix(0.98, 0, 0, 0.98, 0, 2);
  border: 2px solid rgba(0, 0, 200, 0.8);
  outline: 2px solid rgba(0, 0, 200, 0.8);
  box-shadow: 0px 0px 2px 2px rgba(220, 220, 230, 0.8);
}

.button_2_gb {
  float: right;
  padding: 6px 4px 6px 4px;
  margin: 5px 0px 2px 5px;
  color: rgb(240, 248, 255);
  background-color: rgb(119, 136, 153);
  background-color: rgba(119, 136, 153, 0.6);
  border: 2px solid rgba(0, 0, 200, 0.6);
  outline: 2px solid rgba(0, 0, 200, 0.6);
  box-shadow: 0px 0px 4px 4px rgba(220, 220, 230, 0.4);
  text-align: center;
  font-size: 16px;
  font-variant: small-caps;
  line-height: 1.2;
  }
    
.button_2_gb:hover,
.button_2_gb:focus {
  color: rgb(30, 144, 255);
  background-color: rgb(211, 211, 211);
  background-color: rgba(211, 211, 211, 0.6);
  border: 2px solid rgba(0, 0, 200, 0.8);
  outline: 2px solid rgba(0, 0, 200, 0.8);
  box-shadow: 0px 0px 4px 4px rgba(220, 220, 230, 0.6);
  }
 
.button_2_gb:active {
  transform: matrix(0.98, 0, 0, 0.98, 0, 2);
  border: 2px solid rgba(0, 0, 200, 0.8);
  outline: 2px solid rgba(0, 0, 200, 0.8);
  box-shadow: 0px 0px 2px 2px rgba(220, 220, 230, 0.8);
  }

  .textarea_gb {
    padding: 2px 4px 2px 4px;
    resize: none;
    background-color: rgb(240, 240, 240); 
    background-color: rgba(240, 240, 240, 0.2); 
    box-sizing: border-box;
    border-radius: 3px;
    border: 3px solid rgba(240, 240, 240, 0.6);
    box-shadow: 0px 0px 5px 5px rgba(120, 120, 120, 0.3);  
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
    /*width:inherit;*/
    max-width: auto;
    width: auto;
    min-height: 92px;
    max-height: 92px;
    overflow: auto;
    margin: 6px 10px 14px 10px;
    color: darkblue;
    line-height: 1.2;  
    overflow-y: visible;
    }

.textarea_link_gb {
  padding: 2px 4px 4px 4px;
  resize: none;
  background-color: rgb(240, 240, 240); 
  background-color: rgba(240, 240, 240, 0.2); 
  box-sizing: border-box;
  border-radius: 3px;
  border: 3px solid rgba(240, 240, 240, 0.6);
  box-shadow: 0px 0px 5px 5px rgba(120, 120, 120, 0.3);  
  font-size: 16px;
  text-align: justify;
  text-justify: inter-word;
  /*width:inherit;*/
  max-width: auto;
  width: auto;
  min-height: 30px;
  max-height: 30px;
  height: 30px;
  overflow: auto;
  margin: 10px 10px 10px 10px;
  color: darkblue;
  line-height: 1.2;  
  overflow-y: visible;
  }

  .textarea_gb::-webkit-scrollbar:horizontal,
  .textarea_link_gb::-webkit-scrollbar:horizontal {
    display: none
  }

  @keyframes anime_red_text {
    50% {
    color: red;}
    }

.h7_book_l {
  font-size: 20px;
  line-height: 1;
  margin-left: 190px;
  color: MediumBlue; 
  }

.h8_book_l {
  font-size: 18px;
  line-height: 1;
  margin-left: 190px;
  color: MediumBlue; 
  } 

.h6_book_l {
  font-size: 22px;
  line-height: 1;
  margin-left: 190px;
  color: MediumBlue; 
  }

.h3_book_r {
  font-size: 28px;
  line-height: 1;  
  color: MediumBlue; 
  font-weight: bold;
  padding-left: 70px; 
  text-indent: -70px;
  }

.h4_book_r {
  font-size: 26px;
  line-height: 1;
  color: MediumBlue; 
  padding-left: 80px; 
  text-indent: -80px;
}

.h5_book_r {
  font-size: 24px;
  line-height: 1;
  color: MediumBlue; 
  }

.h6_book_r {
font-size: 22px;
line-height: 1;
color: MediumBlue; 
}

.h7_book_r {
  font-size: 20px;
  line-height: 1;
  color: MediumBlue; 
  }
  
.h8_book_r {
  font-size: 18px;
  line-height: 1;
  color: MediumBlue; 
  } 

  .book_left_text p:not(p:first-of-type) {
    margin-top:-12px;
  }

  .book_left_text p:first-of-type {
      padding-top:48px;
  }

@media screen and (max-width: 1280px) {
  .myrow_book_gb {
    max-width: 90%;
    width: 90%;
  }
  .mycolumn_book_gb {
    max-width: 100%;
    width: 99%;
  }
  }

@media screen and (max-width: 720px) {
.myrow_book_gb {
  max-width: 92%;
  width: 92%;
}
.mycolumn_book_gb {
  max-width: 100%;
  width: 99%;
}

.button_1_gb,
.button_2_gb {

}

}

@media screen and (max-width: 640px) {
  .myrow_book_gb {
    max-width: 94%;
    width: 94%;
  }
  .mycolumn_book_gb {
    max-width: 100%;
    width: 99%;
  }

  .button_1_gb,
  .button_2_gb {
    
  }

  .h6_book_l {
    font-size: 20px;
    }
  
  .h3_book_r {
    font-size: 26px;
    padding-left: 60px; 
    text-indent: -60px;
    }
  
  .h4_book_r {
    font-size: 24px;
    padding-left: 70px; 
    text-indent: -70px;
  }
  
  .h5_book_r {
    font-size: 22px;
    line-height: 1;
    }
  
  .h6_book_r {
  font-size: 20px;
  line-height: 1; 
  }

}
@media screen and (max-width: 560px) {
  .myrow_book_gb {
    max-width: 96%;
    width: 96%;
  }
  .mycolumn_book_gb {
    max-width: 100%;
    width: 99%;
  }
  
  .button_1_gb,
  .button_2_gb {
    font-size: 14px;
  }

  .book_left_text p:first-of-type {
    padding-top:44px;
}
}

@media screen and (max-width:480px) {
  .myrow_book_gb {
    min-width: 98%;
    max-width: 98%;
    width: 98%;
    left: 0px;
  }
  .mycolumn_book_gb {
    min-width: 98%;
    max-width: 100%;
    width: 99%;
  }
  .h6_book_l {
    font-size: 18px;
    }
  
  .h3_book_r {
    font-size: 22px;
    padding-left: 46px; 
    text-indent: -46px;
    }
  
  .h4_book_r {
    font-size: 20px;
    padding-left: 56px; 
    text-indent: -56px;
  }
  
  .h5_book_r {
    font-size: 18px;
    }
  
  .h6_book_r {
  font-size: 16px;
  }

  .button_1_gb,
  .button_2_gb {
    font-size: 12px;
  }

  .book_left_text p:first-of-type {
    padding-top:32px;
}
.book_left_text p:last-of-type {
  margin-bottom: 6px
}

}


</style>


<div class="myrow_book_gb" id="row_book_gb_{{book.google_id}}">

<div class="mycolumn_book_gb" id="column_img_book_gb_{{book.google_id}}">
  <div class="glass_book_gb">

    <div>
     
      <button data-tooltip="tooltip_gb" type="button" id="btn_gbook_{{ book.google_id }}" class="button_1_gb notranslate" >EDIT<br>SAVE<span class="tooltiptext_gb" id="t_book_{{book.google_id}}"> PRESS TO GENERATE MODAL WITH BOOK DETAILS TO SAVE </span></button>

        <form action="{% url 'booksearch:addx_author' %}" method="get" target="_blank" id="book_gb_form_{{ book.google_id }}">
          {{ search_author_form }}
          <input type="hidden" id="author_{{ book.google_id }}" name="author" value="{{book.author}}">
          <input type="hidden" id="language_{{ book.google_id }}" name="language" value="{{book.language}}">
        </form>
        <button data-tooltip="tooltip_gb" form="book_gb_form_{{ book.google_id }}" type="submit"  class="button_2_gb notranslate" id="button_m_a_{{ book.google_id }}">FIND<br>AUTHOR<span class="tooltiptext_gb" id="t_book_{{book.google_id}}"> PRESS TO FIND AND SAVE DETAILS ABOUT AUTHOR OF THIS BOOK </span></button>
  
</div>

<div class="cont_img_book_gb" id="cont_img_book_gb_{{book.google_id}}"> 
 <img src="{{ book.imageLinks }}" id="img_book_gb_{{book.google_id}}"> 
</div>

<div class="book_left_text">
  <br>
<p class="h6_book_l" style="font-weight: bold; font-variant: small-caps;" id="text_cont_lng_{{ book.google_id }}"> language: <span style="color: Maroon; font-weight: bold; text-transform: uppercase;"> {{ book.language}} </span></p>
<p class="h6_book_l" style="font-weight: bold; font-variant: small-caps;" id="text_cont_epub_{{ book.google_id }}"> epub: <span style="color: Maroon; font-weight: bold; text-transform: uppercase;"> {{ book.epub }} </span></p>

{% if book.published == no_date %}
<p class="h6_book_l" style="font-weight: bold; font-variant: small-caps;" id="text_cont_pub_{{ book.google_id }}"> published date: <span  style="color: Indigo; font-weight: bold; "> no info </span></p>
{% else %}
<p class="h6_book_l" style="font-weight: bold; font-variant: small-caps;" id="text_cont_pub_{{ book.google_id }}">published date: <span  style="color: Indigo; font-weight: bold; text-transform: uppercase;">  {{ book.published }} </span></p>
{% endif %}
<p class="h6_book_l" style="font-weight: bold; font-variant: small-caps;" id="text_cont_gid_{{ book.google_id }}"> google id: <span style="color: SlateGrey; font-weight: bold;"> {{ book.google_id}} </span> </p>

<p class="h6_book_l" style="font-weight: bold; font-variant: small-caps;" id="text_cont_idnf_{{ book.google_id }}"> industry ids: <span style="color: SlateGrey; font-weight: bold; "><br>
  {% autoescape off %}
  {{ book.identyfiers }} 
  {% endautoescape %} </span> </p>

<p class="h6_book_l" style="font-weight: bold; font-variant: small-caps; " id="text_cont_embeddable_{{ book.google_id }}"> embeddable: <span  style="color: Indigo; font-weight: bold; text-transform: uppercase;"> {{book.embeddable }}</span> </p>

<p class="h6_book_l" style="font-weight: bold; font-variant: small-caps;  padding-bottom: 10px;" id="text_cont_preview_link_new_{{ book.google_id }}"> new google books: <a href="{{ book.preview_link_new }}" target="_blank" ><span style="color: Indigo; font-weight: bold;"> link </span> </a></p>

</div>
</div>
</div>

<div class="mycolumn_book_gb" id="column_book_gb_{{ book.google_id }}">
  <div class="glass_book_gb">

    <p class="h3_book_r" style="font-weight: bold; font-variant: small-caps; margin: 10px 10px 0px 10px;"> title: <a href="{{ book.preview_link }}" target="_blank"><span style="font-weight: bold; color: Maroon; text-transform: uppercase;" > "{{ book.title }}" </span></a></p>
 
    <p class="h4_book_r" style="font-weight: bold; font-variant: small-caps; margin: 4px 10px 0px 10px;"> author: <a href="{{ book.author_link }}" target="_blank"><span style="font-weight: bold; color: Indigo;"> {{ book.author }} </span></a></p>
  
    <p class="h5_book_r" style="font-weight: bold; font-variant: small-caps; margin: 4px 10px 0px 10px;"> category: <span  style="font-weight: bold; color: Indigo;"> {{ book.category }} </span> </p>

    <p class="h6_book_r" style="font-weight: bold; font-variant: small-caps; margin: 4px 10px 8px 10px;"> description:</p>
 <div class="textarea_gb"> {{ book.summary }} </div>

 <p class="h6_book_r" style="font-weight: bold; font-variant: small-caps; margin: 0px 10px 8px 10px;"> important links:</p>
 <div class="textarea_link_gb"> {{ book.selfLink }} </div>

 <p class="h6_book_r" style="color: DarkGrey; animation: anime_red_text 2s infinite; margin: 6px 10px auto 10px; font-weight: bold; "><span class="book_avaliable" id="book_avaliable_{{ book.google_id }}" > This book is: {{ book.avaliable }} in the inventory. </span> </p>
</div>

</div>
</div>
  <br>

<!--  <script src="https://flatpickr.js.org/javascripts/application.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://flatpickr.js.org/init.js"></script> -->
 <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shortcut-buttons-flatpickr@0.1.0/dist/themes/light.min.css"> -->

<!--  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> 
  <script src="https://cdn.jsdelivr.net/npm/shortcut-buttons-flatpickr@0.1.0/dist/shortcut-buttons-flatpickr.min.js"></script>-->

<!--  <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
  <script src="https://unpkg.com/flatpickr"></script> 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/shortcut-buttons-flatpickr@0.1.0/dist/shortcut-buttons-flatpickr.min.js"></script>


<link href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.css
" rel="stylesheet">
-->

<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/plugins/rangePlugin.js"></script>
<script src="https://cdn.jsdelivr.net/npm/shortcut-buttons-flatpickr@0.4.0/dist/shortcut-buttons-flatpickr.min.js"></script>
  
{% include 'snippets-booksearch/pure_flatpickr_css.html' %}

<style>

  /* width */
  ::-webkit-scrollbar {
  width: 14px;
  
  }
  ::-webkit-scrollbar-button {
  height:100%;
  
  }
  /* ::-webkit-resizer {
  height:100px;}
  Track */
  ::-webkit-scrollbar-track {
  box-shadow:inset  0px 0px 4px 2px rgba(120, 120, 120, 0.4) ; 
  border-radius: 4px;
  background:rgba(241, 243, 244, 0.6);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: rgba(102, 153, 255, 0.6) ; 
  border-radius: 4px;
  box-shadow:inset  0px 0px 4px 2px rgba(120, 120, 120, 0.4) ; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background:rgba(0, 51, 204, 0.6); 
  }
  
  @keyframes opacityanime {
  from {opacity:1;} 
  to {opacity:0;}
  }
  
  @keyframes modalfadeout {
  from {background-color: rgba(20, 100, 200, 0.4);} 
  to {background-color: rgba(20, 100, 200, 0.0);}
  }
  
  @keyframes modalfadein {
  from {background-color: rgba(20, 100, 200, 0.0);} 
  to {background-color: rgba(20, 100, 200, 0.4);}
  }
  
  @keyframes noconic {
  from {-webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);}
  to {-webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);}
  }

  @keyframes conic {
    from {-webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);}
    to {-webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);}
    }
  
  [id^="mymodal_gbOver"] {
  position: fixed;
  display:none;
  z-index: 36;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  /*overflow: auto; */
  animation:noname;
  transition-duration: 0.2s;
  background-color: rgb(20, 100, 200); 
  background-color: rgba(20, 100, 200, 0.4); 
  /*background-image: repeating-conic-gradient(rgba(120, 120, 140, 0.4) 0%, rgba(120, 120, 140, 0.4) 1%, rgba(20, 140, 240, 0.4) 2%, rgba(120, 120, 140, 0.4) 3%);*/
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  }
  
  [id^="mymodal_gbOverlay"]:hover {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  }
  
  [id^="mymodal_gbCont"] {
  justify-content: center;
  align-items: center;
  justify-items: center;
  justify-self: center;
  position: relative;
  z-index: 37;
  display:none;
  vertical-align: middle;
  top: 60px;
  /*margin-left: -280px;
  left: 50%; */
  font-family: Times;
  padding: 10px;
  width: 560px;
  max-width: 90%;
  font-size: 18px;
  border-radius: 2px;
  border: 4px solid rgba(240, 240, 240, 0.6);
  background:rgba(0, 70, 204, 0.4);
  animation: noname2;
  transition-duration: 0.2s;
  box-shadow: 
  0px 2px 10px 10px rgba(229, 230, 243, 0.4); 
  margin: auto;
  }
  
  [id^="mymodal_gbCont"]:hover {
  
  background:rgba(0, 70, 204, 0.6);
  box-shadow:
  0px 2px 10px 14px rgba(229, 230, 243, 0.8);
  /*-8px 8px 10px 0px rgba(229, 230, 243, 0.6), 
  -8px -8px 10px 0px rgba(229, 230, 243, 0.6),
  8px 8px 10px 0px rgba(229, 230, 243, 0.6), 
  8px -8px 10px 0px rgba(229, 230, 243, 0.6),
  
  18px 18px 20px 0px rgba(209, 210, 223, 0.4), 
  18px -18px 20px 0px rgba(209, 210, 223, 0.4),
  -18px 18px 20px 0px rgba(209, 210, 223, 0.4), 
  -18px -18px 20px 0px rgba(209, 210, 223, 0.4);*/
  } 
  
  @keyframes unzoomrotate {
  from {transform:scale(1); rotate:360deg;} 
  to {transform:scale(0); rotate: 0deg;}
  } 
  
  @keyframes zoomrotate {
  from {transform:scale(0); rotate:0deg; top:auto;} 
  to {transform:scale(1); rotate: 360deg; top:50%;}
  } 
  
  @keyframes unzoom {
  from {transform:scale(1);} 
  to {transform:scale(0);
  }
  }
  
  @keyframes zoom {
  from {transform:scale(0);} 
  to {transform:scale(1);
  }
  }
  
  @keyframes animatetopback {
  from {top: 0px; }
  to {top:-1000px; }
  }
  
  .column_mymodal_gb {
  border-radius: 2px;
  margin: auto;
  border: 4px solid rgba(240, 240, 240, 0.6);
  padding:10px;
  transition-duration: 0.2s;
  
  }
  
  .column_mymodal_gb:hover {
  
  }
  
  .mymodal_header_gb {
  background-color: rgb(140, 140, 180); 
  background-color: rgba(140, 140, 180, 0.6);
  border-radius: 2px;
  border: 4px solid rgba(240, 240, 240, 0.6);
  margin: auto;
  padding:2px;
  text-align:center;
  transition-duration: 0.2s;
  }
  
  .mymodal_header_gb:hover {
  background-color: rgb(140, 140, 180); 
  background-color: rgba(140, 140, 180, 0.8);
  }
  
  .mymodal_body_gb {
  justify-content:center;
  text-align:center;
  background-color: rgb(140, 140, 160); 
  background-color: rgba(140, 140, 160, 0.6);
  border-radius: 2px;
  border: 4px solid rgba(240, 240, 240, 0.6);
  margin: 10px auto 10px auto;
  padding:10px 5% 0px 5%;
  overflow: auto;
  max-height: 440px;
  }
  
  .mymodal_body_gb:hover {
  background-color: rgb(140, 140, 160); 
  background-color: rgba(140, 140, 160, 0.8);
  }
  
  #mymodal_gbBody label {
  
  font-variant: small-caps;
  font-size: 24px;
  font-family:Times;
  color:blue;
  padding: 0px auto 0px auto;
  font-weight: bold;
  line-height: 16px;
  margin-bottom: 0px;
  margin-top: 0px;
  }
  
  /*
    .form-control {
  padding:5px;
  margin:-8px auto -10px auto;
  
  font-size: 16px;  
  font-family:Times;
    background-color: rgb(220, 230, 240,); 
  
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 
  0px 0px 2px 2px rgba(240, 240, 240, 0.4) inset,
  0px 0px 2px 2px rgba(40, 120, 240, 0.4); 
  
  background-color: rgba(220, 230, 240, 0.2);
  color:darkblue;
  }
    
  .form-control:hover {
  background-color: rgb(220, 230, 240,); 
  background-color: rgba(220, 230, 240, 0.4);
  box-shadow: 
  0px 0px 2px 2px rgba(240, 240, 240, 0.6) inset,
  0px 0px 2px 2px rgba(40, 120, 240, 0.6);
  }
  
  .form-control:focus {
  background-color: rgb(220, 230, 240,); 
  background-color: rgba(220, 230, 240, 0.8);
  box-shadow: 
  0px 0px 2px 2px rgba(240, 240, 240, 0.8) inset,
  0px 0px 2px 2px rgba(40, 120, 240, 0.8);
  
  }
  
  .form-control, .form-control:hover, .form-control:focus {
  border:none;
  outline:none;
  
  #mymodal_gbBody 
  , #mymodal_gbBody input[type=image]}
  */ 
  
  #mymodal_gbBody input[type=text] {
    font-size:16px;
    color:darkblue;
    box-shadow: 
    0px 0px 0px 2px rgba(10, 115, 230, 0.4) inset,
    0px 0px 0px 2px rgba(220, 220, 240, 0.4);
    background: rgba(240, 255, 255, 0.4);
    border-radius:2px;
    box-sizing: border-box;
  margin: -6px auto -28px auto;
  padding: 2px 6px 4px auto;
  width: 96%;
  border: none;
  outline: none;
  }
  
  #mymodal_gbBody input[type=date],  #mymodal_gbBody input[type=url] {
  font-size:16px;
  color:darkblue;
  box-shadow: 
  0px 0px 0px 2px rgba(10, 115, 230, 0.4) inset,
  0px 0px 0px 2px rgba(220, 220, 240, 0.4);
  background: rgba(240, 255, 255, 0.4);
  border-radius:2px;
  box-sizing: border-box;
  margin: -6px auto -12px auto;
  width:96%;
   border: none;
  outline: none;
  }
  
  #mymodal_gbBody textarea {
    font-size:16px;
    color:darkblue;
    box-shadow: 
    0px 0px 0px 2px rgba(10, 115, 230, 0.4) inset,
    0px 0px 0px 2px rgba(220, 220, 240, 0.4);
    background: rgba(240, 255, 255, 0.4);
    border-radius:2px;
    box-sizing: border-box;
    margin: -6px auto -12px auto;
    text-align: justify; 
    text-justify: inter-word; 
    resize:none;
    width:96%;
    }
  
  #mymodal_gbBody ::-webkit-input-placeholder { /* Edge */
    color: lightblue;
  }
  
  #mymodal_gbBody :-ms-input-placeholder { /* Internet Explorer */
    color: lightblue;
  }
  
  #mymodal_gbBody ::placeholder {
    color: lightblue;
  }
  
  #mymodal_wikiBody input:hover, #mymodal_wikiBody select:hover, #mymodal_wikiBody textarea:hover {
    transform: scale(1.01);
    box-shadow: 
    0px 0px 0px 2px rgba(10, 115, 230, 0.6) inset,
    0px 0px 0px 2px rgba(220, 220, 240, 0.6);
    background: rgba(240, 255, 255, 0.6);
  }
  
  #mymodal_wikiBody input:focus, #mymodal_wikiBody select:focus, #mymodal_wikiBody textarea:focus {
    transform: scale(1.01);
    box-shadow: 
    0px 0px 0px 2px rgba(10, 115, 230, 0.8) inset,
    0px 0px 0px 2px rgba(220, 220, 240, 0.8);
    background: rgba(240, 255, 255, 0.8);
    border:none;
    outline:none;
    color: darkblue;
  }
  
  .mymodal_footer_gb {
  background-color: rgb(140, 140, 180); 
  background-color: rgba(140, 140, 180, 0.6);
  border-radius: 2px;
  border: 4px solid rgba(240, 240, 240, 0.6);
  margin: auto;
  padding: auto 10px auto 10px;
  box-shadow: 0px 0px 2px 2px rgba(120, 120, 240, 0.6);
  min-height:70px;
max-height:70px;
height:70px;
  align-items:center;
  }
  
  .mymodal_footer_gb:hover {
  background-color: rgb(140, 140, 180); 
  background-color: rgba(140, 140, 180, 0.8);
  }
  
  .close_m {
  color: white;
  float: right;
  font-size: 22px;
  font-weight: bold;
  margin: 0px 6px 20px auto;
  transition: 0.2s;
  }
  
  .close_m:hover,
  .close_m:focus {
  color: blue;
  transform: scale(1.01);
  text-decoration: none;
  cursor: pointer;
  }
  
  .close_m:active {
  transform: scale(0.98);
  
  }
  
  .btn_close {
  float:left;
  transition: 0.2s;
  }
  
  .btn_close:hover,
  .btn_close:focus {
  text-decoration: none;
  cursor: pointer;
  }
  
  .close_mb:active {
  transform: scale(0.98);
 
  }
  
  .btn_save {
  float:right;
  transition: 0.2s;
  }
  
  #a_submit_t {
  animation-name: anime_submit_t;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  }


  
  #mymodal_gbBody input.date_published,
  #gb_published > input[class^="date_published"] {
    background:rgba(240, 255, 255, 0.4) url(https://cdn2.iconfinder.com/data/icons/education-1-blue/64/calendar_month_schedule_date-64.png)  no-repeat ;
    background-size: 26px 26px;
    background-position: 99% 50%;
    border:none;
    outline:none;
  }


  [id^="published"],
  [id^="mymodal_gbBody"] input.date_published,
  #gb_published > input[class^="date_published"] {
    background:rgba(240, 255, 255, 0.4) url(https://cdn2.iconfinder.com/data/icons/education-1-blue/64/calendar_month_schedule_date-64.png)   no-repeat ;
    background-size: 26px 26px;
    background-position: 99% 50%;
    border:none;
    outline:none;
  }

  .mymodal_header_gb {}

  .modal_title {
    font-size:26px;
  }
  
  .modal_flatpikr_title {
    font-size:26px;
  }

  @media screen and (max-width: 640px) {
     .container_mymodal_gb {
      min-width: 92%;
      max-width: 92%;
      width: 92%;
     }
     .modal_title {
      font-size:22px;
    }
    
    .modal_flatpikr_title {
      font-size:22px;
    }
  }

  @media screen and (max-width: 480px) {
    .container_mymodal_gb {
      min-width: 98%;
      max-width: 98%;
      width: 98%;
     }

     .modal_title {
      font-size:18px;
    }
    
    .modal_flatpikr_title {
      font-size: 18px;
    }
}


  </style>
        
      
        
        <div class="mymodal_gb" id="mymodal_gbOverlay_{{book.google_id}}">
       
    
    <div class="container_mymodal_gb" id="mymodal_gbCont_{{book.google_id}}">
    <div class="column_mymodal_gb" id="mymodal_gbCol_{{book.google_id}}">
    
        <div class="mymodal_header_gb" id="mymodal_gbHeader_{{book.google_id}}" style="text-align: center;">
        <p id="close_m_gb_{{book.google_id}}" class="close_m">✖</p>
        <p class="modal_title" style="font-weight:bold; color:blue; margin:10px auto 0px 10px;">BOOK CARD TO EDIT & SAVE</p>

        <p class="modal_flatpikr_title" id="flatpikr_date_{{book.google_id}}" style="font-weight:bold; color:blue; margin:10px auto 0px 10px;"></p>
        </div>
    
        
        <div class="mymodal_body_gb" id="mymodal_gbBody_{{book.google_id}}" >
          
            
      <form action="{% url 'booksearch:addbook' %}" method="post" enctype="multipart/form-data" target="{% url 'booksmart:allrecords' %}" id="form_gb_{{ book.google_id }}">
        {% csrf_token %}
        
        <div class="form-group" id="gb_identity" >
            <label class="label_1" id="bs_label_gb_id" for="google_id" style="">google books identity:</label>
            <input type="text" class="form-control" name="google_id" id="google_id" minlength="12" maxlength="12" value="{{book.google_id}}" pattern='^[A-Za-z0-9._-]{12}$' title="12 characters" readonly>
          </div>
        
          <div class="form-group" id="gb_title">
            <label class="label_2" id="bs_label_title" for="title" >book title:</label>
            <input type="text" class="form-control" name="title" id="title" value="{{book.title}}" required>
          </div>
          
          <div class="form-group" id="gb_author">
            <label class="label_2" id="bs_label_auth" for="author" >book author:</label>
            <input type="text" class="form-control" name="author" id="author" pattern='^(\w.+\s).+$' title='must contain at least two words' value="{{book.author}}" required>
          </div>
          
          <div class="form-group" id="gb_category">
            <label class="label_2" id="bs_label_cat" for="category" > category: </label>
            <input type="text" class="form-control" name="category" id="category" value="{{book.category}}" >
          </div>
          
          <div class="form-group" id="gb_description">
            <label class="label_2" id="bs_label_descript" for="summary" > description: </label>
            <textarea class="form-control" name="summary" id="summary" rows='4' style="width:96%;" maxlength="1200" style=" text-align: justify; text-justify: inter-word; "> {{book.summary}} </textarea>
          </div>
  
          <div class="form-group" id="gb_published" style="margin-top: 12px;">
            <label class="label_2" class="bs_label_published" for="published" > published date: </label>
            <input type="date" class="form-control" name="published" placeholder="mm/dd/yyyy" id="published_{{ book.google_id }}" value='{{book.published}}'/>
            
          </div>
    <!---->
          <div class="form-group" id="gb_identyfier">
            <label class="label_2" id="bs_label_identity" for="isbn" >identyfier number:</label>
            {% autoescape off %} <input type="text" class="form-control" name="isbn" id="isbn"  value="{{book.isbn}}" > {% endautoescape %}
          </div>
          
          <div class="form-group" id="gb_language">
            <label class="label_2" id="bs_label_lang" for="language" >language:</label>
            <input type="text" class="form-control" name="language" id="language" value="{{book.language}}" >
          </div>
          
          <div class="form-group" id="gb_epub" >
            <label class="label_2" id="bs_label_epub" for="epub"> epub: </label>
            <input type="text" class="form-control" name="epub" id="epub" value="{{book.epub}}" >
          </div>
          
          <div class="form-group" id="gb_embed">
            <label id="bs_label_embed" for="embeddable"> embeddable: </label>
            <input type="text" class="form-control" name="embeddable"  id="embeddable" value="{{book.embeddable}}" >
          </div>
          
          <div class="form-group" id="gb_image" >
            <label class="label_2" id="bs_label_img" for="imageLinks"> image link: </label>
            <input type="url" class="form-control" name="imageLinks" id="imageLinks" pattern="^http:\/\/.+$" title="Include http://" value="{{book.imageLinks}}" readonly>
          </div>
          
          <div class="form-group" id="gb_prev_link">
            <label class="label_2" id="bs_label_prev_link" for="preview_link" >preview link: </label>
            <input type="url" class="form-control" name="preview_link" id="preview_link" value="{{book.preview_link}}" pattern="^http:\/\/?\/.*id=([A-Za-z0-9._-]{12}).*|.*\/([A-Za-z0-9._-]{12})\/.*$" title="Include http://" readonly>
          </div>
          
          <div class="form-group" id="gb_self_link">
            <label class="label_2" id="bs_label_self_link" for="selfLink" >self link:</label>
            <input type="url" class="form-control" name="selfLink" id="selfLink" value="{{book.selfLink}}" pattern="^http:\/\/?\/.*id=([A-Za-z0-9._-]{12}).*|.*\/([A-Za-z0-9._-]{12})\/.*$" title="Include http://" readonly>
          </div>
    
          <div class="form-group" id="gb_prev_linkn">
            <label class="label_2" for="bs_label_link_new" >preview link new: </label>
            <input type="url" class="form-control" name="preview_link_new" id="preview_link_new" value="{{book.preview_link}}" pattern="http:\/\/.+" title="Include http://" readonly>
          </div>
          <br>
        
        </form>
    
        </div>
        <div class="mymodal_footer_gb" id="mymodal_gbFooter_{{book.google_id}}">
        
        <button id="close_mb_gb_{{ book.google_id }}" type="button" class="btn_close btn btn-outline-primary text-danger" style=" min-width:110px; margin:10px auto auto 5%; border: 4px solid; font-size: 18px; font-weight: bold; padding:4px; box-shadow:0px 0px 4px 2px rgba(220,230,240, 0.6);"> CLOSE </button>
      
       
      <button id="btn_save_bookgb_{{ book.google_id }}" form="form_gb_{{ book.google_id }}" type="submit" class="btn_save btn btn-outline-danger text-primary" style="min-width:110px; margin:10px 5% auto auto; border: 4px solid; font-size: 18px; font-weight: bold; box-shadow:0px 0px 4px 2px rgba(220,230,240, 0.6); padding: 4px;"> SAVE </button>
    
    </div>
    <p style="font-variant: small-caps; margin:auto auto -10px auto;"> booksmart </p>
    </div>
    </div>
    
  </div>

    <script>
      console.clear();
      var_name_gb = {}
// {{ book.google_id }}
// let inputs_date = document.querySelectorAll("input[type=date]");
flatpickr("#published_{{ book.google_id }}", {
  altInput: true,
  allowInput: true,
 // static:true,
  altFormat: "m/d/Y",
 dateFormat: "Y-m-d",
 altInputClass: "date_published_",
 disableMobile: true,
 plugins: [
     
  ShortcutButtonsPlugin({
     button: [
      { label: "clear" },        
       { label: "today" },
     ],

     onClick: (index, fp) => {
       let execute;
       switch (index) {
         case 0:
           execute = fp.clear();
           break;
         case 1:
           execute = new Date();
           fp.setDate(execute);
           break;    
     }
   }
 }),
]   
  });
    

var modal_gb_{{ book.google_id_dash }} = document.getElementById("mymodal_gbOverlay_{{ book.google_id }}");
    
var cont_gb_{{ book.google_id_dash }} = document.getElementById("mymodal_gbCont_{{ book.google_id }}");
     
var btn_gb_{{ book.google_id_dash }} = document.getElementById("btn_gbook_{{ book.google_id }}");

    // var book_date = document.getElementById("published_{{book.google_id}}");
    // var book_date_inner{{ book.google_id }} = document.getElementById("flatpikr_date{{book.google_id}}");
      //var btn_authorbook = document.getElementById("button_1{{book.google_id}}");
      
      btn_gb_{{ book.google_id_dash }}.onclick = function(){
        modal_gb_{{ book.google_id_dash }}.style.display = "block";
          //my_modal_authorbook.style.display = "block";
          modal_gb_{{ book.google_id_dash }}.style.animation = "modalfadein 1s 1";
          //my_modal_authorbook.src = this.src;
          
          cont_gb_{{ book.google_id_dash }}.style.display = "block"; 
          cont_gb_{{ book.google_id_dash }}.style.animation = "zoom 2s 1";

         // my_modal_authorbookCont.src = this.src;
        // let calendar_publ = new flatpickr(book_date, {static: true,});
        // book_date_inner{{ book.google_id_dash }}.innerHTML = '{{ book.published }}'
      }
      
          var close_x_gb_{{ book.google_id_dash }} = document.getElementById("close_m_gb_{{book.google_id}}");  
          var close_btn_gb_{{ book.google_id_dash }} = document.getElementById("close_mb_gb_{{ book.google_id }}");
          var save_btn_gb_{{ book.google_id_dash }} = document.getElementById("btn_save_bookgb_{{ book.google_id }}");

          var avaliable_text_{{ book.google_id_dash }} = document.getElementById("book_avaliable_{{ book.google_id }}");

          var t_book_{{book.google_id_dash}} = document.getElementById("t_book_{{book.google_id}}");
          
          close_btn_gb_{{ book.google_id_dash }}.onclick = function() {
          
          cont_gb_{{ book.google_id_dash }}.style.animation = "animatetopback 2s 1";
          modal_gb_{{ book.google_id_dash }}.style.animation = "modalfadeout 1s 1 1s";
          setTimeout(()=> {
            cont_gb_{{ book.google_id_dash }}.style.display = "none";
              modal_gb_{{ book.google_id_dash }}.style.display = "none";
              }
              , 1900);
          }
      
          close_x_gb_{{ book.google_id_dash }}.onclick = function() {
            cont_gb_{{ book.google_id_dash }}.style.animation = "unzoom 2s 1";
            modal_gb_{{ book.google_id_dash }}.style.animation = "modalfadeout 1s 1 1s";
          setTimeout(()=> {
            cont_gb_{{ book.google_id_dash }}.style.display = "none";
              modal_gb_{{ book.google_id_dash }}.style.display = "none";
              }
              , 1900);
          }
      
          modal_gb_{{ book.google_id_dash }}.onclick = function() {  
            if (event.target == modal_gb_{{ book.google_id_dash }}) {
                //mymodal_cont.style.animation = "unzoomrotate 2s 1";
                cont_gb_{{ book.google_id_dash }}.style.animation = "unzoomrotate 2s 1";
                modal_gb_{{ book.google_id_dash }}.animation = "modalfadeout 1s 1 1s";
                setTimeout(()=> {
                  cont_gb_{{ book.google_id_dash }}.style.display = "none";
                  modal_gb_{{ book.google_id_dash }}.style.display = "none"
                }
                , 1900);
          
              // mymodal.style.animation = "modalfadeout 1s 1 1s";
              // setTimeout(function(){ mymodal.style.display = "none"; }, 1900);
              // mymodal.style.animation = "modalfadein 1s 1 2s";
              // mymodal_cont.style.animation = "zoomrotate 2s 1";
                  } 
            }

          
          save_btn_gb_{{ book.google_id_dash }}.onclick = function() { 
         avaliable_text_{{ book.google_id_dash }}.innerHTML = "NOW this book is: avaliable in the inventory.";
         t_book_{{book.google_id_dash}}.innerHTML = "BECAUSE THIS BOOK IS IN DATABASE, IF YOU WANT TO ADD THIS BOOK AGAIN YOU HAVE TO CHANGE GOOGLE-ID BEFORE SAVE"; //
          cont_gb_{{ book.google_id_dash }}.style.animation = "modalfadeout 1.5s 1 1.5s" ;
          modal_gb_{{ book.google_id_dash }}.style.animation = "modalfadeout 1s 1 2.5s";
            setTimeout(()=> {
              cont_gb_{{ book.google_id_dash }}.style.display = "none";
              modal_gb_{{ book.google_id_dash }}.style.display = "none";
            } , 1900); 
            
          }
        
 /*         avaliable_text_{{ book.google_id_dash }}.addEventListener("change", myFunction);
          function myFunction() {
            if (avaliable_text_{{ book.google_id_dash }}.innerHTML = "NOW this book is: avaliable in the inventory.") {

            }
          } */
          </script>