<style>
    select {
        -ms-overflow-style: none;  
        scrollbar-width: none; 
      }
      
      /* select, */
      .span_month_select select,
      #search_card_gb select {
        -webkit-text-fill-color: blue;
        background-color: rgba(60, 160, 240, 0.0); 
      }
      
      /* select, */
      .span_month_select select,
      #search_card_gb select {
      font-size: 16px; 
      color: rgba(0, 0, 210, 0.8); 
      max-width: 90%;
      display: block;
      border-radius: 4px;    
      box-shadow:
      0px 0px 0px 2px rgba(10, 115, 230, 0.4) inset,
      0px 0px 0px 2px rgba(220, 220, 240, 0.4);
      background:rgb(240, 248, 255);
      background:rgba(240, 248, 255, 0.6); 
      transition: 0.4s;
      width:90%; 
      margin-left: auto;
      border: none;
      outline: none;
      padding: 4px 4px 4px 6px;
      }
      
      /* select, */
      .span_month_select select:hover,
      #search_card_gb select:hover {
      font-size: 16px; 
      color: rgba(0, 0, 210, 0.8); 
      padding-top: 6px;
      padding-bottom: 6px;
      border: none;
      outline: none;
      }
       
      /* select, */
      .span_month_select select,
      #search_card_gb select  {
      position:relative;
      z-index: 1;
      background-color: rgba(60, 160, 240, 0.0); 
      font-size: 16px; 
      color: rgba(0, 0, 210, 0.8); 
      margin-top: 4px;
      border-radius: 4px;
      transition: 2s;
      /* padding: 6px 4px 6px 6px; */
      padding: 4px 4px 4px 6px;
      width: 90%;
      max-width: 90%;
      margin-left: auto;
      }
      
      /* select:focus, */
      .span_month_select select:focus,
      #search_card_gb select:focus {
      background: transparent;
      background-color: rgba(60, 160, 240, 0.0);
      background: rgba(60, 160, 240, 0.0);
      outline: none;
      border: none;
      position: fixed;
      z-index: 3;
      transition: 0.4s;
      font-size: 16px; 
      color: rgba(0, 0, 210, 0.8); 
      width: 90%;
      max-width: 90%;
      margin-left: 8px;
      box-shadow: none;
      margin-top: -6px;
      }
        
    
      /* select,
      select:hover, */
      .span_month_select select,
      .span_month_select select:hover,
      #search_card_gb select,
      #search_card_gb select:hover {
      position: relative;
      z-index: 1;
        width: 92%;
        max-width: 92%;
        margin-left: 4%;
        padding: 8px 4px 8px 6px;
        font-size: 16px;
      }
      
      /* select:focus, */
      .span_month_select select:focus,
      #search_card_gb select:focus {
        position: fixed;
        z-index: 3;
        min-width: 88%;
        width: 88%;
        max-width: 88%;
        margin-left: 16px;
        padding: 1%; 
        }
      

      .select_class {
      background-color: rgba(220, 220, 240, 0.4);
      box-shadow: 0px 0px 0px 2px rgba(60, 160, 240, 0.6);
        min-width: 88%;
        width: 88%;
        max-width: 88%; 
        transition: 0.6s;
        opacity: 1;
      }
    
      /*select option:first-child, */
      .span_month_select select option:first-child,
      #search_card_gb select option:first-child {
      background-color: rgba(60, 160, 240, 0.2);
      box-shadow: 
      0px 0px 0px 2px rgba(60, 160, 240, 0.2) inset,
      0px 0px 0px 2px rgba(60, 160, 240, 0.6);
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      transition: 0.4s;
      font-size: 16px;
      padding: 6px 4px 6px 6px;
      
      }
    
      /* select option:first-child:hover,
      select option:first-child:focus, */
      
      #search_card_gb select option:first-child:hover,
      #search_card_gb select option:first-child:focus {
      background-color: rgba(60, 160, 240, 0.2);
      box-shadow: 
      0px 0px 0px 2px rgba(220, 220, 240, 0.6) inset,
      0px 0px 0px 2px rgba(60, 160, 240, 0.6);
      width: 500px;
      margin-left: auto;
      margin-right: auto;
      transition: 0.4s;
      font-size: 16px;
      padding: 6px 4px 6px 6px;
      }
    
      .span_month_select select option:first-child:hover,
      .span_month_select select option:first-child:focus {
        background-color: rgba(60, 160, 240, 0.2);
        box-shadow: 
        0px 0px 0px 2px rgba(220, 220, 240, 0.6) inset,
        0px 0px 0px 2px rgba(60, 160, 240, 0.6);
        max-width: 260px;
        margin-left: auto;
        margin-right: auto;
        transition: 0.4s;
        font-size: 16px;
        padding: 6px 4px 6px 6px;

      }  

      /* select option:first-child:after, */
      .span_month_select select option:first-child:after,
      #search_card_gb select option:first-child:after {
      content:"";
      border: solid blue;
      border-width: 0 3px 3px 0;
      display: block;
      transform: rotate(-135deg);
      padding: 2px;
      float: right;
      margin-right: 6px;
      margin-top: 9px;
      font-weight: bold;
      }
      
      /* option,
      option:focus, */
      .span_month_select option,
      .span_month_select option:focus,
      #search_card_gb option, 
      #search_card_gb option:focus {
      background-color:rgb(240, 248, 255);
      background-color:rgba(240, 248, 255, 0.8);
      box-shadow:
      0px 0px 0px 2px rgba(10, 115, 230, 0.8) inset,
      0px 0px 0px 2px rgba(220, 220, 240, 0.6);
      font-size: 18px; 
      color: rgba(0, 0, 210, 0.8); 
      padding: 6px 4px 6px 6px;
      border:none;
      outline: none;
      min-width: 90%;
      }
      
      /* option:hover, */
      .span_month_select option:hover,
      #search_card_gb option:hover {
      background:rgb(240, 248, 255);
      background:rgba(240, 248, 255, 0.6);
      box-shadow:
      0px 0px 0px 2px rgba(10, 115, 230, 0.6) inset,
      0px 0px 0px 2px rgba(220, 220, 240, 0.4);
      min-width: 90%;
      }
      

      .span_month_select option:active,
      .span_month_select option:focus:active,
      #search_card_gb option:active,
      #search_card_gb option:focus:active {
      background-color:rgb(10, 115, 230);
      background-color:rgba(10, 115, 230, 0.8);
      box-shadow:
      0px 0px 0px 2px rgba(220, 220, 240, 0.8) inset,
      0px 0px 0px 2px rgba(10, 115, 230, 0.8);
      color:rgba(220, 230, 240, 0.8);
      border:none;
      outline: none; 
      padding: 6px 4px 6px 6px;
      min-width: 90%;
      }
      
      /* select option, */
      .span_month_select select option,
      #search_card_gb select option {
      background-color: rgba(60, 160, 240, 0.2); 
      border-radius: 4px;
      margin-top: 6px;
      font-size: 16px; 
      color: rgba(0, 0, 210, 0.8); 
      padding: 6px 4px 6px 6px;
      transition: 0.4s;
      box-shadow:
      0px 0px 0px 2px rgba(220, 220, 240, 0.4) inset,
      0px 0px 0px 2px rgba(10, 115, 230, 0.4);
      min-width: 90%;
      }
      
      
      /* select option:not(option:first-child), */
      .span_month_select select option:not(option:first-child),
      #search_card_gb select option:not(option:first-child) {
      box-shadow: 
      0px 0px 0px 2px rgba(60, 160, 240, 0.4),
      0px 0px 0px 20px rgba(60, 160, 240, 0.4) inset;
      transition: 0.4s;
      animation: opacityup 2s;
      color: rgba(0, 0, 210, 0.8); 
      font-size: 16px;
      padding: 6px 4px 6px 6px;
      min-width: 90%;
      }
      
      /* select option:first-of-type:hover, */
      .span_month_select select option:first-of-type:hover,
      #search_card_gb select option:first-of-type:hover {
      box-shadow: 
      0px 0px 0px 2px rgba(60, 160, 240, 0.6),
      0px 0px 0px 20px rgba(60, 160, 240, 0.6) inset; 
      color: rgba(0, 0, 210, 0.8); 
      font-size: 16px;
      padding: 6px 4px 6px 6px;
      transition: 0.4s;
      min-width: 90%;
      }
      
      /* option:not(option:first-child):hover, */
      .span_month_select select option:not(option:first-child):hover,
      #search_card_gb select option:not(option:first-child):hover {
      box-shadow: 
      0px 0px 0px 2px rgba(220, 220, 240, 0.6),
      0px 0px 0px 20px rgba(60, 160, 240, 0.6) inset; 
      /*border: 2px solid rgba(230, 230, 240, 0.6); */
      color:rgba(230, 230, 240, 0.9);
      font-weight: bold;
      color: rgba(0, 0, 210, 0.8); 
      font-size: 16px;
      padding: 6px 4px 6px 6px;
      min-width: 90%;
      }
      
      /* select option:not(option:first-child):focus,
      select option:not(option:first-child):active, */
      .span_month_select select option:not(option:first-child):focus,
      .span_month_select select option:not(option:first-child):active,
      #search_card_gb select option:not(option:first-child):focus,
      #search_card_gb select option:not(option:first-child):active {
      /* border: 2px solid rgba(230, 230, 240, 0.8);
      outline: 2px solid rgba(230, 230, 240, 0.8);
      outline-offset: 2px; */
      box-shadow: 
      0px 0px 0px 2px rgba(220, 220, 240, 0.8),
      0px 0px 0px 20px rgba(60, 160, 240, 0.8) inset;
      color:rgba(230, 230, 240, 1);
      font-weight: bold;
      color: rgba(0, 0, 210, 0.8); 
      font-size: 16px;
      padding: 6px 4px 6px 6px;
      min-width: 90%;
      }
      
      /* select option:first-of-type:focus, */
      .span_month_selectselect option:first-of-type:focus,
      #search_card_gb select option:first-of-type:focus {
      background-color: rgba(60, 160, 240, 0.2);
      box-shadow: 
      0px 0px 0px 2px rgba(220, 220, 240, 0.8),
      0px 0px 0px 20px rgba(60, 160, 240, 0.8) inset; 
      color: rgba(0, 0, 210, 0.8); 
      font-size: 16px;
      padding: 6px 4px 6px 6px;
      min-width: 90%;
      }
    
      /* select:invalid,
      select:disabled, */
      .span_month_select select:invalid,
      .span_month_select select:disabled,
      #search_card_gb select:invalid,
      #search_card_gb select:disabled {
      background:rgba(60, 160, 240, 0.0);
      background-color:rgba(60, 160, 240, 0.0);
      }
      
      /* select[disabled] > option, */
      .span_month_select select[disabled] > option,
      #search_card_gb select[disabled] > option {
        color: rgba(120, 120, 160, 0.6);
        background:rgba(160, 160, 240, 0.6);
         background-color:rgba(160, 160, 240, 0.6);
       box-shadow: 
       0px 0px 0px 2px rgba(220, 220, 240, 0.8),
      0px 0px 0px 0px rgba(230, 230, 240, 0.0) inset; 
      font-size: 16px;
      padding: 6px 4px 6px 6px;
      
      margin-left:auto;
      margin-right:auto;
      z-index: 4;
      }
      
        @keyframes opacityup {
          from {opacity: 0;} 
          to {opacity: 1;}
        } 
        
          @keyframes opacitydown {
          from {opacity: 1;} 
          to {opacity: 0;}
        } 
        
          @keyframes heightdown {
          from {height: 100%;} 
          to {height: 28px;}
        } 
       
        
      /* select:focus option:first-of-type:checked,  */
      
      #search_card_gb select:focus option:first-of-type:checked {
       -webkit-text-fill-color: rgba(220, 220, 240, 0.8); 
       background-color: rgba(60, 160, 240, 0.1) !important;
       background-color: rgba(60, 160, 240, 0.8);
      background: rgba(600, 160, 240, 0.8);
      background-image: radial-gradient(rgba(60, 160, 240, 0.6), rgba(60, 160, 240, 0.8), rgba(60, 160, 240, 0.6));
      box-shadow: 0px 0px 0px 2px rgba(220, 220, 240, 0.8);
      margin-left:auto;
      margin-right:auto;
      z-index: 4;
      padding: 6px 4px 6px 6px;
      font-size: 16px;
      margin-bottom: 4px;
      width: 500px;
      } 

      .span_month_select select:focus option:first-of-type:checked {
        -webkit-text-fill-color: rgba(220, 220, 240, 0.8); 
        background-color: rgba(60, 160, 240, 0.1) !important;
        background-color: rgba(60, 160, 240, 0.8);
       background: rgba(600, 160, 240, 0.8);
       background-image: radial-gradient(rgba(60, 160, 240, 0.6), rgba(60, 160, 240, 0.8), rgba(60, 160, 240, 0.6));
       box-shadow: 0px 0px 0px 2px rgba(220, 220, 240, 0.8);
       margin-left:auto;
       margin-right:auto;
       z-index: 4;
       padding: 6px 4px 6px 6px;
       font-size: 16px;
       margin-bottom: 4px;
       max-width: 260px;          
      } 
      
      /* select:focus option:first-of-type:checked:hover, */
      
      #search_card_gb select:focus option:first-of-type:checked:hover {
       -webkit-text-fill-color: rgba(230, 230, 240, 0.9); 
       background: rgba(20, 20, 240, 0.1) !important;
       background-color: rgba(20, 20, 240, 0.1) !important;
       background-color: rgba(60, 160, 240, 0.8);
      background: rgba(60, 160, 240, 0.8);
      background-image: radial-gradient(rgba(60, 160, 240, 0.6), rgba(60, 160, 240, 0.8), rgba(60, 160, 240, 0.6));
      box-shadow: 0px 0px 0px 2px rgba(220, 220, 240, 0.8);
      margin-left:auto;
      margin-right:auto;
      z-index: 4;
      color: rgba(220, 220, 240, 0.9);
      padding: 6px 4px 6px 6px;
      font-size: 16px;
      font-weight: bold;
      width: 500px;
      }  

      .span_month_select select:focus option:first-of-type:checked:hover {
        -webkit-text-fill-color: rgba(230, 230, 240, 0.9); 
        background: rgba(20, 20, 240, 0.1) !important;
        background-color: rgba(20, 20, 240, 0.1) !important;
        background-color: rgba(60, 160, 240, 0.8);
       background: rgba(60, 160, 240, 0.8);
       background-image: radial-gradient(rgba(60, 160, 240, 0.6), rgba(60, 160, 240, 0.8), rgba(60, 160, 240, 0.6));
       box-shadow: 0px 0px 0px 2px rgba(220, 220, 240, 0.8);
       margin-left:auto;
       margin-right:auto;
       z-index: 4;
       color: rgba(220, 220, 240, 0.9);
       padding: 6px 4px 6px 6px;
       font-size: 16px;
       font-weight: bold;
       max-width: 260px;

      }
       
      /* select:hover option:not(option:first-child):checked, */
      .span_month_select select:hover option:not(option:first-child):checked,
      #search_card_gb select:hover option:not(option:first-child):checked {
      -webkit-text-fill-color: rgba(230, 230, 240, 0.9);
      background-color: rgba(60, 160, 240, 0.6);
      background: rgba(60, 160, 240, 0.6);
      box-shadow: 0px 0px 0px 2px rgba(60, 160, 240, 0.8);
    /*  background-color: rgba(60, 160, 240, 0.1) !important; */
      background-color: rgba(60, 160, 240, 0.6);
      background-image: radial-gradient(rgba(60, 160, 240, 0.6), rgba(60, 160, 240, 0.8), rgba(60, 160, 240, 0.6));
      margin-left:auto;
      margin-right: auto;
      z-index: 4;
      padding: 6px 4px 6px 6px;
      }
      
      /* select:focus option:not(option:first-child):checked, */
      .span_month_select select:focus option:not(option:first-child):checked,
      #search_card_gb select:focus option:not(option:first-child):checked {
      -webkit-text-fill-color: rgba(230, 230, 240, 0.9);
      background-color: rgba(220, 220, 240, 0.8);
      background: rgba(220, 220, 240, 0.8);
      box-shadow: 0px 0px 0px 2px rgba(60, 160, 240, 0.8);
      margin-left:auto;
      margin-right: auto;
      padding: 6px 4px 6px 6px;
      }
      
      #search_card_gb select {
      }
      
      /* option, option:hover, option:focus, option:focus:hover, select option, select option:hover, select option:focus, select option:focus:hover, select:focus option, select:focus:hover option, */
      .span_month_select option,
      .span_month_select option:hover,
      .span_month_select option:focus,
      .span_month_select option:focus:hover,
      .span_month_select select option,
      .span_month_select select option:hover,
      .span_month_select select option:focus,
      .span_month_select select option:focus:hover,
      .span_month_select select:focus option,
      .span_month_select select:focus:hover option,
      #search_card_gb option, 
      #search_card_gb option:hover, 
      #search_card_gb option:focus,
      #search_card_gb option:focus:hover,
      #search_card_gb select option,
      #search_card_gb select option:hover,
      #search_card_gb select option:focus,
      #search_card_gb select option:focus:hover,
      #search_card_gb select:focus option,
      #search_card_gb select:focus:hover option {
      margin-left: auto;
      margin-right: auto;
      background-color: rgba(220, 220, 240, 0.8);
      background: rgba(220, 220, 240, 0.8);
      box-shadow: 
      0px 0px 0px 2px rgba(60, 160, 240, 0.8);
      z-index: 4;
      margin-top: 6px;
      border-radius: 4px;
      padding: 6px 4px 6px 6px;
      transition: 0.4s;
      transform: scale(1.01);
      opacity: 1;
      min-width:90%;
      width: 90%;
      }
    
    /*
      select > option:nth-child(1),
      select > option:checked:nth-child(1),
      select:focus > option:checked:nth-child(1),
      select:focus:hover option,
      select option:focus:hover {
      min-width: 480px;
      width: 480px;
        margin-left:auto;
      margin-right: auto;
    } */
    
    
    /* #search_card_gb select:focus option:nth-child(1),
    #search_card_gb select:focus:hover option:nth-child(1) {
      min-width: 472px;
      width: 472px;
      margin-left:auto;
      margin-right: auto;
    } */
    .span_month_select select:focus option:nth-child(1),
    .span_month_select select:focus:hover option:nth-child(1),
    #search_card_gb select:focus option:nth-child(1),
    #search_card_gb select:focus:hover option:nth-child(1) {
      min-width: 98%;
      width: 98%;
      margin-left:auto;
      margin-right: auto;
      margin-top: 4px;
      transform: scale(1.01);
      transition: 0.4s; 
      background-color: rgba(60, 160, 240, 0.6);
      background-image: radial-gradient(rgba(60, 160, 240, 0.6), rgba(60, 160, 240, 0.8), rgba(60, 160, 240, 0.6))
    }

</style>