<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/plugins/rangePlugin.js"></script>
<script src="https://cdn.jsdelivr.net/npm/shortcut-buttons-flatpickr@0.4.0/dist/shortcut-buttons-flatpickr.min.js"></script>
  
{% include 'snippets-booksearch/pure_flatpickr_css.html' %}

<style>

/* width */
.mymodal_wiki::-webkit-scrollbar {
width: 12px;

}
.mymodal_wiki::-webkit-scrollbar-button {
height:100%;

}
/* ::-webkit-resizer {
height:100px;}
Track */
.mymodal_wiki::-webkit-scrollbar-track {
box-shadow: 0px 0px 4px 2px rgba(120, 120, 120, 0.4) inset; 
border-radius: 4px;
background:rgba(241, 243, 244, 0.6);
}

/* Handle */
.mymodal_wiki::-webkit-scrollbar-thumb {
background: rgba(102, 153, 255, 0.6) ; 
border-radius: 4px;
box-shadow: 0px 0px 4px 2px rgba(120, 120, 120, 0.4) inset; 
}

/* Handle on hover */
.mymodal_wiki::-webkit-scrollbar-thumb:hover {
background:rgba(0, 51, 204, 0.6); 
}

@keyframes opacityanime {
from {opacity:1;} 
to {opacity:0;}
}

@keyframes modalfadeout {
from {background-color: rgba(20, 100, 200, 0.4);} 
to {background-color: rgba(20, 100, 200, 0.0);}
}

@keyframes modalfadein {
from {background-color: rgba(20, 100, 200, 0.0);} 
to {background-color: rgba(20, 100, 200, 0.4);}
}

@keyframes noconic {
/* -webkit-backdrop-filter: blur(4px);
backdrop-filter: blur(4px); */
}

[id^="mymodal_wikiOverlay"] {
position: fixed;
display:none;
z-index:35;
left: 0;
top: 0;
width: 100%; 
height: 100%; 
/*overflow: auto; */
animation:noname;
transition-duration: 0.2s;
background-color: rgb(20, 100, 200); 
background-color: rgba(20, 100, 200, 0.4); 
/*background-image: repeating-conic-gradient(rgba(120, 120, 140, 0.4) 0%, rgba(120, 120, 140, 0.4) 1%, rgba(20, 140, 240, 0.4) 2%, rgba(120, 120, 140, 0.4) 3%);*/
-webkit-backdrop-filter: blur(4px);
backdrop-filter: blur(4px);
}

[id^="mymodal_wikiOverlay"]:hover {
-webkit-backdrop-filter: blur(2px);
backdrop-filter: blur(2px);
}

[id^="mymodal_wikiCont"] {
position: relative;
justify-content: center;
align-items: center;
justify-items: center;
justify-self: center;

/* left: 50%;
margin-left: -280px; */
z-index:36;
display:none;
vertical-align: middle;
margin: 0px auto auto auto;
top:60px;
font-family: Times;
padding: 10px;
width: 560px;
max-width: 90%;
font-size: 18px;
border-radius: 2px;
background:rgba(0, 70, 204, 0.4);
animation: noname2;
border: 4px solid rgba(240, 240, 240, 0.6);
transition-duration: 0.2s;
box-shadow: 
0px 0px 18px 14px rgba(209, 210, 223, 0.4);
/*
-8px 8px 10px 0px rgba(229, 230, 243, 0.6), 
-8px -8px 10px 0px rgba(229, 230, 243, 0.6),
8px 8px 10px 0px rgba(229, 230, 243, 0.6), 
8px -8px 10px 0px rgba(229, 230, 243, 0.6),
18px 18px 20px 0px rgba(209, 210, 223, 0.4), 
18px -18px 20px 0px rgba(209, 210, 223, 0.4),
-18px 18px 20px 0px rgba(209, 210, 223, 0.4), 
-18px -18px 20px 0px rgba(209, 210, 223, 0.4); */
}

[id^="mymodal_wikiCont"]:hover {

background:rgba(0, 70, 204, 0.6);
box-shadow:
0px 0px 18px 14px rgba(209, 210, 223, 0.6);
/*-8px 8px 10px 0px rgba(229, 230, 243, 0.6), 
-8px -8px 10px 0px rgba(229, 230, 243, 0.6),
8px 8px 10px 0px rgba(229, 230, 243, 0.6), 
8px -8px 10px 0px rgba(229, 230, 243, 0.6),

18px 18px 20px 0px rgba(209, 210, 223, 0.4), 
18px -18px 20px 0px rgba(209, 210, 223, 0.4),
-18px 18px 20px 0px rgba(209, 210, 223, 0.4), 
-18px -18px 20px 0px rgba(209, 210, 223, 0.4);*/
} 

@keyframes unzoomrotate {
from {transform:scale(1); rotate:360deg;} 
to {transform:scale(0); rotate: 0deg;}
} 

@keyframes zoomrotate {
from {transform:scale(0); rotate:0deg;} 
to {transform:scale(1); rotate: 360deg;}
} 

@keyframes unzoom {
from {transform:scale(1);} 
to {transform:scale(0);
}
}

@keyframes zoom {
from {transform:scale(0);} 
to {transform:scale(1);
}
}

@keyframes animatetopback {
from {top: 0px; }
to {top:-1000px; }
}

.column_mymodal_wiki {
border-radius: 2px;
margin: auto;
border: 4px solid rgba(240, 240, 240, 0.6);
padding:10px;
transition-duration: 0.2s;
position: relative;
z-index: 37;
}

.column_mymodal_wiki:hover {

}

.mymodal_header_wiki {
background-color: rgb(140, 140, 180); 
background-color: rgba(140, 140, 180, 0.6);
border-radius: 2px;
border: 4px solid rgba(240, 240, 240, 0.6);
margin: auto;
padding:10px;
text-align:center;
transition-duration: 0.2s;
z-index: 38;
}

.mymodal_header_wiki:hover {
background-color: rgb(140, 140, 180); 
background-color: rgba(140, 140, 180, 0.8);
}

.mymodal_body_wiki {
justify-content:center;
text-align:center;
background-color: rgb(140, 140, 160); 
background-color: rgba(140, 140, 160, 0.6);
border-radius: 2px;
border: 4px solid rgba(240, 240, 240, 0.6);
margin: 10px auto 10px auto;
padding:10px 5% 0px 5%;
overflow: auto;
max-height: 460px;
z-index: 38;
}

.mymodal_body_wiki:hover {
background-color: rgb(140, 140, 160); 
background-color: rgba(140, 140, 160, 0.8);
}


label {
font-variant: small-caps;
font-size: 24px;
font-family:Times;
color:blue;
padding: 0px auto 0px auto;
font-weight: bold;
/*margin-bottom:4px; */
}

/* 
.form-control {
padding:5px;
margin:-8px 10% -10px 10%;
width:80%;
font-size: 16px;  
font-family:Times;
background-color: rgb(220, 230, 240,); 
box-sizing: border-box;
border-radius: 2px;
box-shadow: 
0px 0px 2px 2px rgba(240, 240, 240, 0.4) inset,
0px 0px 2px 2px rgba(40, 120, 240, 0.4); 
background-color: rgba(220, 230, 240, 0.2);
color:darkblue;
}

.form-control:hover {
background-color: rgb(220, 230, 240,); 
background-color: rgba(220, 230, 240, 0.4);
box-shadow: 
0px 0px 2px 2px rgba(240, 240, 240, 0.6) inset,
0px 0px 2px 2px rgba(40, 120, 240, 0.6);
}

.form-control:focus {
background-color: rgb(220, 230, 240,); 
background-color: rgba(220, 230, 240, 0.8);
box-shadow: 
0px 0px 2px 2px rgba(240, 240, 240, 0.8) inset,
0px 0px 2px 2px rgba(40, 120, 240, 0.8);
}

.form-control, .form-control:hover, .form-control:focus {
border:none;
outline:none;}
*/

#mymodal_wikiBody input[type=text] {
font-size:16px;
color:darkblue;
box-shadow: 
0px 0px 0px 2px rgba(10, 115, 230, 0.4) inset,
0px 0px 0px 2px rgba(220, 220, 240, 0.4);
background: rgba(240, 255, 255, 0.4);
border-radius:2px;
box-sizing: border-box;
margin: -6px auto -28px auto;
padding: 2px 6px 4px auto;
width:96%;
}

#mymodal_wikiBody input[type=date], #mymodal_wikiBody input[type=url] {
font-size:16px;
color:darkblue;
box-shadow: 
0px 0px 0px 2px rgba(10, 115, 230, 0.4) inset,
0px 0px 0px 2px rgba(220, 220, 240, 0.4);
background: rgba(240, 255, 255, 0.4);
border-radius:2px;
box-sizing: border-box;
margin: 0px auto -6px auto;
width:96%;
}

#mymodal_wikiBody textarea {
font-size:16px;
color:darkblue;
box-shadow: 
0px 0px 0px 2px rgba(10, 115, 230, 0.4) inset,
0px 0px 0px 2px rgba(220, 220, 240, 0.4);
background: rgba(240, 255, 255, 0.4);
border-radius:2px;
box-sizing: border-box;
margin: 0px auto -10px auto;
text-align: justify; 
text-justify: inter-word; 
resize:none;
width:90%;
}

::-webkit-input-placeholder { /* Edge */
color: lightblue;
}

:-ms-input-placeholder { /* Internet Explorer */
color: lightblue;
}

::placeholder {
color: lightblue;
}

#mymodal_wikiBody input:hover, #mymodal_wikiBody select:hover, #mymodal_wikiBody textarea:hover {
box-shadow: 
0px 0px 0px 2px rgba(10, 115, 230, 0.6) inset,
0px 0px 0px 2px rgba(220, 220, 240, 0.6);
background: rgba(240, 255, 255, 0.6);
}

#mymodal_wikiBody input:focus, #mymodal_wikiBody select:focus, #mymodal_wikiBody textarea:focus {
box-shadow: 
0px 0px 0px 2px rgba(10, 115, 230, 0.8) inset,
0px 0px 0px 2px rgba(220, 220, 240, 0.8);
background: rgba(240, 255, 255, 0.8);
border:none;
outline:none;
}

.mymodal_footer_wiki {
background-color: rgb(140, 140, 180); 
background-color: rgba(140, 140, 180, 0.6);
border-radius: 2px;
border: 4px solid rgba(240, 240, 240, 0.6);
margin: auto;
padding: auto 10px auto 10px;
box-shadow: 0px 0px 2px 2px rgba(120, 120, 240, 0.6);
min-height:70px;
max-height:70px;
height:70px;
align-items:center;
z-index: 38;
}

.mymodal_footer_wiki:hover {
background-color: rgb(140, 140, 180); 
background-color: rgba(140, 140, 180, 0.8);
}

.close_m {
color: rgba(200, 210, 220, 0.6);
float: right;
font-size: 22px;
font-weight: bold;
margin: -8px 5px 20px auto;
transition: 0.2s;
}

.close_m:hover,
.close_m:focus {
color: blue;
transform: scale(1.02);
text-decoration: none;
cursor: pointer;
}

.close_m:active {
transform: scale(0.98);
}

.btn_close {
float:left;
transition: 0.2s;
}

.btn_close:hover,
.btn_close:focus {
text-decoration: none;
cursor: pointer;
}

.close_mb:active {
transform: scale(0.98);

}

.btn_save {
float:right;
transition: 0.2s;
}

#a_submit_t {
animation-name: anime_submit_t;
animation-duration: 6s;
animation-iteration-count: infinite;
}

#mymodal_wikiBody input.date_start_wiki,
#mymodal_wikiBody input.date_end_wiki {
  background:rgba(240, 255, 255, 0.4) url(https://cdn2.iconfinder.com/data/icons/education-1-blue/64/calendar_month_schedule_date-64.png)   no-repeat ;
  background-size: 26px 26px;
  background-position: 99% 50%;
  border:none;
  outline:none;
}

#mymodal_wikiBody .form-group {
  margin-bottom: 6px;
}

#mymodal_wikiBody label {
  margin-bottom: 4px;
}
.modal_title {
  font-size:26px;
}

.modal_flatpikr_title {
  font-size:26px;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .container_mymodal_wiki {
   min-width: 92%;
   max-width: 92%;
   width: 92%;
  }
  .modal_title {
   font-size:22px;
 }
 
 .modal_flatpikr_title {
   font-size:22px;
 }
}

@media screen and (max-width: 480px) {
 .container_mymodal_wiki {
   min-width: 98%;
   max-width: 98%;
   width: 98%;
  }

  .modal_title {
   font-size:18px;
 }
 
 .modal_flatpikr_title {
   font-size: 18px;
 }
}
</style>
      
      
      
      <div class="mymodal_wiki" id="mymodal_wikiOverlay{{book_dict.author_c.wiki_idx}}">
      
  
  <div class="container_mymodal_wiki" id="mymodal_wikiCont{{book_dict.author_c.wiki_idx}}">
  <div class="column_mymodal_wiki" id="mymodal_wikiCol">
  
      <div class="mymodal_header_wiki" id="mymodal_wikiHeader" >
      <p id="close_m_wiki{{book_dict.author_c.wiki_idx}}" class="close_m">✖</p>
      <p class="modal_title" style="font-weight:bold; color:blue; margin:10px auto 0px 10px;">AUTHOR CARD TO EDIT & SAVE</p>
      </div>
  

      <div class="mymodal_body_wiki" id="mymodal_wikiBody" style="text-align: center;">
        
          
        <form action="{% url 'booksearch:addauthor' %}" method="post" target="{% url 'booksmart:allauthors' %}" id="edit_wiki">
          {% csrf_token %}
      
          <div class="form-group">
              <label class="label_1" id="bs_label_first_name" for="first_name" > first name: </label>
              <input type="text" class="form-control"  id="first_name" name="first_name" value="{{book_dict.author_c.first_name}}" >
            </div>
      
            {% if book_dict.author_c.middle_name %}
            <div class="form-group">
              <label class="label_1" id="bs_label_middle_name"  for="middle_name" > other names: </label>
              <input type="text" class="form-control"  id="middle_name" name="middle_name" value="{{book_dict.author_c.middle_name}}" >
            </div>
      
            {% elif not book_dict.author_c.middle_name %}
            <div class="form-group">
              <label class="label_1" id="bs_label_middle_name" for="middle_name" > other names: </label>
              <input type="text" class="form-control"  id="middle_name" name="middle_name" value="" >
            </div>
            {% endif %}
            
            <div class="form-group">
              <label class="label_1" id="bs_label_last_name" for="last_name"> last name: </label>
              <input type="text" class="form-control"  id="last_name" name="last_name" value="{{book_dict.author_c.last_name}}" radonly>
            </div>
          
          <div class="form-group">
              <label class="label_2" id="bs_label_author_wiki_link_d" for="author_wiki_link_d" > short info: </label>
              <input type="text" class="form-control" id="author_wiki_link_d" name="author_wiki_link_d"  value="{{book_dict.author_c.author_wiki_link_d}}" >
            </div>
            
            <div class="form-group">
              <label class="label_2" id="bs_label_author_wiki_link" for="author_wiki_link" > details about author: </label>
              <textarea class="form-control" id="author_wiki_link" name="author_wiki_link" rows="4" maxlength="1200" style=" text-align: justify; text-justify: inter-word; "> {{book_dict.author_c.author_wiki_link}} </textarea>
            </div>
           
          <div class="form-group">
              <label class="label_2" id="bs_label_wiki_idx" for="wiki_idx" > wiki idx: </label>
              <input type="text" class="form-control" id="wiki_idx" name="wiki_idx"  value="{{book_dict.author_c.wiki_idx}}" >
            </div>
            
            <div class="form-group">
              <label class="label_2" id="bs_label_date_of_birth" for="date_of_birth" > date of birth </label>
              <input type="date" class="form-control" id="date_of_birth{{book_dict.author_c.wiki_idx}}" name="date_of_birth" value="{{book_dict.author_c.date_of_birth}}" pattern="^(0[1-9]|1[1,2])\/(0[1-9]|[12][0-9]|3[01])\/d{4}$" readonly>
            </div>
            
            
              {% if book_dict.author_c.date_of_death == no_date %}
              <div class="form-group" style="" onmouseover="readOnlyFlatpickr(this)">
                <label class="label_2"  id="bs_label_date_of_death" for="date_of_death" > date of death </label>

                
              <input type="date" class="form-control" id="date_of_death{{book_dict.author_c.wiki_idx}}" name="date_of_death" value="{{book_dict.author_c.date_of_death}}" readonly style="color: transparent;">
           
            </div>
              {% else %}
              <div class="form-group">
              <label class="label_2"  id="bs_label_date_of_death" for="date_of_death" > date of death </label>
              <input type="date" class="form-control" id="date_of_death{{book_dict.author_c.wiki_idx}}" name="date_of_death" value="{{book_dict.author_c.date_of_death}}" pattern="^(0[1-9]|1[1,2])\/(0[1-9]|[12][0-9]|3[01])\/d{4}$" readonly>
            </div>
              {% endif %}
            
          
         <div class="form-group">
              <label class="label_2" id="bs_label_author_name" for="author_name" >author name: </label>
              <input type="text" class="form-control" id="author_name" name="author_name"  value="{{book_dict.author_c.author_name}}" pattern="^(\w.+\s).+$">
            </div>
            
          <div class="form-group">
              <label class="label_2" id="bs_label_author_wiki_img" for="author_wiki_img" > author image: </label>
              {% if book_dict.author_c.author_wiki_img == "no img" %}
              <input type="url" class="form-control" id="author_wiki_img" name="author_wiki_img" value="{{ url_img_author }}" >
            {% else %}
              <input type="url" class="form-control" id="author_wiki_img" name="author_wiki_img" value="{{book_dict.author_c.author_wiki_img}}" >
              {% endif %}
            </div>
      
          <div class="form-group">
            <label for="user_num_a" ></label>
            <input type="hidden" class="form-control" id="user_num_a" name="user_num_a" value="{{ request.user.id }}">
          </div>
       
          </form>
        
      </div>
      <div class="mymodal_footer_wiki" id="mymodal_wikiFooter">
      
      <button id="close_mb_wiki{{ book_dict.author_c.wiki_idx }}" type="button" class="btn_close btn btn-outline-primary text-danger " style=" min-width:110px; margin:10px auto auto 5%; border: 4px solid; font-size: 18px; font-weight: bold; padding:4px; box-shadow:0px 0px 4px 2px rgba(220,230,240, 0.6);"> CLOSE </button>
    
     
    <button form="edit_wiki" type="submit" id="button_save{{ book_dict.author_c.wiki_idx }}" class="btn_save btn btn-outline-danger text-primary" style="min-width:110px; margin:10px 5% auto auto; border: 4px solid; font-size: 18px; font-weight: bold; padding:4px; box-shadow:0px 0px 4px 2px rgba(220,230,240, 0.6);"> SAVE </button>
  
  </div>
  <p style="font-variant: small-caps; margin:auto auto -10px auto;"> booksmart </p>
  </div>
  </div>
  

</div>
  
  <script>
    console.clear();
    var_name_wiki = {}

    function readOnlyFlatpickr(element) {
      element.lastElementChild.style.color = "red";
      element.lastElementChild.readOnly = true;
      element.lastElementChild.style.visibility = "hidden";
      element.lastElementChild.style.cursor = "none";
      
      };

 let date_startwiki = flatpickr("#date_of_birth{{book_dict.author_c.wiki_idx}}", {
 // flatpickr("#date_of_birth{{book_dict.author_c.wiki_idx}}", {    
  altInput: true,
      allowInput: true,
     // static:true,
     disableMobile: true,
      altFormat: "m/d/Y",
     dateFormat: "Y-m-d",
     altInputClass: "date_start_wiki",
     onOpen: function(selectedDates, dateStr, instance) {   
      // btn_opendate_1.innerText = "CLOSE";
     },
     onChange: function(selectedDates, dateStr, instance) {
      if (date_endwiki) {
        date_endwiki.set('minDate', selectedDates[0]);
      };
    },
    onClose: function(selectedDates, dateStr, instance) {   
 
  }, 
     plugins: [    
      ShortcutButtonsPlugin({
         button: [
          { label: "clear" },        
           { label: "today" },
         ],
    
         onClick: (index, fp) => {
           let execute;
           switch (index) {
             case 0:
               execute = fp.clear();
               break;
             case 1:
               execute = new Date();
               fp.setDate(execute);
               break;    
         }
       }
     }),
    ]   
      });

     let date_endwiki = flatpickr("#date_of_death{{book_dict.author_c.wiki_idx}}", {
  //  flatpickr("#date_of_death{{book_dict.author_c.wiki_idx}}", {
        altInput: true,
        allowInput: true,
       // static:true,
        altFormat: "m/d/Y",
       dateFormat: "Y-m-d",
       altInputClass: "date_end_wiki",
       disableMobile: true,
       plugins: [
           
        ShortcutButtonsPlugin({
           button: [
            { label: "clear" },        
             { label: "today" },
           ],
      
           onClick: (index, fp) => {
             let execute;
             switch (index) {
               case 0:
                 execute = fp.clear();
                 break;
               case 1:
                 execute = new Date();
                 fp.setDate(execute);
                 break;    
           }
         }
       }),
      ]   
        });

  
    var modal_wiki{{ book_dict.author_c.wiki_idx }}  = document.getElementById("mymodal_wikiOverlay{{book_dict.author_c.wiki_idx}}");
  
    var cont_wiki{{ book_dict.author_c.wiki_idx }}  = document.getElementById("mymodal_wikiCont{{book_dict.author_c.wiki_idx}}");
  
   
  var btn_wiki{{ book_dict.author_c.wiki_idx }} = document.getElementById("btn_wiki_author{{book_dict.author_c.wiki_idx}}");
   
    //var btn_authorbook = document.getElementById("button_1{{book_dict.author_c.wiki_idx}}");
    
    btn_wiki{{ book_dict.author_c.wiki_idx }}.onclick = function(){
      modal_wiki{{ book_dict.author_c.wiki_idx }}.style.display = "block";
        //my_modal_authorbook.style.display = "block";
        modal_wiki{{ book_dict.author_c.wiki_idx }}.style.animation = "modalfadein 1s 1";
        //my_modal_authorbook.src = this.src;
        
        cont_wiki{{ book_dict.author_c.wiki_idx }}.style.display = "block"; 
        cont_wiki{{ book_dict.author_c.wiki_idx }}.style.animation = "zoom 2s 1";
       // my_modal_authorbookCont.src = this.src;
    }
    
        var close_x_wiki{{ book_dict.author_c.wiki_idx }} = document.getElementById("close_m_wiki{{book_dict.author_c.wiki_idx}}");  
        var close_btn_wiki{{ book_dict.author_c.wiki_idx }} = document.getElementById("close_mb_wiki{{ book_dict.author_c.wiki_idx }}");
        
    
        close_btn_wiki{{book_dict.author_c.wiki_idx}}.onclick = function() {
          cont_wiki{{ book_dict.author_c.wiki_idx }}.style.animation = "unzoom 2s 1";
          modal_wiki{{ book_dict.author_c.wiki_idx }}.style.animation = "modalfadeout 1s 1 1s";
        setTimeout(()=> {
          cont_wiki{{ book_dict.author_c.wiki_idx }}.style.display = "none";
            modal_wiki{{ book_dict.author_c.wiki_idx }}.style.display = "none";
            }
            , 1900);
        }
    
        close_x_wiki{{ book_dict.author_c.wiki_idx }}.onclick = function() {
          cont_wiki{{ book_dict.author_c.wiki_idx }}.style.animation = "animatetopback 2s 1";
          modal_wiki{{ book_dict.author_c.wiki_idx }}.style.animation = "modalfadeout 1s 1 1s";
          setTimeout(()=> {
            cont_wiki{{ book_dict.author_c.wiki_idx }}.style.display = "none";
              modal_wiki{{ book_dict.author_c.wiki_idx }}.style.display = "none";
              }
              , 1900);
        }
    
  /*      modal_wiki{{  book_dict.author_c.wiki_idx }}.onclick = function() {  
          cont_wiki{{ book_dict.author_c.wiki_idx }}.style.animation = "unzoomrotate 2s 1";
          modal_wiki{{ book_dict.author_c.wiki_idx }}.style.animation = "modalfadeout 1s 1 1s";
            setTimeout(()=> {
              cont_wiki{{ book_dict.author_c.wiki_idx }}.style.display = "none";
              modal_wiki{{ book_dict.author_c.wiki_idx }}.style.display = "none";
            }
            , 1900);   
        } */

        modal_wiki{{  book_dict.author_c.wiki_idx }}.onclick = function() {  
          if (event.target == modal_wiki{{  book_dict.author_c.wiki_idx }}) {
              //mymodal_cont.style.animation = "unzoomrotate 2s 1";
              cont_wiki{{ book_dict.author_c.wiki_idx }}.style.animation = "unzoomrotate 2s 1";
              modal_wiki{{ book_dict.author_c.wiki_idx }}.style.animation = "modalfadeout 1s 1 1s";
                setTimeout(()=> {
                  cont_wiki{{ book_dict.author_c.wiki_idx }}.style.display = "none";
                  modal_wiki{{ book_dict.author_c.wiki_idx }}.style.display = "none";
                }
                , 1900); 
        
            // mymodal.style.animation = "modalfadeout 1s 1 1s";
            // setTimeout(function(){ mymodal.style.display = "none"; }, 1900);
            // mymodal.style.animation = "modalfadein 1s 1 2s";
            // mymodal_cont.style.animation = "zoomrotate 2s 1";
                } 
          }

        var avaliable_text{{ book_dict.author_c.wiki_idx }} = document.getElementById("author_avaliable{{ book_dict.author_c.wiki_idx }}");

      var save_btn_wiki{{ book_dict.author_c.wiki_idx }} = document.getElementById("button_save{{ book_dict.author_c.wiki_idx }}");
      
        save_btn_wiki{{ book_dict.author_c.wiki_idx }}.onclick = function() { 
          avaliable_text{{ book_dict.author_c.wiki_idx }}.innerHTML = "NOW this author is: avaliable in the inventory."; //

        cont_wiki{{ book_dict.author_c.wiki_idx }}.style.animation = "modalfadeout 1.5s 1 1.5s" ;
        modal_wiki{{ book_dict.author_c.wiki_idx }}.style.animation = "modalfadeout 1s 1 2.5s";
          setTimeout(()=> {
            cont_wiki{{ book_dict.author_c.wiki_idx }}.style.display = "none";
            modal_wiki{{ book_dict.author_c.wiki_idx }}.style.display = "none";
          } , 1900);   
        }
    
        </script>
