<style type="text/css">
/*	#top_jumb {
    position: relative;
    margin-top:10px;
    z-index:1;
    
  }*/
  
  #h1j {
    color: RoyalBlue;
    font-family: Georgia; 
    font-weight: bold; 
    font-size: 44px; 
    text-shadow: 2px 2px 8px WhiteSmoke; 
    line-height: 32px;
  }

  #h2j {
    color: DimGrey;
    font-family: Georgia; 
    font-weight: bold; 
    font-size: 34px; 
    text-shadow: 2px 2px 8px WhiteSmoke; 
    line-height: 30px;
  }
  #h2m {
    color: MediumBlue;
    font-family: Georgia; 
    font-weight: bold; 
    font-size: 36px; 
    text-shadow: 2px 2px 8px WhiteSmoke; 

  }

  
  #marque {
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 2px -2px 0px -2px;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 12px; 
  }
  
  
  #h22v   {color: DimGrey; font-family: Georgia; font-weight: bold; font-size: 2.2vw; text-shadow: 1px 1px 5px AliceBlue;  }
</style>

<div class="jumbotron-fluid col-lg-8 mx-auto" id="top_jumb" >
    <a href="{% url 'index' %}" class="text-center"   role="button" ><p id="h1j"><span>BOOKSMART</span><br><span id="h2j" >MAINPAGE-LINK</span></p></a>
    </div>
  
    
    <div class="jumbotron-fluid col-lg-12" id="marque" >
    
      <p id="h2m" class="marq_text"><marquee marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();"> ☞ FEEL &nbsp; FREE &nbsp; TO &nbsp; USE &nbsp; WEB - APLICATION &nbsp; THAT &nbsp; ALLOWS &nbsp; TO >>> SEARCH &nbsp; & &nbsp; FIND <<< &nbsp; ☼ &nbsp; >>> SAVE &nbsp; & &nbsp; READ <<< &nbsp; BOOKS &nbsp; FROM  &nbsp; AROUND &nbsp; THE &nbsp; WORLD ☜ </marquee></h3>
    
  </div>