<script>
 
// window.addEventListener("load", function() {
  function myFunctionClear_bookd_download() {
    localStorage.clear();
    sessionStorage.clear();


    }
// });
</script>

<style type="text/css">

  button {
    border: none;
    outline: none;
  }
  
  /*⊕ ⊖ − ∓ ─  */

    
.mycolumn_download {  
  position:relative;
  z-index:14;
  justify-content: center;
  align-items: center;
  border: 4px solid rgba(90, 150, 210, 0.2);
  border-radius: 4px;
  background: rgba(90, 150, 210, 0.4);
  box-shadow:-1px -1px 0px 0px rgb(151, 191, 231), 
  1px 1px 0px 0px rgb(151, 191, 231),
  -2px 2px 0px 0px rgb(151, 191, 231), 
  2px 2px 0px 0px rgb(151, 191, 231),
  0px 2px 4px 3px rgb(110, 170, 210),
  0px 3px 0px 0px rgb(90, 150, 210), 
  -1px 6px 6px 0px rgba(80, 140, 200, 0.8), 
  1px 8px 8px 0px rgb(119, 120, 123), 
  0px 10px 8px 0px rgb(77, 77, 79), 
  0px 12px 8px 0px rgb(51, 51, 53);
  color: white;
  font-weight: bold;
  padding-top: 2px;
  text-align: center;
  margin: 60px auto 20px auto;
  max-width: 90%;
  width: 490px;
  font-family: Times;
  padding: 10px;
  left: 12px;
    }
    

.mycolumn_download:hover {
  color: darkblue;
  background-color: rgb(100, 160, 220); 
  background-color: rgba(100, 160, 220, 0.6); 
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  box-shadow: -1px 2px 1px 1px rgba(110, 170, 230, 0.4), 1px -1px 1px 1px rgba(110, 170, 230, 0.4), 0px 4px 0px 0px rgba(47, 128, 208, 0.4), 0px 8px 0px 0px rgba(38, 102, 166, 0.4), -4px 10px 8px 2px rgba(229, 230, 243, 0.4), 4px 0px 8px 2px rgba(219, 220, 233, 0.4),  0px 12px 6px 2px rgba(209, 210, 222, 0.4), 0px 14px 8px 0px rgba(199, 200, 212, 0.4), 0 16px 20px 0 rgba(190, 190, 201, 0.4);
}

.mycolumn_download:active {
  color: LightSteelBlue;
  background-color: rgb(200, 200, 240); 
  background-color: rgba(200, 200, 240, 0.6); 
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  box-shadow: 
  -3px 4px 4px 2px rgba(29, 130, 243, 0.6), 
  -3px -2px 4px 1px rgba(29, 130, 243, 0.6),
  3px 4px 4px 2px rgba(29, 130, 243, 0.6), 
  3px -2px 4px 1px rgba(29, 130, 243, 0.6),
}

.mycard_download {
  background: rgba(90, 150, 210, 0.4);
  position: relative;
  margin: auto;
  padding: 10px;
}
@keyframes anime_red_border {
25% {
border-color: red;}
}  


@keyframes anime_red_text {
25% {
color: red;}
}  

@keyframes anime_visible {
  from {opacity: 0;}
  to {opacity: 0.9;}

}

@keyframes anime_invisible {
  from {opacity: 0.9;}
  to {opacity: 0;}
  
}

[id^='button_download_'].focus,
[id^='button_download_'].active {
transform: matrix(0.98, 0, 0, 0.98, 0, 2);
}

.download_object {
  position: relative;
  margin: 10px auto 10px auto;
  
  text-align: center;
  background-color: rgba(60, 160, 240, 0.0);
  left: 12px;
  width: 360px;
  display: block;
  z-index: 16;
  margin-top: 10px; 
  margin-bottom: 10px;
  padding: 0px;
}



.download_book_text {
  position: relative;
  z-index: 21;
  border: 4px solid red;
  padding: 20px;
  background-color: rgba(60, 160, 240, 0.6);
  width: 100%;
  color: red;
  display: block;
  margin: 0px auto 0px auto;
  font-size: 28px;
}


@keyframes anime_pulse {
  0% {transform: scale(1);}
    25% {transform: scale(1.2);}
    45% {transform: scale(1);}
    75% {transform: scale(1.6);}
    100% {transform: scale(1);}
  }
     
.scene {
width: 340px;
height: 110px;
border: 1px solid transparent;
position: relative;
perspective: 600px;
margin: 10px auto 10px auto; 
max-width: 90%;
}

.scene {
  display: none;
}

.button_download_1,
.button_download_2 {
  cursor: pointer;
}

.button_downloads,
.card__face--front,
.card__face--back { 
box-shadow: 
0px 0px 2px 4px rgba(10, 20, 220, 0.8) inset,
0px 0px 4px 4px rgba(220, 220, 240, 0.6); 
font-size: 18px; 
font-weight: bold;
background-color: rgba(60, 160, 240, 0.4);
color: rgba(0, 0, 180, 0.9);
font-variant: small-caps;
}

.card__face--back {
  padding: 10px;
}

.card__face--front {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.card {
  width: 100%;
  height: 100%; 
transition: transform 1s;
transform-style: preserve-3d;
cursor: pointer;
position: relative; 
background: transparent;
background-color: transparent;
}

.card.is-flipped {
transform: rotateY(180deg);
}

.button_downloads {
  width:340px;
  position: relative;
  margin: 10px auto 10px auto; 
  max-width: 90%;
  padding: 10px;
}
  
.card__face {
position: absolute;
width: 100%;
height: 100%; 
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY(180deg);
  height: 100%; 
  width: 100%;
}

.button_downloads:hover,
.button_downloads:focus,
.card__face--front:hover,
.card__face--front:focus,
.card__face--back:hover,
.card__face--back:focus {
  box-shadow: 
  0px 0px 2px 4px rgba(210, 20, 10, 0.8) inset,
  0px 0px 4px 4px rgba(220, 220, 240, 0.8); 
  color: rgba(210, 20, 10, 0.9)
}

.button_downloads:active,
.card__face--front:active,
.card__face--back:active {
  box-shadow: 
  0px 0px 2px 4px rgba(210, 20, 10, 0.8) inset,
  0px 0px 4px 4px rgba(220, 220, 240, 0.8); 
  color: rgba(210, 20, 10, 0.9);
  transform: matrix(0.98, 0, 0, 0.98, 0, 0)
}

@media screen and (max-width: 560px) {
  .mycolumn_download {
    max-width: 94%;
    width: 94%;
  }

  .download_object {
    left: 0px;
  }
  }

  @media screen and (max-width: 480px) {
    .mycolumn_download {  
      max-width: 98%;
      width: 98%;
      
    }
  }

.iframe_download {
  position: relative;
  z-index: 8;
  margin: 0px auto 0px auto;
  height: 0px;
  width: 0px;
  opacity: 0;
}


</style>
  
    <p id="hidden_please_2" style="display: none;"></p>
          
        {% if pdf_links %}
          {% if len_pdf_links >= 2 %}
          <div class="mycolumn_download"  id="download_column_{{book.id}}">
            <div class="mycard_download" id="download_card_{{book.id}}">

         <button id="button_download_1" class="button_downloads" style="cursor: pointer;">
         <span> PRESS TO DOWNLOAD 1 </span><br>
         <span style="animation: anime_red_text 2s infinite;">"{{ title_download }}"</span>
         </button>
         
         <button id="button_download_2" class="button_downloads" style="cursor: pointer;">
         <span> PRESS TO DOWNLOAD 2 </span><br>
         <span style="animation: anime_red_text 2s infinite;">"{{ title_download }}"</span>
         </button>

         <div class="scene scene--card" id="scene_flip_1a">
          <div  class="card" >
          <div class="card__face card__face--front">
          <p style="line-height: 1.2; margin-top: 0px; margin-bottom: 0px;">if the previous method <br> did not work properly <br> press this </p>
          </div> 
          <div class="card__face card__face--back" id="create_input_2c">
          <p style="line-height: 1.2; margin-top: 0px; margin-bottom: 0px;"> type the magic word anywhere <br> or type the magic word below </p>
          <input class="created_input" id="created_input_2a" type="text" placeholder="magic word" pattern="please" maxlength="6" style="width: 200px; position: relative; margin: 10px; text-align: center; text-justify: inter-word;">
          </div>
          </div>
          </div>

        </div>
      </div>
         
        {% elif len_pdf_links == 1 %}
        <div class="mycolumn_download"  id="download_column_{{book.id}}">
          <div class="mycard_download" id="download_card_{{book.id}}">

         <button id="button_download_1" class="button_downloads" style="">
         <span> PRESS TO DOWNLOAD </span><br>
         <span style="animation: anime_red_text 2s infinite;"> "{{ title_download }}" </span>
         </button>

         <div class="scene scene--card" id="scene_flip_1b">
          <div  class="card" >
          <div class="card__face card__face--front">
          <p style="line-height: 1.2; margin-top: 0px; margin-bottom: 0px;">if the previous method <br> did not work properly <br> press this </p>
          </div> 
          <div class="card__face card__face--back" id="create_input_2c">
          <p style="line-height: 1.2; margin-top: 0px; margin-bottom: 0px;"> type the magic word anywhere <br> or type the magic word below </p>
          <input class="created_input" id="created_input_2b" type="text" placeholder="magic word" pattern="please" maxlength="6" style="width: 200px; position: relative; margin: 10px; text-align: center; text-justify: inter-word;">
          </div>
          </div>
          </div>

        </div>
      </div>
  
       {% endif %}
  
          {% elif message_read_download %}
          <div class="mycolumn_download"  id="download_column_{{book.id}}">
            <div class="mycard_download" id="download_card_{{book.id}}">
          
      <div style="font-size: 22px; color: mediumblue; padding: 10px; max-width: 380px;position: relative; margin: 10px auto 10px auto;"> 
      <p style="line-height: 1.2;"> Information about book title: </p> 
      <p style="line-height: 1;  font-size: 24px; animation: anime_red_text 2s infinite;"> "{{ title_download_pdf }}" </p>  
      <p style="line-height: 1; margin-top: 10px;" > {{message_read_download}} </p>
      </div>


        <div type="submit" class="button_downloads" id='btn_form_downloadbook_1a' >
          IF YOU NEED YOU CAN  <br> DOWNLOAD THIS BOOK TO <br> BUT NOT PDF </div>
       
    
      
        {% include 'snippets-booksmart/book_download_else.html' %}

      <a href="{{ title_read_last_chance }}" target="_blank" style="text-decoration: none;" id="link_to_doc_1">
     <div  class="button_downloads" id="button_to_doc_1" style="animation: anime_red_text 2s infinite; font-size: 20px; color: mediumblue; line-height: 1.2; padding: 10px;"> PRESS THIS TO TRY TO FIND <br> THIS BOOK ANOTHER WAY </div>
      </a>

    </div>
  </div>

      {% endif %}

     
        
          <div class="mycolumn_download" id="mycolumn_docer">
            <div class="mycard_download" >
              <a href="{{ title_read_last_chance }}" target="_blank" style="text-decoration: none;" id="link_to_doc_2">
               <div class="button_downloads" id="button_to_doc_2" style="animation: anime_red_text 2s infinite; font-size: 22px; color: mediumblue; line-height: 1.2; padding: 10px;"> PRESS THIS TO TRY TO FIND <br> THIS BOOK ANOTHER WAY </div>
            </a>      
            </div>
          </div>

      
        
      <div class="download_object" id="download_object_1" ></div>
      <div class="download_object" id="download_object_2" ></div> 
  
  
<script type="text/javascript">
  if ("{{pdf_links}}") {
    document.querySelector("#button_download_1").onclick = function() {
        const download_div_1 = document.createElement("div");
        download_iframe_1 = '<iframe class="iframe_download" src="{{ download_links_1a }}" ></iframe><br><div class="download_book_text" > DOWNLOAD BOOK 1 </div>';
        download_div_1.innerHTML = download_iframe_1;
        document.querySelector("#download_object_1").appendChild(download_div_1);
        setTimeout(function(){ 
          document.querySelector("#download_object_1").style.animation = "anime_pulse 2s 4";
        }, 1000);
        }
        
    document.querySelector("#button_download_2").onclick = function() {
        const download_div_2 = document.createElement("div");
        download_iframe_2 = '<iframe class="iframe_download" src="{{ download_links_2a }}"></iframe><br><div class="download_book_text">DOWNLOAD BOOK 2</div>';
        download_div_2.innerHTML = download_iframe_2;
        document.querySelector("#download_object_2").appendChild(download_div_2);
        setTimeout(function(){ 
        document.querySelector("#download_object_2").style.animation = "anime_pulse 2s 4";
        }, 1000);
        } 
      }  
    
 if (
    navigator.userAgent.match(/Android/i) ||
    navigator.userAgent.match(/iPhone/i)
  
  ) { 
  
   document.getElementById("link_to_doc_1").style.display = "none";

  }
  else {
    document.getElementById("mycolumn_docer").style.display = "none";
    const cards = document.getElementsByClassName('card');
    for (let i = 0; i < cards.length; i++) {
    cards[i].parentElement.style.display = "block"; 
    cards[i].onclick = function() {
    cards[i].classList.add('is-flipped')
    setTimeout(function() { 
    cards[i].classList.remove('is-flipped'); 
    }, 10000); 
    }
    cards[i].ondblclick = function() {
    cards[i].classList.remove('is-flipped');
    }
    }
    document.addEventListener("keypress", handleEventDocer);
  } 

  var mycolumn_docer = document.getElementById("mycolumn_docer");
  let oTextbox2 = document.getElementById("hidden_please_2");
  let oInputbox2 = document.getElementById("created_input_2");
  
function handleEventDocer(oEvent) {
  oTextbox2.innerText += oEvent.key;
  if (oTextbox2.innerText === "please") {
    mycolumn_docer.style.display = "block";
    mycolumn_docer.style.animation = "anime_visible 2s";

    setTimeout(function(){ 
    oTextbox2.innerText = "";
    oInputbox2.value = "";
    }, 3000);
    
    setTimeout(function(){ 
      mycolumn_docer.style.animation = "anime_invisible 2s";
      }, 6000);
      
      setTimeout(function(){
        mycolumn_docer.style.display = "none";}, 
      7800);
    }
      
    else {
      setTimeout(function(){ 
        oTextbox2.innerText = "";
        oInputbox2.value = "";
        }, 7000);
    }
} 

  </script>
  