{% load bootstrap4 %}

<style>

a,
a:hover,
a:focus,
a:active,
a:visited {
text-decoration: none;
}

[id^="row_book"] {
  background: rgba(180, 217, 240, 0.2);
  border-radius:4px;
  border: 2px solid rgba(180, 217, 240, 0.1);
  /*outline: 2px solid rgba(180, 217, 240, 0.2);*/
  position:relative;
  z-index:14;
  min-width: 92%;
  max-width: 92%;
  width: 92%;
  margin: 10px auto auto auto;
  /*padding: -2px -1px -1px -1px;*/
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  transition-duration: 0.6s;
  text-shadow: 
  -0.015em 0.015em 0.0em rgb(211, 211, 211), 
  -0.03em 0.03em 0.015em rgb(211, 211, 211), 
  0.04em 0.0em 0.02em rgb(128, 128, 128), 
  0.02em 0.02em 0.01em rgb(128, 128, 128);
  box-shadow:
  1px 2px 10px 8px rgba(119, 130, 143, 0.6); 
   display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    left: 12px;
  }

  [id^="row_book"]:hover {
  background: rgba(180, 217, 240, 0.4);
  border: 2px solid rgba(220, 230, 240, 0.2);
  backdrop-filter:none;
  -webkit-backdrop-filter: none;
  box-shadow:
  1px 2px 6px 10px rgba(229, 230, 243, 0.6);
transform: matrix(1.01, 0, 0, 1.01, 0, 0);
}

/* [id^="col_img_book"] */
  .mycolumn_book {
  float: left;
  width: 50%;
  }

.glass_book {
  background-color: rgba(100, 160, 220, 0.1);
  width: 100%;
  height: 100%;
  }

  [id^="col_img_book"] {
  background-color: rgb(100, 160, 220); 
  background-color: rgba(100, 160, 220, 0.6); 
  border-radius: 2px;
  border: 2px solid rgba(220, 230, 240, 0.4);
  outline: 2px solid rgba(220, 230, 240, 0.4);
  box-shadow: 
  -1px -1px 1px 0px rgba(151, 191, 231, 0.2), 
  1px 2px 2px 0px rgba(151, 191, 231, 0.4),
  -2px 3px 2px 0px rgba(151, 191, 231, 0.4), 
  2px 4px 2px 0px rgba(151, 191, 231, 0.4),
  
  0px 5px 3px 0px rgba(90, 150, 210, 0.4),
  0px 6px 4px 0px rgba(90, 150, 210, 0.4), 
  1px 7px 4px 0px rgba(80, 140, 200, 0.6),
  -1px 8px 5px 0px rgba(80, 140, 200, 0.6);
  padding:10px;
  }

  [id^="col_img_book"]:hover {

}

[id^="col_img_book"]:active {
  }

.cont_img_book {
  position:relative;
  width: 184px;
  height: 100%;
  margin: auto 10px auto auto;
  float:left;
  display: flex;
  align-items:center;
  } 

[id^="img_book"] {
  float:left;
  width: 180px;
  height: 276px;
  object-fit: cover;  
  margin: auto 10px auto 6px;
  }  

[id^="column_book"] {
  margin:-2px 1px -1px -1px;

  background-color: rgb(230, 230, 240); 
  background-color: rgba(230, 230, 240, 0.6); 
  border-radius: 2px;
  border: 2px solid rgba(100, 160, 240, 0.4);
  outline: 2px solid rgba(100, 160, 240, 0.4);
  box-shadow: 
  -1px -1px 1px 0px rgba(219, 220, 222, 0.2), 
  1px 2px 2px 0px rgba(219, 220, 222, 0.4),
  -2px 3px 2px 0px rgba(219, 220, 222, 0.4), 
  2px 4px 2px 0px rgba(209, 210, 212, 0.4),
  
  0px 5px 3px 0px rgba(199, 200, 202, 0.4),
  0px 6px 4px 0px rgba(199, 200, 202, 0.4), 
  1px 7px 4px 0px rgba(177, 179, 182, 0.6),
  -1px 8px 5px 0px rgba(177, 179, 182, 0.6);
    
  padding: 10px 10px 10px 10px;

  }

.myrow:after {
  content: "";
  display: table;
  clear: both;
  }

.language {
  padding-top: 42px;
  }

#a_submit_m {
  animation-name: anime_submit_t;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  }

#button_sm {
  width: 90%;
  height: 40%;
  }

#button_sm:focus {
  border:none;
  outline:none;
  }

button:focus {
  border:none;
  outline:none;
  }

  [id^="button_1_"] {
  margin: 5px;
  padding: 4px;
  float: right;
  color: rgb(240, 248, 255);
  background: rgb(119, 136, 153);
  background: rgba(119, 136, 153, 0.8);
  border: 2px solid rgba(0, 0, 200, 0.6);
  outline: 2px solid rgba(0, 0, 200, 0.6);
  box-shadow: 0px 0px 4px 4px rgba(220, 220, 230, 0.4);
  line-height: 1;
  font-variant:small-caps;
  text-align: center;
  min-width: 68px;
  width: 68px;
  font-size: 16px;
  }

  [id^="button_1_"]:hover,
  [id^="button_1_"]:focus {
  color: rgb(30, 144, 255);
  background:rgb(211, 211, 211);
  background:rgba(211, 211, 211, 0.6);
  border: 2px solid rgba(0, 0, 200, 0.8);
  outline: 2px solid rgba(0, 0, 200, 0.8);
  box-shadow: 0px 0px 4px 4px rgba(220, 220, 230, 0.6);
  transform: matrix(1.01, 0, 0, 1.01, 0, 0);
  }

  [id^="button_1_"]:active {
    color: rgb(30, 144, 255);
  transform: matrix(0.98, 0, 0, 0.98, 0, 2);
  border: 2px solid rgba(0, 0, 200, 0.8);
  outline: 2px solid rgba(0, 0, 200, 0.8);
  box-shadow: 0px 0px 2px 2px rgba(220, 220, 230, 0.8);
}

.button_1 {
  margin: 5px;
  padding: 4px;
  float: right;
  color: rgb(240, 248, 255);
  background: rgb(119, 136, 153);
  background: rgba(119, 136, 153, 0.8);
  border: 2px solid rgba(0, 0, 200, 0.6);
  outline: 2px solid rgba(0, 0, 200, 0.6);
  box-shadow: 0px 0px 4px 4px rgba(220, 220, 230, 0.4);
  font-variant:small-caps;
  line-height: 1;
  text-align: center;
  min-width: 68px;
  width: 68px;
  font-size: 16px;
  }

.button_1:hover,
.button_1:focus {
  color: rgb(240, 248, 255);
  background:rgb(194, 61, 61);
  background:rgba(194, 61, 61, 0.6);
  border: 2px solid rgba(0, 0, 200, 0.8);
  outline: 2px solid rgba(0, 0, 200, 0.8);
  box-shadow: 0px 0px 4px 4px rgba(220, 220, 230, 0.6);
  transform: matrix(1.01, 0, 0, 1.01, 0, 0);
  }

.button_1:active {
  transform: matrix(0.98, 0, 0, 0.98, 0, 2);
  border: 2px solid rgba(0, 0, 200, 0.8);
  outline: 2px solid rgba(0, 0, 200, 0.8);
  box-shadow: 0px 0px 2px 2px rgba(220, 220, 230, 0.8);
}

[id^="button_2_"] {
  float: right;
  margin: 5px;
  padding: 4px;
  color: rgb(240, 248, 255);
  background-color:rgb(30, 144, 255);
  background-color:rgba(30, 144, 255, 0.6);
  border: 2px solid rgba(0, 0, 200, 0.6);
  outline: 2px solid rgba(0, 0, 200, 0.6);
  box-shadow: 0px 0px 4px 4px rgba(220, 220, 230, 0.4);
  font-variant:small-caps;
  line-height: 1;
  text-align: center;
  min-width: 60px;
  width: 60px;
  font-size: 16px;
  }

  [id^="button_2_"]:hover,
  [id^="button_2_"]:focus {
    color: rgb(240, 248, 255);
  background-color:rgb(30, 144, 255);
  background-color:rgba(30, 144, 255, 0.6);
  border: 2px solid rgba(0, 0, 200, 0.8);
  outline: 2px solid rgba(0, 0, 200, 0.8);
  box-shadow: 0px 0px 4px 4px rgba(220, 220, 230, 0.6);
  transform: matrix(1.01, 0, 0, 1.01, 0, 0)
  }

  [id^="button_2_"]:active {
    transform: matrix(0.98, 0, 0, 0.98, 0, 2);
    border: 2px solid rgba(0, 0, 200, 0.8);
    outline: 2px solid rgba(0, 0, 200, 0.8);
    box-shadow: 0px 0px 2px 2px rgba(220, 220, 230, 0.8);
  }

.button_2 {
  float: right;
  margin: 5px;
  padding: 4px;
  color: rgb(240, 248, 255);
  background-color:rgb(30, 144, 255);
  background-color:rgba(30, 144, 255, 0.6);
  border: 2px solid rgba(0, 0, 200, 0.6);
  outline: 2px solid rgba(0, 0, 200, 0.6);
  box-shadow: 0px 0px 4px 4px rgba(220, 220, 230, 0.4);
  font-variant:small-caps;
  line-height: 1;
  text-align: center;
  min-width: 60px;
  width: 60px;
  font-size: 16px;
  }
    
.button_2:hover,
.button_2:focus {
  color: rgb(30, 144, 255);
  background-color: rgb(211, 211, 211);
  background-color: rgba(211, 211, 211, 0.6);
  border: 2px solid rgba(0, 0, 200, 0.8);
  outline: 2px solid rgba(0, 0, 200, 0.8);
  box-shadow: 0px 0px 4px 4px rgba(220, 220, 230, 0.6);
  transform: matrix(1.01, 0, 0, 1.01, 0, 0);
  }

.button_2:active {
  transform: matrix(0.98, 0, 0, 0.98, 0, 2);
  border: 2px solid rgba(0, 0, 200, 0.8);
  outline: 2px solid rgba(0, 0, 200, 0.8);
  box-shadow: 0px 0px 2px 2px rgba(220, 220, 230, 0.8);
  }

.button_3 {
  margin: 5px;
  padding: 4px;
  float: right;
  color: rgb(240, 248, 255);
  background-color:rgb(178, 34, 34);
  background-color:rgba(178, 34, 34, 0.6);
  border: 2px solid rgba(0, 0, 200, 0.6);
  outline: 2px solid rgba(0, 0, 200, 0.6);
  box-shadow: 0px 0px 4px 4px rgba(220, 220, 230, 0.4);
  font-variant:small-caps;
  line-height: 1;
  text-align: center;
  min-width: 60px;
  min-width: 68px;
  font-size: 16px;
  box-shadow: 0px 0px 4px 4px rgba(220, 220, 230, 0.4);
  transform: matrix(1.01, 0, 0, 1.01, 0, 0);
  }

.button_3:hover,
.button_3:focus {
  color: rgb(112, 128, 144);
  background-color: rgb(135, 206, 250);
  background-color: rgba(135, 206, 250, 0.6);
  border: 2px solid rgba(0, 0, 200, 0.8);
  outline: 2px solid rgba(0, 0, 200, 0.8);
  box-shadow: 0px 0px 4px 4px rgba(220, 220, 230, 0.6);
  transform: matrix(1.01, 0, 0, 1.01, 0, 0);
  }

.button_3:active {
  transform: matrix(0.98, 0, 0, 0.98, 0, 2);
  border: 2px solid rgba(0, 0, 200, 0.8);
  outline: 2px solid rgba(0, 0, 200, 0.8);
  box-shadow: 0px 0px 2px 2px rgba(220, 220, 230, 0.8);
  }

[id^="button_3_"] {
  margin: 5px;
  padding: 4px;
  float: right;
  color: rgb(240, 248, 255);
  background-color:rgb(178, 34, 34);
  background-color:rgba(178, 34, 34, 0.6);
  border: 2px solid rgba(0, 0, 200, 0.6);
  outline: 2px solid rgba(0, 0, 200, 0.6);
  box-shadow: 0px 0px 4px 4px rgba(220, 220, 230, 0.4);
  font-variant:small-caps;
  line-height: 1;
  text-align: center;
  min-width: 64px;
  width: 68px;
  font-size: 16px;
  }

  [id^="button_3_"]:hover,
  [id^="button_3_"]:focus {
    color: rgb(240, 248, 255);
  background-color: rgb(135, 206, 250);
  background-color: rgba(135, 206, 250, 0.6);
  border: 2px solid rgba(0, 0, 200, 0.8);
  outline: 2px solid rgba(0, 0, 200, 0.8);
  box-shadow: 0px 0px 4px 4px rgba(220, 220, 230, 0.6);
  transform: matrix(1.01, 0, 0, 1.01, 0, 0);
  }

  [id^="button_3_"]:active {
    color: rgb(240, 248, 255);
    border: 2px solid rgba(0, 0, 200, 0.8);
    outline: 2px solid rgba(0, 0, 200, 0.8);
    box-shadow: 0px 0px 2px 2px rgba(220, 220, 230, 0.8);
  }

  [id^="button_4_"] {
  margin: 5px;
  padding: 4px;
  float: right;
  color: rgb(240, 248, 255);
  background-color:rgb(0, 0, 205);
  background-color:rgba(0, 0, 205, 0.6);
  border: 2px solid rgba(0, 0, 200, 0.6);
  outline: 2px solid rgba(0, 0, 200, 0.6);
  box-shadow: 0px 0px 4px 4px rgba(220, 220, 230, 0.4);
  font-variant:small-caps;
  line-height: 1;
  text-align: center;
  min-width: 60px;
  width: 60px;
  font-size: 16px;
  }

  [id^="button_4_"]:hover,
  [id^="button_4_"]:focus {
    color: rgb(240, 248, 255);
  background-color: rgb(135, 206, 250);
  background-color: rgba(135, 206, 250, 0.6);
  border: 2px solid rgba(0, 0, 200, 0.8);
  outline: 2px solid rgba(0, 0, 200, 0.8);
  box-shadow: 0px 0px 4px 4px rgba(220, 220, 230, 0.6);
  transform: matrix(1.01, 0, 0, 1.01, 0, 0);
  }

  [id^="button_4_"]:active {
    color: rgb(240, 248, 255);
    border: 2px solid rgba(0, 0, 200, 0.8);
    outline: 2px solid rgba(0, 0, 200, 0.8);
    box-shadow: 0px 0px 2px 2px rgba(220, 220, 230, 0.8);
  }

.button_4 {
  margin: 5px;
  padding: 4px;
  float: right;
  color: rgb(240, 248, 255);
  background-color:rgb(0, 0, 205);
  background-color:rgba(0, 0, 205, 0.6);
  border: 2px solid rgba(0, 0, 200, 0.6);
  outline: 2px solid rgba(0, 0, 200, 0.6);
  box-shadow: 0px 0px 4px 4px rgba(220, 220, 230, 0.4);
  font-variant:small-caps;
  line-height: 1;
  text-align: center;
  min-width: 60px;
  width: 60px;
  font-size: 16px;

  }

.button_4:hover {
  color: rgb(120, 120, 135);
  background-color: rgb(135, 206, 250);
  background-color: rgba(135, 206, 250, 0.6);
  border: 2px solid rgba(0, 0, 200, 0.8);
  outline: 2px solid rgba(0, 0, 200, 0.8);
  box-shadow: 0px 0px 4px 4px rgba(220, 220, 230, 0.6);
  transform: matrix(1.01, 0, 0, 1.01, 0, 0);
  }

.button_4:active {
  border: 2px solid rgba(0, 0, 200, 0.8);
  outline: 2px solid rgba(0, 0, 200, 0.8);
  box-shadow: 0px 0px 2px 2px rgba(220, 220, 230, 0.8);
  transform: matrix(0.98, 0, 0, 0.98, 0, 0);
  }

.modal-dialog {
  display:none;
  position:relative;
  margin: 100px auto auto auto;
  font-family: Times;
  padding: 5px;
  width: 90%;
  max-width: 90%;
  font-size: 18px;
  border-radius: 3px;
  border: 5px solid rgba(240, 240, 240, 0.6);
  box-shadow:   
  -8px 8px 10px 0px rgba(229, 230, 243, 0.6), 
  -8px -8px 10px 0px rgba(229, 230, 243, 0.6),
  8px 8px 10px 0px rgba(229, 230, 243, 0.6), 
  8px -8px 10px 0px rgba(229, 230, 243, 0.6),
  
  18px 18px 20px 0px rgba(209, 210, 223, 0.4), 
  18px -18px 20px 0px rgba(209, 210, 223, 0.4),
  -18px 18px 20px 0px rgba(209, 210, 223, 0.4), 
  -18px -18px 20px 0px rgba(209, 210, 223, 0.4); 

  background: rgba(51, 153, 255, 0.4);
  top: 20px;  
  animation-name: zoom_modal;
  animation-duration: 2s;
  z-index:2;
  }

#modal_content_author {
  background-color: var(--bg-color);
  background-color: rgb(220, 220, 220); 
  background-color: rgba(220, 220, 220, 0.8);
}

#modal_header_author {
  background-color: rgb(120, 160, 220); 
  background-color: rgba(120, 160, 220, 0.2);
  font-weight: bold;
  }

#textarea_b {
  padding: 2px 4px 2px 4px;
  resize: none;
  background-color: rgb(240, 240, 240); 
  background-color: rgba(240, 240, 240, 0.2); 
  box-sizing: border-box;
  border-radius: 3px;
  border: 3px solid rgba(240, 240, 240, 0.6);
  box-shadow: 0px 0px 5px 5px rgba(120, 120, 120, 0.3);  
  font-size: 16px;
  text-align: justify;
  text-justify: inter-word;
  /*width:inherit;*/
  max-width: auto;
  width: auto;
  min-height: 92px;
  max-height: 92px;
  overflow: auto;
  margin: 4px 10px 8px 10px;
  color: darkblue;
  line-height: 1.2;  
  overflow-y: visible;
  }

  .textarea_b {
    padding: 2px 4px 2px 4px;
    resize: none;
    background-color: rgb(240, 240, 240); 
    background-color: rgba(240, 240, 240, 0.2); 
    box-sizing: border-box;
    border-radius: 3px;
    border: 3px solid rgba(240, 240, 240, 0.6);
    box-shadow: 0px 0px 5px 5px rgba(120, 120, 120, 0.3);  
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
    /*width:inherit;*/
    max-width: auto;
    width: auto;
    min-height: 92px;
    max-height: 92px;
    overflow: auto;
    margin: 2px 10px 4px 10px;
    color: darkblue;
    line-height: 1.2;  
    overflow-y: visible;
    }

#textarea_link_b {
  padding: 2px 4px 4px 4px;
  resize: none;
  background-color: rgb(240, 240, 240); 
  background-color: rgba(240, 240, 240, 0.2); 
  box-sizing: border-box;
  border-radius: 3px;
  border: 3px solid rgba(240, 240, 240, 0.6);
  box-shadow: 0px 0px 5px 5px rgba(120, 120, 120, 0.3);  
  font-size: 16px;
  text-align: justify;
  text-justify: inter-word;
  /*width:inherit;*/
  max-width: auto;
  width: auto;
  min-height: 30px;
  max-height: 30px;
  height: 30px;
  overflow: auto;
  margin: 4px 10px 4px 10px;
  color: darkblue;
  line-height: 1.2;  
  overflow-y: visible;
  }

.textarea_link_b {
  padding: 2px 4px 4px 4px;
  resize: none;
  background-color: rgb(240, 240, 240); 
  background-color: rgba(240, 240, 240, 0.2); 
  box-sizing: border-box;
  border-radius: 3px;
  border: 3px solid rgba(240, 240, 240, 0.6);
  box-shadow: 0px 0px 5px 5px rgba(120, 120, 120, 0.3);  
  font-size: 16px;
  text-align: justify;
  text-justify: inter-word;
  /*width:inherit;*/
  max-width: auto;
  width: auto;
  min-height: 30px;
  max-height: 30px;
  height: 30px;
  overflow: auto;
  margin: 2px 10px 10px 10px;
  color: darkblue;
  line-height: 1.2;  
  overflow-y: visible;
  }

  .textarea_b::-webkit-scrollbar:horizontal,
  .textarea_link_b::-webkit-scrollbar:horizontal {
    display: none
  }

  @keyframes anime_submit_t {
    50% {
    color: red;}
    }

.h7_book_l {
  font-size: 20px;
  line-height: 1;
  margin-left: 190px;
  color: MediumBlue; 
  }

.h8_book_l {
  font-size: 18px;
  line-height: 1;
  margin-left: 190px;
  color: MediumBlue; 
  } 

.h6_book_l {
  font-size: 22px;
  line-height: 1;
  margin-left: 190px;
  color: MediumBlue; 
  margin-top: 4px;
  margin-bottom: 14px;
  }

.h3_book_r {
  font-size: 28px;
  line-height: 1;  
  color: MediumBlue; 
  font-weight: bold;
  padding-left: 70px; 
  text-indent: -70px;
  }

.h4_book_r {
  font-size: 26px;
  line-height: 1;
  color: MediumBlue; 
  padding-left: 80px; 
  text-indent: -80px;
}

.h5_book_r {
  font-size: 24px;
  line-height: 1;
  color: MediumBlue; 
  }

.h6_book_r {
font-size: 22px;
line-height: 1;
color: MediumBlue; 
}

.h7_book_r {
  font-size: 20px;
  line-height: 1;
  color: MediumBlue; 
  }
  
.h8_book_r {
  font-size: 18px;
  line-height: 1;
  color: MediumBlue; 
  } 

  .book_left_content p:first-of-type {
    padding-top:40px;
  }

@media screen and (max-width: 1280px) {
  .myrow_book {
    max-width: 90%;
    width: 90%;
  }
  .mycolumn_book {
    max-width: 100%;
    width: 99%;
  }
  }

@media screen and (max-width: 720px) {
.myrow_book {
  max-width: 92%;
  width: 92%;
}
.mycolumn_book {
  max-width: 100%;
  width: 99%;
}
}

@media screen and (max-width: 640px) {
  .myrow_book {
    max-width: 94%;
    width: 94%;
  }
  .mycolumn_book {
    max-width: 100%;
    width: 99%;
  }

  .h6_book_l {
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 10px;
    }
  
  .h3_book_r {
    font-size: 26px;
    padding-left: 60px; 
    text-indent: -60px;
    }
  
  .h4_book_r {
    font-size: 24px;
    padding-left: 70px; 
    text-indent: -70px;
  }
  
  .h5_book_r {
    font-size: 22px;
    line-height: 1;
    }

  .book_left_content p:first-of-type {
    padding-top:24px;
  }
  
  .h6_book_r {
  font-size: 20px;
  line-height: 1; 
  }

  [id^="button_1_"] {
    margin-right: 0px;
  }

  [id^="button_1_"] {
    font-size: 12px;
    min-width: 50px;
    max-width: 54px;
    width: 52px;
  }

   [id^="button_3_"] {
    font-size: 12px;
    min-width: 48px;
    max-width: 50px;
    width: 50px;
  }
  
  [id^="button_2_"],
  [id^="button_4_"] {
    font-size: 12px;
    min-width: 40px;
    max-width: 42px;
    width: 42px;
  }

  [id^="button_4_"] {
    /*margin-left: 0px;*/
  }

}


@media screen and (max-width:480px) {
  .myrow_book {
    min-width: 98%;
    max-width: 98%;
    width: 98%;
    left: 0px;
  }
  .mycolumn_book {
    min-width: 98%;
    max-width: 100%;
    width: 99%;
  }

  .cont_img_book {
    max-height: 88%;
  }
  .h6_book_l {
    font-size: 20px;
    }
  
  .h3_book_r {
    font-size: 22px;
    padding-left: 46px; 
    text-indent: -46px;
    }
  
  .h4_book_r {
    font-size: 20px;
    padding-left: 56px; 
    text-indent: -56px;
  }
  
  .h5_book_r {
    font-size: 18px;
    }
  
  .h6_book_r {
  font-size: 16px;
  }

  .book_left_content p:first-of-type {
    padding-top:30px;
  }
}

.modal {
  position:fixed;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  display:none;
  background-color: rgb(153, 204, 255); 
  background-color: rgba(153, 204, 255, 0.2); 
  background-image: repeating-conic-gradient(rgba(120, 120, 140, 0.4) 0%, rgba(120, 120, 140, 0.4) 1%, rgba(20, 140, 240, 0.4) 2%, rgba(120, 120, 140, 0.4) 3%);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  transition:0.4s;
}

.modal:hover {
  background-color: rgba(153, 204, 255, 0.4); 
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.close {
  font-size: 26px;
  font-weight: bold;
  color:blue;
  padding:4px 4px 4px auto;
}

.close:hover {
  color: rgba(176, 196, 222, 0.8);
  background: rgba(51, 101, 255, 0.6);
}

.close:active {
  color:rgba(220, 20, 60, 0.6);
  background:rgba(179, 179, 199);
}

</style>
<style>

@keyframes opacityanime {
  from {opacity:1;} 
  to {opacity:0;}
  }
  
@keyframes modalfadeout {
  from {background-color: rgba(20, 100, 200, 0.4);} 
  to {background-color: rgba(20, 100, 200, 0.0);}
  }
  
@keyframes modalfadein {
  from {background-color: rgba(20, 100, 200, 0.0);} 
  to {background-color: rgba(20, 100, 200, 0.4);}
  }
  
@keyframes noconic {
  from {-webkit-backdrop-filter: blur(4px);}
  to {backdrop-filter: blur(4px);}
  }
  
.mymodal_uni_author_book {
  position: fixed;
  display:none;
  z-index:37;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  /*overflow: auto; */
  animation:noname;
  transition:0.4s;
  background-color: rgb(20, 100, 200); 
  background-color: rgba(20, 100, 200, 0.4); 
  /*background-image: repeating-conic-gradient(rgba(120, 120, 140, 0.4) 0%, rgba(120, 120, 140, 0.4) 1%, rgba(20, 140, 240, 0.4) 2%, rgba(120, 120, 140, 0.4) 3%);*/
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  }
  
.mymodal_uni_author_book:hover {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  background-color: rgba(20, 100, 200, 0.6); 
  }
  
.container_mymodal_uni_author_book {
  position: fixed;
  z-index:38;
  display:none;
  left:5%;
  margin: auto auto auto auto;
  top:100px;
  font-family: Times;
  padding: 10px;
  width: 90%;
  max-width: 90%;
  font-size: 18px;
  border-radius: 4px;
  border: 6px solid rgba(240, 240, 240, 0.6);
  box-shadow:   
  /*-8px 8px 10px 0px rgba(229, 230, 243, 0.6), */
  0px 0px 18px 14px rgba(209, 210, 223, 0.4); 

  background:rgba(51, 153, 255, 0.4);
  animation: noname2;
  transition: 0.4s;
  }

  .container_mymodal_uni_author_book:hover {
  /*transform: matrix(1.01, 0, 0, 1.01, 0, 2); */
  box-shadow:
 /*-8px 8px 10px 0px rgba(229, 230, 243, 0.6), */
 0px 0px 18px 14px rgba(209, 210, 223, 0.8); 
  } 
  
@keyframes unzoomrotate {
  from {transform:scale(1); rotate:360deg;} 
  to {transform:scale(0); rotate: 0deg;}
  } 
  
@keyframes zoomrotate {
  from {transform:scale(0); rotate:0deg;} 
  to {transform:scale(1); rotate: 360deg;}
  } 
  
@keyframes unzoom {
  from {transform:scale(1);} 
  to {transform:scale(0);}
  }
  
@keyframes zoom {
  from {transform:scale(0);} 
  to {transform:scale(1);}
  }
  
@keyframes animatetopback {
  from {top: 0px; }
  to {top:-1000px; }
  }
  
.column_mymodal_uni_author_book {
  border-radius: 4px;
  margin: auto;
  border: 6px solid rgba(240, 240, 240, 0.6);
  padding:10px;
  }
  
.mymodal_header_uni_author_book {
  background-color: rgb(140, 140, 180); 
  background-color: rgba(140, 140, 180, 0.6);
  border-radius: 4px;
  border: 6px solid rgba(240, 240, 240, 0.6);
  margin: auto;
  padding:0px 5px auto 5px;
  }
  
.mymodal_body_uni_author_book {
  background-color: rgb(140, 140, 160); 
  background-color: rgba(140, 140, 160, 0.6);
  border-radius: 4px;
  border: 6px solid rgba(240, 240, 240, 0.6);
  margin: 10px auto 10px auto;
  padding: auto auto auto auto;
  overflow: auto;
  max-height: 440px;
  padding: 0px;
  }
  
.mymodal_footer_uni_author_book {
  background-color: rgb(140, 140, 180); 
  background-color: rgba(140, 140, 180, 0.6);
  border-radius: 4px;
  border: 6px solid rgba(240, 240, 240, 0.6);
  margin: auto;
  padding: 5px auto 5px auto;
  justify-content:center;
  text-align:center;
  }
  
.close_m {
  font-family:helvetica;
  color: rgba(200, 210, 220, 0.6);
  float: right;
  font-size: 22px;
  font-weight: bold;
  margin: -2px 4px 20px auto;
  transition: 0.4s;
  cursor: pointer;
  }
  
.close_m:hover {
    color: rgba(0, 0, 220, 0.8);
  }

  .close_m:active {
    color: rgba(0, 0, 220, 0.8);
    transform: matrix(0.98, 0, 0, 0.98, 0, 2);
  }

.close_m:focus {
  text-decoration: none;
  }
  
  .close_mb {
    position:relative;
      transition-duration: 0.2s;
      background-color: rgba(10, 20, 210, 0.4);
      /*rgba(10, 80, 240, 0.6);
      text-shadow: 0px 1px 1px #fff, 0 -1px 1px #000;*/ 
      color: rgba(160, 170, 180, 0.4); 
      border: 6px outset  rgba(160, 170, 180, 0.4);
      border-radius:2px;
      padding: 2px;
      font-weight:bold;
      font-family:Times;
      font-variant:small-caps;
      font-size:20px;
      min-width: 140px;
      margin: 14px auto 14px auto;  
      box-shadow: 0px 0px 4px 4px rgba(210, 220, 230, 0.4);
    }
    
    .close_mb:hover {
     background-color: rgba(210, 20, 10, 0.6); 
    color: rgba(230, 240, 250, 0.6);
    box-shadow: 0px 0px 4px 4px rgba(210, 220, 230, 0.6);
    }
    
    .close_mb:active {
      transform: matrix(0.98, 0, 0, 0.98, 0, -2);
     box-shadow: 0px 0px 4px 2px rgba(210, 220, 230, 0.8);
     }
  
#a_submit_t {
  animation-name: anime_submit_t;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  }
  
  .btn_img_new {
  /*  width: 170px;
    height: 270px;
    max-width: 170px;
    max-height: 270px;
    margin-left: -184px;
     margin-right: 20px; */
    width: 176px;
    height: 274px;
    max-width: 176px;
    max-height: 274px;
    margin-left: -188px;
    border: 4px solid rgba(160, 160, 240, 0.6);
    text-align: center;
    padding-top: 20px;
    color: blue;
    word-wrap: break-word;
    padding-left: 6px;
    padding-right: 6px;
    background-color: rgba(60, 160, 240, 0.4);
    border-radius: 2px;
  }

.p_author {
    font-size: 18px;
  }

.p_title {
    font-size: 19px;
    font-weight: bold;
  }

  @media screen and (max-width:640px) {

.container_mymodal_uni_author_book {
    width: 98%;
    max-width: 98%;
    left: 1%;
    padding: 4px;
  }

  .column_mymodal_uni_author_book {
    padding: 4px;
  }

  .mymodal_body_uni_author_book {
    margin: 4px auto 4px auto;
  }

  .mymodal_body_uni_author_book::-webkit-scrollbar {
    display: none;
  }
}

</style>


<div class="myrow_book" id="row_book_{{book.id}}">

  <div class="mycolumn_book" id="col_img_book_{{book.id}}">
 <div class="glass_book">
  <div>

  <a type="button" class="button_1 notranslate"  id="button_1_{{book.id}}" > Author <br> details </a>

  <a type="button" id="button_2_{{book.id}}" href="{% url 'booksmart:readbook' book.id %}" target="_blank" class='tooltip_ notranslate'>Read <br> Book <span class="tooltiptext_"> REMEMBER THAT BOOKS WITH:  EPUB: NO or embeddable: no, AND MANY OTHERS ARE NOT TO READ BECAUSE OF "COPYRIGHT"</span></a>

  {% if request.user.id == book.user_num_b %}
  <a type="button" id="button_3_{{book.id}}" href="{% url 'booksmart:deletebook' book.id %}" target="_blank" class="notranslate">Delete<br>Book</a>
  {% else %}
  <a type="button" id="button_3_{{book.id}}" class='tooltip notranslate' > Delete Book <span class="tooltiptext"> REMEMBER THAT YOU CAN REMOVE ONLY YOUR OWN RECORDS </span></a>

  {% endif %}


  {% if request.user.id == book.user_num_b%}
  <a type="button" id="button_4_{{book.id}}" href="{% url 'booksmart:editbook' book.id %}" target="_blank" class="notranslate">Edit<br>Book</a>
  {% else %}
  <a type="button"  id="button_4_{{book.id}}" class='tooltip notranslate' > Edit Book <span class="tooltiptext"> REMEMBER THAT YOU CAN CHANGE ONLY YOUR OWN RECORDS </span></a>

  {% endif %}

  </div>
  
  <div class="cont_img_book">
  <img  src="{{book.imageLinks}}" id="img_book_{{book.id}}" class="img_fluid" style="border-radius: 4px;">
  </div>

  <div class="book_left_content">
      <br>
     <p class="h6_book_l" style="font-weight: bold; font-variant: small-caps;" > language: <span style="color: Maroon; font-weight: bold;"> {{book.language}} </span></p>
     <p class="h6_book_l" style="font-weight: bold; font-variant: small-caps; margin-top:-8px;"> epub: <span style="color: Maroon; font-weight: bold;"> {{book.epub}} </span></p> 
     {% if book.published == no_date %}
     <p class="h6_book_l" style="font-weight: bold; margin-top:-8px; font-variant: small-caps;"> published date: <span  style="color: Indigo; font-weight: bold;"> no info </span></p>
    {% else %}
     <p class="h6_book_l" style="font-weight: bold; font-variant: small-caps; margin-top:-8px;">published date: <span  style="color: Indigo; font-weight: bold;">  {{book.published}} </span></p>
     {% endif %}
     <p class="h6_book_l" style="font-weight: bold; font-variant: small-caps; margin-top:-8px;"> created at: <span  style="color: Indigo; font-weight: bold;"> {{book.created_at}} </span> </p>
     
     <p class="h6_book_l" style="font-weight: bold; font-variant: small-caps; margin-top:-8px;"> isbn: <span style="color: SlateGrey; font-weight: bold; "> {{book.isbn}} </span> </p>
     <p class="h6_book_l" style="font-weight: bold; font-variant: small-caps; margin-top:-8px;"> google id: <span style="color: SlateGrey; font-weight: bold;"> {{book.google_id}} </span> </p>
     <p class="h6_book_l" style="font-weight: bold; font-variant: small-caps; margin-top:-8px; padding-bottom: 10px;"> embeddable: <span  style="color: SlateGrey; font-weight: bold; "> {{book.embeddable}}</span> </p>
     
       </div>
    </div>
  </div>
  
  <div class="mycolumn_book" id="column_book_{{book.id}}">
    <div class="glass_book">
   <p class="h3_book_r" style="font-weight: bold; font-variant: small-caps; margin: 6px auto 0px 10px; padding-top: 2px; padding-bottom: 2px;"> title: <a  href="{{book.preview_link}}" target="_blank" ><span style="font-weight: bold; color: Maroon;" id="book_title_{{book.id}}" > "{{book.title}}"</span></a></p>

    <p class="h4_book_r" style="font-weight: bold; font-variant: small-caps; margin: 0px auto 0px 10px; padding-top: 2px; padding-bottom: 2px;"> author: <a  href="https://{{book.language}}.wikipedia.org/wiki/{{book.author}}" target="_blank"><span style="font-weight: bold; color: Indigo;" id="book_author_{{book.id}}" > {{book.author}} </span></a></p>
    <p class="h5_book_r" style="font-weight: bold; font-variant: small-caps; margin: 0px auto 0px 10px; padding-top: 2px; padding-bottom: 2px;"> category: <span  style="font-weight: bold; color: Indigo;">{{book.category}}</span> </p>
  
    <p class="h6_book_r" style="font-weight: bold; font-variant: small-caps; margin: 0px auto 4px 10px; padding-top: 2px; padding-bottom: 2px;"> description:</p>
    <div class="textarea_b"  > {{book.summary}} </div>

    <p class="h6_book_r" style="font-weight: bold; font-variant: small-caps; margin: 2px auto 2px 10px; padding-top: 2px; padding-bottom: 2px;"> important links: </p>
    <div class="textarea_link_b" > {{book.selfLink}} </div>
      </div>
        </div>
          </div>

     <br>

      <div class="mymodal_uni_author_book" id="mymodalauthor_bookOverlay_{{book.id}}">
    </div>

<div class="container_mymodal_uni_author_book" id="mymodalauthor_bookCont_{{book.id}}">
<div class="column_mymodal_uni_author_book" id="mymodalauthor_bookCol_{{book.id}}">

    <div class="mymodal_header_uni_author_book" id="mymodalauthor_bookHeadert_{{book.id}}" >
    <p id="close_m_uni_{{book.id}}" class="close_m"> ✖ </p>
    <p style="font-size:26px; color:blue; margin:10px auto 0px 10px;"> AUTHOR INFO </p>
    </div>

    
    {% if book.author_c %}
    <div class="mymodal_body_uni_author_book" id="mymodalauthor_bookBodyt_{{book.id}}" >
      {% include 'snippets-booksmart/author_book.html' %}
    </div>
  
      {% else %}
      <div class="mymodal_body_uni_author_book" id="mymodalauthor_bookBodyt_{{book.id}}" >
      <div class="text-center" style="padding-top:2px;"><h6 style="margin-top:6px;"> IN DATABASE NO DETAILS ABOUT THIS AUTHOR TRY THIS </h6></div>
    </div>
  
    <div class="mymodal_body_uni_author_book" id="mymodalauthor_bookBodyt_{{book.id}}" >
    <div style="width:100%;" ><iframe src="https://{book.language }}.wikipedia.org/wiki/{{book.author}}" style="width:100%; height:400px;">
    </iframe></div></div>
    {% endif %}
          
<div class="mymodal_footer_uni_author_book" id="mymodalauthor_bookFootert_{{book.id}}">
    
    <span class="close_span">
    <button id="close_modal_uni_t_{{book.id}}" type="button" class="close_mb">CLOSE</button> 
    </span>
   
</div>

<p style="font-variant: small-caps; margin:auto auto -10px auto;"> booksmart </p>
</div>
</div>

{% if request.user.is_authenticated %}
<script>

  var_name = {}
  
var title_{{book.id}} = document.getElementById("book_title_{{book.id}}").innerText; 

var author_{{book.id}} = document.getElementById("book_author_{{book.id}}").innerText;  

var empty_img = "http://books.google.com/books/content?id=YS7eSh0hbDEC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api";

var img_{{book.id}} = document.getElementById("img_book_{{book.id}}");

// img_{{book.id}}.addEventListener("load", FuncNoImg);
img_{{book.id}}.onload = function() {
 // function FuncNoImg() {
 
    if (img_{{book.id}}.src === empty_img) {
    var html_{{book.id}} = '<div class="btn_img_new"><p class="p_author" id="p_author_{{book.id}}" ></p><br><p class="p_title" id="p_title_{{book.id}}" ></p></div>';
    img_{{book.id}}.insertAdjacentHTML("afterend", html_{{book.id}});
    // img_{{book.id}}.insertAdjacentElement("afterend", html_{{book.id}});
    document.getElementById("p_author_{{book.id}}").innerText = author_{{book.id}};
    document.getElementById("p_title_{{book.id}}").innerText = title_{{book.id}};
      }
    }
 //  } 

  var modal_{{book.id}}  = document.getElementById("mymodalauthor_bookOverlay_{{book.id}}");

  var cont_{{book.id}}  = document.getElementById("mymodalauthor_bookCont_{{book.id}}");

 
var btn_{{book.id}} = document.getElementById("button_1_{{book.id}}");
 
  //var btn_authorbook = document.getElementById("button_1_{{book.id}}");
  btn_{{book.id}}.onclick = function(){
    modal_{{book.id}}.style.display = "block";
      //my_modal_authorbook.style.display = "block";
      modal_{{book.id}}.style.animation = "modalfadein 1s 1";
      //my_modal_authorbook.src = this.src;
      cont_{{book.id}}.style.display = "block"; 
      cont_{{book.id}}.style.animation = "zoom 2s 1";
     // my_modal_authorbookCont.src = this.src;
  }
  
      var close_x_{{book.id}} = document.getElementById("close_m_uni_{{book.id}}");  
      var close_btn_{{book.id}} = document.getElementById("close_modal_uni_t_{{book.id}}");
      
  
      close_x_{{book.id}}.onclick = function() {
        cont_{{book.id}}.style.animation = "unzoom 2s 1";
        modal{{book.id}}.style.animation = "modalfadeout 1s 1 1s";
      setTimeout(()=> {
        cont_{{book.id}}.style.display = "none";
          modal_{{book.id}}.style.display = "none";
          }
          , 1900);
      }
  
      close_btn_{{book.id}}.onclick = function() {
        cont_{{book.id}}.style.animation = "animatetopback 2s 1";
        modal_{{book.id}}.style.animation = "modalfadeout 1s 1 1s";
        setTimeout(()=> {
          cont_{{book.id}}.style.display = "none";
            modal_{{book.id}}.style.display = "none";
            }
            , 1900);
      }
  
      modal_{{book.id}}.onclick = function() {  
        cont_{{book.id}}.style.animation = "unzoomrotate 2s 1";
        modal_{{book.id}}.style.animation = "modalfadeout 1s 1 1s";
          setTimeout(()=> {
            cont_{{book.id}}.style.display = "none";
            modal_{{book.id}}.style.display = "none";
          }
          , 1900);   
      }
  

      </script>

      {% endif %}
