<script>
 
  window.addEventListener("load", function() {
    localStorage.clear();
    sessionStorage.clear();

   /* if (
      navigator.userAgent.match(/Android/i) ||
      navigator.userAgent.match(/iPhone/i)
    ) { 
      document.getElementById("scene_flip_1a").style.display = "none";
      document.getElementById("scene_flip_1b").style.display = "none";
      document.getElementById("mycolumn_book_download").style.display = "block";
    } */

   if (
      navigator.userAgent.match(/Android/i) ||
      navigator.userAgent.match(/iPhone/i)
    ) { 
      document.getElementById("scene_card_1a").remove();
      setTimeout(function() { 
      document.getElementById("scene_flip_1a").innerHTML = '<form action="{% url "booksmart:downloadbook" %}" method="GET" target="_blank">{{ search_title_download }}<input type="hidden" id="title_download" name="title_download_search" value="{{ book.title }}"><button type="submit" class="button_downloads" id="tooltip" style="line-height: 1.2;">IF YOU NEED YOU CAN TRY <br> TO FIND THIS BOOK BUT <br> ONLY TO DOWNLOAD <br> PRESS TO TRY TO FIND.<span id="tooltiptext" style="z-index:22;">PLEASE REMEMBER THAT THIS FUNCTION IS TESTED AND DOES NOT ALWAYS RETURN THE RIGHT RESULT.</span></button></form>';
      }, 500); 

      document.getElementById("scene_card_2a").remove(); 
      setTimeout(function() {
      document.getElementById("scene_flip_1a").innerHTML = '<form action="{% url "booksmart:downloadbook" %}" method="GET" target="_blank">{{ search_title_download }}<input type="hidden" id="title_download" name="title_download_search" value="{{ book.title }}"><button type="submit" class="button_downloads" id="tooltip" style="line-height: 1.2;">IF YOU NEED YOU CAN TRY <br> TO FIND THIS BOOK BUT <br> ONLY TO DOWNLOAD <br> PRESS TO TRY TO FIND.<span id="tooltiptext" style="z-index:22;">PLEASE REMEMBER THAT THIS FUNCTION IS TESTED AND DOES NOT ALWAYS RETURN THE RIGHT RESULT.</span></button></form>';
    }, 500);  
  
  }
  });
</script>

<style type="text/css">

/* 
⊕ ⊖ − ∓ ─  
*/

button {
  border: none;
  outline: none;
}

/*⊕ ⊖ − ∓ ─  */

.mycolumn_book_reader {  
  position:relative;
  z-index:14;
  justify-content: center;
  align-items: center;
  border: 4px solid rgba(90, 150, 210, 0.2);
  border-radius: 4px;
  background: rgba(90, 150, 210, 0.4);
  box-shadow:-1px -1px 0px 0px rgb(151, 191, 231), 
  1px 1px 0px 0px rgb(151, 191, 231),
  -2px 2px 0px 0px rgb(151, 191, 231), 
  2px 2px 0px 0px rgb(151, 191, 231),
  0px 2px 4px 3px rgb(110, 170, 210),
  0px 3px 0px 0px rgb(90, 150, 210), 
  -1px 6px 6px 0px rgba(80, 140, 200, 0.8), 
  1px 8px 8px 0px rgb(119, 120, 123), 
  0px 10px 8px 0px rgb(77, 77, 79), 
  0px 12px 8px 0px rgb(51, 51, 53);
  color: white;
  font-weight: bold;
  padding-top: 2px;
  text-align: center;
  margin:60px auto 40px auto;
  width: 520px;
  max-width: 90%;
  font-family: Times;
  padding: 10px;
  left: 12px;
  display: block;
    }

.mycolumn_book_reader:hover {
color: darkblue;
background-color: rgb(100, 160, 220); 
background-color: rgba(100, 160, 220, 0.6); 
-webkit-backdrop-filter: blur(4px);
backdrop-filter: blur(4px);
box-shadow: -1px 2px 1px 1px rgba(110, 170, 230, 0.4), 1px -1px 1px 1px rgba(110, 170, 230, 0.4), 0px 4px 0px 0px rgba(47, 128, 208, 0.4), 0px 8px 0px 0px rgba(38, 102, 166, 0.4), -4px 10px 8px 2px rgba(229, 230, 243, 0.4), 4px 0px 8px 2px rgba(219, 220, 233, 0.4),  0px 12px 6px 2px rgba(209, 210, 222, 0.4), 0px 14px 8px 0px rgba(199, 200, 212, 0.4), 0 16px 20px 0 rgba(190, 190, 201, 0.4);
}

.mycolumn_book_reader:active {
color: LightSteelBlue;
background-color: rgb(200, 200, 240); 
background-color: rgba(200, 200, 240, 0.6); 
-webkit-backdrop-filter: blur(2px);
backdrop-filter: blur(2px);
box-shadow: 
-3px 4px 4px 2px rgba(29, 130, 243, 0.6), 
-3px -2px 4px 1px rgba(29, 130, 243, 0.6),
3px 4px 4px 2px rgba(29, 130, 243, 0.6), 
3px -2px 4px 1px rgba(29, 130, 243, 0.6),
}

.mycard_book_reader {
position: relative;
background: rgba(90, 150, 210, 0.4);
margin: auto;
padding: 10px;
z-index: 15;
}

@keyframes anime_red_border {
25% {
border-color: red;}
}  


@keyframes anime_red_text {
25% {
color: red;}
}  

@keyframes anime_visible {
from {opacity: 0;}
to {opacity: 0.9;}

}

@keyframes anime_invisible {
from {opacity: 0.9;}
to {opacity: 0;}
}


[id^='button_ol_'].focus,
[id^='button_ol_'].active {
transform: matrix(0.98, 0, 0, 0.98, 0, 2);
}

.scene {
width: 340px;
height: 110px;
border: 1px solid transparent;
position: relative;
perspective: 600px;
margin: 10px auto 10px auto; 
max-width: 90%;
z-index: 16;
}

.button_downloads,
.card__face--front,
.card__face--back {
box-shadow: 
0px 0px 2px 4px rgba(10, 20, 220, 0.8) inset,
0px 0px 4px 4px rgba(220, 220, 240, 0.6); 
font-size: 18px; 
font-weight: bold;
background-color: rgba(60, 160, 240, 0.4);
color: rgba(0, 0, 180, 0.9);
font-variant: small-caps;
position: relative;
z-index: 18;
line-height: 1.2;
}

.card__face--back {
  padding: 10px;
}

.card__face--front {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.card {
width: 100%;
height: 100%; 
transition: transform 1s;
transform-style: preserve-3d;
cursor: pointer;
position: relative; 
background: transparent;
background-color: transparent;
z-index: 17;
}

.card.is-flipped {
transform: rotateY(180deg);
}

.button_downloads {
  padding: 10px; 
  width:340px;
  position: relative;
  margin: 10px auto 10px auto; 
  max-width: 90%;
}

.card__face {
position: absolute;
width: 100%;
height: 100%; 
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.card__face--back {
transform: rotateY(180deg);
height: 100%; 
width: 100%;
}

.button_downloads:hover,
.button_downloads:focus,
.card__face--front:hover,
.card__face--front:focus,
.card__face--back:hover,
.card__face--back:focus {
box-shadow: 
0px 0px 2px 4px rgba(210, 20, 10, 0.8) inset,
0px 0px 4px 4px rgba(220, 220, 240, 0.8); 
color: rgba(210, 20, 10, 0.9);
}

.button_downloads:active,
.card__face--front:active,
.card__face--back:active {
box-shadow: 
0px 0px 2px 4px rgba(210, 20, 10, 0.8) inset,
0px 0px 4px 4px rgba(220, 220, 240, 0.8); 
color: rgba(210, 20, 10, 0.9);
transform: matrix(0.98, 0, 0, 0.98, 0, 0);
}

@media screen and (max-width: 560px) {
#marque {
  font-size: 24px;
}

.mycolumn_book_reader,
.mycolumn_book_reader_new {
  max-width: 94%;
  width: 94%;
}
}

@media screen and (max-width: 480px) {

#marque {
  font-size: 22px;
}

.mycolumn_book_reader,
.mycolumn_book_reader_new {
  max-width: 98%;
  left: 0px;
}
}

#mycolumn_book_download {
display: none;
}
</style>

<p id="hidden_please_1" style="display: none;"></p>

      {% if cont %}
        <div class="mycolumn_book_reader"  id="read_column_o2_{{book.id}}">
          <div class="mycard_book_reader" id="read_card_o2_{{book.id}}">
          {% include 'snippets-booksmart/openbook.html' %}

          <div class="scene scene--card" id="scene_flip_1a">
            <div  class="card" id="card_flip_1a">
            <div class="card__face card__face--front" >
            <p style="line-height: 1.2; margin-top: 0px; margin-bottom: 0px;">if the previous method <br> did not work properly <br> press this </p>
            </div> 
            <div class="card__face card__face--back" id="create_input">
            <p style="line-height: 1.2; margin-top: 0px; margin-bottom: 0px;"> type the magic word anywhere <br> or type the magic word below </p>
            <input class="created_input" id="created_input_1a" type="text" placeholder="magic word" pattern="please" maxlength="6" style="width: 200px; position: relative; margin: 10px; text-align: center; text-justify: inter-word;">
            </div>
            </div>
            </div>  

          </div>
        </div>


      {% elif conts %}
        <div class="mycolumn_book_reader"  id="read_column_o2_{{book.id}}">
          <div class="mycard_book_reader" id="read_card_o2_{{book.id}}">
          {% for cont in conts %}
          {% include 'snippets-booksmart/openbook.html' %}
          {% endfor %}

          <div class="scene scene--card" id="scene_flip_1b">
            <div  class="card" id="card_flip_2a">
            <div class="card__face card__face--front" >
            <p style="line-height: 1.2; margin-top: 0px; margin-bottom: 0px;">if the previous method <br> did not work properly <br> press this </p>
            </div> 
            <div class="card__face card__face--back" id="create_input">
            <p style="line-height: 1.2; margin-top: 0px; margin-bottom: 0px;"> type the magic word anywhere <br> or type the magic word below </p>
            <input class="created_input" id="created_input_1b" type="text" placeholder="magic word" pattern="please" maxlength="6" style="width: 200px; position: relative; margin: 10px; text-align: center; text-justify: inter-word;">
            </div>
            </div>
            </div>  

          </div>
        </div>


      {% elif message_read != "" %}
      <div class="mycolumn_book_reader"  id="read_column_o2_{{book.id}}">
      <div class="mycard_book_reader" id="read_card_o2_{{book.id}}">     
      <div style="font-size: 22px; color: mediumblue; padding: 10px; max-width: 380px;position: relative; margin: 10px auto 10px auto;"> 
      <p style="line-height: 1.2;"> Information about book title: </p> 

      <p style="line-height: 1;  font-size: 24px; animation: anime_red_text 2s infinite;"> "{{ book.title }}" </p> 
      <p style="line-height: 1; margi-top: 10px;" > {{message_read}} </p> 
      </div>

      <form action="{% url 'booksmart:downloadbook' %}" method="GET" target="_blank">
      {{ search_title_download }}
      <input type="hidden" id="title_download" name="title_download_search" value="{{ book.title }}">
      <button type="submit" class="button_downloads" id='tooltip' >
        IF YOU NEED YOU CAN TRY <br> TO FIND THIS BOOK BUT <br> ONLY TO DOWNLOAD <br> PRESS TO TRY TO FIND
      <span id="tooltiptext" >PLEASE REMEMBER THAT THIS FUNCTION IS TESTED AND DOES NOT ALWAYS RETURN THE RIGHT RESULT</span></button>
      </form>

      </div>
      </div>

      {% endif %}

  <div class="mycolumn_book_reader" id="mycolumn_book_download">
    <div class="mycard_book_reader" id="">
    <form action="{% url 'booksmart:downloadbook' %}" method="GET" target="_blank">
  {{ search_title_download }}
    <input type="hidden" id="title_download" name="title_download_search" value="{{ book.title }}">
    <button type="submit" class="button_downloads" id='tooltip' style="line-height: 1.2;">
    IF YOU NEED YOU CAN TRY <br> TO FIND THIS BOOK BUT <br> ONLY TO DOWNLOAD <br> PRESS TO TRY TO FIND.
  <span id="tooltiptext" style="z-index:22;">PLEASE REMEMBER THAT THIS FUNCTION IS TESTED AND DOES NOT ALWAYS RETURN THE RIGHT RESULT.</span></button>
  </form>
  </div>
  </div>



<script type="text/javascript">

  const cards = document.getElementsByClassName('card');
  for (let i = 0; i < cards.length; i++) {
  cards[i].onclick = function() {
  cards[i].classList.add('is-flipped')
  setTimeout(function() { 
  cards[i].classList.remove('is-flipped'); 
  }, 10000); 
  }
  cards[i].ondblclick = function() {
  cards[i].classList.remove('is-flipped');
  }
  }

let oTextbox1 = document.getElementById("hidden_please_1");
let oInputbox1 = document.querySelector(".created_input");
// let oInputbtn1 = document.getElementById("created_btn_1");
let scene_flip_1a = document.getElementById("scene_flip_1a");
let scene_flip_1b = document.getElementById("scene_flip_1b");
var mycolumn_book_download = document.getElementById("mycolumn_book_download");

/* function handleEventLibgenMobile(mEvent) {
//  oInputbox1.onclick = function() {}
    oInputbox1.value += mEvent.key;
    if (oInputbox1.value === "please") {
      mycolumn_book_download.style.display = "block";
      mycolumn_book_download.style.animation = "anime_visible 2s";

      setTimeout(function(){ 
      oInputbox1.value = "";
      }, 3000);
      
      setTimeout(function(){ 
        mycolumn_book_download.style.animation = "anime_invisible 2s";
        }, 6000);
        
        setTimeout(function(){
        mycolumn_book_download.style.display = "none";}, 
        7800);
      }
        
      else {
        setTimeout(function(){ 
          oInputbox1.value = "";
          }, 7000);
      }
    } */

/* function handleEventLibgenMobile() {
    if (oInputbox1.value === "please") {
    mycolumn_book_download.style.display = "block";
    mycolumn_book_download.style.animation = "anime_visible 2s";
    setTimeout(function(){ 
      mycolumn_book_download.style.animation = "anime_invisible 2s";
      }, 6000);
      
      setTimeout(function(){
      mycolumn_book_download.style.display = "none";}, 
      7800);
    } 
  } */

      
function handleEventLibgen(oEvent) {
      oTextbox1.innerText += oEvent.key;
      if (oTextbox1.innerText === "please") {
        mycolumn_book_download.style.display = "block";
        mycolumn_book_download.style.animation = "anime_visible 2s";
   
        setTimeout(function(){ 
        oTextbox1.innerText = "";
        oInputbox1.value = "";
        }, 3000);
        
        setTimeout(function(){ 
          mycolumn_book_download.style.animation = "anime_invisible 2s";
          }, 6000);
          
          setTimeout(function(){
          mycolumn_book_download.style.display = "none";}, 
          7800);
        }
          
        else {
          setTimeout(function(){ 
            oTextbox1.innerText = "";
            oInputbox1.value = "";
            }, 7000);
        }
    } 


 if (
  navigator.userAgent.match(/Android/i) ||
  navigator.userAgent.match(/iPhone/i)
) { 
  scene_flip_1a.style.display = "none";
  scene_flip_1b.style.display = "none";
  mycolumn_book_download.style.display = "block";
}
else {
  document.addEventListener("keypress", handleEventLibgen);
} 



/*for (let card of cards) {
card.addEventListener('click', function(event) {
event.target.classList.add('is-flipped');
setTimeout(function() { 
event.target.classList.remove('is-flipped'); 
}, 6000);  
});
card.addEventListener('dblclick', function(event) {
event.target.classList.remove('is-flipped');
});

}  */

</script>


<!--  <p id="txt1" style="display: none;"></p>
<p><textarea id="txtInput" rows="15" cols="50" onkeypress="handleEvent(event)"
    ></textarea></p>
<p><textarea id="txtInput" rows="15" cols="50"
    onkeydown="handleEvent(event)"
    onkeyup="handleEvent(event)"
    onkeypress="handleEvent(event)"></textarea></p>
    
<p><textarea id="txt2" rows="15" cols="50"></textarea></p> -->

