<script type="text/javascript" src="https://www.google.com/books/jsapi.js">
</script>

<script>
//  function myFunctionClear_book_reader() {
    localStorage.clear();
    sessionStorage.clear();
  
//  }
</script>

<style type="text/css">
 
.card_viewer ::-webkit-scrollbar {
  width: 12px;
  }

  .card_viewer ::-webkit-scrollbar-button {
  height:100%;
  }

  /* ::-webkit-resizer {
  height:100px;}
  Track */
.card_viewer ::-webkit-scrollbar-track {
  box-shadow:inset  0px 0px 4px 2px rgba(120, 120, 120, 0.4) ; 
  border-radius: 4px;
  background:rgba(241, 243, 244, 0.6);
  }
  
  /* Handle */
.card_viewer ::-webkit-scrollbar-thumb {
  background: rgba(177, 179, 182, 0.6) ; 
  border-radius: 4px;
  box-shadow:inset  0px 0px 4px 2px rgba(120, 120, 120, 0.4) ; 
  }
  
  /* Handle on hover */
.card_viewer ::-webkit-scrollbar-thumb:hover {
  background:rgba(157, 159, 162, 0.6); 
  }

.scene {
  position: relative;
  width: 460px;
  height: 620px;
  perspective: 1280px;
  margin: 20px auto 40px auto;
  left: 0px;

  }

/*⊕ ⊖ − ∓ ─  */
.card_viewer {
width: 100%;
height: 100%;
transition: transform 1s;
transform-style: preserve-3d;
cursor: pointer;
position: relative;
border-radius:4px;
/*border:10px solid  rgb(177, 179, 182);*/
box-shadow: 
0px 0px 0px 10px rgb(177, 179, 182) inset,
-1px -1px 0px 0px rgb(199, 200, 202), 
1px 1px 0px 0px rgb(199, 200, 202),
-2px 2px 0px 0px rgb(199, 200, 202), 
2px 2px 0px 0px rgb(199, 200, 202),
0px 2px 0px 0px rgb(177, 179, 182), 
0px 3px 0px 0px rgb(157, 159, 162), 
-1px 6px 6px 0px rgb(138, 140, 142), 
1px 8px 8px 0px rgb(119, 120, 123), 
0px 10px 8px 0px rgb(77, 77, 79), 
0px 12px 8px 0px rgb(51, 51, 53);
background-color: rgba(60, 160, 240, 0.4);
}
 
.card_viewer.is-flipped {
  transform: rotateY(180deg);
}

.card_viewer__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card_viewer__face--front {
  background: rgba(60, 160, 240, 0.4);
}

.card_viewer__face--back {
  background: rgba(60, 160, 240, 0.0);
  transform: rotateY(180deg);
}

#viewerCanvas {
  width: 440px; 
  height: 600px; 
  transition: all 0.6s;
  position: absolute;
  margin-top:10px;
  margin-left: 10px;
  padding-top: 10px;
  /*  box-shadow: 
  0px 0px 0px 10px rgb(177, 179, 182) inset; */
  overflow-x: hidden;
}  

#viewerCanvas:active:after {
    content: "double click to turn back";
    top: 40px;
    text-align: center;
    font-size: 20px;
    color: rgba(180, 180, 190, 0.8);
    padding: 10px;
  
   border: 4px solid rgba(180, 180, 190, 0.1);
  /* width: 300px;
    max-width: 300px; 
    left: 50%; 
    margin-left: 10%; */
    width: 60%;
    max-width: 60%;
    position: fixed;
    left: 20%;
 
    z-index: 31;
   
}

.card-title {
margin: 10px auto 0px auto;
position:relative;
width: 480px;
min-width: 480px;
text-align: center;
color: mediumblue;
font-weight:bold; 
font-size:24px; 
font-family: Times;
}

.text_alert,
[id^='textalert_viewercanvas'] {
  text-align: center;
  margin-top: 0px;
}

.alert-info {
  background-color: rgba(60, 160, 240, 0.2);
  color: rgba(20, 20, 240, 0.9);
  font-size: 28px;
  line-height: 28px;
  padding: 10px;
  border: 6px solid rgba(60, 160, 240, 0.8);
  border-radius: 4px;
  animation: anime_red_border 4s infinite;
  padding: 14px 10px 14px 10px;
}

.alert-info-first {
  background-color: rgba(60, 160, 240, 0.2);
  color: rgba(20, 20, 240, 0.9);
  font-size: 28px;
  line-height: 28px;
  border: 6px solid rgba(60, 160, 240, 0.8);
  border-radius: 4px;
  animation: anime_red_border 4s infinite;
  padding: 14px 10px 14px 10px;
}

.alert-border {

}

#title_alert {
  font-weight: bold;
}

.mycolumn_reader {  
  position:relative;
  z-index:12;
  justify-content: center;
  align-items: center;
  border: 4px solid rgba(90, 150, 210, 0.2);
  border-radius: 4px;
  background: rgba(90, 150, 210, 0.4);
  box-shadow:-1px -1px 0px 0px rgb(151, 191, 231), 
  1px 1px 0px 0px rgb(151, 191, 231),
  -2px 2px 0px 0px rgb(151, 191, 231), 
  2px 2px 0px 0px rgb(151, 191, 231),
  0px 2px 4px 3px rgb(110, 170, 210),
  0px 3px 0px 0px rgb(90, 150, 210), 
  -1px 6px 6px 0px rgba(80, 140, 200, 0.8), 
  1px 8px 8px 0px rgb(119, 120, 123), 
  0px 10px 8px 0px rgb(77, 77, 79), 
  0px 12px 8px 0px rgb(51, 51, 53);
  color: white;
  font-weight: bold;
  padding: 6px;
  text-align: center;
  margin: 10px auto 20px auto;
  max-width: 90%;
  width: 490px;
  font-family: Times;
  left: 12px;
    }

  [id^="read_card_o2"] {
      background: rgba(90, 150, 210, 0.4);
    }

    .mycard_reader {
      background: rgba(90, 150, 210, 0.4);
      margin: auto;
      padding: 10px;
      position: relative;

    }
#a_submit_t {
  animation-name: anime_submit_text;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.mycolumn_reader:hover {
  color: darkblue;
  background-color: rgb(100, 160, 220); 
  background-color: rgba(100, 160, 220, 0.6); 
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  box-shadow: -1px 2px 1px 1px rgba(110, 170, 230, 0.4), 1px -1px 1px 1px rgba(110, 170, 230, 0.4), 0px 4px 0px 0px rgba(47, 128, 208, 0.4), 0px 8px 0px 0px rgba(38, 102, 166, 0.4), -4px 10px 8px 2px rgba(229, 230, 243, 0.4), 4px 0px 8px 2px rgba(219, 220, 233, 0.4),  0px 12px 6px 2px rgba(209, 210, 222, 0.4), 0px 14px 8px 0px rgba(199, 200, 212, 0.4), 0 16px 20px 0 rgba(190, 190, 201, 0.4);
}

.mycolumn_reader:active {
  color: LightSteelBlue;
  background-color: rgb(200, 200, 240); 
  background-color: rgba(200, 200, 240, 0.6); 
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  transform: translateY(2px);
  scale: 0.96;
  box-shadow: 
  -3px 4px 4px 2px rgba(29, 130, 243, 0.6), 
  -3px -2px 4px 1px rgba(29, 130, 243, 0.6),
  3px 4px 4px 2px rgba(29, 130, 243, 0.6), 
  3px -2px 4px 1px rgba(29, 130, 243, 0.6),
}


@keyframes anime_red_border {
50% {
border-color: rgba(240, 20, 20, 0.9);}
}  

@keyframes anime_red_text {
50% {
  color: rgba(240, 20, 20, 0.9);}
}  

@keyframes anime_red_border {
  50% {
  border-color: rgba(240, 20, 20, 0.9);}
  }  

#mySidenav a {
  position: fixed;
  z-index:21;
  left: -84px;
  transition: 0.3s;
  padding: 2px 2px 2px 10px;
  width: 120px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  border-radius: 0 2px 2px 0;
  border:2px solid lightgrey;
}

/* #mySidenav a:hover {
  left: 0;
} */

#resize {
  top: 128px;
  background-color: rgb(100,160,220);
  background-color: rgba(100,160,220, 0.6);
}

#width {
  top: 220px;
  background-color: rgb(100,160,220);
  background-color: rgba(100,160,220, 0.6);
}

#height {
  top: 306px;
  background-color: rgb(100,160,220);
  background-color: rgba(100,160,220, 0.6);
}

#resize_px {
  top: 394px;
  background-color: rgb(100,160,220);
  background-color: rgba(100,160,220, 0.6);
}

button {
  font-variant:small-caps;
  font-family:Times;
  width:114px;
  background-color: rgb(100,160,220);
  background-color: rgba(100,160,220, 0.6);
  color:white;
  font-size:18px;
  font-weight: bold;
  margin: 2px 2px 2px 2px;
  border-radius: 2px;
  border:2px solid lightgrey;
  /*resize:both;*/
}

button:hover {
  background-color: rgb(40,40,220);
  background-color: rgba(40,40,220, 0.6);
  color:lightgrey;
}

button:focus{
  border:none;
  outline:none;
}

.sign {
  font-size:22px; 
  color:white; 
  font-weight:bold;
  text-shadow:
  -1px 1px 1px white, 
  1px -1px 1px white, 
  1px 1px 1px white, 
  -1px -1px 1px white,
  -1px 0px 1px white,
  1px 0px 1px white,
  0px 1px 1px white,
  0px -1px 1px white;
}

#sign_w {
margin-left:16px;
}

#sign_h {
margin-left:10px;}

.btn_text {
font-size:20px; 
padding-bottom:4px;
}

.btn_number {
font-size: 19px;}

#btn_nohover {
  background-color: rgba(100,160,220, 0.0);
  border: 2px solid transparent;
  margin: 0px;
  padding: 0px;
   color: aliceblue;
  }
 
 #btn_nohover:hover {
 padding: 0px;
  background-color: transparent;
  color: aliceblue;
 }
 
 .class_arrows {
 font-size:30px;
 font-weight:bold;
 width: 32%;
 border-radius: 20%;
 line-height: 1;
 /* border: 2px solid lightgrey; */
 outline: 2px solid lightgrey;
 text-shadow:
 -0.06em 0.06em 0.04em rgba(200, 0, 0, 0.0);
   background-color: rgba(40,40,220, 0.4);
 }
 .class_arrows:focus {
  /* border:2px solid lightgrey; */
 outline: 2px solid lightgrey;
   color: aliceblue;
 }
 
 .class_arrows:hover {
 text-shadow:
 -0.06em 0.06em 0.04em rgba(200, 0, 0, 0.9);
   background-color: rgb(40,40,220);
   background-color: rgba(40,40,220, 0.6);
   color:lightgrey;
  /* border:2px solid lightgrey; */
   outline: 2px solid lightgrey;
 
 }
 
 .class_arrows:hover {
 /*  border:2px solid lightgrey; */
   outline: 2px solid transparent; 
   }
 
 #open_sidenav {
 float:right;
margin-right: -4px;}
 
 #close_sidenav {
 float: left;
 }
</style>

<div id="mySidenav" class="sidenav">

<!--  <a href="#" id="width">
  <button class="btn_text" id="width_down"> width &nbsp<span id="sign_w" class="sign" >−</span></button>

<button class="btn_text" id="width_up"> width &nbsp<span id="sign_w" class="sign" >+</span></button>
</a>

  <a href="#" id="height">
  <button class="btn_text" id="height_down"> height &nbsp<span id="sign_h" class="sign" >−</span></button>
<button class="btn_text" id="height_up"> height &nbsp<span id="sign_h" class="sign" >+</span></button></a> -->

<a href="#" id="resize_px">
  <button class="btn_number" id="btn_nohover"><span class="class_arrows" id="close_sidenav"> ⇦ </span><span class="class_arrows"  id="open_sidenav"> ⇨ </span> </button>
  <button class="btn_number" id="920x640px"> 920 &nbsp x &nbsp 640 </button>
 <button class="btn_number" id="800x600px"> 800 &nbsp x &nbsp 560 </button>
  <button class="btn_number" id="720x500px"> 720 &nbsp x &nbsp 500 </button>
  <button class="btn_number" id="start_size"> start size </button>
  <button class="btn_number" id="full_screen"><p style="margin-bottom: -4px"> open </p> <p style="margin-top; -4px; margin-bottom: 6px; line-height: 1;"> fullscreen </p></button>
  <button class="btn_number" id="full_size"> full size </button>
 </a>

</div>

<script>
  var open_sidenav = document.getElementById("open_sidenav");
  var close_sidenav = document.getElementById("close_sidenav");
  var mySidenav_a = document.querySelector("#mySidenav a");
  
  open_sidenav.onclick = function() {
    mySidenav_a.style.left = "0px";
  }
  
  close_sidenav.onclick = function() {
    mySidenav_a.style.left = "-84px";
  }
  
  </script>

<style type="text/css">

#a_submit_t {
animation-name: anime_submit_t;
animation-duration: 8s;
animation-iteration-count: infinite;
}

@keyframes anime_submit_t {
25% {
color: red;}
  }  

.a_submit_t {
animation-name: anime_submit_t;
animation-duration: 8s;
animation-iteration-count: infinite;
}
     
#text_alert_next_id {
  position: absolute;
  margin-top: -400px;
  left: 50%;
  text-align:center;
  margin-left: -240px;
  min-width: 480px;
  max-width: 480px;
  width: 480px;
  background-color: rgba(60, 160, 240, 0.2);
  color: mediumblue;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  margin: 2px solid blue;
  z-index: 1;
}

#text_alert_next_id {
}

.class_viewerCanvas_full {
  background-color: rgba(60, 160, 240, 0.8);
  border-color: rgba(20, 20, 160, 0.9);
  color: rgba(20, 20, 160, 0.9);
  }
  
.class_viewerCanvas_part {
border-color: rgba(20, 20, 160, 0.9);
color: rgba(20, 20, 160, 0.9);
}

/*@media screen and (max-width: 720px) {
  .scene {
 position: relative;
   min-width: 96.2vw;
   max-width: 96.2vw;
   width: 96.2vw;
   min-height: 134vw;
   max-height: 134vw;
   height: 134vw;
   margin-left: auto;
   margin-right: auto;
  }
} */
@media screen and (max-width: 560px) {
  .scene {
    left: 0px;
  }
}

@media screen and (max-width: 480px) {
.scene {
  left: 0px;
}
#text_alert_next_id {
  position: absolute;
  margin-top: -400px;

  text-align:center;
  margin-left: 4%;
  min-width: 92%;
  max-width: 92%;
  width: 92%;
  background-color: rgba(60, 160, 240, 0.2);
  color: mediumblue;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  margin: 2px solid blue;
  z-index: 14;
}

.mycolumn_reader {
  left: 0px;
}
}

#full_screen_close {
  position: fixed;
  z-index: 22;
  display: none;
  bottom: 10px;
  left: 50%;
  min-width: 120px;
  max-width: 120px;
  margin-left: -60px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 2px;
  border: 4px solid darkblue;
  color: darkblue;
  text-align: center;
  cursor: pointer;
  padding-top: 2px;
 opacity: 0.2;
 background-color: LightGray;
  }
  
#full_screen_close:hover {
opacity: 0.4;
  }
</style>


<div class="scene scene--card_viewer" id="scene_viewer" data-title="nofullscreen">
  <div class="card_viewer" id="card_viewer_id">
    <div id="textalert_viewercanvas_" class="card_viewer__face card_viewer__face--front">
     <!-- <p id="data_reader" style="font-size: 18px; color: rgba(10, 20, 160, 0.9); margin-bottom: -20px;"> </p> -->
      <p style="color: rgba(10, 20, 160, 0.9); margin: 20px auto 26px auto; font-size: 28px; animation: anime_red_text 2s infinite;"> INFORMATION </p><span id="textalert_viewer_">
     
    </span></div>
   
    <div id="book_frame" class="card_viewer__face card_viewer__face--back" > 
    <div id="viewerCanvas"> </div> 
    <div id="full_screen_close" onclick="toggleFullscreen();" >Close Fullscreen</div>
    </div>
   
    </div>
  </div>

      <br>
      
    
<script type="text/javascript">
// var alert_frame = document.getElementById("textalert_viewercanvas_{{ book.id }}")
// var viewer_frame = document.getElementById('viewerCanvas');
google.books.load({"language": "en"});
var bookViewer;
var text_alert = document.getElementById("textalert_viewer_");
var scene_viewer = document.getElementById("scene_viewer");
var card_viewer_id = document.getElementById("card_viewer_id");
var width_down = document.getElementById("width_down");
var width_up = document.getElementById("width_up");
var height_down = document.getElementById("height_down");
var height_up = document.getElementById("height_up");
var h920px_w640px = document.getElementById("920x640px");
var h800px_w600px = document.getElementById("800x600px");
var h720px_w500px = document.getElementById("720x500px");
var start_size = document.getElementById("start_size");
var full_screen = document.getElementById("full_screen");
var full_size = document.getElementById("full_size");
var data_reader = document.getElementById("data_reader");
var card_front = document.getElementById("textalert_viewercanvas_");
var card_back = document.getElementById("book_frame");
var full_screen_close = document.getElementById("full_screen_close");

const book_frame = document.getElementById("book_frame");
const book_viewer = document.getElementById("viewerCanvas");

// let text_1 = scene_viewer.getAttribute('data-title');
// data_reader.innerHTML = "text_1 " + text_1;

let book_layer = document.querySelector(".selection-layer");
var size_minus = document.querySelector("#viewerCanvas > div > div:nth-child(1) > div:nth-child(2) > div:nth-child(9)")
var size_plus = document.querySelector("#viewerCanvas > div > div:nth-child(1) > div:nth-child(2) > div:nth-child(10)")

var text_first = '<p class="alert-info" id="no_embed"><span> PLEASE WAIT <br> THE BOOK IS LOADING... </span>';
text_alert.innerHTML = text_first;

scene_viewer.style.left = "12px";

function alertNotFound() {
  var text = '<p class="alert-info" id="no_embed"><span> COULD NOT EMBED <br> THE BOOK TITLE: </span> <br><br> <span style="font-size: 26px; line-height: 26px; color: rgba(60, 60, 240, 0.9);" id="title_alert"> "{{book.title}}" </span></p> <br><p style="font-size: 24px;"> try button below </p>';
    text_alert.innerHTML = text;
  }
 
function alertFound() {
  var text = '<p class="alert-info" id="yes_embed"><span style="animation:anime_red_text 2s infinite;"> EMBED <br> THE BOOK TITLE: </span> <br><br> <span style="font-size: 28px; line-height: 26px; color: rgba(60, 60, 240, 0.9);" id="title_alert"> "{{book.title}}" </span></p> <br> <p style="font-size: 24px; color: rgba(200, 200, 240, 0.8); border: 4px solid rgba(200, 200, 240, 0.8)"> click to read </p>';
  text_alert.innerHTML = text;
  document.querySelector('#viewerCanvas > div > div:nth-child(2)').style.visibility = "hidden";
  document.querySelector("#viewerCanvas > div > div:nth-child(1) > div:nth-child(2) > a > div").style.visibility = "hidden";
  } 
  
  
function viewerResize(bookViewer) {
  bookViewer.resize();
  viewerResize(bookViewer);
  }
  
function viewerZoomIn(bookViewer) {
  bookViewer.zoomIn(1);
  viewerZoomIn(bookViewer);
  }
  
function viewerZoomOut(bookViewer) {
  bookViewer.zoomIn(1);
  viewerZoomOut(bookViewer);
  } 

function initialize() {
  var display_options = {showLinkChrome: false};
  const bookViewer = new google.books.DefaultViewer(book_viewer, display_options);
  bookViewer.load('{{book.google_id}}', alertNotFound, alertFound);
  viewerZoomIn(bookViewer);
  viewerZoomOut(bookViewer);
  }

google.books.setOnLoadCallback(initialize);

h720px_w500px.onclick = function() { 
  scene_viewer.style.height = "700px";
  scene_viewer.style.width = "510px";
  card_viewer_id.style.height = "700px";
  card_viewer_id.style.width = "510px"; 
  book_viewer.style.height = "680px";
  book_viewer.style.width = "490px";
  initialize();
  google.books.setOnLoadCallback(initialize); 
}

h800px_w600px.onclick = function() {
  scene_viewer.style.height = "770px";
  scene_viewer.style.width = "560px";
  card_viewer_id.style.height = "770px";
  card_viewer_id.style.width = "560px"; 
  book_viewer.style.height = "750px";
  book_viewer.style.width = "540px";
  initialize();
  google.books.setOnLoadCallback(initialize); 
  }

h920px_w640px.onclick = function() {
  scene_viewer.style.height = "900px";
  scene_viewer.style.width = "720px";
  card_viewer_id.style.height = "900px";
  card_viewer_id.style.width = "720px";
  book_viewer.style.height = "880px";
  book_viewer.style.width = "700px";
    initialize();
    google.books.setOnLoadCallback(initialize); 
  } 

start_size.onclick = function() {
  scene_viewer.style.left = "0px";
  scene_viewer.style.height = "620px";
  scene_viewer.style.width = "460px";
  card_viewer_id.style.height = "620px";
  card_viewer_id.style.width = "460px";
  book_viewer.style.height = "600px";
  book_viewer.style.width = "440px";
  
initialize();
    google.books.setOnLoadCallback(initialize); 
  }

full_size.onclick = function() {
  scene_viewer.style.left = "0px";
  scene_viewer.style.width = "100%";
  var scene_clientWidth = scene_viewer.clientWidth;
  scene_viewer.style.height = scene_clientWidth * 1.35 + "px";
  var scene_clientHeight = scene_viewer.clientHeight;
  card_viewer_id.style.width = scene_clientWidth -10 + "px";
  card_viewer_id.style.height = scene_clientHeight -10 + "px";
  book_viewer.style.width = scene_clientWidth - 30 + "px";
  book_viewer.style.height = scene_clientHeight - 30 + "px";
  initialize();
  google.books.setOnLoadCallback(initialize); 
  } 


function changeFront() {
card_viewer_id.insertBefore(card_back, card_viewer_id.children[0]);
  }

function changeBack() {
card_viewer_id.insertBefore(card_front, card_viewer_id.children[0]);
  }

const fullScreenBook = function() {
  scene_viewer.requestFullscreen();
  scene_viewer.style.left = "0px";
  scene_viewer.setAttribute('data-title', "fullscreen");
  full_screen_close.style.display = "block";
  // let text_2 = scene_viewer.getAttribute('data-title');
  // data_reader.innerHTML = "text_2 " + text_2;
  var full_screen_height = screen.availHeight;
  var full_screen_width = document.body.offsetWidth;
  
  scene_viewer.style.height = full_screen_height + "px";
  scene_viewer.style.width = full_screen_width + "px";
  
  card_viewer_id.style.height = full_screen_height + "px";
  card_viewer_id.style.width = full_screen_width + "px";
  book_viewer.style.width = full_screen_width - 20 + "px";
  book_viewer.style.height = full_screen_height - 20 + "px";
  initialize();
  google.books.setOnLoadCallback(initialize);
  }

 full_screen.onclick = function() { 
    if (scene_viewer.requestFullscreen) {
     scene_viewer.requestFullscreen();
      fullScreenBook();
    } 
   
    else if (scene_viewer.msRequestFullscreen) {
      scene_viewer.msRequestFullscreen();
      fullScreenBook();
    } 
    else if (scene_viewer.mozRequestFullScreen) {
      scene_viewer.mozRequestFullScreen();
      fullScreenBook();
    }
    else if(scene_viewer.webkitRequestFullscreen) {
      scene_viewer.webkitRequestFullscreen();
      fullScreenBook();
    }
}

const middleSizeBook = function() { 
  scene_viewer.style.height = "700px";
  scene_viewer.style.width = "510px";
  card_viewer_id.style.height = "700px";
  card_viewer_id.style.width = "510px"; 
  book_viewer.style.height = "680px";
  book_viewer.style.width = "490px";
initialize();
book_viewer.style.display = "block";
  google.books.setOnLoadCallback(initialize); 
} 

/*
const func_resize = function() {
  window.addEventListener("resize", function() {
  scene_viewer.style.height = "620px";
  scene_viewer.style.width = "460px";
  // scene_viewer.style.width = "650px";
  card_viewer_id.style.height = "620px";
  card_viewer_id.style.width = "460px";
  // card_viewer_id.style.width = "650px";
  book_viewer.style.height = "600px";
  book_viewer.style.width = "440px";
  initialize();
  google.books.setOnLoadCallback(initialize);    
}) 
}
*/

 /*
const checkData = function() { 
  let text = scene_viewer.getAttribute("data-title");
  if (text = "nofullscreen") {  
   document.addEventListener("fullscreenchange", function() {
   // scene_viewer.onfullscreenchange = function() {
    // let text = scene_viewer.getAttribute("data-title");
   // if (text === "nofullscreen") {
      setTimeout(function(){
        scene_viewer.style.height = "620px";
        scene_viewer.style.width = "460px";
        // scene_viewer.style.width = "650px";
        card_viewer_id.style.height = "620px";
        card_viewer_id.style.width = "460px";
        // card_viewer_id.style.width = "650px";
        book_viewer.style.height = "600px";
        book_viewer.style.width = "440px";
        initialize();
        google.books.setOnLoadCallback(initialize);
       }, 2000);
       scene_viewer.setAttribute("data-title", "nofullscreen")  
   //   }
    });
  }
  } 

 const func_change = scene_viewer.addEventListener("change", checkData)
  */

 // let text_3a = scene_viewer.getAttribute("data-title");
 // data_reader.innerHTML = "text_3a " + text_3a;
 /*full_screen_close.onclick = function() {
  if (scene_viewer.exitFullscreen) {
    scene_viewer.exitFullscreen();
   } else if (document.mozCancelFullScreen) {
     document.mozCancelFullScreen();
   } else if (document.webkitExitFullscreen) {
     document.webkitExitFullscreen();
   }
    else if (document.msExitFullscreen) {
     window.top.document.msExitFullscreen();
   } 
   };*/
   const makeFullScreen = (el) => {
    if (!document.fullscreenElement) {
      el.requestFullscreen();
      return;
   } 
     document.exitFullscreen();
 }
 
 //const fullscreenables = document.querySelectorAll(".fullscreenEnabled");
 //fullscreenables.forEach( (span) => {
 //btn_close_fullscreen.addEventListener("click", () => {
 // makeFullScreen(scene_viewer);
 //});
 // span.addEventListener('keydown', (e) => {
 //  if (e.key === "Enter") {
 //    makeFullScreen(span);
 //  }
 // });
 //});


  const var_endFullScreen = function() {
    let text_4 = scene_viewer.getAttribute("data-title");
    // data_reader.innerHTML = "text_4_1 " + text_4;
    if (!document.fullscreenElement && text_4 === "fullscreen") { 
      full_screen_close.style.display = "none";
    setTimeout(function(){
       scene_viewer.style.left = "12px";
      scene_viewer.style.height = "620px";
      scene_viewer.style.width = "460px";
      // scene_viewer.style.width = "650px";
      card_viewer_id.style.height = "620px";
      card_viewer_id.style.width = "460px";
      // card_viewer_id.style.width = "650px";

      book_viewer.style.height = "600px";
      book_viewer.style.width = "440px";
      initialize();
      google.books.setOnLoadCallback(initialize);
     }, 1000);
    } 
  }

scene_viewer.addEventListener("fullscreenchange", var_endFullScreen);

scene_viewer.addEventListener("mozfullscreenchange", func_endFullScreen);

scene_viewer.addEventListener("webkitfullscreenchange", function() {
  var_endFullScreen();
});
scene_viewer.addEventListener("msfullscreenchange", function() {
  func_endFullScreen();
});

function func_endFullScreen() {
  let text_4 = scene_viewer.getAttribute("data-title");
  data_reader.innerHTML = "text_4_1 " + text_4;
  if (!document.fullscreenElement && text_4 === "fullscreen") { 
  setTimeout(function(){
    scene_viewer.style.height = "620px";
    scene_viewer.style.width = "460px";
    // scene_viewer.style.width = "650px";
    card_viewer_id.style.height = "620px";
    card_viewer_id.style.width = "460px";
    // card_viewer_id.style.width = "650px";

    book_viewer.style.height = "600px";
    book_viewer.style.width = "440px";
    initialize();
    google.books.setOnLoadCallback(initialize);
   }, 1000);
  } 
} 

function toggleFullscreen(event) {
  var element = document.body;

  if (event instanceof HTMLElement) {
    element = event;
  }

  var isFullscreen = document.webkitIsFullScreen || document.mozFullScreen || false;

  element.requestFullScreen = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || function() {
    return false;
  };
  document.cancelFullScreen = document.cancelFullScreen || document.webkitCancelFullScreen || document.mozCancelFullScreen || function() {
    return false;
  };

  isFullscreen ? document.cancelFullScreen() : element.requestFullScreen();
}
</script>

<script>

  var card = document.querySelector('.card_viewer');
  
  card.addEventListener( 'click', function() {
    card.classList.add('is-flipped');
  });
  card.addEventListener( 'dblclick', function() {
    card.classList.remove('is-flipped');
  });
  
</script>

      <div class="mycolumn_reader"  id="read_column_o1">
        <div class="mycard_reader" id="read_card_o1">
          <form action="{% url 'booksmart:readbook-ol' book.id %}"  method="POST" target="_blank" >
             {% csrf_token %}
            <input type="hidden" id="title_lib" name="title_lib" value="ok">
            <button type="submit" class="btn btn-outline-primary btn-lg text-danger" style="width:340px; padding: 10px; margin: 5px; border: 5px solid; box-shadow: 0px 0px 5px 5px rgba(120, 120, 120, 0.4); font-size: 18px; font-weight: bold; font-family: Times;" id='tooltip'><span style="color: aliceblue; font-size: 22px; line-height: 1.2;">"{{ book.title }}"</span><br>
              IF YOU NEED YOU CAN TRY TO FIND THIS BOOK ANOTHER WAY <br> PRESS TO TRY TO FIND
           <span id="tooltiptext" style="z-index:12;">PLEASE REMEMBER THAT THIS FUNCTION IS TESTED AND DOES NOT ALWAYS RETURN THE RIGHT RESULT</span></button>
        </form>
      </div>
    </div>

    <div class="mycolumn_reader"  id="read_column_a1">
      <div class="mycard_reader" id="read_card_a1">
        <form action="{% url 'booksmart:readbook-ar' book.id %}"  method="GET" target="_blank" >
           
          
          <input type="hidden" id="search_title_ar_id" name="search_title_ar_name" value="{{ book.title }}">
          <button type="submit" class="btn btn-outline-primary btn-lg text-danger" style="width:340px; padding: 10px; margin: 5px; border: 5px solid; box-shadow: 0px 0px 5px 5px rgba(120, 120, 120, 0.4); font-size: 18px; font-weight: bold; font-family: Times;" id='tooltip'><span style="color: aliceblue; font-size: 22px; line-height: 1.2;">"{{ book.title }}"</span><br>
           IF YOU NEED YOU CAN TRY TO FIND THIS BOOK ANOTHER WAY <br> PRESS TO TRY TO FIND
        <span id="tooltiptext" style="z-index:12;">PLEASE REMEMBER THAT THIS FUNCTION IS TESTED AND DOES NOT ALWAYS RETURN THE RIGHT RESULT</span></button>
      </form>
    </div>
  </div>

