
<style type="text/css">

/*⊕ ⊖ − ∓ ─  */
[id^="read_column_o"] {  
position:relative;
z-index:1;
justify-content: center;
align-items: center;
border: 4px solid rgba(90, 150, 210, 0.4);
border-radius:4px;
background: rgba(90, 150, 210, 0.4);
box-shadow:
0px 0px 6px 6px rgba(90, 150, 210, 0.4) inset,
-1px -1px 0px 0px rgb(151, 191, 231), 
1px 1px 0px 0px rgb(151, 191, 231),
-2px 2px 0px 0px rgb(151, 191, 231), 
2px 2px 0px 0px rgb(151, 191, 231),
0px 2px 4px 3px rgb(110, 170, 210),
0px 3px 0px 0px rgb(90, 150, 210), 
-1px 6px 6px 0px rgba(80, 140, 200, 0.8), 
1px 8px 8px 0px rgb(119, 120, 123), 
0px 10px 8px 0px rgb(77, 77, 79), 
0px 12px 8px 0px rgb(51, 51, 53);
color: white;
font-weight: bold;
padding-top: 2px;
text-align: center;
margin: 120px auto 10px auto;
width: 490px;
min-width: 490px;
font-family: Times;
  }



.mycolumn_download {  
  position:relative;
  z-index:1;
  justify-content: center;
  align-items: center;
  border: 4px solid rgba(90, 150, 210, 0.2);
  border-radius: 4px;
  background: rgba(90, 150, 210, 0.4);
  box-shadow:-1px -1px 0px 0px rgb(151, 191, 231), 
  1px 1px 0px 0px rgb(151, 191, 231),
  -2px 2px 0px 0px rgb(151, 191, 231), 
  2px 2px 0px 0px rgb(151, 191, 231),
  0px 2px 4px 3px rgb(110, 170, 210),
  0px 3px 0px 0px rgb(90, 150, 210), 
  -1px 6px 6px 0px rgba(80, 140, 200, 0.8), 
  1px 8px 8px 0px rgb(119, 120, 123), 
  0px 10px 8px 0px rgb(77, 77, 79), 
  0px 12px 8px 0px rgb(51, 51, 53);
  color: white;
  font-weight: bold;
  padding-top: 2px;
  text-align: center;
  margin: 100px auto 40px auto;
  min-width: 490px;
 width: 490px;
 font-family: Times;
 padding: 10px;
    }

.mycard_download {
  background: rgba(90, 150, 210, 0.4);
}


.mycolumn_download:hover {
  color: darkblue;
  background-color: rgb(100, 160, 220); 
  background-color: rgba(100, 160, 220, 0.6); 
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  box-shadow: -1px 2px 1px 1px rgba(110, 170, 230, 0.4), 1px -1px 1px 1px rgba(110, 170, 230, 0.4), 0px 4px 0px 0px rgba(47, 128, 208, 0.4), 0px 8px 0px 0px rgba(38, 102, 166, 0.4), -4px 10px 8px 2px rgba(229, 230, 243, 0.4), 4px 0px 8px 2px rgba(219, 220, 233, 0.4),  0px 12px 6px 2px rgba(209, 210, 222, 0.4), 0px 14px 8px 0px rgba(199, 200, 212, 0.4), 0 16px 20px 0 rgba(190, 190, 201, 0.4);
}

.mycolumn_download:active {
  color: LightSteelBlue;
  background-color: rgb(200, 200, 240); 
  background-color: rgba(200, 200, 240, 0.6); 
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  box-shadow: 
  -3px 4px 4px 2px rgba(29, 130, 243, 0.6), 
  -3px -2px 4px 1px rgba(29, 130, 243, 0.6),
  3px 4px 4px 2px rgba(29, 130, 243, 0.6), 
  3px -2px 4px 1px rgba(29, 130, 243, 0.6),
}


@keyframes anime_red_border {
25% {
border-color: red;}
}  


@keyframes anime_red_text {
25% {
color: red;}
}  

[id^='button_download_'].focus,
[id^='button_download_'].active {
transform: matrix(0.98, 0, 0, 0.98, 0, 2);
}

.downnload_object {
  position: relative;
  z-index: 12;
  margin: 20px auto 20px auto;
  font-size: 30px;
  text-align: center;
  background-color: rgba(60, 160, 240, 0.0);

}
.download_book_text {
  border: 4px solid red;
  padding: 20px;
  background-color: rgba(60, 160, 240, 0.6);
  width: 520px;
  max-width: 90%;
}
</style>


 <div class="mycolumn_download"  id="download_column_{{book.id}}">
        <div class="mycard_download" id="download_card_{{book.id}}">
      {% if download_links_2a %}
       
       <button id="button_download_1" class="btn btn-outline-danger btn-lg text-primary" style="width:340px; padding:auto; margin: 5px; border: 5px solid; box-shadow: 0px 0px 5px 5px rgba(120, 120, 120, 0.4); font-size: 18px; font-weight: bold;font-family: Helvetica;">PRESS TO DOWNLOAD 1<br><span style="animation: anime_red_text 2s infinite;">"{{ title_download }}"</span></button>
       <button id="button_download_2" class="btn btn-outline-danger btn-lg text-primary" style="width:340px; padding:auto; margin: 20px; border: 5px solid; box-shadow: 0px 0px 5px 5px rgba(120, 120, 120, 0.4); font-size: 18px; font-weight: bold;font-family: Helvetica;">PRESS TO DOWNLOAD 2<br><span style="animation: anime_red_text 2s infinite;">"{{ title_download }}"</span></button>
       {% elif download_links_1a %}
       <button id="button_download_1" class="btn btn-outline-danger btn-lg text-primary" style="width:340px; padding:auto; margin: 5px; border: 5px solid; box-shadow: 0px 0px 5px 5px rgba(120, 120, 120, 0.4); font-size: 18px; font-weight: bold;font-family: Helvetica;">PRESS TO DOWNLOAD 1<br><span style="animation: anime_red_text 2s infinite;">"{{ title_download }}"</span></button>

        {% elif message_read_download %}
     
    <p style="animation: anime_red_text 2s infinite; font-size: 22px; color: mediumblue; padding: 10px; line-height: 1;"> <span style="padding-top: 10px;"> Information about book title: </span> <br><br> <span  > "{{ title_download }}" </span> <br><br> <span style="padding-bottom: 10px;" > {{message_read_download}} </span></p>
    <div style="position: relative; margin: 10px auto 10px auto; width: 200px; padding-top: 10px; border: 4px solid blue;">
     <p style="animation: anime_red_text 2s infinite; font-size: 26px; color: mediumblue; text-transform: lowercase;"><a href="https://wolnelektury.pl/katalog/lektura/{{ title_read_wolne_lektury }}.html" target="_blank">Try this</a></p></div>
    {% endif %}
          </div>
        </div>
    

    <div class="downnload_object" id="download_object_1"></div>
    <div class="downnload_object" id="download_object_2"></div>

    <script>
// document.getElementById("h1").onclick = function() {myFunction()};
// document.getElementById("button_download_1").addEventListener("click", myFunction);

/*
function myFunction() {
  document.getElementById("download_object").innerHTML = '<object data="{{ book_download_1a }}" width="0" height="0"></iframe><span>DOWNLOAD BOOK 1</object>';
};
*/
var button_download_1 = document.getElementById("button_download_1");
var button_download_2 = document.getElementById("button_download_2");
button_download_1.onclick = function() {
  download_object_1.innerHTML = '<object data="{{ download_links_1a }}" width="0" height="0"></object><br><span class="download_book_text"> DOWNLOAD BOOK 1 </span>';
}

button_download_2.onclick = function() {
  download_object_2.innerHTML = '<object data="{{ download_links_2a }}" width="0" height="0"></object><br><div class="download_book_text"> DOWNLOAD BOOK 2 </div>';
}
</script>











  
