<style type="text/css">

/*  #top_jumb {
    position: relative;
    margin-top: 50px;
    z-index: 1;
    padding: auto;
    padding: 12px 0px 12px 0px;
    margin-bottom: 22px;
    left:50;
  } */

  #top_jumb {
    position: relative;
    margin: 38px auto -8px auto;
    width:580px;
    padding: auto;
    text-align:center;
    z-index:1;
  }
  
    #h1j {
    color: RoyalBlue;
    font-family: Georgia , sans-serif; 
    font-weight: bold; 
    font-size: 48px; 
    text-shadow: -2px 1px 1px lightblue, 2px 2px 1px grey;
    line-height: 32px;
    transition: 0.4s;
  }

  #h1j:hover {
    color: lightblue;
    transform: matrix(1.01, 0, 0, 1.01, 0 , 0);
    text-shadow: -2px 1px 1px red, 2px 2px 1px FireBrick;
  }

  #h1j:active {
    color: lightblue;
    transform: matrix(0.98, 0, 0, 0.98, 0 , 2);
    text-shadow: -2px 1px 1px red, 2px 2px 1px FireBrick;
  }
  
  #h2j {
    color: DimGrey;
    font-family: Georgia , sans-serif; 
    font-weight: bold; 
    font-size: 36px; 
    text-shadow: -2px 1px 1px lightgrey, 2px 2px 1px dimgrey;
    line-height: 50px;
  }

#h2j:hover {
  color: lightgrey;
  transform: matrix(1.01, 0, 0, 1.01, 0 , 0);
  text-shadow: -2px 1px 1px red, 2px 2px 1px FireBrick;
}

  #h2j:active {
    color: lightgrey;
    transform: matrix(0.98, 0, 0, 0.98, 0 , 2);
    text-shadow: -2px 1px 1px red, 2px 2px 1px FireBrick;
  }
  
</style>

<div class="jumbotron-fluid col-lg-6 mx-auto mb-n1" id="top_jumb" >
    <a href="{% url 'index' %}" class="text-center"   role="button" ><p id="h1j"><span>BOOKSMART</span><br><span id="h2j" >MAINPAGE-LINK</span></p></a>
    </div>