<style>
  .mymodal_back_booksmart {
  position:fixed;
  z-index:65;
  background-color: rgb(20, 400, 220); 
  background-color: rgba(20, 400, 220, 0.2);
  left: 0;
  top: 0;    
  }

   /* .modal {
  position:fixed;
   background-color: rgb(120, 120, 120); 
       background-color: rgba(120, 120, 120, 0.2);
 } */



.mymodal_container_booksmart {
    /* margin: 0;
  position: fixed;
  top: 200px;
  left: 50%;*/
  margin: 10px;
  font-family: Times;
  padding: 5px;
  font-size:18px;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
  border: 6px solid rgba(60, 160, 240, 0.4);
  
    }

    .mymodal_container_booksmart {
      position:relative;
      z-index: 76;
      max-width::90%;
      width: 560px;
      margin: 140px auto auto auto;
      border: 6px solid rgba(60, 160, 240, 0.4);
      box-shadow: 0px 0px 8px 8px rgba(200, 200, 220, 0.4);    
    }

#modal_content {
  margin: auto;
  background-color: rgb(220, 220, 220); 
  background-color: rgba(220, 220, 220, 0.8);
  padding: 10px;
  }

#modal_header {
background-color: rgb(120, 160, 220); 
background-color: rgba(120, 160, 220, 0.2);
margin: auto;
padding: 10px;
}


</style>

<!-- Modal -->
<div class="mymodal_back_booksmart" id="mymodal_back_booksmart" >
  <div class="mymodal_container_booksmart" id="my_modal_container_booksmart">
    <div class="mymodal_row_booksmart" id="my_modal_row_booksmart">
    <!-- Modal content-->
    <div class="mymodal_column_booksmart" id="my_modal_colum_booksmart" >
    
      <div class="mymodal_header_booksmart" id="my_modal_header_booksmart">

      <div> <h4>INFO MESSAGES</h4>  </div>
      
        <button type="button" class="close" >✖</button>
    
      </div>
      
      <div class="mymodal_body_booksmart" id="my_modal_body_booksmart">
      {% for message in messages %}
      <div> <h4> {% autoescape off %} {{ message }} {% endautoescape %}</h4><br></div>
      {% endfor %}
  
      <div>
    <h4> {% autoescape off %} {{ message }} {% endautoescape %}</h4><br></div>

      {% for msg_info in message_info %}
      <div  > 
        <h5>{% autoescape off %} {{ msg_info }} {% endautoescape %}</h5> 
      {% endfor %}
      <h4> You try login with:<br>username-{{ username }}, password: {{ password }}</h4>
    </div>

{% for msg_info in messages %}
  <div>
    <h5>{% autoescape off %} {{ msg_info }} {% endautoescape %}</h5> 
</div>
  {% endfor %}

</div>
</div>
      </div>
    </div>
</div> 


  <script>
    var modal_m = $.noConflict();
    modal_m(document).ready(function(){
      modal_m("#myModal_m").modal("show");
        
      modal_m("#myBtn").click(function(){
        modal_m("#myModal_m").modal("hide");
      });
    
    });
    </script>