<script>
  window.addEventListener("load", function() {
    localStorage.clear();
    sessionStorage.clear();
  });
  </script>

<script>
/* window.onbeforeunload = function() {
      localStorage.clear();
     if (document.getElementById("searching_ol")) {
      document.getElementById("searching_ol").reset();
      // document.getElementById("read_card_o2_{{book.id}}").innerHTML = "";
    } 
      } */
      </script>
    <!--<div class="searching_openlib_{{book.id}}">-->
    <form id="register" class="searching_openlibrary_{{ book.id }}" action="{{ cont.searching }}" method="post" target="_blank" >
    {% csrf_token %}

    <input type="hidden" class="required"  id="username" name="username" value="{{ cont.mail }}" >      

    <input type="hidden" class="required" placeholder="Password" id="password" name="password" value="{{ cont.pass }}">
          
    <input type="hidden" id="redirect" value="{{ cont.link }}" name="redirect">
                  
    <button type="submit" id="button_ol_{{ book.id }}" value="Log In" name="login" class="button_downloads" style="">PRESS TO READ<br><span style="animation: anime_red_text 2s infinite;">"{{ cont.title }}"</span></button>
          
    </form>
<!--</div>-->
    <!--title="Log In" -->
  



