{% include 'snippets-booksmart/css_booksmart.html' %}

<script>
window.addEventListener("load", function() {
  localStorage.clear();
  // sessionStorage.clear();
  // document.cookie = "";

/*  const message_search_result = document.querySelectorAll(".message_search_result");
  for (const msg_result of message_search_result) {
    msg_result.innerHTML = "";
  } */

});
</script>
<style type="text/css">
  
  @keyframes anime_red_text {
    33% {color: rgba(0, 0, 240, 0.8);}
    66% {color: rgba(240, 0, 0, 0.8);}
    100% {color: rgba(0, 0, 240, 0.8);}
    }  

  .my_container_top_cards {
  margin: 8px 7.2vw auto 7.2vw;
    }
  
  </style>

  
  <div class="my_container_top_cards">
    
    <div class="my_card_top_cards" id="mycard_top_cards_left">
          <a href="{% url 'booksmart:allrecords' %}" target="_blank">
            <p class="h3vw_l_b" style="">Number of all books in database:</p> 
            <p class="h2vw_l_b" style="animation: anime_red_text 2s infinite;"> {{ num_books }}</p></a>
           
            {% if form_search_get == "yes" %}
            <p class="h3vw_l_b" style=""><span class="message_search_result"> FOR QUERY >>> <span></p>
                {% if num_books_result_set == 0 %}
          <p class="h3vw_l" style=""><span class="message_search_result" style=""> No books found in database </span></p>
          {% elif num_books_result_set > 0 %} 
          <p class="h3vw_l" style=""><span class="message_search_result"> Number of found books </span>
            <span style="animation: anime_red_text 2s infinite; font-weight: bold;" class="message_search_result"> {{ num_books_result_set }} </span></p> 
            {% endif %}
            {% endif %}

            {% if form_search_post == "yes" %}
            {% if num_books_result_post == 0 %}
      <p class="h3vw_l" style=""><span class="message_search_result"> No books found in database </span></p>
      {% elif num_books_result_post > 0 %} 
      <p class="h3vw_l" style=""><span class="message_search_result">  Number of found books </span>
        <span style="animation: anime_red_text 2s infinite; font-weight: bold;" class="message_search_result"> {{ num_books_result_post }} </span></p> 
        {% endif %}
        {% endif %}

      </div>

      <div class="my_card_top_cards" id="mycard_top_cards_middle">
          {% if message %}
          <p class="h3vw_l_b" style="animation: anime_red_text 2s infinite;" ><span class="message_search_result"> {{ message }} </span></p>
          {% endif %}

          {% if form_search_get != "yes" and form_search_post != "yes" %}
          <p class="h3vw_l_b" style="animation: anime_red_text 2s infinite;" > To try to find the book,<br> fill one of the field.</p>
        {% endif %}
          
          {% if form_search_get == "yes" %}
          {% if num_books_result_set == 0 and num_authors_result_set == 0 %}
          <p class="h3vw_l" ><span class="message_search_result" style=""> No books and authors found in database for query:</span><br><span style="animation: anime_red_text 2s infinite; font-weight: bold; line-height: 1.4; color: blue;"> {% autoescape off %} > {{parameters}} < {% endautoescape %} </span></p>
         
          {% elif num_books_result_set > 0 and num_authors_result_set > 0 %}
          <p class="h3vw_l" style="" ><span class="message_search_result"> Books and authors found in database for query: <br></span>
          <span class="message_search_result"style="animation: anime_red_text 2s infinite; font-weight: bold; line-height: 1.4; color: blue;"> {% autoescape off %} " {{parameters}} " {% endautoescape %}  </span></p>

          <p class="h3vw_l" style="" > <span class="message_search_result"> Number of found books: </span>
            <span style="animation: anime_red_text 2s infinite; font-weight: bold;" class="message_search_result"> {{  num_books_result_set }}  </span></p> 
            <p class="h3vw_l" style="" ><span class="message_search_result"> Number of found authors: </span><span class="h3vw_l_b" style="animation: anime_red_text 2s infinite; " > {{ num_authors_result_set }} </span></p> 

          {% elif num_books_result_set > 0 and num_authors_result_set == 0 %}
          <p class="h3vw_l" style="" ><span style="color:blue; line-height: 1.6;" class="message_search_result"> Books found in database for query: </span><br><span  style="animation: anime_red_text 2s infinite; font-weight: bold; line-height: 1.4; color: blue;" class="message_search_result"> {% autoescape off %} " {{parameters}} " {% endautoescape %} </span></p>
          <p class="h3vw_l" style="" > <span style="" class="message_search_result"> Number of found books:</span>
            <span class="message_search_result" style="" > {{ num_books_result_set }} </span></p> 
            <p class="h3vw_l" style="" ><span class="message_search_result"> No authors found in database </span></p>
            {% elif num_books_result_set == 0 and num_authors_result_set > 0 %}
            <p class="h3vw_l" style="" > <span style="" class="message_search_result">Authors found in database for query: </span><br>
              <span  style="animation: anime_red_text 2s infinite; font-weight: bold; line-height: 1.4; color: blue;" class="message_search_result"> {% autoescape off %} > {{parameters}} < {% endautoescape %} </span></p>
          <p class="h3vw_l" style="" ><span style="" class="message_search_result"> Number of found authors: </span>
            <span  style="animation: anime_red_text 2s infinite; font-weight: bold;" class="message_search_result"> {{ num_authors_result_set }} </span></p>
             <p class="h3vw_l" style="" ><span class="message_search_result"> No books found in database </span></p> 
        {% endif %}
 
            {% endif %}

          {% if form_search_post == "yes" %}
          {% if num_books_result_post == 0 and num_authors_result_post == 0 %}
          <p class="h3vw_l" style=""> <span class="message_search_result" style="" > No books and authors found in database for query: </span><br><span style="animation: anime_red_text 2s infinite; font-weight: bold; line-height: 1.4; color: blue;"> {% autoescape off %} > {{parameters_post}} < {% endautoescape %} </span></p>
      
          {% elif num_books_result_post > 0 and num_authors_result_post > 0 %}
          <p class="h3vw_l" style="" ><span class="message_search_result"> Books and authors found in database for query: <br></span>
          <span class="message_search_result" style="animation: anime_red_text 2s infinite; font-weight: bold; line-height: 1.4; color: blue;"> {% autoescape off %}  "{{parameters_post}}"  {% endautoescape %} </span></p>

          <p class="h3vw_l" style="" > <span class="message_search_result"> Number of found books:</span>
            <span class="message_search_result" style="animation: anime_red_text 2s infinite; font-weight: bold;" > {{ num_books_result_post }} </span></p> 
              <p class="h3vw_l" style="" ><span class="message_search_result"> Number of found authors: </span><span style="animation: anime_red_text 2s infinite; font-weight: bold;" > {{ num_authors_result_post }} </span></p> 

          
            {% elif num_books_result_post == 0 and num_authors_result_post > 0 %}
            <p class="h3vw_l"><span class="message_search_result" style=""> No books found in database <br> for query: </span><br><span style="animation: anime_red_text 2s infinite; font-weight: bold; line-height: 1.4; color: blue;"> {% autoescape off %} > {{parameters_post}} < {% endautoescape %} </span></p>
             <p class="h3vw_l" style="" > <span class="message_search_result"> Authors found in database <br> for this query </span></p>
            <p class="h3vw_l" style="" ><span class="message_search_result"> Number of found authors: </span>
              <span class="message_search_result" style="animation: anime_red_text 2s infinite; font-weight: bold;" > {{ num_authors_result_post }} </span></p> 

              {% elif num_books_result_post > 0 and num_authors_result_post == 0 %}    
              <p class="h3vw_l" style="line-height: 1;" ><span class="message_search_result"> Books found in database for query:</span><br><span class="message_search_result" style="animation: anime_red_text 2s infinite; font-weight: bold; line-height: 1.4; color: blue;"> {% autoescape off %} > {{parameters_post}} < {% endautoescape %} </span></p>
          <p class="h3vw_l" style="" ><span class="message_search_result"> Number of found books:</span>
            <span style="animation: anime_red_text 2s infinite; font-weight: bold;" > {{ num_books_result_post }} </span></p>  
            <p class="h3vw_l" style=""><span class="message_search_result"> No authors found in database for this query.</span></p>
          {% endif %}
          {% endif %} 

      </div>
  
      <div class="my_card_top_cards" id="mycard_top_cards_right">
        <a href="{% url 'booksmart:allauthors' %}" target="_blank">
          <p class="h3vw_l_b" style="" >Number of all authors in database: </p> 
          <p class="h2vw_l_b" style="animation: anime_red_text 2s infinite; line-heigh: 1.2;" > {{ num_authors }} </p></a>

          {% if form_search_get == "yes" %}
          <p class="h3vw_l_b" style=""><span class="message_search_result"> <<< FOR QUERY </span></p>
              {% if num_authors_result_set == 0 %}
              <p class="h3vw_l" style=""><span class="message_search_result" style="line-height: 1;"> No authors found in database </span></p>
        {% elif num_authors_result_set > 0 %} 
        <p class="h3vw_l" style=""><span class="message_search_result"> Number of found authors: </span>
          <span class="message_search_result" style="animation: anime_red_text 2s infinite; font-weight: bold;"> {{ num_authors_result_set }} </span></p> 
          {% endif %}
          {% endif %}

          {% if form_search_post == "yes" %}
          {% if num_authors_result_post == 0 %}
    <p class="h3vw_l"><span class="message_search_result" style=""> No authors found in database </span></p>
    {% elif num_authors_result_post > 0 %} 
    <p class="h3vw_l" style=""><span class="message_search_result"> Number of found authors: </span>
      <span class="message_search_result" style="animation: anime_red_text 2s infinite; font-weight: bold;">  {{ num_authors_result_post }} </span></p> 
      {% endif %}
      {% endif %}
                    
      </div>
 
  </div>