{% include 'snippets-booksmart/css_booksmart.html' %}

<script>

window.addEventListener("load", function() {
  localStorage.clear();
  sessionStorage.clear();
  // document.cookie = "";

/*  const message_search_result = document.querySelectorAll(".message_search_result");
  for (const msg_result of message_search_result) {
    msg_result.innerHTML = "";
  } */

});
</script>
<style type="text/css">
  
  @keyframes anime_red_text {
    33% {color: rgba(0, 0, 240, 0.8);}
    66% {color: rgba(240, 0, 0, 0.8);}
    100% {color: rgba(0, 0, 240, 0.8);}
    }  

  .my_container_top_cards {
  margin: 8px 7.2vw auto 7.2vw;
    }

.my_container_top_cards:hover {
  color: blue;
    }
  
  </style>

  
  <div class="my_container_top_cards">
    
    <div class="my_card_top_cards" id="mycard_top_cards_left">
          <a href="{% url 'booksmart:allrecords' %}" target="_blank">
            <p class="h3vw_l_b" style="">Number of all books in database:</p> 
            <p class="h2vw_l_b" style="animation: anime_red_text 2s infinite;"> {{ num_books }}</p></a>
           
            {% if form_search_get_book == "yes" %}
            <p class="h3vw_l_b" style=""><span class="message_search_result"> FOR QUERY >>> <span></p>
                {% if books_result_queryset_list_sort|length == 0 %}
                <p class="h3vw_l" style=""><span class="message_search_result" style=""> No books found in database </span></p>
                {% elif books_result_queryset_list_sort|length > 0 %} 
                <p class="h3vw_l" style=""><span class="message_search_result"> Number of found books: </span>
                <span style="animation: anime_red_text 2s infinite; font-weight: bold;" class="message_search_result"> {{ books_result_queryset_list_sort|length }} </span></p> 
                {% endif %}
            {% endif %}
      </div>

      <div class="my_card_top_cards" id="mycard_top_cards_middle">
          {% if message %}
          <p class="h3vw_l_b" style="animation: anime_red_text 2s infinite;" ><span class="message_search_result"> {{ message }} </span></p>
          {% endif %}

          {% if form_search_get_book == "no" %}
          <p class="h3vw_l_b" style="animation: anime_red_text 2s infinite;" > To try to find the book,<br> fill one of the field.</p>
        {% endif %}

        {% if form_search_get_book == "yes" and form_search_get_author == "no" %}
        <p class="h3vw_l" style="color:blue; line-height: 1.2; margin-bottom: 10px;" > Books found in database for query: </p>
        <p class="h3vw_l" style="animation: anime_red_text 2s infinite; font-weight: bold; line-height: 1; color: blue; margin-top: 2px; margin-bottom: 6px;" class="message_search_result"> {% autoescape off %} " {{ parameters }} " {% endautoescape %} </p>
        <p class="h3vw_l" style="" > <span style="" class="message_search_result"> Number of found books:</span>
        <span class="message_search_result" style="" > {{ books_result_queryset_list_sort|length }} </span></p>
          
          {% elif form_search_get_book == "yes" and form_search_get_author == "yes" %}
            {% if books_result_queryset_list_sort|length == 0 and authors_result_found_list|length == 0 %}
            <p class="h3vw_l" style="color:blue; line-height: 1.2; margin-bottom: 10px;"> No books and authors found in database for query:</p>
              <p class="h3vw_l" style="margin-top: 2px; margin-bottom: 6px; animation: anime_red_text 2s infinite; font-weight: bold; line-height: 1; color: blue;"> {% autoescape off %} > {{ parameters }} < {% endautoescape %} </p>
          
            {% elif books_result_queryset_list_sort|length > 0 and authors_result_found_list|length > 0 %}
            <p class="h3vw_l" style="color:blue; line-height: 1.2; margin-bottom: 10px;" > Books and authors found in database for query: </p>
            <p class="h3vw_l" style="margin-top: 2px; margin-bottom: 6px; animation: anime_red_text 2s infinite; font-weight: bold; line-height: 1; color: blue;"> {% autoescape off %} " {{ parameters }} " {% endautoescape %} </p>
            <p class="h3vw_l" style="" > <span class="message_search_result"> Number of found books: </span>
            <span style="animation: anime_red_text 2s infinite; font-weight: bold;" class="message_search_result"> {{  books_result_queryset_list_sort|length }}  </span></p> 
            <p class="h3vw_l" style="" ><span class="message_search_result"> Number of found authors: </span><span class="h3vw_l_b" style="animation: anime_red_text 2s infinite; " > {{ authors_result_found_list|length }} </span></p> 

            {% elif books_result_queryset_list_sort|length > 0 and authors_result_found_list|length == 0 %}
            <p class="h3vw_l" style="color:blue; line-height: 1.2; margin-bottom: 10px;"> Books found in database for query: </p>
              <p class="h3vw_l" style="margin-top: 2px; margin-bottom: 6px; animation: anime_red_text 2s infinite; font-weight: bold; line-height: 1; color: blue;" class="message_search_result"> {% autoescape off %} " {{parameters}} " {% endautoescape %} </p>
            <p class="h3vw_l" style="" > <span style="" class="message_search_result"> Number of found books:</span>
            <span class="message_search_result" style="" > {{ num_books_result_set }} </span></p> 
            <p class="h3vw_l" style="" ><span class="message_search_result"> No authors found in database </span></p>

            {% elif books_result_queryset_list_sort|length == 0 and authors_result_found_list|length > 0 %}
            <p class="h3vw_l" style="" > <span style="" class="message_search_result">Authors found in database for query: </span><br>
            <span  style="animation: anime_red_text 2s infinite; font-weight: bold; line-height: 1.4; color: blue;" class="message_search_result"> {% autoescape off %} > {{ parameters }} < {% endautoescape %} </span></p>
            <p class="h3vw_l" style="" ><span style="" class="message_search_result"> Number of found authors: </span>
            <span  style="animation: anime_red_text 2s infinite; font-weight: bold;" class="message_search_result"> {{ authors_result_found_list|length }} </span></p>
            <p class="h3vw_l" style="" ><span class="message_search_result"> No books found in database </span></p> 

            {% endif %}
            {% endif %}
      </div>
  
      <div class="my_card_top_cards" id="mycard_top_cards_right">
        <a href="{% url 'booksmart:allauthors' %}" target="_blank">
          <p class="h3vw_l_b" style="" >Number of all authors in database: </p> 
          <p class="h2vw_l_b" style="animation: anime_red_text 2s infinite; line-heigh: 1.2;" > {{ num_authors }} </p></a>

          {% if form_search_get_book == "yes" and form_search_get_author == "yes" %}
          <p class="h3vw_l_b" style=""><span class="message_search_result"> <<< FOR QUERY </span></p>
              {% if authors_result_found_list|length == 0 %}
              <p class="h3vw_l" style=""><span class="message_search_result" style="line-height: 1;"> No authors found in database </span></p>
              {% elif authors_result_found_list|length > 0 %} 
              <p class="h3vw_l" style=""><span class="message_search_result"> Number of found authors: </span>
              <span class="message_search_result" style="animation: anime_red_text 2s infinite; font-weight: bold;"> {{ authors_result_found_list|length }} </span></p> 
              {% endif %}
          
            {% elif form_search_get_book == "yes" and form_search_get_author == "no" %}
            <p class="h3vw_l_b" style=""><span class="message_search_result"> FOR QUERY >>> <span></p>
            <p class="h3vw_l" style=""><span class="message_search_result" style=""> search without author details </span></p>
          {% endif %}
                    
      </div>
 
  </div>