{% include 'snippets-booksmart/css_booksmart.html' %}

<style type="text/css">

  .my_container_top_cards {
  margin: 8px 7.2vw auto 7.2vw;
    }
  
  </style>

  
  <div class="my_container_top_cards">
    
    <div class="my_card_top_cards" id="mycard_top_cards_left">
          <p><a href="{% url 'booksmart:allrecords' %}" target="_blank">
            <p class="h3vw_l_b"  >Number of all books in database:</p> 
            <p class="h2vw_l_b" style="animation: anime_red_text 2s infinite;"> {{ num_books }}</p></a>
            <p></p>
            <p class="h3vw_l_b"> FOR QUERY >>> </p>
                {% if num_books_result == 0 %}
          <p class="h3vw_l"> No books found in database </p>
          {% elif num_books_result > 0 %} 
          <p class="h3vw_l" style="margin-bottom: -1vw;"> Number of found books:
            <span class="h3vw_l_b"  style="animation: anime_red_text 2s infinite; margin-bottom: -10px;"> {{ num_books_result }} </span></p> 
            {% endif %}
      </div>

      <div class="my_card_top_cards" id="mycard_top_cards_middle">
          {% if message %}
          <p class="h4vw_l_b" style="animation: anime_red_text 2s infinite;" > {{ message }}</p>
          {% endif %}
          
          {% if not books_result %}
          <p class="h3vw_l_b" style="animation: anime_red_text 2s infinite;" > To try to find the book,<br> fill one of the field.</p>
          <p>
          <p class="h3vw_l" style="margin-bottom: -1vw;" > No books found in database <br> for query:<br> {% autoescape off %} > {{parameters}} < {% endautoescape %} </p>
          {% endif %}
          
          
          {% if books_result %}
          <p class="h3vw_l_b"> FOR QUERY: 
            <span class="h3vw_l" style="animation: anime_red_text 2s infinite;" ><br> 
              {% autoescape off %} > {{parameters}} < {% endautoescape %}</span></p> 

          {% if num_books_result == 0 %}
          <p class="h3vw_l"> No books found in database </p>
          {% elif num_books_result > 0 %} 
          <p class="h3vw_l" style="margin-bottom: -1vw;" > Number of found books:
            <span class="h3vw_l_b" style="animation: anime_red_text 2s infinite; margin-bottom:-10px;" > {{ num_books_result }} </span></p> 
            {% endif %}
            <p></p>
           <!--

                {% if num_authors_result_set == 0 %}
                <p id="h4vw_l"> No authors found in database </p>
                {% elif num_authors_result_set > 0 %} 
                <p id="h3vw_l"> Number of found authors:
            <span id="h3vw_l_b" class="a_submit_t" style="margin-bottom:-2vw;"> {{ num_authors_result_set }} </span></p> 
        
          {% endif %}  -->
          {% endif %} 

      </div>
  
      <div class="my_card_top_cards" id="mycard_top_cards_righ">
        <p><a href="{% url 'booksmart:allauthors' %}" target="_blank">
          <p class="h3vw_l_b"  >Number of all authors in database:</p> 
          <p class="h2vw_l_b" style="animation: anime_red_text 2s infinite;"> {{ num_authors }}</p></a>
          <p class="h3vw_l_b"> <<< FOR QUERY: </p>
                     {% if num_authors_result_set == 0 %}
                <p class="h3vw_l"> No authors found in database </p>
                {% elif num_authors_result_set > 0 %} 
                <p class="h3vw_l"> Number of found authors:
            <span class="h3vw_l_b" style="animation: anime_red_text 2s infinite;margin-bottom:-2vw;"> {{ num_authors_result_set }} </span></p> 
        
          {% endif %}  
      </div>
 
  </div>