{% load rest_framework %}
{% load i18n %}
{% load bootstrap4 %}
{% include 'snippets/body_fonts_css.html' %}
<h2>{% trans "Search" %}</h2>
<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" style="width: 320px" name="{{ param }}" value="{{ term }}">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> {% trans "Search" %}-Api</button>
      </span>
    </div>
  </div>
</form>
